<% if @questions_to_review.present? %>
  <h3><%= t(".review-queue") %></h3>

  <ul>
    <% @questions_to_review.each do |question| %>
      <li><%= link_to question.title, quiz_question_path(question.quiz, question) %></li>
    <% end %>
  </ul>
<% end %>
