<% if workshop.has_online_workshop? %>
  <div class="workshop-alert">
    <%= link_to 'Not in Boston or San Francisco? <b>Take the Online Workshop.</b>'.html_safe, workshop.online_workshop %>
  </div>
<% elsif workshop.has_in_person_workshop? %>
  <div class="workshop-alert">
    <%= link_to 'In Boston or San Francisco? <b>Take the In-Person Workshop.</b>'.html_safe, workshop.in_person_workshop %>
  </div>
<% end %>
