<p><strong>Your workshop runs from <%= purchase_date_range(license) %></strong>, but you are free to proceed at your own pace.</p>
<p>You will know you have learned the material when you are able to rebuild the application yourself, without the help of the video lessons, or apply the concepts in the lessons to your own work.</p>
