<% if purchaseable.starts_immediately? %>
  <p>Your <%= purchaseable.fulfillment_method %> workshop runs from <%= purchase_date_range(purchase) %>.</p>
<% elsif purchaseable.upcoming? %>
  <p>Please don't hesitate to get in touch with us at <%= mail_to 'learn@thoughtbot.com' %> should you have any questions or concerns.</p>
<% end %>
