<p><strong>Your workshop runs from <%= purchase_date_range(purchase) %>.</strong> The recommended pace for this workshop is one lesson per week. Feel free to progress faster if you are able.</p>
<p>You will know you have learned the material when you are able to rebuild the application yourself, without the help of the video lessons, or apply the concepts in the lessons to your own work.</p>
