<section id="license" class="<%= workshop.offering_type %>">
  <%= render(
    'offerings/prime_purchase',
    product: workshop,
    viewable_subscription: viewable_subscription
  ) %>

  <% if sections.any? %>
    <%= render 'sections/section', sections: sections, workshop: workshop %>
  <% else %>
    <%= render 'sections/tbd' %>
  <% end %>
</section>
