<section class="section-location">
  <div class="when">
    <h5>WHEN</h5>
    <p>
      TBD
    </p>
  </div>

  <div class="address">
    <h5>WHERE</h5>
    <p>
      <%= google_map_link_to("#{@workshop.location} #{@workshop.location_name}", id: 'location') do %>
        <%= @workshop.location %> <br> <%= @workshop.location_name %>
      <% end %>
    </p>
  </div>
  <div id="register">
    <a href="#new_follow_up" id="register-button">Get notified</a>
  </div>
</section>
