<section id="terms">
  <dl>
    <dt><p>How often is this <%= workshop_delivery_method(workshop) %> workshop offered?</p></dt>
    <dd><p><%= workshop_frequency_note(workshop) %></p></dd>
    <dt><p>What if I'm not happy?</p></dt>
    <dd><p>If you&rsquo;re not happy, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
  </dl>
</section>
