<%= render 'offerings/details', offering: @offering %>

<aside>
  <%= render(
    'license',
    workshop: @offering,
    viewable_subscription: @viewable_subscription,
    sections: @sections
  ) %>

  <%= render 'terms', workshop: @offering %>
</aside>

<% content_for :outside do %>
  <section id="additional-information">
    <section id="additional-information-wrapper">
      <section id="main-content">
        <%= render 'follow_up', workshop: @offering %>
      </section>
    </section>
  </section>
<% end %>

