<% content_for :subject, @purchaseable.name %>
<%= adwords_conversion_tracker(flash[:purchase_paid_price]) %>

<div class="text-box-wrapper">
  <section class="text-box" id="videos">
    <%= render 'workshops/dates', purchaseable: @purchaseable, purchase: @purchase %>
    <%= render 'workshops/videos', purchaseable: @purchaseable, purchase: @purchase %>
  </section>
</div>

<%= render 'workshops/aside', purchaseable: @purchaseable, purchase: @purchase %>
