<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", admin_courses_path %></li>
  </ul>
<% end -%>

<h2>Download Purchases</h2>
<ul style="margin-top: 20px;">
  <li><%= link_to Time.now.to_s(:month), admin_purchases_path(:date => Time.now, :format => :csv) %></li>
  <li><%= link_to 1.month.ago.to_s(:month), admin_purchases_path(:date => 1.month.ago, :format => :csv) %></li>
</ul>
