<section class="hero">
  <%= render "subscriptions/upcase.svg" %>
  <h1>Someone’s getting boss of the year.</h1>
  <h5>Sign your team up for Upcase and save 10% per user.</h5>
  <%= link_to t("subscriptions.join_cta"), "#price", class: "cta-button signup" %>
</section>
