<section class="pricing" id="price">
  <header class="price-header">
    <div class="price-header-title">
      <h3>Enroll your team</h3>
    </div>
    <div class="price-header-cost">    
      <h4><sup>$</sup><%= plan.price_in_dollars %> <sub>per <%= plan_interval plan %> per user</sub></h4>
    </div>
  </header>
  <section class="price-info">
    <div class="price-description">
      <p>For development teams who are looking to continue learning new
      skills, stay on top of best practices, and keep up to date with new
      technologies.</p>
      <div class="price-cta">
        <%= link_to "Get your team started today", new_checkout_path(plan), :class => "signup" %>
      </div>
    </div>
    <div class="price-includes">
      <h5>Includes</h5>
      <ul>
        <li>Coding exercises</li>
        <li>Upcase source code</li>
        <li>Video Tutorials</li>
        <li>Community Forum</li>
        <li>The Weekly Iteration</li>
        <li><strong>30 day money-back guarantee</strong></li>
      </ul>
    </div>
  </section>
</section>
