<section class="plan">
  <div class="price">
    <span class="amount">
      <%= formatted_price plan.price %>
    </span>
    <div class="info">
      <span class="interval">per <%= plan_interval plan %></span>
      <span class="unit">per user</span>
    </div>
  </div>
  <%= link_to "Enroll your team today", new_checkout_path(plan), class: "sign-up" %>
</section>
