<ol class="team">
  <li class="team">
    <p><strong>Team:</strong> <%= team.name %></p>

    <% if team.owner?(current_user) %>
      <%= link_to 'Manage Users', edit_team_path %>
    <% else %>
      <%= t(".team_owner_html",
            owner_email: mail_to(team.owner_email, team.owner_name, class: "owner-email"))
      %>
    <% end %>
  </li>
</ol>
