<section class="testimonials">
  <div class="supporting-quotes">
    <div class="supporting-quote">
      <figure>
        <%= image_tag "upcase/testimonial_thumbs/brian-runk.jpg",
          alt: "Brian" %>
        <p class="quotee">
          Brian Runk<strong>Constant Contact</strong>
        </p>
      </figure>

      <blockquote>
        <p>
          We have had thirty engineers enrolled in Upcase for the past two years.
          <strong>The program has continued to provide thought-provoking
          content</strong> for those full-stack developers who are intent upon
          keeping their skills current.
        </p>
      </blockquote>
    </div>

    <div class="supporting-quote">
      <figure>
        <%= image_tag "upcase/testimonial_thumbs/brian-dear.jpg", alt: "Ben" %>
        <p class="quotee">
          Brian Dear<strong>Consultant</strong>
        </p>
      </figure>

      <blockquote>
        <p>
          There are a lot of training solutions out there, but <strong>Upcase is
          led by thoughtbot, so I know the stuff we're learning is the absolute
          best of the best practices</strong>. When I'm teaching junior devs,
          there's often a lot of conflicting information out there on how to do
          something, so Upcase helps me establish "better" best practices.
        </p>
      </blockquote>
    </div>

    <div class="supporting-quote">
      <figure>
        <%= image_tag "upcase/testimonial_thumbs/anthony-lee.jpg",
          alt: "Anthony" %>
        <p class="quotee">Anthony Lee<strong>Thrive Ministry</strong> </p>
      </figure>

      <blockquote>
        <p>
          <strong>I am really loving Upcase.</strong> The most valuable part for
          me was how I was able to dissect "upcase" app and see how it was
          built.  Having the access to the repo and seeing how codes were
          structured was such a priceless lesson.
        </p>
      </blockquote>
    </div>
  </div>
</section>
