<section class="testimonials">
  <div class="supporting-quotes">
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/brunk' %>
    </div>
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/bdear' %>
    </div>
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/alee' %>
    </div>
  </div>
</section>
