<section class="testimonials">
  <div class="inner">
    <h2>Hear what our members have to say</h2>
    <div class="feature-quote">
      <%= render 'subscriptions/testimonials/bdear' %>
    </div>
    <div class="supporting-quotes">
      <div class="supporting-quote">
        <%= render 'subscriptions/testimonials/ckinoti' %>
      </div>
      <div class="supporting-quote">
        <%= render 'subscriptions/testimonials/alee' %>
      </div>
      <div class="supporting-quote">
        <%= render 'subscriptions/testimonials/bgoldhaber' %>
      </div>
    </div>
  </div>
</section>
