<% content_for :page_title, 'Team Members' %>
<% content_for :subject_block do %>
  <h1>Team Members</h1>
<% end %>

<div class="text-box-wrapper solo">
  <div class="text-box">
    <ul class="members">
    </ul>
    <div class="invite-members">
      <p>Invite a member</p>
      <%= render 'invitations/form', invitation: Invitation.new %>
    </div>
  </div>
</div>
