<% if signed_in? %>
  <% unless current_user_license_of(product) %>
    <div class="license">
      <% if included_in_current_users_plan?(product) %>
        <%= render "licenses/included", product: product %>
      <% else %>
        <%= render "licenses/not_included", product: product %>
      <% end %>
    </div>
  <% end %>
<% end %>
