<% content_for :page_title, 'Licenses' %>
<% content_for :subject_block do %>
  <h1>Licenses</h1>
<% end %>

<div class="text-box-wrapper solo">
  <div class="text-box">
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
      <%= render partial: 'licenses/table_row', collection: @licenses, as: :license %>
    </table>
  </div>
</div>
