<!DOCTYPE html>
<html>
<body>
  <style type="text/css">
    video {
      width:100%;
      max-width:600px;
      height:auto;
    }
  </style>

  <video width="100%" controls>
    <source src="https://embed-ssl.wistia.com/deliveries/48ef97d4374d4baff91c3c0f0fddd459df1909aa/file.mp4" type="video/mp4">
    Your browser does not support video
  </video>
</body>
</html>
