#header h1 {
  float: left;
}

#header ul#session {
  float: right;
}

#header ul#navigation {
  clear: both;
}

* html #header ul#navigation { height: 1%; }
*:first-child+html #header ul#navigation { min-height: 1px; }
#header ul#navigation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#header li {
  float: left;
}

#content {
  clear: both;
}

#content .actions {
  float: right;
}

#content #main ul li {
  clear: left;
}

* html #content #main ul li { height: 1%; }
*:first-child+html #content #main ul li { min-height: 1px; }
#content #main ul li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#content #main ul li ul {
  float: right;
}

#content #main ul li ul li {
  float: left;
  clear: none;
}

/* references page */

* html #main { height: 1%; }
*:first-child+html #main { min-height: 1px; }
#main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
