<section style="text-align: center">
  <p>You have been invited to join a team, but you already have an account.</p>

  <p>Please email <%= mail_to 'help@upcase.com' %> and we'll add you to your
  team.</p>
</section>
