<section id="auth-form-container">
  <div class="thoughtbot-signin">
    <% if @existing_user %>
      <%= render 'existing_user' %>
    <% else %>
      <%= render 'form', acceptance: @acceptance %>
    <% end %>
  </div>
</section>
