<section class="root-quizzes">
  <div class="content">
    <h3><%= t('.title') %></h3>

    <section class="decks">
      <%= render @quizzes %>
    </section>

    <section class="saved-flashcards">
      <%= render "questions/needing_review" %>
    </section>
  </div>
</section>
