<section class="root-quizzes">
  <h3><%= t('.title') %></h3>

  <section class="decks">
    <%= render @quizzes %>
  </section>

  <section class="saved-deck">
    <%= render "questions/needing_review" %>
  </section>
</section>
