.u-margin-bottom {
  margin-bottom: $spacing-base;
}

.u-margin-bottom-medium {
  margin-bottom: $spacing-medium;
}

.u-margin-bottom-large {
  margin-bottom: $spacing-large;
}

.u-margin-right {
  margin-right: $spacing-base;
}

.u-margin-right-medium {
  margin-right: $spacing-medium;
}
