@keyframes fall {
  0% {
    transform: translateY(-200%);
  }

  10% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(0%);
  }

  0% {
    transform: translateY(-200%);
  }
}

