<section class="page-section page-section--dark">
  <section class="page-content">
    <h2 class="page-content__heading">
      Frequently asked questions
    </h2>
  </section>

  <section class="page-content page-content--columns">
    <div class="page-content__column">
      <strong>
        Q: If I purchase this offer, when will I get access to the content?
      </strong>
      <p>
        A: As soon as we can get it to you via semi-manual fulfillment (so, not
        instantly).
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: Can I take advantage of this if I'm a current customer of Tapas,
        Upcase, or both?
      </strong>
      <p>
        A: Absolutely.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: What happens to my existing Upcase/Tapas subscription? What
        about my grandfathered plan? What about this weird edge case that I
        thought of because I'm a programmer?
      </strong>
      <p>
        A: We'll take care of you in a fair and reasonable manner. The most
        likely answer is that we'll credit your account, but not refund you
        cash. If you're not happy with what we come up with, we'll happily
        refund you.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: What is the minimum size to be considered a "team"?
      </strong>
      <p>
        A: Two humans.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: What happens after the year is up?
      </strong>
      <p>
        A: Before your subscriptions lapse, we'll email you an offer to renew
        them (likely at a different price, but we'll give you a heads up).
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: Can I pay monthly, or in installments?
      </strong>
      <p>
        A: Sorry, no. The up-front payment is why we're able to offer such a
        steep discount.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: Can I pay using a purchase order?
      </strong>
      <p>
        A: Yes, but only if your order total is above $10,000.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: What if I'm not happy with what I buy?
      </strong>
      <p>
        A: Just contact us within 10 days and we'll give you a full refund.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: Which RubyTapas plan am I getting access to?
      </strong>
      <p>
        A: The best one: the "Ravenous" plan. (Upcase only has one plan.)
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: Can I download RubyTapas and Upcase content for offline viewing?
      </strong>
      <p>
        A: Yes!
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: Can I have a further discount given that I'm a
        non-profit/student/etc.?
      </strong>
      <p>
        A: Sorry, not this time.
      </p>
    </div>

    <div class="page-content__column">
      <strong>
        Q: What if I have a question that isn't answered here?
      </strong>
      <p>
        <a href="mailto:help@upcase.com">Email us!</a>
      </p>
    </div>
  </section>
</section>
