<section class="sale-timer closed" data-role="sale-timer">
  <a href="" data-role="close-parent-trigger" class="sale-timer__trigger"></a>

  <p class="sale-timer__helper-text">
    The sales ends in
  </p>

  <div class="sale-timer__time">
    <span data-role="sale-timer-days"></span> days
    <span data-role="sale-timer-hours"></span> :
    <span data-role="sale-timer-minutes"></span> :
    <span data-role="sale-timer-seconds"></span>
  </div>
</section>
