<% content_for :page_title, offering.title %>
<% content_for :meta_description, offering.short_description %>
<% content_for :subject_block do %>
  <h1 class="subject"><%= offering.name %></h1>
  <h2 class="tagline"><%= offering.tagline %></h2>
<% end %>
<% content_for :meta_keywords, offering.meta_keywords %>
