AIRBRAKE_API_KEY=api_key
APP_DOMAIN=localhost:3000
ASSET_HOST=localhost:3000
AWS_ACCESS_KEY_ID=your_access_key
AWS_BUCKET=test.books.thoughtbot
AWS_SECRET_ACCESS_KEY=secret
CLEARANCE_COOKIE_NAME=upcase_remember_token
GITHUB_KEY=github_key_for_oauth_application
GITHUB_USER=github_username_for_octokit
GITHUB_PASSWORD=github_password_for_octokit
GITHUB_SECRET=github_secret_for_oauth_application
KISSMETRICS_API_KEY=api_key
PAYPAL_PASSWORD=password
PAYPAL_SIGNATURE=signature
PAYPAL_USERNAME=username
RACK_ENV=development
SECRET_KEY_BASE=development_secret
SKYLIGHT_AUTHENTICATION=foo
SPIT_DASHBOARD_PASSWORD=password
SUPPORT_EMAIL=help@upcase.com
WIDGETS_API_KEY=api_key
WISTIA_API_KEY=api_key

# Visit https://manage.stripe.com/account/apikeys
# Fill in the Test Secret Key and Test Publishable key below
STRIPE_API_KEY=api_key
STRIPE_PUBLIC_KEY=public_key
