<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title">
      Upcase Repositories
    </h1>

    <h4 class="page-header__tagline">
      See the code that powers this app!
    </h4>
  </header>
<% end %>

<section class="resources">
  <span class="divider">
    <h4 class="text">Github Repos</h4>
  </span>

  <ul class="repos-list">
    <%= render(
      partial: "products/repositories/repository",
      collection: @catalog.repositories
    ) %>
  </ul>
</section>
