<% content_for :subject_block do %>
  <h1>Upcase Repositories</h1>
  <h2 class="tagline">See the code that powers this app!</h2>
<% end %>

<section class="resources">
  <span class="divider">
    <h4 class="text">Github Repos</h4>
  </span>

  <ul class="repos-list">
    <%= render(
      partial: "products/repositories/repository",
      collection: @catalog.repositories
    ) %>
  </ul>
</section>
