<% if invitation.accepted? %>
  <tr class="accepted">
    <td class="email"><%= invitation.email %></td>
    <td class="status">Accepted by <%= invitation.recipient_name %></td>
  </tr>
<% else %>
  <tr class="pending">
    <td class="email"><%= invitation.email %></td>
    <td class="status">Pending</td>
  </tr>
<% end %>
