<% content_for :page_title, 'Invitations' %>
<% content_for :subject_block do %>
  <h1>Invitations</h1>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <% if @team.has_invited_users? %>
      <table>
        <tr>
          <th>Email</th>
          <th>Status</th>
          <th></th>
        </tr>
        <%= render partial: "teams/invitations/invitation_table_row",
          collection: @team.invitations, as: :invitation %>
      </table>
    <% else %>
      <%= render "no_invitations" %>
    <% end %>
  </div>
</div>
