<section class="community">
  <ul>
    <li>
      <h3>Community Forum</h3>
      <p>Use <%= link_to "the forum", "https://forum.upcase.com" %> to get in-depth answers to questions you have about unfamiliar development topics, your personal projects, and our video tutorials and books.</p>
    </li>
    <li>
      <h3>The Weekly Iteration</h3>
      <p>The Weekly Iteration is a video show hosted by Ben Orenstein. In each episode, Ben invites a thoughtbot developer to discuss topics chosen to make you a better programmer.</p>
    </li>
  </ul>
</section>
