<section class="hero">
  <div class="hero-content">
    <h1>Advance your skills.</h1>
    <p>Upcase: a training community for professional developers who never stop learning.</p>
    <div class="hero-cta">
      <h5>Sign up now and join a community of <strong><%= @community_size %></strong> other developers:</h5>
      <%= link_to "View Pricing", "#price", :class => "signup" %>
    </div>
  </div>
</section>
