<section class="how">
  <h2><strong>Follow Trails:</strong><br>Focus and build strength where you need it.</h2>

  <%= render 'landing_pages/trail' %>

  <ul>
    <li>
      <div class="how-illustration">
        <div class="illustration">
          <%= image_tag "upcase/best-practices.jpg" %>
        </div>
      </div>
      <div class="how-description">
        <h6 class="how-counter">1</h6>
        <h3>Watch professional, instructor led, video tutorials.</h3>
      </div>
    </li>
    <li>
      <div class="how-illustration">
        <div class="illustration">
          <%= image_tag "upcase/test.png" %>
        </div>
      </div>
      <div class="how-description">
        <h6 class="how-counter">2</h6>
        <h3>Complete code exercises and get reviews from the community.</h3>
      </div>
    </li>
    <li>
      <div class="how-illustration">
        <div class="illustration">
          <%= image_tag "upcase/review.png" %>
        </div>
      </div>
      <div class="how-description">
        <h6 class="how-counter">3</h6>
        <h3>Solidify your knowledge by reviewing exercise solutions.</h3>
      </div>
    </li>
  </ul>
</section>
