  <section class="trails-progress">
    <div class="started">
      <section class="trail">
        <header>
          <h1><a href="/testing-fundamentals">Example: Testing Fundamentals</a></h1>
        </header>

        <section class="progress">
          <div class="step in-progress-exercise">
            <a href="http://exercises.upcase.com/exercises/testing-fundamentals-passing-your-first-test" title="Passing Your First Test">
              <div class="dot"></div>
            </a>
            <div class="tooltip">
              <figure class="exercise card in-progress-exercise">
                <a href="http://exercises.upcase.com/exercises/testing-fundamentals-passing-your-first-test" title="Passing Your First Test">
                  <h5>
                    In Progress
                  </h5>
                  <h4>Passing Your First Test</h4>
                  <p>In order to get your feet wet with testing, let&#39;s write a test for a simple Ruby class.</p>
                </a>
              </figure>
            </div>
          </div>

          <div class="step unstarted-exercise">
            <div class="dot"></div>
            <div class="tooltip">
              <figure class="exercise card unstarted-exercise">
                <a href="http://exercises.upcase.com/exercises/testing-fundamentals-testing-activerecord" title="Testing ActiveRecord">
                  <h5>
                    Exercise
                  </h5>
                  <h4>Testing ActiveRecord</h4>
                  <p>In this exercise, you&#39;ll write an RSpec model test to verify a simple validation.</p>
                </a>
              </figure>
            </div>
          </div>

          <div class="step unstarted-exercise">
            <div class="dot"></div>
            <div class="tooltip">
              <figure class="exercise card unstarted-exercise">
                <a href="http://exercises.upcase.com/exercises/testing-fundamentals-write-an-integration-test" title="Write an Integration Test">
                  <h5>
                    Exercise
                  </h5>
                  <h4>Write an Integration Test</h4>
                  <p>In this example, we&#39;ll be using Capybara to write an integration test.</p>
                </a>
              </figure>
            </div>
          </div>

          <div class="step unstarted-exercise">
            <div class="dot"></div>
            <div class="tooltip">
              <figure class="exercise card unstarted-exercise">
                <a href="http://exercises.upcase.com/exercises/testing-fundamentals-write-a-controller-spec" title="Write a controller spec">
                  <h5>
                    Exercise
                  </h5>
                  <h4>Write a controller spec</h4>
                  <p>In this example, you&#39;ll write a unit test to make sure the create action for PeopleController works as expected based on the return value of save.</p>
                </a>
              </figure>
            </div>
          </div>

          <div class="step unstarted-exercise">
            <div class="dot"></div>
            <div class="tooltip">
              <figure class="exercise card unstarted-exercise">
                <a href="http://exercises.upcase.com/exercises/testing-fundamentals-write-a-feature-with-tests" title="Write A Feature With Tests">
                  <h5>
                    Exercise
                  </h5>
                  <h4>Write A Feature With Tests</h4>
                  <p>Time to put it all together! In this exercise, you&#39;ll add enhance a small Rails applications by adding the ability edit existing people. You&#39;ll implement the necessary actions and views in the Rails application, writing tests as you go.</p>
                </a>
              </figure>
            </div>
          </div>

          <span class="numerical-progress">5 steps remaining</span>

        </section>

      </section>
    </div>
  </section>
