.cta-button {
  padding: 2em 0;
  text-align: center;

  @include marketing-fullsize {
    padding-top: 4em;
  }

  h5 {
    color: $white;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 2em;

    @include marketing-fullsize {
      font-size: 1.25em;
    }

    strong {
      font-weight: 700;
    }
  }

  .signup {
    background: $hero-green;
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;

    @include marketing-fullsize {
      font-size: 1.5em;
    }
  }
  
  .hero-aside &,
  .centered-section & {
    @include align-items(center);
    @include display(flex);
    @include linear-gradient($hero-green, shade($hero-green, 5%));
    border-radius: $base-border-radius;
    box-shadow: $heavy-box-shadow;
    color: $off-white;
    font-size: 1.25em;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    max-width: 24em;
    overflow: hidden;
    padding: 0;

    &:hover,
    &:focus {
      @include linear-gradient(tint($hero-green, 3%), $hero-green);
    }
  }
}

.cta-button-logo {
  @include size(4em 3em);
  border-right: 1px solid rgba($gray-1, 0.1);
  padding: 0.5em 1em;
}

.cta-button-text {
  @include flex(1);
  text-align: center;
}
