.flashes {
  @include position(absolute, 0em 0em null 0em);
  margin: 0;
  max-width: none;
  padding: 0;
  z-index: 25;

  @include marketing-fullsize {
    position: fixed;
  }

  .flash {
    @include animation(fall 0.75s);
    @include animation-delay(0.75s);
    @include animation-fill-mode(both);
    background: $upcase-blue-1;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 2px rgba(#000000, 0.1);
    color: #ffffff;
    display: block;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 1rem 2rem;
  }
}

@include keyframes(fall) {

  from {
    @include transform(translateY(-200%));
  }

  to {
    @include transform(translateY(0%));
  }
}

.pricing {

  .flashes {
    margin: 1em 0;
    padding: 0;
  }

  .flash {
    display: block;
  }
}
