.hero {
  @include background-image(
    linear-gradient(180deg, rgba($upcase-blue-1, 0.888), rgba($upcase-blue-2, 0.888)),
    url(upcase/laptop.jpg)
  );

  background-color: $upcase-blue-2;
  background-position: center center;
  background-size: cover;
  padding: 6em 2em 3em;
  position: relative;
  text-align: center;
  z-index: $z-hero;

  @include marketing-fullsize {
    padding-top: 6em;
  }

  .upcase-arrow {
    @include size(6em);
    margin: 0 0 2em;

    @include marketing-fullsize {
      @include size(8em);
    }

    circle {
      fill: $white;
      opacity: 0.04;
    }
  }

  h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: -0.02em;

    @include marketing-fullsize {
      font-size: 3.375em;
    }
  }

  &.checkout {
    @include background-image(
      linear-gradient(180deg, rgba($upcase-blue-1, 0.888), rgba($upcase-blue-2, 0.888)),
      url(upcase/team.jpg)
    );
  }

  .avatar {
    @include size(11em);
    border: 6px solid $white;
    border-radius: 50%;
    margin-bottom: 2em;
  }
}

.hero-title {
  color: $white;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 0.5em;
}

.hero-body {
  color: $white;
  font-size: 1.125em;
  margin-bottom: 2em;
  opacity: 0.8;
}

.tall-hero {
  padding: 5em 1em 4em;

  @include dashboard-large {
    padding-bottom: 8em;
    padding-top: 11em;
  }
}

.hero-video {
  margin-bottom: 2em;

  @include dashboard-large {
    @include span-columns(7);
    margin-bottom: 0;
  }
}

.hero-video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}

.hero-aside {
  color: $white;

  @include dashboard-large {
    @include omega;
    @include span-columns(5);
    padding-left: 1em;
    text-align: left;
  }
}

.hero-center {
  margin: auto;
  max-width: 32em;
}
