$landing-hero: #313b41;

.hero {
  @include background-image(
    linear-gradient(180deg, rgba($upcase-blue-1, 0.888), rgba($upcase-blue-2, 0.888)),
    url(upcase/laptop.jpg)
  );

  background-color: $landing-hero;
  background-position: center center;
  background-size: cover;
  padding: 4em 2em 2em;
  position: relative;
  text-align: center;
  z-index: 10;

  @include marketing-fullsize {
    padding-top: 6em;

    svg {
      @include size(8em);
    }

    h1 {
      font-size: 3.375em;
    }
  }

  svg {
    @include size(6em);
    margin: 0 0 2em;

    circle {
      fill: #fff;
      opacity: 0.04;
    }
  }

  h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: -0.02em;
  }
}

.hero-cta {
  padding: 2em 0;
  text-align: center;

  @include marketing-fullsize {
    padding-top: 4em;

    h5 {
      font-size: 1.25em;
    }

    .signup {
      font-size: 1.5em;
    }
  }

  h5 {
    color: white;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 2em;

    strong {
      font-weight: 700;
    }
  }

  .signup {
    background: #0FD197;
    font-size: 1.25em;
    font-weight: 300;
    margin: 0;
  }
}
