.how {
  padding: 2em;
  position: relative;
  fill: white;

  ul {
    @include outer-container;
    margin: 3em auto;
  }

  li {
    margin-top: 0;
    margin-bottom: 4em;

    @include marketing-fullsize {
      @include span-columns(4);
      @include omega(3n);
      margin-bottom: 0;
    }
  }

  .background-angle {
    fill: white;
  }

  .illustration {
    border: 1px solid rgba($celestial-blue, 0.333);
    border-radius: 3px;
    margin: 0 auto;
    max-width: 24em;
  }

  .trails-progress {
    @include outer-container;

    header h1 {
      float: none;
      text-align: center;
    }
  }
}

.how-description {
  position: relative;

  h3 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1;
    margin: 1em 0 0.5em;
    text-align: center;
  }

  p {
    font-size: 0.875em;
    opacity: 0.8;

    &.lede {
      font-size: 1em;
      font-weight: 600;
    }
  }
}

.how-counter {
  background: $upcase-blue;
  border-radius: 50%;
  color: white;
  font-size: 0.875em;
  font-weight: 400;
  height: 1.5rem;
  margin: -0.75rem auto 0;
  line-height: 1.5rem;
  text-align: center;
  width: 1.5rem;
}
