.landing #header-wrapper {
  margin-bottom: 0;
  z-index: $z-header;

  @include marketing-fullsize {
    padding: 0 2em;

    nav {
      margin-right: -2em;

      a {
        padding: 1rem 2rem;
      }
    }

    &:not(.headhesive) {
      @include position(absolute, 0em 0em null 0em);
      background: none;

      nav li {
        margin: 8px;

        &:hover {
          background: rgba(black, 0.12);
          border-radius: 3px;
        }

        a {
          border-left: none;
          height: 44px;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }

  &.headhesive {
    @include position(fixed, 0em 0em null 0em);
    @include transform(translateY(-100%));
    @include transition(transform 0.2s);
    z-index: $z-headhesive;

    @include dashboard-small-only {
      display: none;
    }
  }

  &.headhesive--stick {
    @include transform(translateY(0));
  }
}
