body.shows-show #videos {
  margin-top: 25px;
}

.landing {
  #header-wrapper {
    box-shadow: 0 0 0 1px rgba(black, 0.15);
    margin-bottom: 0;

    @include marketing-fullsize {
      @include position(fixed, 0em 0em 0 0em);
      padding: 0 1.75em;
      z-index: 100;
    }
  }

  .content {
    max-width: none;
    padding: 0;

    @include marketing-fullsize {
      padding-top: 3.75em;
    }
  }

  h2 {
    color: $celestial-blue;
    font-size: 2.25em;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 30em;
    padding: 2em 0;
    text-align: center;
  }

  .blue {
    background: $celestial-blue;

    h2,
    h3,
    p {
      color: white;
    }
  }
}

.background-angle {
  @include position(absolute, 0 0em 100% 0em);

  svg {
    display: block;
    width: 100%;
  }
}

.illustration {
  img {
    border-radius: 3px;
    display: block;
  }
}

.signup {
  background: $upcase-green;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-family: $sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1;
  margin: 0 0.5em 0.5em 0;
  min-width: 8em;
  padding: 0.75em 2em;
  text-align: center;

  &.grey {
    background: darken($base-background-2, 2);
    color: $upcase-green;
  }
}
