$price-width: em(864);

.pricing {
  @include linear-gradient(darken($celestial-blue, 12%), darken($celestial-blue, 0%));
  fill: $base-background-2;
  margin-top: -1px;
  padding: 8em 2em 4em;
  position: relative;
}

.price-header {
  @include outer-container;
  @include row(table);
  max-width: $price-width;
}

.price-header-title {
  background: $celestial-blue;
  border-radius: 5px 5px 0 0;
  padding: 2rem;

  @include marketing-fullsize {
    @include span-columns(8, table);
    border-radius: 5px 0 0;
  }

  h3 {
    color: $off-white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -0.04em;
    line-height: 1.3;
    margin: 0;
  }
}

.price-header-cost {
  background: darken($celestial-blue, 3);
  padding: 2rem 0 1rem 2rem;
  position: relative;

  @include marketing-fullsize {
    @include span-columns(4, table);
    border-radius: 0 5px 0 0;
  }

  h4 {
    color: $off-white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -0.08em;
    line-height: 1;
    margin: 0 0 0.3em;
  }

  p {
    color: transparentize($off-white, 0.4);
    font-style: italic;
    line-height: 1.4;
  }

  sup {
    @include position(absolute, 2.375rem null null 1.375rem);
    display: inline-block;
    font-size: 25%;
    font-weight: 500;
    opacity: 0.333;
  }

  sub {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1;
    opacity: 0.666;
    text-transform: uppercase;
  }
}

.price-info {
  @include outer-container;
  @include row(table);
  border-radius: 5px;
  margin-bottom: 2em;
  max-width: $price-width;

  h5 {
    font-size: 0.75em;
    letter-spacing: 0.05em;
    margin-bottom: 1em;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

.price-description {
  background: $off-white;
  padding: 1.5rem 2rem 2rem;

  @include marketing-fullsize {
    @include span-columns(8, table);
    border-radius: 0 0 0 5px;
    vertical-align: top;
  }

  p {
    font-size: 1.125em;
    margin-bottom: 2em;
  }

  .signup {
    box-shadow: $heavy-box-shadow;
    line-height: 1.3;
    width: 100%;
  }
  
  svg {
    @include size(1.5em);
    margin: -4px 0.3em 0;
    vertical-align: middle;

    path {      
      fill: $off-white;
    }

    @include marketing-mobile {
      display: none;
    }
  }
}

.price-cta {
  @include display(flex);
  @include flex-wrap(wrap);

  a {
    @include flex-basis(4em);
    @include flex-shrink(0);
    @include flex-grow(1);
  }
}

.price-includes {
  background: darken(white, 5);
  border-radius: 0 0 5px 5px;
  padding: 1.5rem 2rem 2rem;
  position: relative;

  @include marketing-fullsize {
    @include span-columns(4, table);
    border-radius: 0 0 5px;
    vertical-align: top;
  }

  li {
    margin: 0.75em 0;
    font-size: 0.9125em;
    line-height: 1;
  }

  strong {
    font-weight: 600;
  }
}

.price-alternative,
.coaching {
  font-size: 1em;
  font-weight: 400;
  margin-top: 4em;
  text-align: center;

  a {
    font-weight: 700;
  }
}

@include reset-all;
