.selling-point {
  border-bottom: 1px solid $base-border-color-1;
  color: $base-font-color;
  font-size: 1.25em;
  padding-bottom: 1em;
  padding-top: 1em;

  @include marketing-fullsize {
    padding-bottom: 1.5em;
    padding-top: 2em;
  }

  &.deconstructed {
    background: $landing-purple;
    border-bottom-color: $landing-purple-border;
    color: $white;
    position: relative;
  }
}

.selling-point-title {
  color: $darkwarmgray;
  font-size: 1.75em;
  font-weight: 500;

  @include marketing-fullsize {
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 1em;
    text-align: center;
  }

  .selling-point-block & {
    margin-bottom: 1em;
    text-align: left;
  }

  .deconstructed & {
    color: $white;
  }
}

.selling-point-image {
  margin: 1em 0;

  @include marketing-fullsize {
    width: 50%;

    &:first-child {
      margin-right: 4em;
    }

    &:last-child {
      margin-left: 4em;
    }
  }
}

.selling-point-block {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include marketing-fullsize {
    flex-direction: row;
  }
}

.selling-point-body {
  line-height: 1.5;

  .deconstructed & {
    color: $white;
  }
}

ul.selling-point-body {
  @extend %default-ul;

  li {
    line-height: 1.5;
  }
}

.deconstructed li {
  color: $white;
}     
