.testimonials {
  background-color: $celestial-blue;
  padding: 5em 2em 3em;
  position: relative;

  figure {
    img {
      @include size(160px);
      border-radius: 50%;
      margin-bottom: em(14);
    }
  }

  h2 {
    $testimonials-padding: 75px 0;
    color: white;
    padding: $testimonials-padding;
    text-align: center;
  }

  figure > p {
    color: white;
    line-height: 1.3;
    font-family: $sans-serif;
    font-weight: 800;
  }

  .feature-quote {
    @include outer-container;
    margin-bottom: 72px;

    figure {
      @include span-columns(3);
      text-align: center;
      font-size: 120%;
    }

    blockquote {
      @include span-columns(9);
      @include omega();

      position: relative;
      border: 1px solid #1C6CC9;
      background-color: white;
      border-radius: em(12);
      padding: 45px;
      margin: 0;
      z-index: 0;

      &:before {
        @include triangle(42px, white, left);

        content: "";
        position: absolute;
        left: -21px;
        top: 15%;
        z-index: 2;
      }

      &:after {
        @include triangle(42px, #1C6CC9, left);

        content: "";
        position: absolute;
        left: -22px;
        top: 15%;
        z-index: 1;
      }

      p {
        color: $celestial-blue;
        font-size: 1.15rem;
        font-style: italic;
        position: relative;
        padding-left: em(30);

        &:before {
          @include size(11px);
          padding: 11px 16px 11px 6px;
          color: white;
          content: "“";
          border-radius: 50%;
          background-color: $upcase-green;
          font-family: $sans-serif;
          font-size: em(32);
          position: absolute;
          left: -3%;
        }
      }
    }
  }

  .quotee {
    strong {
      color: #0053b3;
      display: block;
      font-size: em(13);
      font-weight: 700;
      letter-spacing: em(1);
      text-transform: uppercase;
    }
  }

  .supporting-quotes {
    @include outer-container;

    img {
      @include size(70px);

      float: left;
      display: inline-block;
      margin-right: 24px;
      margin-bottom: 30px;
    }

    .supporting-quote {
      margin-bottom: 50px;

      @include marketing-fullsize {
        @include span-columns(4);
      }

      figure {
        background-color: $celestial-blue;
        margin-bottom: em(36);

        p {
          padding: em(16) 0;
        }
      }

      blockquote {
        background-color: #2879D6;
        border: 1px solid #1C6CC9;
        border-radius: em(12);
        padding: 30px;
        margin: 0;
        position: relative;
        z-index: 0;

        strong {
          color: $yellow;
          display: inline;
        }

        &:before {
          @include triangle(26px, #2879D6, up);

          content: "";
          position: absolute;
          left: 20px;
          top: -13px;
          z-index: 2;
        }

        &:after {
          @include triangle(26px, #1C6CC9, up);

          content: "";
          position: absolute;
          left: 20px;
          top: -14px;
          z-index: 1;
        }

        p {
          color: white;
          font-size: $font-size-small;
          font-style: italic;
          line-height: 1.55;
          margin: 0;
        }
      }
    }
  }

  strong {
    color: darken($celestial-blue, 20%);
    display: inline;
  }
}
