footer {
  border-top: var(--border--footer);
  display: flex;
  font-size: var(--font-size--small);
  gap: var(--space--medium) var(--space--x-large);
  padding: var(--space--large) 0;
  flex-direction: column;

  .logo {
    font-family: var(--font-family--body);

    svg {
      height: var(--font-size--300);
      margin-right: var(--space--x-small);
      width: auto;
    }
  }

  .copyright {
    font-size: var(--font-size--caption);
    margin-top: var(--space--medium);
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: var(--space--large);
    flex: 1;

    ul {
      --color--link: var(--color--footer-link);
      --color--link-hover: var(--color--footer-link-hover);

      margin: var(--space--x-small) 0 0;
      padding: 0;

      li {
        list-style-type: none;
        margin-top: var(--space--xx-small);

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  footer {
    flex-direction: row-reverse;
    padding: var(--space--large)
      Max(var(--space--base), calc(#{100%} - var(--container--large)) / 2);

    nav {
      justify-content: flex-end;
    }
  }
}
