:where(.section) {
  align-items: center;
  display: grid;
  gap: var(--space--base);
  grid-template-columns: repeat(12, [col-start] 1fr);
  justify-content: center;
  padding: var(--space--large) 0;
}

.hero .section-title {
  font-size: var(--font-size--display);
  font-weight: var(--font-weight--bold);
}

.section > .full {
  grid-column: col-start 1 / span 12;
}

:where(.section-header) {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  line-height: 1.2;
  max-width: var(--container--medium);
  text-align: center;
}

:where(.section-content) {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space--medium);
}

.section-subtitle {
  font-size: var(--font-size--subheader);
}

.section-cta {
  margin-block: var(--space--base);
}

.about-us {
  gap: var(--space--base) var(--space--large);
  grid-template-columns: 1fr;

  .image-crop {
    border-radius: var(--border-radius--large);
    height: 100%;
    overflow: hidden;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: 65% 25%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .about-us .image-crop img {
    height: 20rem;
  }
}

@media screen and (min-width: 998px) {
  .about-us {
    grid-template-columns: 3fr 2fr;

    .image-crop {
      order: 2;

      img {
        height: 100%;
      }
    }
  }
}

.contact-us {
  gap: var(--space--x-large) var(--space--large);
  grid-template-columns: 1fr;

  form {
    width: 100%;
    gap: var(--space--base);
  }

  .input-group {
    display: flex;
    gap: var(--space--small);

    label {
      width: 100%;
    }
  }
}

.contact-header {
  text-align: center;

  h1 {
    line-height: 1.2;
  }
}

.form-header :is(h4, p) {
  margin: 0;
}

.success-info {
  .button {
    margin-block: var(--space--medium);
  }
}

@media screen and (min-width: 998px) {
  .contact-header {
    text-align: left;
  }
  .contact-us {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
