:where(.section) {
  align-items: center;
  display: grid;
  gap: var(--space--base);
  grid-template-columns: repeat(12, [col-start] 1fr);
  justify-content: center;
  padding: var(--space--large) 0;
}

.hero .section-title {
  font-size: var(--font-size--display);
  font-weight: var(--font-weight--bold);
}

.section > .full {
  grid-column: col-start 1 / span 12;
}

:where(.section-header) {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  line-height: 1.2;
  max-width: var(--container--medium);
  text-align: center;
}

:where(.section-content) {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space--medium);
}

.section-subtitle {
  font-size: var(--font-size--subheader);
}

.section-cta {
  margin: var(--space--base);
}

.test {
  grid-column: col-start 3 / span 3;
}

.logo {
  opacity: 0.8;
  width: min-content;
}
