<div class="repository">
  <%= link_to repository, title: repository.name do %>
    <h5>GitHub Repository</h5>
    <h4><%= repository.name %></h4>
    <p><%= repository.tagline %></p>
  <% end %>
</div>
