<%= link_to repository, title: repository.name do %>
  <li class="repository">
    <div class="repo-name">
      <h1 class="list-title"><%= repository.name %></h1>
      <p class="description"><%= repository.tagline %></p>
    </div>

    <ul class="repo-info">
      <%= raw repository.alternative_description %>
    </ul>
  </li>
<% end %>
