<div class="wistia-wrapper">
  <%= large_wistia_iframe_for(clip) %>
</div>
<section class="assets-wrapper">
  <div class="assets">
    <%= render 'videos/download_link', download_type_key: "OriginalFile", download_type: "original", size_display: "Original (720p)", clip: clip %>
    <%= render 'videos/download_link', download_type_key: "IphoneVideoFile", download_type: "iphone", size_display: "iPhone", clip: clip %>
    <%= render 'videos/download_link', download_type_key: "HdMp4VideoFile", download_type: "hd_mp4", size_display: "HD MP4", clip: clip %>
  </div>
</section>

<% content_for :javascript do %>
  <script src="//fast.wistia.com/assets/external/E-v1.js"></script>
<% end %>
