<section class="download-links">
  <%= render "videos/download_link", download_type_key: "OriginalFile", download_type: "original", size_display: "Original (720p)", clip: clip %>
  <%= render "videos/download_link", download_type_key: "IphoneVideoFile", download_type: "iphone", size_display: "iPhone", clip: clip %>
  <%= render "videos/download_link", download_type_key: "HdMp4VideoFile", download_type: "hd_mp4", size_display: "HD MP4", clip: clip %>
</section>
