<%= link_to byte do %>
  <hgroup>
    <h4><%= byte.published_on.to_s(:month) %> <%= byte.published_on.day.ordinalize %></h4>
    <h3><%= byte.title %></h3>
  </hgroup>
  <p>Ipsum dolor sit amet, consectetur adipiscing elit. Em nunc, congue sit amet feugiat nec, accumsan quis massa. Sed lobortis varius justo, in mattis lacus facilisis sed. Vestibulum ullamcorper rutrum enim, quis condimentum ante dictum ut. Nullam suscipit dapempus nisl justo condimentum dapibus.</p>
<% end %>
