<% content_for :page_title, "Learn #{@topic.name}" %>
<% content_for :subject, @topic.name %>

<div class="text-box-wrapper">
  <div class="text-box">
    <hgroup class="product-title">
      <h2><%= t '.heading', topic: @topic.name %></h2>
    </hgroup>

    <% if @articles.present? %>
      <section class="articles results">
        <%= render @articles %>
      </section>
    <% end %>
  </div>
</div>

<%= render 'topics/related' %>
