<% content_for :page_title, "Learn #{@topic.name}" %>
<% content_for :subject, @topic.name %>

<div class="text-box-wrapper">
  <div class="text-box">
    <h2><%= t '.heading', topic: @topic.name %></h2>

    <% if @articles.present? %>
      <ul class="articles results">
        <%= render @articles %>
      </ul>
    <% end %>
  </div>
</div>

<%= render 'topics/related' %>
