<% content_for :page_title, "Learn #{@topic.name}" %>
<%= render 'learn_header', subject: @topic.name %>

<section class="learn-detail-content">
  <div class="learn-text-box-wrapper">
    <div class="learn-text-box">
      <h2><%= t '.heading', topic: @topic.name %></h2>

      <% if @articles.present? %>
        <ul class="articles results">
          <%= render @articles %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= render 'topics/related' %>
</section>
