// Colors
$black: #000;
$blue: #0b5fec;
$havelock-blue: #3c7fef;
$white: #fff;

// Font families
$base-font-family: "calibre-light";
$strong-font-family: "calibre-regular";
$heading-font-family: "calibre-regular";
$title-font-family: "averta-standard-bold";

// Spacing
$spacing-small: 0.5rem;
$spacing-base: 1rem;
$spacing-medium: 2rem;

// Screen sizes
$medium-screen: 620px;
$large-screen: 1000px;

// Component sizes
$site-header-height: 4rem;

// Border radiuses
$base-border-radius: 3px;

// Z-index
$z-site-nav: 10;
$z-site-header: 15;
