<ol class="subscription team">
  <li class="subscription team">
    <p class="subscription-name"><strong>Team:</strong> <%= team.name %></p>
    <%= link_to 'Manage Users', edit_teams_team_path %>
  </li>
</ol>
