<% content_for :page_title, 'Team Members' %>
<% content_for :subject_block do %>
  <h1>Team Members</h1>
<% end %>

<div class="text-box-wrapper solo">
  <div class="text-box">
    <ul class="members">
    </ul>

    <% if @team.has_users_remaining? %>
      <div class="invite-members">
        <p>Invite a member - You have <%= pluralize(@team.invitations_remaining, 'invitation') %> left</p>
        <%= render 'teams/invitations/form', invitation: Teams::Invitation.new %>
      </div>
    <% else %>
      <p>You're out of invitations right now, but that's easy to fix. <%= mail_to ENV["SUPPORT_EMAIL"], "Send us a short email" %> and we'll take care of you.</p>
    <% end %>

    <% if @team.has_invited_users? %>
      <p><%= link_to "View existing invitations", teams_invitations_path %></p>
    <% end %>
  </div>
</div>
