<%= content_tag :li, class: product.product_type do %>
  <%= link_to product do %>
    <span class="icon"></span>
    <hgroup>
      <h5><%= t ".headings.#{product.product_type}" %></h5>
      <h4><%= product.name %></h4>
    </hgroup>
  <% end %>
<% end %>
