<section id="promo-wrapper">
  <%= render(partial: promotion_partial(@promoted_left), object: @promoted_left) if @promoted_left %>
  <%= render(partial: promotion_partial(@promoted_middle), object: @promoted_middle) if @promoted_middle %>
  <%= render(partial: promotion_partial(@promoted_right), object: @promoted_right) if @promoted_right %>
</section>
