<section class="resources-container tiles-container">
  <% if topic.published_trails.present? %>
    <span class="divider">
      <h4 class="text">Trails</h4>
    </span>

    <section class="trails-progress">
      <%= render partial: "trail",
        collection: topic.published_trails,
        as: :trail %>
    </section>
  <% end %>

  <% if video_listing.any? %>
    <span class="divider">
      <h4 class="text">The Weekly Iteration</h4>
    </span>

    <% video_listing.each do |video| %>
      <%= render video %>
    <% end %>
  <% end %>
</section>
