<section class="resources-container tiles-container">
  <% if topic.published_trails.present? %>
    <span class="divider">
      <h4 class="text">All Trails</h4>
    </span>

    <section class="trails-progress">
      <%= render partial: "trail",
        collection: topic.published_trails,
        as: :trail %>
    </section>
  <% end %>

  <%= render "cards",
    title: "The Weekly Iteration",
    resources: topic.videos %>

  <%= render "cards",
    title: "Video Tutorials",
    resources: topic.video_tutorials %>
</section>
