<li class="workshop">
  <%= link_to workshop do %>
    <span class="icon"></span>
    <hgroup>
      <h5>
        <% if workshop.online? %>
          <%= t '.heading.online' %>
        <% else %>
          <%= t '.heading.in_person' %>
        <% end %>
      </h5>
      <h4><%= workshop.name %></h4>
    </hgroup>
  <% end %>
</li>
