<%= render 'promotions' %>

<section id="all-products">
  <%= link_to products_path do %>
    <div class="button">
      <%= t '.view_products' %>
    </div>
  <% end %>
</section>

<section id="topics-list">
  <hr>
  <%= render topics %>
</section>
