<% content_for :additional_body_classes, @topic.slug.parameterize %>

<% content_for :subject_block do %>
  <div class="topic-header">
    <div class="topic-header-text">
      <h1><%= @topic.name %></h1>

      <% if @topic.summary.present? %>
        <h2 class="tagline"><%= @topic.summary %></h2>
      <% end %>
    </div>

    <div class="topic-image">
      <%= image_tag "topics/#{@topic.slug}.svg" %>
    </div>
  </div>
<% end %>

<%= render "resources", topic: @topic %>
