<div class="beta unstarted">
  <section class="trail">
    <header>
      <h1><%= offer.name %></h1>
      <p class="description"><%= offer.description %></p>
    </header>

    <section class="progress">
      <div class="step next-up-exercise"><div class="dot"></div></div>
      <div class="step unstarted-exercise"><div class="dot"></div></div>
      <div class="step unstarted-exercise"><div class="dot"></div></div>
    </section>

    <%= button_to t("beta.offers.actions.accept"),
      beta_offer_reply_path(offer),
      method: :post,
      params: { accepted: true },
      class: "accept-beta-offer"%>

    <%= button_to t("beta.offers.actions.decline"),
      beta_offer_reply_path(offer),
      method: :post,
      params: { accepted: false },
      class: "decline-beta-offer"%>
  </section>
</div>
