<div class="individual-purchase">
  <div class="license">
    <% if included_in_current_users_plan?(product) %>
      <%= render(
        'subscriber_licenses/subscriber_license_included',
        subscriber_license: subscriber_license
      ) %>
    <% else %>
      <%= render(
        'subscriber_licenses/subscriber_license_not_included',
        subscriber_license: subscriber_license
      ) %>
    <% end %>
  </div>
</div>
