body.high_voltage-pages {

  section#container {
    @extend .clearfix;

    section#checkout-form {
      @extend .clearfix;

      form {
        float: left;
        width: grid-width(6);
      }

      h1 {
        font: 400 32px $sans-serif;
        margin: 25px 25px 12px 0;
      }
    }
  }
}
