body.sections-index {
}

#head-wrapper {
  #homepage-top {
    @extend .clearfix;
    background: url("/images/shadowing.png") center top no-repeat;
    margin: 0 auto;
    padding: 1px 0 40px 0;
    width: 995px;

    header {
      @extend .clearfix;

      h1 {
        color: #2b2b2b;
        font: 900 60px/60px $sans-serif;
        margin: 40px 0 20px;
      }
    }

    #workshop-list {
      float: left;
      margin: 20px 0 0 0;
      width: grid-width(8);

      ul {
        li {
          margin: 0 0 10px 0;
          padding: 0 0 10px 0;
          position: relative;

          a {
            display: inline-block;
            text-decoration: none;

            h3 {
              color: $red;
              font: 700 24px/30px $sans-serif;

              span {
                color: #333;
                font-size: 16px;

                &:before {
                  content: "/";
                  margin: 0 4px 0 0;
                }
              }
            }

            p.teaser {
              color: #444;
              font: 300 15px/20px $serif;
              margin: 0;
            }

            p.date {
              color: $red;
              display: block;
              font: 400 14px $sans-serif;
              //left: -240px;
              margin: 4px 0 0 0;
              //position: absolute;
              text-transform: uppercase;
              top: 9px;
              width: 222px;
            }

            p.where {
              color: #777;
              display: block;
              font: 400 14px $sans-serif;
              //left: -240px;
              margin: 4px 0 0 0;
              //position: absolute;
              bottom: 20px;
              width: 222px;
            }

            &:hover {
              h3 {
                color: $red;
              }
            }
          }
        }
      }
    }

    aside {
      border-top: 5px solid $red;
      float: left;
      margin: 24px 0 0 25px;
      padding: 10px 0 0 0;
      width: grid-width(4);

      h2 {
        color: #333;
        font: 700 24px $sans-serif;
        margin: 0 0 10px 0;
      }

      p {
        color: #444;
        font: 400 15px/21px $serif;
      }
    }
  }
}

#class-photos {
  @extend .clearfix;
  margin: 0px auto 0;
  width: 998px;

  img {
    background: #fff;
    width: 306px;
  }

  ul {
    li {
      @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset);
      float: left;
      height: 205px;
      list-style-type: none;
      margin-bottom: 20px;
      width: 306px;
      position: relative;

      &.first {
        margin: 0 30px 0 0;
      }

      &.last {
        margin: 0 10px 0 30px;
      }

      &:after {
        @include box-shadow(0 8px 16px rgba(0, 0, 0, 0.3));
        position: absolute;
        background: transparent;
        width: 70%;
        height: 55%;
        content: '';
        right: 11px;
        bottom: 11px;
        transform: skew(15deg) rotate(6deg);
        -webkit-transform: skew(15deg) rotate(6deg);
        -moz-transform: skew(15deg) rotate(6deg);
        z-index: -1;
      }

      &:before {
        @include box-shadow(0 8px 16px rgba(0, 0, 0, 0.3));
        z-index: -2;
        position: absolute;
        background: transparent;
        width: 70%;
        height: 55%;
        content: '';
        left: 11px;
        bottom: 11px;
        transform: skew(-15deg) rotate(-6deg);
        -webkit-transform: skew(-15deg) rotate(-6deg);
        -moz-transform: skew(-15deg) rotate(-6deg);
      }
    }
  }
}

#more-information {
  @extend .clearfix;
  background: rgba(228, 228, 228, 0.7) url("/images/shadowing.png") center 0 no-repeat;
  border-top: 1px solid #DCDCDC;
  margin: 14px 0 0 0;
  padding: 40px 0;

  #more-information-wrapper {
    margin: 0 auto;
    width: 995px;

    h4 {
      color: #555;
      font: 500 20px $sans-serif;
      margin: 0 0 12px 0;
    }

    #why-love {
      float: left;
      margin: 22px $gutter 0 0;
      width: grid-width(6);

      ul {
        li {
          color: #555;
          font: 400 14px/20px $serif;
          margin: 0 0 20px 0;

          strong {
            color: #333;
            display: block;
            font: 600 16px $sans-serif;
          }
        }
      }
    }

    #testimonials {
      float: left;
      margin: 20px 0 0 0;
      width: grid-width(6);

      q {
        color: #555;
        display: block;
        font: 400 14px/20px $serif;
        margin: 0 0 0 20px;
        position: relative;

        &:before {
         color: #666;
         content: "\201C";
         font: 400 40px $sans-serif;
         left: -17px;
         position: absolute;
         top: -4px;
        }
      }

      p.source {
        color: $red;
        font: 600 14px $sans-serif;
        margin: 2px 0 18px 5px;

        a {
          color: $red;
          margin: 0 0 0 1px;
          text-decoration: none;

        }
      }

      #column-1 {
        float: left;
        margin: 0 30px 0 0;
        width: 222px;
      }

      #column-2 {
        float: left;
        width: 222px;
      }
    }
  }
}
