body.high_voltage-pages {
  #head-wrapper {
    #homepage-top {
      @extend .clearfix;
      padding: 25px 0 0px 0;
      width: 660px;

      header {
        margin: 0 0 30px 0;
        padding: 0 0 10px 0;

        h1 {
          background-size: 72px;
          color: #fff;
          height: 60px;
          text-indent: 0;
          font: 100 26px $sans-serif;
          padding: 23px 0 0 95px;
          width: 400px;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  section#container {
    width: 640px;

    p {
      font-size: 14px;
      margin-bottom: 0.5em;
    }
    h1 {
      font: 400 32px $sans-serif;
      margin: 0 0 12px 0;
    } 
    section {
      border-bottom: 1px solid #cfcfcf;
      margin: 0 0 30px 0;
      &.no-border {
        border: 0;
      }
    }
    article {
      margin: 0 0 30px 0;
    }
    pre {
      background: #efefef;
      line-height: 180%;
      margin: 12px 0;
      padding: 14px 0;
    }
    strong {
      font-weight: bold;
    }
  }
}