body.high_voltage-pages {
  #head-wrapper {
    #homepage-top {
      @extend .clearfix;
      padding: 25px 0 0px 0;
      width: 660px;

      header {
        margin: 0 0 30px 0;
        padding: 0 0 10px 0;

        h1 {
          background-size: 72px;
          color: #fff;
          height: 60px;
          text-indent: 0;
          font: 100 26px $sans-serif;
          padding: 23px 0 0 95px;
          width: 400px;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  section#container {
    width: 640px;
    
    h1 {
      font: 400 32p $sans-serif;
      margin: 0 0 12px 0;
    } 
    
  }
}