#flash {
  #flash_failure {
    background: #f8bcba;
    margin: 0 0 15px 0;
    padding: 15px;
  }
}

body.registrations,
body.purchases {

  #container {
    background: url("/images/shadowing.png") center top no-repeat;
    padding: 40px 0 0 0;
  }

  #form-container {
    @extend .clearfix;
  }

  #form-column {
    float: left;
    margin: 0 25px 0 0;
    width: grid-width(6);
  }

  h1.course-title {
    font: 400 32px $sans-serif;
    margin: 0 0 12px 0;
  }

  #total {
    p.price {
      display: inline-block;
      font: 400 24px $sans-serif;
    }

    p.coupon-note {
      display: inline-block;
      margin: 0 0 0 8px;

      a {
        color: $red;
        font: 700 16px $sans-serif;
      }
    }
  }

  div.coupon {
    margin: 12px 0;
  }

  form {
    fieldset {
      ol {
        li {
          &.payment-errors {
            color: $red;
          }

          &#purchase_payment_method_input {
            * {
              vertical-align: middle;
            }
            label, input {
              display: inline-block;

              img {
                display: inline-block;
                margin-right: 3px;
              }
            }
          }

          &#registration_first_name_input,
          &#registration_city_input,
          &#purchase_city_input {
            float: left;
            margin-right: 20px;
            width: 223px;
          }

          &#registration_last_name_input {
            float: left;
            width: 223px;
          }

          &#registration_state_input,
          &#purchase_state_input {
            float: left;
            margin-right: 20px;
            width: 80px;
          }

          &#purchase_cvc_input {
            float: left;
            margin-right: 20px;
            width: 100px;
          }

          &#registration_zip_code_input,
          &#purchase_zip_code_input {
            float: left;
            width: 123px;
          }

          #registration_comments {
            width: 472px;
            height: 100px;
          }

          .card-expiry-month,
          .card-expiry-year,
          .card-cvc {
            width: 80px;
          }
        }
      }
    }
  }

  #form-sidebar {
    float: left;
    padding: 50px 0 0 0;
    width: grid-width(6); 

    h4 {
      color: #666;
      font-weight: 600;
      margin: 0 0 8px 0;
    }

    p {
      color: #666;
      margin: 0 0 6px 0;
    }

    ul {
      color: #666;
    }

    li {
      color: #666;
      list-style: outside;
      margin: 0 0 4px 15px;
    }
  }

  section.receipt {
    margin-top: 25px;
    strong {
      font-weight: bold;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .item {
      margin-top: 20px;
    }
    table {
      width: 200px;
      margin-top: 20px;

      td {
        text-align: right;
      }
    }
  }
}
