#flash {
  #flash_failure {
    background: #f8bcba;
    margin: 0 0 15px 0;
    padding: 15px;
  }
}

body.registrations {

  #container {
    background: url("/images/shadowing.png") center top no-repeat;
    padding: 40px 0 0 0;
  }

  #form-container {
    @extend .clearfix;
  }

  #form-column {
    float: left;
    margin: 0 25px 0 0;
    width: grid-width(6);
  }

  h1.course-title {
    font: 400 32px $sans-serif;
    margin: 0 0 12px 0;
  }

  #total {
    p.price {
      display: inline-block;
      font: 400 24px $sans-serif;
    }

    p.coupon-note {
      display: inline-block;
      margin: 0 0 0 8px;

      a {
        color: $red;
        font: 700 16px $sans-serif;
      }
    }
  }

  div.coupon {
    margin: 12px 0;
  }

  form {
    margin: 0 0 48px 0;

    fieldset {
      legend {
        font: 600 18px $sans-serif;
        padding: 24px 0 12px 0;
      }

      ol {
        li {
          margin: 0 0 8px 0;
          width: 466px;

          &#user_first_name_input,
          &#user_city_input {
            float: left;
            margin-right: 20px;
            width: 223px;
          }

          &#user_last_name_input {
            float: left;
            width: 223px;
          }

          &#user_state_input {
            float: left;
            margin-right: 20px;
            width: 80px;
          }

          &#user_zip_code_input {
            float: left;
            width: 123px;
          }

          &.error {
            p.inline-errors {
              color: $red;
            }

            input {
              background: #f8bcba;
            }
          }

          label {
            display: block;
            font: 400 14px $sans-serif;
          }

          input[type="text"],
          input[type="password"],
          input[type="tel"],
          input[type="email"] {
            padding: 6px 4px;
            width: 100%;
          }

          &.commit {
            margin-top: 24px;
          }

          /* red button */
          input[type="submit"] {
            @include button;
          }
        }
      }
    }
  }

  #form-sidebar {
    float: left;
    padding: 50px 0 0 0;
    width: grid-width(6); 

    h4 {
      color: #666;
      font-weight: 600;
      margin: 0 0 8px 0;
    }

    p {
      color: #666;
      margin: 0 0 6px 0;
    }

    ul {
      color: #666;
    }

    li {
      color: #666;
      list-style: outside;
      margin: 0 0 4px 15px;
    }
  }
}
