body.sections-show {
  #head-wrapper {
    border-bottom: 5px solid #777;

    #homepage-top {
      @extend .clearfix;
      padding: 25px 0 0 0;

      header {
        margin: 0 0 24px 0;

        h1 {
          background-size: 72px;
          color: #fff;
          height: 60px;
          text-indent: 0;
          font: 100 26px $proxima-nova;
          padding: 23px 0 0 95px;
          width: 400px;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }

      #course-info {
        float: left;
        margin: 0 30px 0 0;
        padding: 32px 0 32px 8px;
        width: 630px;

        h2 {
          color: #fff;
          font: 600 34px $proxima-nova;
          margin: 0 0 8px 0;
          text-shadow: 0 1px 0 #222;
        }

        #course-description {
          margin: 0 0 36px 0;
        }

        p {
          color: #CDC5C2;
          font: 300 16px/24px $proxima-nova;
          text-shadow: 0 1px 0 #222;
        }

        q {
          color: #fff;
          display: block;
          font: 400 14px $proxima-nova;
          line-height: 150%;
          left: -12px;
          margin: 24px 0 0 12px;
          position: relative;

          &:before {
           color: #fff;
           content: "\201C";
           font: 300 40px $proxima-nova;
           left: -16px;
           position: absolute;
           top: -4px;
          }
        }

        p.source {
          color: #CDC5C2;
          font: 400 14px $proxima-nova;
          margin: 2px 0 18px 0px;

          a {
            color: #CDC5C2;
            margin: 0 0 0 1px;
            text-decoration: none;
          }
        }

      }

      #workshop-details {
        float: left;
        margin: 20px 0 0 0;
        width: 306px;

        #register {
          padding: 32px 0 68px 0;

          /* red button */
          a {
            background: #c22323;
            background: -moz-linear-gradient(top, #f28080 0%, #d14545 50%, #c22323 50%, #c42b2b 100%);
            background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f28080), color-stop(0.5, #d14545), color-stop(0.5, #c22323), color-stop(1, #c42b2b));
            border: 1px solid #8e0202;
            border-bottom: 1px solid #750101;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: inset 0 1px 0 0 #ffabab;
            -webkit-box-shadow: inset 0 1px 0 0 #ffabab;
            box-shadow: inset 0 1px 0 0 #ffabab;
            color: #fff;
            display: block;
            font-family: "helvetica neue", helvetica, arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            padding: 12px 0 13px 0;
            text-decoration: none;
            text-align: center;
            text-shadow: 0 -1px 1px #320000;
            width: 222px;
          }

          a:hover {
            background: #b02020;
            background: -moz-linear-gradient(top, #e07777 0%, #bf3f3f 50%, #b02020 50%, #b32727 100%);
            background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e07777), color-stop(0.5, #bf3f3f), color-stop(0.5, #b02020), color-stop(1, #b32727));
            cursor: pointer;
          }

          a:active {
            cursor: pointer;
            -moz-box-shadow: inset 0 0 20px 0 #781a1a, 0 1px 0 #fff;
            -webkit-box-shadow: inset 0 0 20px 0 #781a1a, 0 1px 0 #fff;
            box-shadow: inset 0 0 40px 0 #781a1a, 0 1px 0 #444;
          }
        }

        h3 {
          color: $red;
          font: 300 14px $proxima-nova;
          margin: 20px 0 2px 0;
          text-transform: uppercase;
        }

        p {
          color: #fff;
          font: 300 16px/22px $proxima-nova;

          &.cost {
            font-size: 30px;
            font-weight: 400;
            margin: 8px 0 32px 0;
          }
        }

        a {
          border-bottom: 1px solid $red;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  #additional-information {
    @extend .clearfix;
    margin: 24px 0 24px 0;

    h4 {
      color: #222;
      font: 600 20px $proxima-nova;
      margin: 0 0 12px 0;
    }

    #faq {
      float: left;
      margin: 0 30px 0 0;
      width: 638px;

      dl {
        dt {
          color: $red;
          display: block;
          font-size: 16px;
          font-weight: 700;
        }

        dd {
          color: #333;
          font: 400 14px/20px $proxima-nova;
          margin: 0 0 12px 0;
        }
      }
    }

    #sidebar {
      float: left;
      width: 306px;

      li {
        @extend .clearfix;
        margin: 0 0 18px 0;
      }

      img {
        float: right;
        margin: 24px 0px 10px 20px;
      }

      h5 {
        color: $red;
        font: 700 16px/20px $proxima-nova;
        margin: 0 0 2px 0;
      }

      p.bio {
        font: 400 14px/20px $proxima-nova;
      }

      #terms {
        border-top: 1px solid #ddd;
        margin: 12px 0 0 0;
        padding: 12px 0 0 0;

        h4.terms {
          color: #555;
          font: 600 16px $proxima-nova;
        }

        ul {
          margin: 12px 0 0 0;
        }

        li,
        p {
          color: #666;
          font: 400 14px/18px $proxima-nova;
          margin: 0 0 6px 0;
        }
      }
    }
  }
}

#notify-me {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: #ddd;
  padding: 15px;

  label {
    display: block;
    font: 400 14px $proxima-nova;
    margin: 0 0 8px 0;
  }

  input[type="text"] {
    border: 0;
    border-radius: 2px;
    margin: 0 0 8px 0;
    padding: 8px 4px;
    width: 268px;
  }

  input[type="submit"] {
    background: #c22323;
    background: -moz-linear-gradient(top, #f28080 0%, #d14545 50%, #c22323 50%, #c42b2b 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f28080), color-stop(0.5, #d14545), color-stop(0.5, #c22323), color-stop(1, #c42b2b));
    border: 0;
/*    border: 1px solid #8e0202;
    border-bottom: 1px solid #750101;
*/    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 0 0 #ffabab;
    -webkit-box-shadow: inset 0 1px 0 0 #ffabab;
    box-shadow: inset 0 1px 0 0 #ffabab;
    color: #fff;
    display: block;
    font: 600 13px $proxima-nova;
    margin: 0;
    padding: 4px 10px 4px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 1px #512b2b;
  }
}