@import "reset";
@import "mixins";
@import "section";

body {
  font-family: $proxima-nova;
}

#container {
  margin: 0 auto 100px;
  width: 978px;
}

#head-wrapper {
  background: url("/images/public/chalkboard.jpg") center top no-repeat;

  #homepage-top {
    background: url("/images/public/transparent-ralph.png") 678px bottom no-repeat;
    margin: 0 auto;
    padding: 50px 0 72px 0;
    width: 978px;

    header {
      @extend .clearfix;

      h1 {
        background: url("/images/public/logo.png") 5px 0 no-repeat;
        float: left;
        height: 150px;
        text-indent: -9999px;
        width: 168px;
      }

      #the-sell {
        float: left;
        margin: 10px 0 0 0;
        width: 726px;

        h2 {
          color: #fff;
          font: 300 42px/42px $proxima-nova;
          letter-spacing: 1px;
          text-shadow: 0 0 1px #333;
        }

        p.tagline {
          color: #ccc;
          font: 500 18px/22px $proxima-nova;
          margin: 6px 0 0 0;
          text-shadow: 0 0 1px #333;
        }
      }
    }

    #workshop-list {
      margin: 54px 0 0 168px;

      ul {
        li {
          margin: 0 0 36px 0;
          position: relative;

          a {
            display: inline-block;
            text-decoration: none;

            h3 {
              color: #fff;
              font: 600 36px/36px $proxima-nova;
              text-shadow: 0 1px 1px #222;
            }

            p.teaser {
              color: #aaa;
              font: 400 14px/18px $proxima-nova;
              margin: 4px 122px 0 0;
              text-shadow: 0 1px 1px #222;
            }

            p.date {
              color: $red;
              display: block;
              font: 400 14px $proxima-nova;
              left: -240px;
              margin: 4px 0 0 0;
              position: absolute;
              text-align: right;
              text-transform: uppercase;
              top: 13px;
              width: 222px;
            }

            &:hover {
              h3 {
                color: $red;
              }

              p.teaser {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

#class-photos {
  @extend .clearfix;
  margin: -30px auto 0;
  width: 998px;

  img {
    background: #fff;
    width: 306px;
  }

  ul {

    li {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
      float: left;
      height: 205px;
      list-style-type: none;
      margin-bottom: 20px;
      width: 306px;
      position: relative;

      &.first {
        margin: 0 30px 0 10px;
      }

      &.last {
        margin: 0 10px 0 30px;
      }

      &:after {
        z-index: -1;
        position: absolute;
        background: transparent;
        width: 70%;
        height: 55%;
        content: '';
        right: 11px;
        bottom: 11px;
        transform: skew(15deg) rotate(6deg);
        -webkit-transform: skew(15deg) rotate(6deg);
        -moz-transform: skew(15deg) rotate(6deg);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }

      &:before {
        z-index: -2;
        position: absolute;
        background: transparent;
        width: 70%;
        height: 55%;
        content: '';
        left: 11px;
        bottom: 11px;
        transform: skew(-15deg) rotate(-6deg);
        -webkit-transform: skew(-15deg) rotate(-6deg);
        -moz-transform: skew(-15deg) rotate(-6deg);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#more-information {
  @extend .clearfix;
  margin: 14px 0 0 0;

  h4 {
    color: #222;
    font: 600 20px $proxima-nova;
    margin: 0 0 12px 0;
  }

  #why-love {
    float: left;
    margin: 0 30px 0 0;
    width: 474px;

    ul {
      li {
        color: #333;
        font: 400 14px/20px $proxima-nova;
        margin: 0 0 12px 0;

        strong {
          color: $red;
          display: block;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  #testimonials {
    float: left;
    width: 474px;

    q {
      display: block;
      font: 400 14px $proxima-nova;
      line-height: 150%;
      margin: 0 0 0 18px;
      position: relative;

      &:before {
       color: #333;
       content: "\201C";
       font: 300 40px $proxima-nova;
       left: -16px;
       position: absolute;
       top: -4px;
      }
    }

    p.source {
      color: $red;
      font: 600 14px $proxima-nova;
      margin: 2px 0 18px 6px;

      a {
        color: $red;
        margin: 0 0 0 1px;
        text-decoration: none;
      }
    }

    #column-1 {
      float: left;
      margin: 0 30px 0 0;
      width: 222px;
    }

    #column-2 {
      float: left;
      width: 222px;
    }
  }
}

footer {
  border-top: 1px solid #ddd;
  padding: 8px 0 0 0;
}