/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, header#main-header:after, header#main-header ul:after, #head-wrapper #homepage-top:after, #head-wrapper #homepage-top header:after, #class-photos:after, #more-information:after, body.high_voltage-pages #head-wrapper #homepage-top:after,
body.sections-show #head-wrapper #homepage-top:after,
body.courses-show #head-wrapper #homepage-top:after, body.high_voltage-pages #additional-information:after,
body.sections-show #additional-information:after,
body.courses-show #additional-information:after, body.high_voltage-pages #additional-information #additional-information-wrapper #sidebar li:after,
body.sections-show #additional-information #additional-information-wrapper #sidebar li:after,
body.courses-show #additional-information #additional-information-wrapper #sidebar li:after, body.registrations #form-container:after, footer#main-footer:after, footer#main-footer nav:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* variables */
/*line-height of all the type on the site*/
/*one grid column*/
/*size of one gutter*/
div#flash {
  font-size: 15px;
  max-height: 50px;
  position: absolute;
  top: 0px;
  width: 978px;
  z-index: 100; }
  div#flash p,
  div#flash div#flash_close,
  div#flash div#flash_icon,
  div#flash div#flash-vrule {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; }
  div#flash div.flash_message {
    background: #3c3c3c;
    background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#3c3c3c));
    background: -moz-linear-gradient(top, #595959, #3c3c3c);
    border: 1px solid #353535;
    border-top: 0;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: inset #727272 0px -1px 0px 0px;
    -moz-box-shadow: inset #727272 0px -1px 0px 0px;
    -ms-box-shadow: inset #727272 0px -1px 0px 0px;
    -o-box-shadow: inset #727272 0px -1px 0px 0px;
    box-shadow: inset #727272 0px -1px 0px 0px;
    height: 50px;
    margin: -50px 0 0;
    /*****/
    padding: 12px 15px;
    overflow: hidden; }
    div#flash div.flash_message p {
      color: #FFF;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
      margin: 2px 0px;
      position: relative;
      text-shadow: #161616 1px 1px 1px; }
  div#flash div#flash_close {
    background: #434343;
    border: 1px solid #353535;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    height: 20px;
    text-align: center;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    width: 20px; }
    div#flash div#flash_close:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  div#flash span.close {
    color: #CCC;
    display: block;
    font-family: Helvetica, 'lucida grande', Tahoma, Arial, sans-serif;
    /* font-stack should degrade somewhat gracefully for X button */
    font-size: 17px;
    font-weight: bold;
    line-height: 1em;
    text-align: center; }
  div#flash div#flash_icon {
    background: #303030;
    bottom: 4px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: inset black 0px 1px 0px 0px, #727272 0px 1px 0px 0px;
    -moz-box-shadow: inset black 0px 1px 0px 0px, #727272 0px 1px 0px 0px;
    -ms-box-shadow: inset black 0px 1px 0px 0px, #727272 0px 1px 0px 0px;
    -o-box-shadow: inset black 0px 1px 0px 0px, #727272 0px 1px 0px 0px;
    box-shadow: inset black 0px 1px 0px 0px, #727272 0px 1px 0px 0px;
    height: 30px;
    margin-right: 12px;
    position: relative;
    width: 30px; }
    div#flash div#flash_icon div#icon_status {
      height: 20px;
      margin: 5px auto 0;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      width: 20px; }
      div#flash div#flash_icon div#icon_status div#gloss {
        background: transparent;
        background: rgba(255, 255, 255, 0);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
        height: 16px;
        margin: 0 auto;
        position: relative;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        border-radius: 16px;
        top: 1px;
        width: 16px; }
      div#flash div#flash_icon div#icon_status.icon_success {
        background: #009900; }
      div#flash div#flash_icon div#icon_status.icon_failure {
        background: red; }
      div#flash div#flash_icon div#icon_status.icon_notice {
        background: #F3BC00; }
        div#flash div#flash_icon div#icon_status.icon_notice div#gloss {
          background: rgba(255, 255, 255, 0);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
          background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
          background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0)); }
  div#flash div#flash-vrule {
    background: #353535;
    border-left: 1px solid #727272;
    bottom: 12px;
    height: 48px;
    margin-right: 12px;
    position: relative;
    width: 1px; }

header#main-header {
  margin: 0 auto;
  width: 995px;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 20px; }
  header#main-header h1 {
    float: left;
    margin: 42px 0 24px; }
    header#main-header h1 a {
      background: url("/images/thoughtbot-logo.png") 0 0 no-repeat;
      display: block;
      height: 65px;
      text-indent: -9999px;
      width: 242px; }
  header#main-header ul {
    display: block;
    float: right;
    margin-top: 72px; }
    header#main-header ul li {
      float: left; }
      header#main-header ul li a {
        color: #2b2b2b;
        display: block;
        font: 500 16px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        line-height: 20px;
        margin: 0 20px;
        text-decoration: none; }
        header#main-header ul li a:hover {
          color: #ad141e;
          text-decoration: none; }

#head-wrapper #homepage-top {
  background: url("/images/shadowing.png") center top no-repeat;
  margin: 0 auto;
  padding: 1px 0 40px 0;
  width: 995px; }
  #head-wrapper #homepage-top header h1 {
    color: #2b2b2b;
    font: 900 60px/60px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
    margin: 40px 0 20px; }
  #head-wrapper #homepage-top #workshop-list {
    float: left;
    margin: 20px 0 0 0;
    width: 655px; }
    #head-wrapper #homepage-top #workshop-list h2 {
      color: #444;
      font: 700 14px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 4px 0;
      text-transform: uppercase; }
    #head-wrapper #homepage-top #workshop-list ul {
      margin: 0 0 20px 10px; }
      #head-wrapper #homepage-top #workshop-list ul li {
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        position: relative; }
        #head-wrapper #homepage-top #workshop-list ul li a {
          display: inline-block;
          text-decoration: none; }
          #head-wrapper #homepage-top #workshop-list ul li a h3 {
            color: #ad141e;
            font: 700 24px/30px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
            #head-wrapper #homepage-top #workshop-list ul li a h3 span {
              color: #333;
              font-size: 16px; }
              #head-wrapper #homepage-top #workshop-list ul li a h3 span:before {
                content: "/";
                margin: 0 4px 0 0; }
          #head-wrapper #homepage-top #workshop-list ul li a p.teaser {
            color: #444;
            font: 300 15px/20px skolar-1, skolar-2, serif;
            margin: 0; }
          #head-wrapper #homepage-top #workshop-list ul li a:hover h3 {
            color: #ad141e; }
  #head-wrapper #homepage-top aside {
    float: left;
    margin: 25px 0 0 25px;
    padding: 10px 0 0 0;
    width: 315px; }
    #head-wrapper #homepage-top aside.first {
      border-top: 5px solid #ad141e; }
    #head-wrapper #homepage-top aside h2 {
      color: #333;
      font: 700 24px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 10px 0; }
      #head-wrapper #homepage-top aside h2 a {
        text-decoration: none; }
    #head-wrapper #homepage-top aside p {
      color: #444;
      font: 400 15px/21px skolar-1, skolar-2, serif; }

#class-photos {
  margin: 0px auto 0; }
  #class-photos img {
    background: #fff;
    width: 315px; }
  #class-photos ul li {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    float: left;
    height: 205px;
    list-style-type: none;
    margin-bottom: 20px;
    width: 315px;
    position: relative; }
    #class-photos ul li.first {
      margin: 0 25px 0 0; }
    #class-photos ul li.last {
      margin: 0 0 0 25px; }
    #class-photos ul li:after {
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      position: absolute;
      background: transparent;
      width: 70%;
      height: 55%;
      content: '';
      right: 11px;
      bottom: 11px;
      transform: skew(15deg) rotate(6deg);
      -webkit-transform: skew(15deg) rotate(6deg);
      -moz-transform: skew(15deg) rotate(6deg);
      z-index: -1; }
    #class-photos ul li:before {
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      z-index: -2;
      position: absolute;
      background: transparent;
      width: 70%;
      height: 55%;
      content: '';
      left: 11px;
      bottom: 11px;
      transform: skew(-15deg) rotate(-6deg);
      -webkit-transform: skew(-15deg) rotate(-6deg);
      -moz-transform: skew(-15deg) rotate(-6deg); }

#more-information {
  background: rgba(228, 228, 228, 0.7) url("/images/shadowing.png") center 0 no-repeat;
  border-top: 1px solid #DCDCDC;
  margin: 14px 0 0 0;
  padding: 40px 0; }
  #more-information #more-information-wrapper {
    margin: 0 auto;
    width: 995px; }
    #more-information #more-information-wrapper h4 {
      color: #555;
      font: 500 20px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 12px 0; }
    #more-information #more-information-wrapper #why-love {
      float: left;
      margin: 22px 25px 0 0;
      width: 485px; }
      #more-information #more-information-wrapper #why-love ul li {
        color: #555;
        font: 400 14px/20px skolar-1, skolar-2, serif;
        margin: 0 0 20px 0; }
        #more-information #more-information-wrapper #why-love ul li strong {
          color: #333;
          display: block;
          font: 600 16px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
    #more-information #more-information-wrapper #testimonials {
      float: left;
      margin: 20px 0 0 0;
      width: 485px; }
      #more-information #more-information-wrapper #testimonials q {
        color: #555;
        display: block;
        font: 400 14px/20px skolar-1, skolar-2, serif;
        margin: 0 0 0 20px;
        position: relative; }
        #more-information #more-information-wrapper #testimonials q:before {
          color: #666;
          content: "\201C";
          font: 400 40px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
          left: -17px;
          position: absolute;
          top: -4px; }
      #more-information #more-information-wrapper #testimonials p.source {
        color: #ad141e;
        font: 600 14px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        margin: 2px 0 18px 5px; }
        #more-information #more-information-wrapper #testimonials p.source a {
          color: #ad141e;
          margin: 0 0 0 1px;
          text-decoration: none; }
      #more-information #more-information-wrapper #testimonials #column-1 {
        float: left;
        margin: 0 25px 0 0;
        width: 230px; }
      #more-information #more-information-wrapper #testimonials #column-2 {
        float: left;
        width: 230px; }

body.high_voltage-pages #head-wrapper #homepage-top,
body.sections-show #head-wrapper #homepage-top,
body.courses-show #head-wrapper #homepage-top {
  padding: 25px 0 0 0; }
  body.high_voltage-pages #head-wrapper #homepage-top em,
  body.sections-show #head-wrapper #homepage-top em,
  body.courses-show #head-wrapper #homepage-top em {
    font-style: italic; }
  body.high_voltage-pages #head-wrapper #homepage-top header,
  body.sections-show #head-wrapper #homepage-top header,
  body.courses-show #head-wrapper #homepage-top header {
    margin: 0 0 24px 0; }
    body.high_voltage-pages #head-wrapper #homepage-top header h1,
    body.sections-show #head-wrapper #homepage-top header h1,
    body.courses-show #head-wrapper #homepage-top header h1 {
      background: none;
      color: #fff;
      height: 60px;
      text-indent: 0;
      font: 100 26px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      width: 400px; }
      body.high_voltage-pages #head-wrapper #homepage-top header h1 a,
      body.sections-show #head-wrapper #homepage-top header h1 a,
      body.courses-show #head-wrapper #homepage-top header h1 a {
        background: url("/images/public/logo_small.png") 5px 5px no-repeat;
        color: #fff;
        display: block;
        height: 60px;
        padding: 23px 0 0 95px;
        text-decoration: none; }
        body.high_voltage-pages #head-wrapper #homepage-top header h1 a:hover,
        body.sections-show #head-wrapper #homepage-top header h1 a:hover,
        body.courses-show #head-wrapper #homepage-top header h1 a:hover {
          color: #ddd; }
  body.high_voltage-pages #head-wrapper #homepage-top #course-info,
  body.sections-show #head-wrapper #homepage-top #course-info,
  body.courses-show #head-wrapper #homepage-top #course-info {
    float: left;
    margin: 0 25px 0 0;
    padding: 20px 0 32px 0px;
    width: 655px; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info h2,
    body.sections-show #head-wrapper #homepage-top #course-info h2,
    body.courses-show #head-wrapper #homepage-top #course-info h2 {
      color: #333;
      font: 300 36px/40px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 8px 0; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info p,
    body.sections-show #head-wrapper #homepage-top #course-info p,
    body.courses-show #head-wrapper #homepage-top #course-info p {
      color: #444;
      font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 8px 0; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info ul,
    body.sections-show #head-wrapper #homepage-top #course-info ul,
    body.courses-show #head-wrapper #homepage-top #course-info ul {
      margin: 12px 0 12px 0; }
      body.high_voltage-pages #head-wrapper #homepage-top #course-info ul li,
      body.sections-show #head-wrapper #homepage-top #course-info ul li,
      body.courses-show #head-wrapper #homepage-top #course-info ul li {
        color: #444;
        font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        list-style: disc;
        margin: 0 0 4px 0; }
        body.high_voltage-pages #head-wrapper #homepage-top #course-info ul li ul,
        body.sections-show #head-wrapper #homepage-top #course-info ul li ul,
        body.courses-show #head-wrapper #homepage-top #course-info ul li ul {
          margin: 6px 0 12px 15px; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info q,
    body.sections-show #head-wrapper #homepage-top #course-info q,
    body.courses-show #head-wrapper #homepage-top #course-info q {
      color: #444;
      display: block;
      font: 400 15px/24px skolar-1, skolar-2, serif;
      font-style: italic;
      left: -12px;
      margin: 24px 0 0 12px;
      position: relative; }
      body.high_voltage-pages #head-wrapper #homepage-top #course-info q:before,
      body.sections-show #head-wrapper #homepage-top #course-info q:before,
      body.courses-show #head-wrapper #homepage-top #course-info q:before {
        color: #555;
        content: "\201C";
        font: 300 40px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        left: -16px;
        position: absolute;
        top: -4px; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info p.source,
    body.sections-show #head-wrapper #homepage-top #course-info p.source,
    body.courses-show #head-wrapper #homepage-top #course-info p.source {
      color: #555;
      font: 700 13px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 2px 0 24px 0px; }
      body.high_voltage-pages #head-wrapper #homepage-top #course-info p.source a,
      body.sections-show #head-wrapper #homepage-top #course-info p.source a,
      body.courses-show #head-wrapper #homepage-top #course-info p.source a {
        color: #333;
        margin: 0 0 0 1px;
        text-decoration: none; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info #faq dl dt p, body.high_voltage-pages #head-wrapper #homepage-top #course-info #benefits dl dt p,
    body.sections-show #head-wrapper #homepage-top #course-info #faq dl dt p,
    body.sections-show #head-wrapper #homepage-top #course-info #benefits dl dt p,
    body.courses-show #head-wrapper #homepage-top #course-info #faq dl dt p,
    body.courses-show #head-wrapper #homepage-top #course-info #benefits dl dt p {
      color: #ad141e;
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0; }
    body.high_voltage-pages #head-wrapper #homepage-top #course-info #faq dl dd, body.high_voltage-pages #head-wrapper #homepage-top #course-info #benefits dl dd,
    body.sections-show #head-wrapper #homepage-top #course-info #faq dl dd,
    body.sections-show #head-wrapper #homepage-top #course-info #benefits dl dd,
    body.courses-show #head-wrapper #homepage-top #course-info #faq dl dd,
    body.courses-show #head-wrapper #homepage-top #course-info #benefits dl dd {
      color: #333;
      font: 400 14px/20px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 14px 0; }
      body.high_voltage-pages #head-wrapper #homepage-top #course-info #faq dl dd p, body.high_voltage-pages #head-wrapper #homepage-top #course-info #benefits dl dd p,
      body.sections-show #head-wrapper #homepage-top #course-info #faq dl dd p,
      body.sections-show #head-wrapper #homepage-top #course-info #benefits dl dd p,
      body.courses-show #head-wrapper #homepage-top #course-info #faq dl dd p,
      body.courses-show #head-wrapper #homepage-top #course-info #benefits dl dd p {
        margin: 0 0 8px 0; }
  body.high_voltage-pages #head-wrapper #homepage-top #workshop-details,
  body.sections-show #head-wrapper #homepage-top #workshop-details,
  body.courses-show #head-wrapper #homepage-top #workshop-details {
    float: left;
    margin: 55px 0 20px 0;
    width: 315px; }
    body.high_voltage-pages #head-wrapper #homepage-top #workshop-details #register,
    body.sections-show #head-wrapper #homepage-top #workshop-details #register,
    body.courses-show #head-wrapper #homepage-top #workshop-details #register {
      padding: 21px 0 20px 0; }
      body.high_voltage-pages #head-wrapper #homepage-top #workshop-details #register a,
      body.sections-show #head-wrapper #homepage-top #workshop-details #register a,
      body.courses-show #head-wrapper #homepage-top #workshop-details #register a {
        background: #ad141e;
        border: 1px solid #52090e;
        color: #fff;
        display: block;
        line-height: 20px;
        padding: 10px;
        font: 700 18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        text-shadow: 0 -1px 0 #7f0f16;
        width: 200px;
        -webkit-box-shadow: inset 0 1px 0 #e93e49;
        -moz-box-shadow: inset 0 1px 0 #e93e49;
        -ms-box-shadow: inset 0 1px 0 #e93e49;
        -o-box-shadow: inset 0 1px 0 #e93e49;
        box-shadow: inset 0 1px 0 #e93e49;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -ms-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0; }
        body.high_voltage-pages #head-wrapper #homepage-top #workshop-details #register a:hover,
        body.sections-show #head-wrapper #homepage-top #workshop-details #register a:hover,
        body.courses-show #head-wrapper #homepage-top #workshop-details #register a:hover {
          background: #c41722;
          border: 1px solid #7f0f16;
          text-shadow: 0 -1px 0 #96111a;
          -webkit-box-shadow: inset 0 1px 0 #ee6c74;
          -moz-box-shadow: inset 0 1px 0 #ee6c74;
          -ms-box-shadow: inset 0 1px 0 #ee6c74;
          -o-box-shadow: inset 0 1px 0 #ee6c74;
          box-shadow: inset 0 1px 0 #ee6c74;
          cursor: pointer; }
        body.high_voltage-pages #head-wrapper #homepage-top #workshop-details #register a:active,
        body.sections-show #head-wrapper #homepage-top #workshop-details #register a:active,
        body.courses-show #head-wrapper #homepage-top #workshop-details #register a:active {
          background: #96111a;
          text-shadow: none;
          -webkit-box-shadow: inset 0 -1px 3px #680c12;
          -moz-box-shadow: inset 0 -1px 3px #680c12;
          -ms-box-shadow: inset 0 -1px 3px #680c12;
          -o-box-shadow: inset 0 -1px 3px #680c12;
          box-shadow: inset 0 -1px 3px #680c12; }
    body.high_voltage-pages #head-wrapper #homepage-top #workshop-details h3,
    body.sections-show #head-wrapper #homepage-top #workshop-details h3,
    body.courses-show #head-wrapper #homepage-top #workshop-details h3 {
      color: #ad141e;
      font: 600 13px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 20px 0 2px 0;
      text-transform: uppercase; }
    body.high_voltage-pages #head-wrapper #homepage-top #workshop-details p,
    body.sections-show #head-wrapper #homepage-top #workshop-details p,
    body.courses-show #head-wrapper #homepage-top #workshop-details p {
      color: #373737;
      font: 400 18px/24px skolar-1, skolar-2, serif; }
      body.high_voltage-pages #head-wrapper #homepage-top #workshop-details p.cost,
      body.sections-show #head-wrapper #homepage-top #workshop-details p.cost,
      body.courses-show #head-wrapper #homepage-top #workshop-details p.cost {
        color: #333;
        font-size: 32px;
        font-weight: 400;
        padding: 0 0 16px 0; }
        body.high_voltage-pages #head-wrapper #homepage-top #workshop-details p.cost.highlight,
        body.sections-show #head-wrapper #homepage-top #workshop-details p.cost.highlight,
        body.courses-show #head-wrapper #homepage-top #workshop-details p.cost.highlight {
          color: #ad141e;
          font-size: 32px;
          margin: 20px 0 5px 0;
          padding: 0; }
      body.high_voltage-pages #head-wrapper #homepage-top #workshop-details p.cost.sold-out,
      body.sections-show #head-wrapper #homepage-top #workshop-details p.cost.sold-out,
      body.courses-show #head-wrapper #homepage-top #workshop-details p.cost.sold-out {
        text-decoration: line-through;
        margin-bottom: 4px; }
      body.high_voltage-pages #head-wrapper #homepage-top #workshop-details p.notice,
      body.sections-show #head-wrapper #homepage-top #workshop-details p.notice,
      body.courses-show #head-wrapper #homepage-top #workshop-details p.notice {
        color: #333;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase; }
    body.high_voltage-pages #head-wrapper #homepage-top #workshop-details a,
    body.sections-show #head-wrapper #homepage-top #workshop-details a,
    body.courses-show #head-wrapper #homepage-top #workshop-details a {
      border-bottom: 1px solid #ad141e;
      color: #333;
      text-decoration: none; }
  body.high_voltage-pages #head-wrapper #homepage-top ul.two-column,
  body.sections-show #head-wrapper #homepage-top ul.two-column,
  body.courses-show #head-wrapper #homepage-top ul.two-column {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    padding-right: 40px; }
  body.high_voltage-pages #head-wrapper #homepage-top section#backbone-js-on-rails-qa-live-chat-full-notes h3,
  body.sections-show #head-wrapper #homepage-top section#backbone-js-on-rails-qa-live-chat-full-notes h3,
  body.courses-show #head-wrapper #homepage-top section#backbone-js-on-rails-qa-live-chat-full-notes h3 {
    margin-top: 3em; }
body.high_voltage-pages #register-below-the-fold,
body.sections-show #register-below-the-fold,
body.courses-show #register-below-the-fold {
  padding: 21px 0 20px 0; }
  body.high_voltage-pages #register-below-the-fold > a,
  body.sections-show #register-below-the-fold > a,
  body.courses-show #register-below-the-fold > a {
    background: #ad141e;
    border: 1px solid #52090e;
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 10px;
    font: 700 18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-shadow: 0 -1px 0 #7f0f16;
    width: 200px;
    -webkit-box-shadow: inset 0 1px 0 #e93e49;
    -moz-box-shadow: inset 0 1px 0 #e93e49;
    -ms-box-shadow: inset 0 1px 0 #e93e49;
    -o-box-shadow: inset 0 1px 0 #e93e49;
    box-shadow: inset 0 1px 0 #e93e49;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    width: 800px;
    margin: 0 auto;
    text-decoration: none; }
    body.high_voltage-pages #register-below-the-fold > a:hover,
    body.sections-show #register-below-the-fold > a:hover,
    body.courses-show #register-below-the-fold > a:hover {
      background: #c41722;
      border: 1px solid #7f0f16;
      text-shadow: 0 -1px 0 #96111a;
      -webkit-box-shadow: inset 0 1px 0 #ee6c74;
      -moz-box-shadow: inset 0 1px 0 #ee6c74;
      -ms-box-shadow: inset 0 1px 0 #ee6c74;
      -o-box-shadow: inset 0 1px 0 #ee6c74;
      box-shadow: inset 0 1px 0 #ee6c74;
      cursor: pointer; }
    body.high_voltage-pages #register-below-the-fold > a:active,
    body.sections-show #register-below-the-fold > a:active,
    body.courses-show #register-below-the-fold > a:active {
      background: #96111a;
      text-shadow: none;
      -webkit-box-shadow: inset 0 -1px 3px #680c12;
      -moz-box-shadow: inset 0 -1px 3px #680c12;
      -ms-box-shadow: inset 0 -1px 3px #680c12;
      -o-box-shadow: inset 0 -1px 3px #680c12;
      box-shadow: inset 0 -1px 3px #680c12; }
  body.high_voltage-pages #register-below-the-fold p,
  body.sections-show #register-below-the-fold p,
  body.courses-show #register-below-the-fold p {
    margin: 0 auto;
    font-weight: bold;
    width: 800px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 12px; }
body.high_voltage-pages #additional-information,
body.sections-show #additional-information,
body.courses-show #additional-information {
  background: rgba(228, 228, 228, 0.7) url("/images/shadowing.png") center 0 no-repeat;
  border-top: 1px solid #DCDCDC;
  margin: 14px 0 0 0;
  padding: 40px 0; }
  body.high_voltage-pages #additional-information #additional-information-wrapper,
  body.sections-show #additional-information #additional-information-wrapper,
  body.courses-show #additional-information #additional-information-wrapper {
    margin: 0 auto;
    width: 995px; }
    body.high_voltage-pages #additional-information #additional-information-wrapper h4,
    body.sections-show #additional-information #additional-information-wrapper h4,
    body.courses-show #additional-information #additional-information-wrapper h4 {
      color: #222;
      font: 600 20px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      margin: 0 0 12px 0; }
    body.high_voltage-pages #additional-information #additional-information-wrapper #main-content,
    body.sections-show #additional-information #additional-information-wrapper #main-content,
    body.courses-show #additional-information #additional-information-wrapper #main-content {
      float: left;
      margin: 0 25px 0 0;
      width: 655px; }
    body.high_voltage-pages #additional-information #additional-information-wrapper #notify-me,
    body.sections-show #additional-information #additional-information-wrapper #notify-me,
    body.courses-show #additional-information #additional-information-wrapper #notify-me {
      background: #ddd;
      color: #333;
      margin-right: 0; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #notify-me input[type="text"],
      body.sections-show #additional-information #additional-information-wrapper #notify-me input[type="text"],
      body.courses-show #additional-information #additional-information-wrapper #notify-me input[type="text"] {
        width: 580px; }
    body.high_voltage-pages #additional-information #additional-information-wrapper #terms,
    body.sections-show #additional-information #additional-information-wrapper #terms,
    body.courses-show #additional-information #additional-information-wrapper #terms {
      float: left; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms h4.terms,
      body.sections-show #additional-information #additional-information-wrapper #terms h4.terms,
      body.courses-show #additional-information #additional-information-wrapper #terms h4.terms {
        color: #555;
        font: 600 16px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms ul,
      body.sections-show #additional-information #additional-information-wrapper #terms ul,
      body.courses-show #additional-information #additional-information-wrapper #terms ul {
        margin: 12px 0 0 0;
        list-style: outside; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms li,
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms p,
      body.sections-show #additional-information #additional-information-wrapper #terms li,
      body.sections-show #additional-information #additional-information-wrapper #terms p,
      body.courses-show #additional-information #additional-information-wrapper #terms li,
      body.courses-show #additional-information #additional-information-wrapper #terms p {
        color: #666;
        font: 400 14px/18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        margin: 0 0 6px 0; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms li ul,
      body.sections-show #additional-information #additional-information-wrapper #terms li ul,
      body.courses-show #additional-information #additional-information-wrapper #terms li ul {
        margin-left: 24px; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms dt p,
      body.sections-show #additional-information #additional-information-wrapper #terms dt p,
      body.courses-show #additional-information #additional-information-wrapper #terms dt p {
        font-weight: bold;
        line-height: 18px;
        margin: 0; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #terms dd,
      body.sections-show #additional-information #additional-information-wrapper #terms dd,
      body.courses-show #additional-information #additional-information-wrapper #terms dd {
        margin: 0 0 12px 0;
        line-height: 18px; }
    body.high_voltage-pages #additional-information #additional-information-wrapper #sidebar,
    body.sections-show #additional-information #additional-information-wrapper #sidebar,
    body.courses-show #additional-information #additional-information-wrapper #sidebar {
      float: right;
      width: 315px; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #sidebar li,
      body.sections-show #additional-information #additional-information-wrapper #sidebar li,
      body.courses-show #additional-information #additional-information-wrapper #sidebar li {
        margin: 0 0 18px 0; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #sidebar img,
      body.sections-show #additional-information #additional-information-wrapper #sidebar img,
      body.courses-show #additional-information #additional-information-wrapper #sidebar img {
        float: right;
        margin: 3px 0px 10px 20px; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #sidebar h5,
      body.sections-show #additional-information #additional-information-wrapper #sidebar h5,
      body.courses-show #additional-information #additional-information-wrapper #sidebar h5 {
        color: #ad141e;
        font: 700 16px/20px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        margin: 0 0 2px 0; }
      body.high_voltage-pages #additional-information #additional-information-wrapper #sidebar .bio p,
      body.sections-show #additional-information #additional-information-wrapper #sidebar .bio p,
      body.courses-show #additional-information #additional-information-wrapper #sidebar .bio p {
        font: 400 14px/20px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        margin: 0 0 6px 0; }

body.courses #additional-information #faq {
  border-bottom: none; }

#notify-me {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #ddd;
  margin: 0px 20px 20px 0;
  padding: 20px; }
  #notify-me label {
    display: block;
    font: 400 16px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
    margin: 0 0 12px 0; }
  #notify-me input[type="text"] {
    border: 1px solid #cacaca;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 0 12px 0;
    padding: 10px 4px;
    width: 550px; }
  #notify-me input[type="submit"] {
    background: #ad141e;
    border: 1px solid #52090e;
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 10px;
    font: 700 18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-shadow: 0 -1px 0 #7f0f16;
    width: 200px;
    -webkit-box-shadow: inset 0 1px 0 #e93e49;
    -moz-box-shadow: inset 0 1px 0 #e93e49;
    -ms-box-shadow: inset 0 1px 0 #e93e49;
    -o-box-shadow: inset 0 1px 0 #e93e49;
    box-shadow: inset 0 1px 0 #e93e49;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    display: inline;
    margin-right: 10px;
    padding: 8px 0;
    width: 80px; }
    #notify-me input[type="submit"]:hover {
      background: #c41722;
      border: 1px solid #7f0f16;
      text-shadow: 0 -1px 0 #96111a;
      -webkit-box-shadow: inset 0 1px 0 #ee6c74;
      -moz-box-shadow: inset 0 1px 0 #ee6c74;
      -ms-box-shadow: inset 0 1px 0 #ee6c74;
      -o-box-shadow: inset 0 1px 0 #ee6c74;
      box-shadow: inset 0 1px 0 #ee6c74;
      cursor: pointer; }
    #notify-me input[type="submit"]:active {
      background: #96111a;
      text-shadow: none;
      -webkit-box-shadow: inset 0 -1px 3px #680c12;
      -moz-box-shadow: inset 0 -1px 3px #680c12;
      -ms-box-shadow: inset 0 -1px 3px #680c12;
      -o-box-shadow: inset 0 -1px 3px #680c12;
      box-shadow: inset 0 -1px 3px #680c12; }
  #notify-me p.group-training {
    color: #666;
    display: inline;
    font-size: 14px;
    margin: 0; }

body.high_voltage-pages section#homepage-top h1 {
  color: #2b2b2b;
  font: 900 60px/60px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  margin: 40px 0 20px; }
body.high_voltage-pages section#container p {
  font-size: 14px;
  margin-bottom: 0.5em; }
body.high_voltage-pages section#container h1 {
  font: 400 32px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  margin: 0 0 12px 0; }
body.high_voltage-pages section#container h3 {
  margin-top: 18px; }
  body.high_voltage-pages section#container h3.offer {
    color: #444;
    font-size: 18px;
    line-height: 27px; }
    body.high_voltage-pages section#container h3.offer strong {
      color: #ad141e; }
body.high_voltage-pages section#container h4 {
  font-size: 16px; }
body.high_voltage-pages section#container ul {
  list-style: outside;
  margin: 8px 0 12px 16px; }
  body.high_voltage-pages section#container ul li {
    margin: 0 0 6px 0; }
body.high_voltage-pages section#container section {
  margin: 0 0 30px 0; }
  body.high_voltage-pages section#container section.no-border {
    border: 0; }
body.high_voltage-pages section#container article {
  margin: 0 0 30px 0; }
body.high_voltage-pages section#container pre {
  background: #efefef;
  line-height: 180%;
  margin: 10px 0;
  padding: 0; }
body.high_voltage-pages section#container strong {
  font-weight: bold; }

#flash #flash_failure {
  background: #f8bcba;
  margin: 0 0 15px 0;
  padding: 15px; }

body.registrations #container {
  background: url("/images/shadowing.png") center top no-repeat;
  padding: 40px 0 0 0; }
body.registrations #form-column {
  float: left;
  margin: 0 25px 0 0;
  width: 485px; }
body.registrations h1.course-title {
  font: 400 32px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  margin: 0 0 12px 0; }
body.registrations #total p.price {
  display: inline-block;
  font: 400 24px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
body.registrations #total p.coupon-note {
  display: inline-block;
  margin: 0 0 0 8px; }
  body.registrations #total p.coupon-note a {
    color: #ad141e;
    font: 700 16px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
body.registrations div.coupon {
  margin: 12px 0; }
body.registrations form {
  margin: 0 0 48px 0; }
  body.registrations form fieldset legend {
    font: 600 18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
    padding: 24px 0 12px 0; }
  body.registrations form fieldset ol li {
    margin: 0 0 8px 0;
    width: 466px;
    /* red button */ }
    body.registrations form fieldset ol li#registration_first_name_input, body.registrations form fieldset ol li#registration_city_input {
      float: left;
      margin-right: 20px;
      width: 223px; }
    body.registrations form fieldset ol li#registration_last_name_input {
      float: left;
      width: 223px; }
    body.registrations form fieldset ol li#registration_state_input {
      float: left;
      margin-right: 20px;
      width: 80px; }
    body.registrations form fieldset ol li#registration_zip_code_input {
      float: left;
      width: 123px; }
    body.registrations form fieldset ol li.error p.inline-errors {
      color: #ad141e; }
    body.registrations form fieldset ol li.error input {
      background: #f8bcba; }
    body.registrations form fieldset ol li label {
      display: block;
      font: 400 14px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
    body.registrations form fieldset ol li input[type="text"],
    body.registrations form fieldset ol li input[type="password"],
    body.registrations form fieldset ol li input[type="tel"],
    body.registrations form fieldset ol li input[type="email"] {
      padding: 6px 4px;
      width: 100%; }
    body.registrations form fieldset ol li.commit {
      margin-top: 24px; }
    body.registrations form fieldset ol li input[type="submit"] {
      background: #ad141e;
      border: 1px solid #52090e;
      color: #fff;
      display: block;
      line-height: 20px;
      padding: 10px;
      font: 700 18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      text-shadow: 0 -1px 0 #7f0f16;
      width: 200px;
      -webkit-box-shadow: inset 0 1px 0 #e93e49;
      -moz-box-shadow: inset 0 1px 0 #e93e49;
      -ms-box-shadow: inset 0 1px 0 #e93e49;
      -o-box-shadow: inset 0 1px 0 #e93e49;
      box-shadow: inset 0 1px 0 #e93e49;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      -ms-transition-delay: 0;
      -o-transition-delay: 0;
      transition-delay: 0; }
      body.registrations form fieldset ol li input[type="submit"]:hover {
        background: #c41722;
        border: 1px solid #7f0f16;
        text-shadow: 0 -1px 0 #96111a;
        -webkit-box-shadow: inset 0 1px 0 #ee6c74;
        -moz-box-shadow: inset 0 1px 0 #ee6c74;
        -ms-box-shadow: inset 0 1px 0 #ee6c74;
        -o-box-shadow: inset 0 1px 0 #ee6c74;
        box-shadow: inset 0 1px 0 #ee6c74;
        cursor: pointer; }
      body.registrations form fieldset ol li input[type="submit"]:active {
        background: #96111a;
        text-shadow: none;
        -webkit-box-shadow: inset 0 -1px 3px #680c12;
        -moz-box-shadow: inset 0 -1px 3px #680c12;
        -ms-box-shadow: inset 0 -1px 3px #680c12;
        -o-box-shadow: inset 0 -1px 3px #680c12;
        box-shadow: inset 0 -1px 3px #680c12; }
body.registrations #form-sidebar {
  float: left;
  padding: 50px 0 0 0;
  width: 485px; }
  body.registrations #form-sidebar h4 {
    color: #666;
    font-weight: 600;
    margin: 0 0 8px 0; }
  body.registrations #form-sidebar p {
    color: #666;
    margin: 0 0 6px 0; }
  body.registrations #form-sidebar ul {
    color: #666; }
  body.registrations #form-sidebar li {
    color: #666;
    list-style: outside;
    margin: 0 0 4px 15px; }

footer#main-footer {
  margin: 0 auto;
  opacity: .5;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 995px;
  -webkit-transition-property: zip(opacity 0.5s);
  -moz-transition-property: zip(opacity 0.5s);
  -ms-transition-property: zip(opacity 0.5s);
  -o-transition-property: zip(opacity 0.5s);
  transition-property: zip(opacity 0.5s);
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  footer#main-footer:hover {
    opacity: 1; }
  footer#main-footer h3 {
    color: #545454;
    font-family: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif; }
  footer#main-footer a {
    color: #7a7a7a;
    text-decoration: none; }
    footer#main-footer a:link {
      color: #7a7a7a; }
    footer#main-footer a:hover {
      color: #ad141e; }
  footer#main-footer nav section {
    float: left;
    font: normal 14px skolar-1, skolar-2, serif;
    margin-right: 25px;
    width: 145px; }
    footer#main-footer nav section#thoughtbot-footer {
      width: 315px; }
      footer#main-footer nav section#thoughtbot-footer ul li {
        float: left;
        margin-right: 25px;
        width: 145px; }
        footer#main-footer nav section#thoughtbot-footer ul li:nth-child(2n) {
          margin-right: 0; }
    footer#main-footer nav section#blog-footer {
      width: 315px; }
    footer#main-footer nav section:last-child {
      margin-right: 0; }
    footer#main-footer nav section ul {
      list-style: none; }
  footer#main-footer p#copyright {
    color: #7a7a7a;
    font: normal 14px skolar-1, skolar-2, serif;
    margin-top: 40px;
    /*line-height to maintain baseline grid*/ }

body.high_voltage-pages section#container section#checkout-form {
  margin: 50px auto 0;
  width: 630px; }
  body.high_voltage-pages section#container section#checkout-form p {
    padding-bottom: 20px; }

body {
  background: #fcfcfc;
  border-top: 4px solid #AD141E;
  font-family: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  font-size: 14px;
  line-height: 20px; }

a {
  color: #ad141e; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font: 400 "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  line-height: 150%; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5, h6 {
  font-size: 14px; }

#container {
  margin: 0 auto 100px;
  width: 995px; }

footer {
  border-top: 1px solid #ddd;
  padding: 8px 0 0 0; }
  footer p {
    color: #666;
    display: inline;
    font: 400 14px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
    float: left; }
    footer p.footer-links {
      float: right; }
    footer p a {
      text-decoration: none; }
    footer p.admin {
      clear: both;
      margin: 12px 0 0 0; }

body.high_voltage-pages footer p.footer-links {
  float: left; }
