/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, body.sections-show #head-wrapper #homepage-top:after, body.sections-show #additional-information:after, body.sections-show #additional-information #teachers li:after, #head-wrapper #homepage-top header:after, #class-photos:after, #more-information:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* variables */
/* mixins
---------------------------------------- */
/* this hack is courtesy of gbbowers on github
   https://gist.github.com/601810 */
body.sections-show #head-wrapper #homepage-top {
  padding: 25px 0 0 0; }
  body.sections-show #head-wrapper #homepage-top header h1 {
    background-size: 72px;
    color: #fff;
    height: 60px;
    text-indent: 0;
    font: 100 26px "proxima-nova-1", "proxima-nova-2";
    padding: 23px 0 0 95px;
    width: 400px; }
  body.sections-show #head-wrapper #homepage-top #course-info {
    float: left;
    margin: 0 114px 0 0;
    padding: 32px 0;
    width: 558px; }
    body.sections-show #head-wrapper #homepage-top #course-info h2 {
      color: #fff;
      font: 600 36px "proxima-nova-1", "proxima-nova-2";
      margin: 0 0 12px 0; }
    body.sections-show #head-wrapper #homepage-top #course-info p {
      color: #fff;
      font: 400 16px/24px "proxima-nova-1", "proxima-nova-2";
      text-shadow: 0 1px 0 #222; }
    body.sections-show #head-wrapper #homepage-top #course-info q {
      color: #fff;
      display: block;
      font: 400 14px "proxima-nova-1", "proxima-nova-2";
      line-height: 150%;
      margin: 24px 0 0 12px;
      position: relative; }
      body.sections-show #head-wrapper #homepage-top #course-info q:before {
        color: #fff;
        content: "\201C";
        font: 300 40px "proxima-nova-1", "proxima-nova-2";
        left: -16px;
        position: absolute;
        top: -4px; }
    body.sections-show #head-wrapper #homepage-top #course-info p.source {
      color: #e73a34;
      font: 600 14px "proxima-nova-1", "proxima-nova-2";
      margin: 2px 0 18px 6px; }
      body.sections-show #head-wrapper #homepage-top #course-info p.source a {
        color: #e73a34;
        margin: 0 0 0 1px;
        text-decoration: none; }
  body.sections-show #head-wrapper #homepage-top #workshop-details {
    float: left;
    margin: 24px 0 0 0;
    width: 222px; }
    body.sections-show #head-wrapper #homepage-top #workshop-details #register {
      padding: 32px 0 68px 0;
      /* red button */ }
      body.sections-show #head-wrapper #homepage-top #workshop-details #register a {
        background: #c22323;
        background: -moz-linear-gradient(top, #f28080 0%, #d14545 50%, #c22323 50%, #c42b2b 100%);
        background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f28080), color-stop(0.5, #d14545), color-stop(0.5, #c22323), color-stop(1, #c42b2b));
        border: 1px solid #8e0202;
        border-bottom: 1px solid #750101;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: inset 0 1px 0 0 #ffabab;
        -webkit-box-shadow: inset 0 1px 0 0 #ffabab;
        box-shadow: inset 0 1px 0 0 #ffabab;
        color: #fff;
        display: block;
        font-family: "helvetica neue", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 0 13px 0;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 -1px 1px #320000;
        width: 222px; }
      body.sections-show #head-wrapper #homepage-top #workshop-details #register a:hover {
        background: #b02020;
        background: -moz-linear-gradient(top, #e07777 0%, #bf3f3f 50%, #b02020 50%, #b32727 100%);
        background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e07777), color-stop(0.5, #bf3f3f), color-stop(0.5, #b02020), color-stop(1, #b32727));
        cursor: pointer; }
      body.sections-show #head-wrapper #homepage-top #workshop-details #register a:active {
        cursor: pointer;
        -moz-box-shadow: inset 0 0 20px 0 #781a1a, 0 1px 0 #fff;
        -webkit-box-shadow: inset 0 0 20px 0 #781a1a, 0 1px 0 #fff;
        box-shadow: inset 0 0 40px 0 #781a1a, 0 1px 0 #444; }
    body.sections-show #head-wrapper #homepage-top #workshop-details h3 {
      color: #e73a34;
      font: 300 14px "proxima-nova-1", "proxima-nova-2";
      margin: 20px 0 2px 0;
      text-transform: uppercase; }
    body.sections-show #head-wrapper #homepage-top #workshop-details p {
      color: #fff;
      font: 300 16px/22px "proxima-nova-1", "proxima-nova-2"; }
      body.sections-show #head-wrapper #homepage-top #workshop-details p.cost {
        font-size: 30px;
        font-weight: 400;
        margin: 8px 0 32px 0; }
    body.sections-show #head-wrapper #homepage-top #workshop-details a {
      border-bottom: 1px solid #e73a34;
      color: #fff;
      text-decoration: none; }
body.sections-show #additional-information {
  margin: 24px 0 24px 0; }
  body.sections-show #additional-information h4 {
    color: #222;
    font: 600 20px "proxima-nova-1", "proxima-nova-2";
    margin: 0 0 12px 0; }
  body.sections-show #additional-information #faq {
    float: left;
    margin: 0 114px 0 0;
    width: 558px; }
    body.sections-show #additional-information #faq dl dt {
      color: #e73a34;
      display: block;
      font-size: 16px;
      font-weight: 700; }
    body.sections-show #additional-information #faq dl dd {
      color: #333;
      font: 400 14px/20px "proxima-nova-1", "proxima-nova-2";
      margin: 0 0 12px 0; }
  body.sections-show #additional-information #teachers {
    float: left;
    width: 306px; }
    body.sections-show #additional-information #teachers li {
      margin: 0 0 18px 0; }
    body.sections-show #additional-information #teachers img {
      float: right;
      margin: 24px 0px 10px 20px; }
    body.sections-show #additional-information #teachers h5 {
      color: #e73a34;
      font: 700 16px/20px "proxima-nova-1", "proxima-nova-2";
      margin: 0 0 2px 0; }
    body.sections-show #additional-information #teachers p.bio {
      font: 400 14px/20px "proxima-nova-1", "proxima-nova-2"; }
body.sections-show #terms {
  margin: 48px 0 0 0; }
  body.sections-show #terms h4.terms {
    color: #333;
    font: 600 16px "proxima-nova-1", "proxima-nova-2"; }
  body.sections-show #terms ul li,
  body.sections-show #terms p {
    color: #666;
    font: 400 14px "proxima-nova-1", "proxima-nova-2";
    margin: 0 0 6px 0; }

body {
  font-family: "proxima-nova-1", "proxima-nova-2"; }

#container {
  margin: 0 auto 100px;
  width: 978px; }

#head-wrapper {
  background: url("/images/public/chalkboard.jpg") center top no-repeat; }
  #head-wrapper #homepage-top {
    background: url("/images/public/transparent-ralph.png") 678px bottom no-repeat;
    margin: 0 auto;
    padding: 50px 0 72px 0;
    width: 978px; }
    #head-wrapper #homepage-top header h1 {
      background: url("/images/public/logo.png") 5px 0 no-repeat;
      float: left;
      height: 150px;
      text-indent: -9999px;
      width: 168px; }
    #head-wrapper #homepage-top header #the-sell {
      float: left;
      margin: 10px 0 0 0;
      width: 726px; }
      #head-wrapper #homepage-top header #the-sell h2 {
        color: #fff;
        font: 300 42px/42px "proxima-nova-1", "proxima-nova-2";
        letter-spacing: 1px;
        text-shadow: 0 0 1px #333; }
      #head-wrapper #homepage-top header #the-sell p.tagline {
        color: #ccc;
        font: 500 18px/22px "proxima-nova-1", "proxima-nova-2";
        margin: 6px 0 0 0;
        text-shadow: 0 0 1px #333; }
    #head-wrapper #homepage-top #workshop-list {
      margin: 54px 0 0 168px; }
      #head-wrapper #homepage-top #workshop-list ul li {
        margin: 0 0 36px 0;
        position: relative; }
        #head-wrapper #homepage-top #workshop-list ul li a {
          display: inline-block;
          text-decoration: none; }
          #head-wrapper #homepage-top #workshop-list ul li a h3 {
            color: #fff;
            font: 600 36px/36px "proxima-nova-1", "proxima-nova-2";
            text-shadow: 0 1px 1px #222; }
          #head-wrapper #homepage-top #workshop-list ul li a p.teaser {
            color: #aaa;
            font: 400 14px/18px "proxima-nova-1", "proxima-nova-2";
            margin: 4px 122px 0 0;
            text-shadow: 0 1px 1px #222; }
          #head-wrapper #homepage-top #workshop-list ul li a p.date {
            color: #e73a34;
            display: block;
            font: 400 14px "proxima-nova-1", "proxima-nova-2";
            left: -240px;
            margin: 4px 0 0 0;
            position: absolute;
            text-align: right;
            text-transform: uppercase;
            top: 13px;
            width: 222px; }
          #head-wrapper #homepage-top #workshop-list ul li a:hover h3 {
            color: #e73a34; }
          #head-wrapper #homepage-top #workshop-list ul li a:hover p.teaser {
            color: #fff; }

#class-photos {
  margin: -30px auto 0;
  width: 998px; }
  #class-photos img {
    background: #fff;
    width: 306px; }
  #class-photos ul li {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    float: left;
    height: 205px;
    list-style-type: none;
    margin-bottom: 20px;
    width: 306px;
    position: relative; }
    #class-photos ul li.first {
      margin: 0 30px 0 10px; }
    #class-photos ul li.last {
      margin: 0 10px 0 30px; }
    #class-photos ul li:after {
      z-index: -1;
      position: absolute;
      background: transparent;
      width: 70%;
      height: 55%;
      content: '';
      right: 11px;
      bottom: 11px;
      transform: skew(15deg) rotate(6deg);
      -webkit-transform: skew(15deg) rotate(6deg);
      -moz-transform: skew(15deg) rotate(6deg);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); }
    #class-photos ul li:before {
      z-index: -2;
      position: absolute;
      background: transparent;
      width: 70%;
      height: 55%;
      content: '';
      left: 11px;
      bottom: 11px;
      transform: skew(-15deg) rotate(-6deg);
      -webkit-transform: skew(-15deg) rotate(-6deg);
      -moz-transform: skew(-15deg) rotate(-6deg);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); }

#more-information {
  margin: 14px 0 0 0; }
  #more-information h4 {
    color: #222;
    font: 600 20px "proxima-nova-1", "proxima-nova-2";
    margin: 0 0 12px 0; }
  #more-information #why-love {
    float: left;
    margin: 0 30px 0 0;
    width: 474px; }
    #more-information #why-love ul li {
      color: #333;
      font: 400 14px/20px "proxima-nova-1", "proxima-nova-2";
      margin: 0 0 12px 0; }
      #more-information #why-love ul li strong {
        color: #e73a34;
        display: block;
        font-size: 16px;
        font-weight: 700; }
  #more-information #testimonials {
    float: left;
    width: 474px; }
    #more-information #testimonials q {
      display: block;
      font: 400 14px "proxima-nova-1", "proxima-nova-2";
      line-height: 150%;
      margin: 0 0 0 18px;
      position: relative; }
      #more-information #testimonials q:before {
        color: #333;
        content: "\201C";
        font: 300 40px "proxima-nova-1", "proxima-nova-2";
        left: -16px;
        position: absolute;
        top: -4px; }
    #more-information #testimonials p.source {
      color: #e73a34;
      font: 600 14px "proxima-nova-1", "proxima-nova-2";
      margin: 2px 0 18px 6px; }
      #more-information #testimonials p.source a {
        color: #e73a34;
        margin: 0 0 0 1px;
        text-decoration: none; }
    #more-information #testimonials #column-1 {
      float: left;
      margin: 0 30px 0 0;
      width: 222px; }
    #more-information #testimonials #column-2 {
      float: left;
      width: 222px; }

footer {
  border-top: 1px solid #ddd;
  padding: 8px 0 0 0; }
