body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a  {color: #03c}
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

#content {
  float: left;
  background-color: white;
  padding: 25px;
  width: 500px;
}

#sidebar {
  float: right;
  width: 175px;
}

#footer {
  clear: both;
}

#header, #about, #syllabus {
  padding-left: 75px;
  padding-right: 30px;
}

#header {
  background-image: url(/images/thoughtbot_circle_logo_small.png);
  background-repeat: no-repeat;
  background-position: top left;
  height: 68px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}

#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

#about-content {
  background-color: #ffd;
  border: 1px solid #fc0;
  margin-left: -11px;
}
#about-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  border-collapse: collapse;
}
#about-content td {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
  background-color: #fcc;
  border: 1px solid #f00;
}
#about-content.failure p {
  margin: 0;
  padding: 10px;
}

#syllabus {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#syllabus h1 {
  margin: 0;
  font-size: 20px;
}
#syllabus h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 25px;
}
#syllabus ol {
  margin-left: 0;
  padding-left: 0;
}
#syllabus li {
  font-size: 18px;
  color: #888;
  margin: 12px;
}
#syllabus li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #333;
}
#syllabus li p {
  color: #555;
  font-size: 13px;
}

#syllabus ol {
  list-style-position: outside;
  list-style-type: none; }

#search {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}
#search input {
  font-size: 11px;
  margin: 2px;
}
#search-text {width: 170px}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}

/* typography */

#flash_notice, #flash_success, #flash_failure, #errorExplanation ul li {
  font-size: 1.6em; }

