/* Forms */

form ol             {list-style: none; margin: 0;}
form ol ol          {margin-left: 0;}
form ol li          {margin: 0 0 1em 0;}
form ol ol li       {margin: 0 0 .25em 0;}
form ol li.error input {background: #FBE3E4;}
p.inline-errors     {color: #D12F19;}
form ol li.file     {background: #e1e1e1; border: 1px solid #c8c8c8; padding: 10px;}

form abbr           {border-bottom: 0;}
                    
label               {display: block;}
.required label     {font-weight: bold;}
.checkbox_field label, .radio_field label { font-weight: normal; }

form .legend        {}
a.cancel            {color: #7d0d0d;}
.inline-hints       {font-size: .8em;color: #666; margin-bottom: .25em;}

/* Fieldsets */
fieldset fieldset,
fieldset fieldset fieldset   {padding: 0; border: 0;}
legend              {font-weight: bold;}
fieldset.buttons    {background: inherit; border: 0; padding: 0 ;}
fieldset.buttons li {display: inline;}
.radio fieldset     {padding: 0; margin: 0;}

/* Text fields */
input[type="text"],
input[type="password"],
textarea { 
  font-family: Helvetica, Arial, sans-serif;
  padding: 15px 10px; 
  font-size: 24px; 
  color: #000;
  width: 755px;
  background:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(1, #fff),
      color-stop(0, #eee));
      background:
    -moz-linear-gradient(
        bottom,
        #fff 0%,
        #eee 100%);
  border: 0;      
  border-top: 2px solid #fff;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
}
input.half { width: 168px; }
input[disabled='disabled']  {background-color: #fcfcfc; cursor:default;}
input[type="checkbox"] {margin: 0 3px 0 0; vertical-align: middle; position: relative; top: -2px;}
input[type="radio"]    {margin: 0 3px 0 0; vertical-align: middle; position: relative; top: -2px;}
.check_boxes label      {vertical-align: middle; padding: 0; display: inline;}
.radio       label     {padding: 0;}
label, span.label {
  font-size: 20px;
  float: left;
  width: 370px;
  clear: both;
  padding: 15px 0 10px; }

/* Textareas */
textarea            {width: 440px; height: 200px; margin:0 0.5em 0.5em 0; padding:5px; font-size: inherit;}

/* Select fields */
fieldset .select select              { width:200px; font-size: .9em;} 
select:focus        { }

optgroup            {margin: 0 0 .5em 0;}

/* Date & Time */

form ol li.date ol li,
form ol li.time ol li{
  display: inline;
}

form ol li.datetime ol li {
  display: inline-block;
}

form ol li.datetime select,
form ol li.date     select,
form ol li.time     select{
  display: inline;
  width: auto;
}

form ol li.date     label,
form ol li.time     label{
  display: none;
}

#registration_expiration_date_input span.label {
  position: relative; /* Webkit-only */
}

.forgot_pw {
  float: right;
  display: block;
  padding: 10px 0 0;
}

input[type="submit"] {
  margin: 15px 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 -1px 2px rgba(0,0,0,.35);
  border: 0;
  padding: 12px;
  -moz-box-shadow: 0 1px 2px #000;
  -webkit-box-shadow: 0 1px 2px #000;
  color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(1, #990300),
      color-stop(0, #de0500));
      background:
    -moz-linear-gradient(
        bottom,
        #990300 0%,
        #de0500 100%);
}
