/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, form.wufoo ul li.name:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* variables */
/*line-height of all the type on the site*/
/*one grid column*/
/*size of one gutter*/
/* Forms
---------------------------------------- */
.subtle, form.wufoo ul li.name span label, form.wufoo ul li.pitch div label, form.wufoo ul #ppSection div span label, form.wufoo ul #ccSection div span label, form.wufoo ul #invoiceSection div span label, form.wufoo ul #billSection div span label {
  color: #aaa;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0; }

body {
  background: #fcfcfc;
  border-top: 4px solid #AD141E;
  font-family: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  font-size: 14px;
  line-height: 20px; }

a {
  color: #ad141e; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font: 400 "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
  line-height: 150%; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5, h6 {
  font-size: 14px; }

form.wufoo {
  margin-left: 0;
  width: 630px; }
  form.wufoo header#header {
    display: none; }
  form.wufoo #lola {
    display: none !important; }
  form.wufoo ul {
    list-style: none;
    margin-top: 20px;
    padding: 4px; }
    form.wufoo ul li {
      margin-bottom: 30px;
      width: 655px;
      padding: 0;
      margin-right: 25px; }
      form.wufoo ul li.section {
        padding-top: 25px;
        margin-bottom: 10px; }
        form.wufoo ul li.section h3 {
          color: #ad141e;
          font-size: 24px;
          padding: 0;
          border-top: 0 !important; }
        form.wufoo ul li.section div {
          padding: 0; }
      form.wufoo ul li fieldset {
        background: none;
        border: 0;
        padding: 0; }
      form.wufoo ul li label.desc, form.wufoo ul li legend.desc, form.wufoo ul li label, form.wufoo ul li legend {
        -webkit-font-smoothing: antialiased;
        font: 14px "skolar-1", "skolar-2", Georgia, serif;
        font-weight: bold;
        line-height: 20px;
        margin: 0 0 5px;
        padding: 0; }
        form.wufoo ul li label.desc.choice, form.wufoo ul li legend.desc.choice, form.wufoo ul li label.choice, form.wufoo ul li legend.choice {
          display: inline;
          font-weight: normal; }
      form.wufoo ul li .req {
        color: #ad141e; }
      form.wufoo ul li input.checkbox, form.wufoo ul li input.radio {
        display: inline-block; }
      form.wufoo ul li input[type="text"], form.wufoo ul li input[type="email"], form.wufoo ul li input.text, form.wufoo ul li textarea {
        /*6 columns minus line-heigh for the padding and 2px for the border*/
        border: 1px solid #999;
        -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
        -moz-box-shadow: inset 0 1px 2px #aaaaaa;
        -ms-box-shadow: inset 0 1px 2px #aaaaaa;
        -o-box-shadow: inset 0 1px 2px #aaaaaa;
        box-shadow: inset 0 1px 2px #aaaaaa;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        font: 14px "skolar-1", "skolar-2", Georgia, serif;
        line-height: 20px;
        margin: 0;
        max-width: 595px;
        padding: 9px 10px;
        /*line-height divided by two so that the bottom and top will align to the baseline grid*/
        width: 595px; }
        form.wufoo ul li input[type="text"]:focus, form.wufoo ul li input[type="email"]:focus, form.wufoo ul li input.text:focus, form.wufoo ul li textarea:focus {
          outline-color: #ad141e; }
        form.wufoo ul li input[type="text"].medium, form.wufoo ul li input[type="email"].medium, form.wufoo ul li input.text.medium, form.wufoo ul li textarea.medium {
          min-width: 570px; }
      form.wufoo ul li input#saveForm, form.wufoo ul li input#submitFormButton {
        background: #ad141e;
        border: 1px solid #52090e;
        color: #fff;
        display: block;
        line-height: 20px;
        padding: 10px;
        font: 700 18px "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        text-shadow: 0 -1px 0 #7f0f16;
        width: 200px;
        -webkit-box-shadow: inset 0 1px 0 #e93e49;
        -moz-box-shadow: inset 0 1px 0 #e93e49;
        -ms-box-shadow: inset 0 1px 0 #e93e49;
        -o-box-shadow: inset 0 1px 0 #e93e49;
        box-shadow: inset 0 1px 0 #e93e49;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -ms-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0;
        display: block;
        margin: 0;
        padding: 8px 40px;
        /*line-height divided by two so that the bottom and top will align to the baseline grid*/ }
        form.wufoo ul li input#saveForm:hover, form.wufoo ul li input#submitFormButton:hover {
          background: #c41722;
          border: 1px solid #7f0f16;
          text-shadow: 0 -1px 0 #96111a;
          -webkit-box-shadow: inset 0 1px 0 #ee6c74;
          -moz-box-shadow: inset 0 1px 0 #ee6c74;
          -ms-box-shadow: inset 0 1px 0 #ee6c74;
          -o-box-shadow: inset 0 1px 0 #ee6c74;
          box-shadow: inset 0 1px 0 #ee6c74;
          cursor: pointer; }
        form.wufoo ul li input#saveForm:active, form.wufoo ul li input#submitFormButton:active {
          background: #96111a;
          text-shadow: none;
          -webkit-box-shadow: inset 0 -1px 3px #680c12;
          -moz-box-shadow: inset 0 -1px 3px #680c12;
          -ms-box-shadow: inset 0 -1px 3px #680c12;
          -o-box-shadow: inset 0 -1px 3px #680c12;
          box-shadow: inset 0 -1px 3px #680c12; }
        form.wufoo ul li input#saveForm:hover, form.wufoo ul li input#submitFormButton:hover {
          cursor: pointer; }
        form.wufoo ul li input#saveForm:active, form.wufoo ul li input#submitFormButton:active {
          background: #96111a; }
      form.wufoo ul li input#submitFormButton {
        margin-left: 185px;
        width: auto; }
      form.wufoo ul li .instruct {
        color: #aaa;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        margin: 20px 20px 40px; }
      form.wufoo ul li.focused {
        background: none; }
        form.wufoo ul li.focused label {
          color: #000; }
      form.wufoo ul li.buttons {
        padding: 0 !important; }
        form.wufoo ul li.buttons div {
          margin: 0px !important;
          padding: 0px; }
      form.wufoo ul li.phone {
        margin-right: 0; }
      form.wufoo ul li.email, form.wufoo ul li.phone {
        clear: none;
        float: left;
        width: 50%; }
        form.wufoo ul li.email input[type="text"], form.wufoo ul li.email input.text, form.wufoo ul li.email input[type="email"], form.wufoo ul li.phone input[type="text"], form.wufoo ul li.phone input.text, form.wufoo ul li.phone input[type="email"] {
          width: 272.5px; }
      form.wufoo ul li.name {
        float: none;
        margin-bottom: 10px;
        width: 100%; }
        form.wufoo ul li.name span {
          display: block;
          float: left;
          margin-right: 50px;
          width: 272.5px; }
          form.wufoo ul li.name span:nth-child(odd) {
            margin-right: 0; }
          form.wufoo ul li.name span input[type="text"] {
            width: 100%; }
          form.wufoo ul li.name span.req {
            display: inline;
            float: none;
            margin: 0;
            width: auto; }
      form.wufoo ul li.pitch div label {
        line-height: 0.8em; }
      form.wufoo ul li.subscription legend {
        padding-bottom: 10px; }
      form.wufoo ul li.subscription div {
        background: #eee;
        border: 1px solid #999;
        max-width: 595px;
        padding: 20px 0;
        width: 595px; }
        form.wufoo ul li.subscription div span {
          margin-left: 30px;
          width: auto; }
          form.wufoo ul li.subscription div span input[type="radio"]:checked + label {
            font-weight: bold; }
          form.wufoo ul li.subscription div span label {
            margin-left: 5px; }
    form.wufoo ul .invoice thead th, form.wufoo ul .invoice tbody th, form.wufoo ul .invoice tbody td, form.wufoo ul .invoice tfoot th, form.wufoo ul .invoice .total, form.wufoo ul .invoice tfoot .last th, form.wufoo ul .invoice tfoot .last td, form.wufoo ul .invoice tfoot th, form.wufoo ul .invoice tfoot td {
      border-color: #999; }
    form.wufoo ul li.invoice thead th {
      background: #eee; }
    form.wufoo ul #ppSection, form.wufoo ul #ccSection, form.wufoo ul #invoiceSection, form.wufoo ul #billSection {
      border-bottom: none;
      border-top: 1px solid #DCDCDC;
      margin-bottom: 30px;
      padding: 40px 0px 0px 0px; }
      form.wufoo ul #ppSection div span input[type="text"]:focus + label, form.wufoo ul #ppSection div span input[type="email"]:focus + label, form.wufoo ul #ccSection div span input[type="text"]:focus + label, form.wufoo ul #ccSection div span input[type="email"]:focus + label, form.wufoo ul #invoiceSection div span input[type="text"]:focus + label, form.wufoo ul #invoiceSection div span input[type="email"]:focus + label, form.wufoo ul #billSection div span input[type="text"]:focus + label, form.wufoo ul #billSection div span input[type="email"]:focus + label {
        color: #444; }
