<% if purchaseable.fulfilled_with_github? %>
  <p>This product is delivered as access to a GitHub repository. Your GitHub user will be added as a collaborator when you press the button below.</p>
<% end %>
