<div class="text-box-wrapper solo">
  <div class="text-box">
    <hgroup class="product-title">
      <h2>Only one workshop at a time</h2>
    </hgroup>
    <p>We want each workshop you take with thoughtbot to be incredibly valuable. As such, we only want you to take one workshop at a time so you can focus on learning the topic of the workshop and nothing else.</p>
    <p>In addition, many of the workshop office hours and other activities overlap, making it difficult to fully participate in each workshop even if you have a lot of time to take them.</p>
    <p>If you'd like to change to another workshop now, or you have any other questions about this, please <%= mail_to 'learn@thoughtbot.com', 'contact us' %>.</p>
    <%= render 'workshops/follow_up', workshop: @purchaseable.workshop %>
  </div>
</div>
