<div class="text-box-wrapper">
  <div class="text-box">
    <h3><%= t('.added_to_github_repo') %></h3>
    <p>Give it a few seconds for the background job to work, and then <%= link_to 'check out the repo', @purchaseable.github_url %>.</p>
  </div>
</div>
