<div id="footer" class="clearfix">
  <div class="service">
    This is a service of 
    <%= link_to 'thoughtbot', 'http://thoughtbot.com/' %>
    <%= "&copy; #{Date.today.year}" -%>
  </div>
  <%= link_to 'Blog', 'http://giantrobots.thoughtbot.com' -%>
  <!-- <span class="vercial_line">|</span>
  <a href="/pages/terms"><span class="vercial_line">|</span></a>
  <a href='/pages/privacy'></a> -->
</div>

