body {
  background: #fff;
  color: #333;
  font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", sans-serif;
  line-height: $lh;
  font-size: em(18);
  padding: 0 lh(3);
}

a {
  text-decoration: none;
  color: #5d5d5d;
  @include transition;

  &:hover {
    color: $red;
  }
}

ul {
  list-style: none;
  margin: 0 0 em(2.5,18) 0;
  padding: 0;

  li {
    font-weight: normal;
    margin: 0 0 1em 0;
    position: relative;

    &.star {
      a {
        &:before {
          content: "\2605";
          display: block;
          @include position(absolute, 0 0 0 -2em);
          font-size: em(12, 18);
          color: #ccc;
          @include transition;
        }

        &:hover:before {
          color: $red;
        }
      }
    }

    &.learn {
      @extend .star;

      a {
        color: $red;
        font-weight: bold;

        &:before {
          color: #888;
        }

        &:hover {
          color: #444;
        }
      }
    }

    p {
      font-size: em(14, 18);
      line-height: lh(.75);
      color: #999;
      margin: 0;
    }
  }
}

h2 {
  font-size: em(24, 18);
  font-weight: bold;
  margin: 0 0 10px 0;
}


header.title {
  padding: lh() lh(3) lh();
  margin:0 (-(lh(3))) lh(1);
  overflow: hidden;
  position: relative;
  @include transition();
  z-index: 1;
  background: $red;

  hgroup {
    @include outer-container();
  }

  &:hover {
    background: black;
  }

  body.home & {
    padding: lh(4) 0 lh(3.5) 0;

    hgroup {
      text-align: center;
    }

    h1, h2 {
      display: block;
    }

    h1 {
      font-size: em(48, 18);
      font-weight: 100;
      color: rgba(#fff, .6);
      line-height: 1em;
      margin: 0;
    }

    h2 {
      font-size: em(72, 18);
      font-weight: 800;
      margin: 0 0 lh(.75) 0;
      color: #fff;
      line-height: 1em;
      margin: 0;
    }
  }

  h1 {
    font-size: em(24, 18);
    font-weight: 100;
    color: rgba(#fff, .6);
    line-height: 1em;
    margin: 0 8px 0 0;
    @include inline-block;
  }

  h2 {
    font-size: em(24, 18);
    font-weight: 600;
    margin: 0 0 lh(.75) 0;
    color: #fff;
    line-height: 1em;
    margin: 0;
    @include inline-block;
  }
}

section.container {
  @include outer-container;

  h1 {
    font-size: em(32, 18);
    font-weight: 100;
    margin-bottom: lh();
    line-height: lh();
    margin-top: 0;
    border-top:3px solid #f3f3f3;
    padding-top: lh(.25);
    color: #999;
  }

  h3, strong {
    font-family:"skolar-1","skolar-2",serif;
    font-style: italic;
    font-weight: 400;
  }

  section.content-container {
    @include span-columns(10);
    padding-top: lh();

    div.column {
      @include span-columns(5 10);

      h2 {
        border-top:3px solid #f3f3f3;
        padding-top: lh(.5);
        margin-top: lh(2);

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }


  aside {
    @include omega;
    @include span-columns(2);
    padding-top: lh();
    opacity: .6;
    @include transition;

    &:hover {
      opacity: 1;
    }

    li {
      margin-bottom: 0;
    }

    a {
      margin-bottom: 0;
      color: #999;
    }

    h2 {
      border-top:3px solid #f3f3f3;
      padding-top: lh(.5);
    }

    ul {
      margin-bottom: lh(2);

      li {
        font-weight: 100;
      }
    }
  }
}

section.footer {
  background: none;
  border-top: none;
  @include outer-container;
}

body.schedule {
  section.content-container {
    ol {
      list-style: none;
      padding-left: 0;
    }

    li {
      border: 1px solid #eee;
      padding: 1em;
      margin-bottom: 2em;
      @include span-columns(3.3 of 10);
      @include nth-omega(3n);

      &:nth-child(4n){
        clear: left;
      }
    }
  }
}

