body {
  background: #fff;
  color: #333;
  font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", sans-serif;
  line-height: $lh;
  font-size: em(18);
  padding: 0 lh(3) em(60);
}

em {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #5d5d5d;
  @include transition;

  &:hover {
    color: $red;
  }
}

ul {
  list-style: none;
  margin: 0 0 em(2.5,18) 0;
  padding: 0;

  li {
    font-weight: normal;
    margin: 0 0 1em 0;
    position: relative;
    line-height: lh(.85);

    &.star {
      a {
        &:before {
          content: "\2605";
          display: block;
          @include position(absolute, 0 0 0 -2em);
          font-size: em(12, 18);
          color: #ccc;
          @include transition;
        }

        &:hover:before {
          color: $red;
        }
      }
    }

    &.learn {
      @extend .star;

      a {
        color: $red;

        &:before {
          color: #888;
        }

        &:hover {
          color: #444;
        }
      }
    }

    p {
      font-size: em(14, 18);
      line-height: lh(.75);
      color: #999;
      margin: lh(.25) 0 0;
    }
  }
}

h2 {
  font-size: em(24, 18);
  font-weight: bold;
  margin: 0 0 10px 0;
}


header.title {
  @include outer-container();
  @include clearfix;
  padding: 2em 0;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 1em;

  hgroup {
    float: left;
    margin-top: .3em;

    h1 {
      font-size: em(24, 18);
      font-weight: 100;
      line-height: 1em;
      margin: 0 8px 0 0;
      @include inline-block;
    }

    h2 {
      font-size: em(24, 18);
      font-weight: 600;
      margin: 0 0 lh(.75) 0;
      line-height: 1em;
      margin: 0;
      @include inline-block;
    }
  }

  > ul {
    float: right;

    li {
      @include inline-block;
      margin-bottom: 0;

      h3 {
        @include inline-block;
        font-size: 1em;
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .9em;
        margin-right: 1em;
      }

      ul {
        @include inline-block;

        li {
          margin-right: 1em;
          font-weight: bold;
        }
      }

      a.cta {
        background: $red;
        color: #fff;
        display: block;
        font-size: .9em;
        font-weight: bold;
        padding: .3em 1em;

        &:hover {
          background: black;
        }
      }
    }
  }
}

section.container {
  @include outer-container;

  h1 {
    font-size: em(32, 18);
    font-weight: 100;
    margin-bottom: lh();
    line-height: lh();
    margin-top: 0;
    color: #999;
  }

  ol.content-container {
    @include span-columns(10);
    padding: lh() 0;
    list-style: none;

    > li {
      border-top: 1px solid #f3f3f3;
      padding-top: 1em;
      margin-top: 1em;
      @include clearfix;

      ul {
        @include clearfix;
      }

      h2 {
        margin-bottom: 1em;
      }

      &:first-child {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
      }

      li {
        @include span-columns(5 10);

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }


  aside {
    line-height: 1.2em;
    margin-top: 3em;
    @include omega;
    opacity: .6;
    padding-top: lh();
    @include span-columns(2);
    @include transition;

    &:hover {
      opacity: 1;
    }

    li {
      margin-bottom: .5em;
    }

    a {
      margin-bottom: 0;
      color: #999;

      &:hover {
        color: $red;
      }
    }

    ul {
      margin-bottom: lh(2);
    }
  }
}

footer {
  border-top: 1px solid #f3f3f3;
  margin-top: 1em;
  @include outer-container();
  padding: 2em 0;
  opacity: .5;

  &:hover {
    opacity: 1;
  }

  hgroup {
    float: left;

    a, h1, h2 {
      @include inline-block;
      font-size: 1em;
      margin: 0;
    }
  }

  > ul {
    float: right;

    li {
      @include inline-block;
      margin-right: .5em;

      h3 {
        @include inline-block;
        font-size: 1em;
        margin: 0 .5em 0 0;
      }

      ul {
        @include inline-block;
      }

      a.cta {
        color: $red;
      }
    }
  }
}

section.footer {
  background: none;
  border-top: none;
  @include outer-container;
}

body.schedule {
  section.content-container {
    ol {
      list-style: none;
      padding-left: 0;

      li {
        border: 1px solid #eee;
        padding: 1em;
        margin-bottom: 2em;
        @include span-columns(3.3 of 10);
        @include nth-omega(3n);

        h2 {
          font-size: em(20, 18);
        }

        &:nth-child(4n){
          clear: left;
        }
      }
    }

    ul {
      li {
        @include span-columns(5 10);
        @include nth-omega(2n);

        p {
          font-size: 1em;
          margin-bottom: .5em;
          line-height: lh();
        }
      }
    }

    h1 {
      clear: both;
    }

    blockquote {
      border-left: 4px solid #eee;
      margin-left: 0;
     padding-left: 1em;
    }
  }
}


body.week {
  section.content-container {
    p {
      max-width: em(740);
    }
  }
}
