@media screen and (max-width: $break1) {
  .content-container { @include span-columns(10); }
  .column { @include span-columns(10); }

  body.grid .content-container section.anatomy {
    img { @include span-columns(12);}
    ul { @include span-columns(12);}
  }

  body.type .content-container {
    section.anatomy {
      img {	@include span-columns(12);}
      hgroup { @include span-columns(12);}
      ul { @include span-columns(12);}
    }

    section.line-height {
      hgroup.example {@include span-columns(6); @include nth-omega(2n);}
    }
  }

  body.principles {
    .content-container {
      li {@include span-columns(12);}
    }
  }
}

@media screen and (max-width: $break2) {

  .content-container {
    @include span-columns(9);
  }
  .column {
    @include span-columns(12);
  }	
  aside {
    @include span-columns(3);
  }
  body.type .content-container section.line-height hgroup.example {@include span-columns(12);}

}

@media screen and (max-width: $break3) {
  body 	{
    font-size: em(14);
    padding: 0 lh(2);
  }
}

@media screen and (max-width: $break4) {

  .content-container {
    @include span-columns(12);
  }

  .column {
    @include span-columns(12);
  }

  aside {	
    .trail-map {
      margin: lh(2) 0 0 0;
    }
    @include span-columns(12);
  }
  body.grid .content-container ul.column-types li {
    @include span-columns(12);
  }			
}
