body.color {
  .content-container {
    > section {
      border-bottom: 3px solid #eee;
      padding-bottom: lh();
      margin-bottom: lh();
      @include row(table);
      width: 100%;

      img {
        max-width: 100%;
      }

      p {
        margin: 0;
      }

      h2 {
        margin-bottom: 0;
      }

      article, div, section {
        @include span-columns(5 10, table);
        vertical-align: middle;
      }

      section {
        text-align: center;

        h2 {
          margin-top: lh();
        }
      }
    }
  }
}

