body.typography {
  .content-container {

    section.line-height {
      @include span-columns(10 10);
      border-bottom: 3px solid #eee;
      padding-bottom: lh();
      margin-bottom: lh();

      hgroup.title {

        h2 {
          font-size: em(36, 18);
        }

        p {
          font-style: italic;
          font-weight: 100;
        }
      }

      hgroup.example {
        @include span-columns(3);

        #example-1 {
          line-height: 1em;
        }

        #example-2 {
          line-height: 1.3em;
        }

        #example-3 {
          line-height: 1.6em;
        }

        #example-4 {
          line-height: 2em;
        }
      }
    }

    section.anatomy {
      border-bottom: 3px solid #eee;
      padding-bottom: lh();
      margin-bottom: lh();
      @include row();

      article {
        @include span-columns(5 10);
      }

      p {
        margin-top: 6px;
      }
    }

    section.line-letter {
      @include row();
      border-bottom: 3px solid #eee;
      padding-bottom: lh();
      margin-bottom: lh();

      article {
        @include span-columns(3.33 10);
      }
    }

    section.typography {
      img {
        @include span-columns(5 10);
        border: 1px solid #eee;
        padding: lh(.5) 0;
      }
    }

    ul.column-types {

      li {
        @include span-columns(4);

        img {
          max-width: 100%;
        }
      }
    }
  }
}

body.typography .content-container section.anatomy.wide img {
  width: 100%;
}
