<section id="license" class="show">
  <div class="prime-purchase">
    <div class="license">
      <%= link_to new_individual_plan_purchase_path(plan), class: 'license-button button prime-button' do %>
        <%= t('weekly_iteration_subscribe_cta') %>
      <% end %>
    </div>
  </div>
</section>
