<div class="resubscribe">
  <h2><%= t(".title") %></h2>
  <p><%= t(".plea_html", billing_url: "#billing-information") %></p>
  <%= button_to t(".call_to_action"), subscriber_resubscription_path %>
</div>
