<div class="top">
  <div class="wrapper">
    <h2>Sign up</h2>
  </div>
</div>

<div id="content">
  <div id="sign_up" class="wrapper">
    <% semantic_form_for @user do |form| %>
      <%= form.error_messages %>
      <%= render :partial => "/users/inputs", :locals => { :form => form } %>
      <% form.buttons do %>
        <%= form.commit_button "Sign up" %>
      <% end %>
    <% end %>
  </div>
</div>