<%= render 'learn_header', subject: @section.course_name %>

<section class="learn-detail-content">
  <%= render 'checkout_form',
             title: t('purchase.registration.heading_html', name: @section.course_name),
             price: @registration.price,
             form_partial: 'registrations/form' %>

  <aside>
    <h4 class="terms">Terms and conditions</h4>
    <p>By registering for this workshop you agree to the following terms and conditions:</p>
    <ul>
      <li>If you&rsquo;re not happy with a workshop you took, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</li>
      <li>The ticket will entitle the named holder entrance to this event.</li>
      <li>Tickets may not be resold and are non-transferrable.</li>
      <li>We may film, take photographs, and use your feedback for marketing purposes.</li>
      <li>thoughtbot, inc. will not be liable for any direct or indirect damage of any nature arising out of the cancellation of the event.</li>
    </ul>
  </aside>
</section>

<% content_for :javascript do -%>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#new_registration').submit(function(){
        var email = $('#registration_email').val();
        _kmq.push(['identify', email]);
      });
    });
  <% end %>
<% end %>
