body.clearance-passwords {
  margin: 0 auto;

  form fieldset ol {
    li {
      margin-bottom: flex-gutter();

      &#password_email_input {
        float: left;
        margin-right: flex-gutter();
        margin-top: 12px;
        width: flex-grid(3);
      }
    }
  }
}

body.sessions,
body.users-new,
body.clearance-users {
  #form-container {
    margin: auto;
    width: 300px;

    .github-signin a {
      background: #333;
      border-radius: 3px;
      color: #4183C4;
      color: #fff;
      display: block;
      font-family: $sans-serif;
      margin-bottom: 1rem;
      padding: 1rem;
    }

    .thoughtbot-signin {
      display: block;
    }

    li {
      margin: 0 0 .5em;

      &#user_first_name_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(6);
      }

      &#user_last_name_input {
        float: left;
        width: flex-grid(6);
      }
    }

    input {
      margin: .25em 0;
    }

    input[type="submit"] {
      margin-top: 1em;
      width: 100%;
    }

    .signup-forgot {
      clear: both;
      margin: 0;

      > li {
        display: inline;
        margin-right: 20px;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
