body.users, body.sessions, body.passwords {
  .header-container nav {
    display: none;
  }
}

#auth-form-container {
  .github-signin, .thoughtbot-signin form, .signup-forgot {
    margin: auto;
    max-width: 400px;
    padding: 0 1rem;
  }

  .github-signin a {
    @include prime-button(#444);
    display: block;
    font: 400 1rem/1.2em $sans-serif;
    letter-spacing: 1px;
    margin: 2rem 0;
    padding: 1rem;
    text-transform: uppercase;

    &:after {
      content: url('/assets/GitHub-Mark-32px.png');
      height: 32px;
      left: 14px;
      margin-top: -15px;
      position: absolute;
      top: 50%;
      width: 32px;
    }
  }

  .thoughtbot-signin {
    padding: 2rem 0;

    form {
      margin-bottom: 1rem;
    }
  }

  li {
    margin: 0 0 .5em;

    &#user_first_name_input {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(6);
    }

    &#user_last_name_input {
      float: left;
      width: flex-grid(6);
    }
  }

  input {
    margin: .25em 0;
  }

  input[type="submit"] {
    @include prime-button;
    font: 400 1rem/1.2em $sans-serif;
    height: auto;
    letter-spacing: 1px;
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
  }

  .signup-forgot > li {
    display: inline;
    margin-right: .5rem;

    a {
      text-decoration: none;
    }
  }
}
