<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Coupons", coupons_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to "New Coupon", new_coupon_path %></li>
  </ul>
<% end -%>

<% semantic_form_for @coupon do |form| %>
  <%= render form %>
<% end %>
