<li>
  <label for="reader_1"><%= label %><abbr title="required">*</abbr></label>
  <input type="text" name="purchase[readers][]" class="reader" id="reader_1" required="required" value="<%= purchase.readers.try(:first) %>"/>
  <p class="inline-hints">Be sure to enter a valid GitHub username. Organizations are not allowed.</p>
</li>
