<% if purchaseable.fulfillment_method == "github" %>
  <p>This product is delivered as access to a GitHub repository. Your GitHub user will be added as a collaborator when you press the button below.</p>
<% end %>
