<div class="video-button-wrapper">
  <% if purchase.purchaseable.videos.any? %>
    <%=link_to "Watch or download video", watch_purchase_path(purchase), :class => "button get-video" %>
  <% end %>
</div>
