.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  padding: $small-spacing;
  position: relative;
  text-align: center;

  @media (min-width: $medium-screen) {
    height: 50vh;
    min-height: 540px;
  }
}

.hero--pattern-background {
  &::after {
    @include position(absolute, 0 0 0 0);
    background: linear-gradient( rgba($egyptian-blue, 0.8), rgba($egyptian-blue, 0.15));
    content: "";
    z-index: -1;
  }
}

.hero__tagline {
  color: $white;
  font-size: 1.75rem;
  font-weight: bold;
  margin: $small-spacing 0 $small-spacing;
  transition: font-size $base-duration;

  @media (min-width: $medium-screen) {
    font-size: 3rem;
  }
}

.hero__uvp {
  color: rgba($white, 0.65);
  font-family: $base-font-family;
  font-size: $base-font-size * 1.1;
  line-height: 1.35;
  margin-bottom: $base-spacing;
  max-width: 320px;
  transition: font-size $base-duration;

  strong {
    color: rgba($white, 0.85);
  }

  @media (min-width: $medium-screen) {
    font-size: 1.65rem;
    max-width: 560px;
  }
}
