<div class="access-callout auth-to-access">
  <p><%= t("videos.show.auth_to_access_without_preview_callout_text") %></p>

  <%= link_to github_auth_path, method: :post, class: "cta-button secondary-button" do %>
    <%= image_tag("github-black.svg", class: "github-logo", alt: "") %>
    <%= t("authenticating.github_signin") %>
  <% end %>
</div>
