<div class="access-callout">
  <p><%= text %></p>

  <%= link_to "#{link}", class: "cta-button subscribe-cta" do %>
    <%= image_tag("github-black.svg", class: "logo") %>
    <%= button_text %>
  <% end %>
</div>
