<aside>
  <h3>RESOURCES</h3>
  <hr>
  <ul>
    <li><a href="">This is a resource link</a></li>
    <li><a href="">This is a resource link that is much longer than the previous one</a></li>
    <li><a href="">Another resource link</a></li>
  </ul>
  <div class="text-chat">
    <h3>TEXT CHAT</h3>
    <hr>
    <p>Every product includes support for any questions you may have about the topic. Visit our Campfire chat at any time.</p>
    <a href="" class="button">JOIN CHAT</a>
  </div>

  <h3>VIDEO CHAT SCHEDULE</h3>
  <hr>
  <p>During the following times you can join the teacher and other students in this Google Hangout video chat.</p>
  <h5>Lesson 1</h5>
  <p>MAR 30, 03:30PM (EST)</p>
  <h5>Lesson 2</h5>
  <p>TBD</p>
  <h5>Lesson 3</h5>
  <p>TBD</p>
  <h5>Lesson 3</h5>
  <p>TBD</p>
  <a href="" class="button">JOIN VIDEO CHAT</a>

</aside>
