<div id="discourse-comments"></div>
<% unless Rails.env.test? %>
  <script type="text/javascript">
    var discourseUrl = "<%= Forum.url %>";
    var discourseEmbedUrl = "<%= video_url(video) %>";

    (function() {
      var d = document.createElement("script"); d.type = "text/javascript"; d.async = true;
        d.src = discourseUrl + "javascripts/embed.js";
      (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(d);
    })();
  </script>
<% end %>
