<% if video.preview.present? %>
  <%= render video.preview, name: video.name %>
<% elsif video.part_of_trail? %>
  <div class="title-card">
    <div class="title-card__filter">
      <%= image_tag video.trail.title_card_image, class: "title-card__image" %>
    </div>
  </div>
<% end %>
