<div class="access-callout subscription-required">
  <p><%= t("videos.show.subscribe_to_view_all_callout_text") %></p>

  <%= link_to join_path, class: "cta-button subscribe-cta" do %>
    <span><%= t("videos.show.subscribe_to_view_all_button_text") %></span>
  <% end %>
</div>
