<div class="access-callout subscription-required">
  <p><%= t("videos.show.access_callout_for_preview_text") %></p>

  <%= link_to professional_checkout_path, class: "cta-button subscribe-cta light-bg" do %>
    <span><%= t("videos.show.access_callout_for_preview_button") %></span>
  <% end %>
</div>
