<%= image_tag video.wistia_thumbnail, width: 100, height: 60, alt: video.title, :class => "thumbnail" %>
<div class="thumbnail-text">
  <h3><%= video.title %></h3>
  <p class="videoinfo">
    <em>
      <% if purchase.purchaseable.video_available?(video) %>
        <%= distance_of_time_in_words video.wistia_running_time %>
      <% else %>
        Available on <%= purchase.purchaseable.video_available_on(video).to_s(:simple) %>
      <% end %>
    </em>
  </p>
</div>
