<%= image_tag video.wistia_thumbnail, width: 100, height: 60, alt: video.title, :class => "thumbnail" %>
<div class="thumbnail-text">
  <h3><%= video.title %></h3>
  <p class="videoinfo">
    <em>
      <%= distance_of_time_in_words video.wistia_running_time %>
      <% unless video.available?(purchase.starts_on) %>
        &mdash; Available on <%= video.available_on(purchase.starts_on).to_s(:simple) %>
      <% end %>
    </em>
  </p>
</div>
