<%= image_tag video.wistia_thumbnail, width: 100, height: 60, alt: video.title %>
<p class="videoinfo">
  <span class="title"><%= video.title %></span>,
  <% if purchase.purchaseable.video_available?(video) %>
    <%= video.wistia_running_time %>
  <% else %>
    Available on <%= purchase.purchaseable.video_available_on(video).to_s(:simple) %>
  <% end %>
</p>
