<%= image_tag video.wistia_thumbnail, width: 100, height: 60, alt: video.title, :class => "thumbnail" %>
<div class="thumbnail-text">
  <h3><%= video.title %></h3>
  <p class="videoinfo">
    <em>
      <% if video.available?(purchase.purchaseable.starts_on) %>
        <%= distance_of_time_in_words video.wistia_running_time %>
      <% else %>
        Available on <%= video.available_on(purchase.purchaseable.starts_on).to_s(:simple) %>
      <% end %>
    </em>
  </p>
</div>
