<span class="divider">
  <h4 class="text">Video</h4>
</span>

<div class="video-player">
  <%= render "videos/access_callout", video: video %>
  <%= render "preview_clip_or_image", video: video %>
</div>
