<%= render video.clip %>

<% if video.has_notes? %>
  <div class="text-box">
    <section class='video-notes'>
      <h3>Notes</h3>
      <%= raw(video.notes_html) %>
    </section>
  </div>
<% end %>
