<% content_for :subject, @purchase.purchaseable_name %>

<h3 class="video-headline">Watch or Download Video</h3>
<h2 class="video-headline">
  <%= pluralize @purchase.purchaseable.videos.size, 'video' %> in the series
</h2>

<section id="videos">
  <%= render @purchase.purchaseable.videos.ordered, purchase: @purchase %>
</section>

<%= render 'videos/footer' %>
