<% content_for :subject, @purchase.purchaseable_name %>
    <h2>Watch or Download Video</h2>
    <h3 class="workshop-type"><%= pluralize @purchaseable.videos.size, 'video' %> in the series</h3>
<div class="text-box-wrapper">

    <section id="videos">
      <%= render @purchaseable.videos.ordered, purchase: @purchase %>
    </section>
</div>

<%= render sidebar_partial_name(@purchaseable), purchaseable: @purchaseable %>

