<% content_for :subject, @purchaseable.name %>

<div class="text-box-wrapper">
  <div class="text-box">
    <h3 class="video-headline">Watch or Download Video</h3>
    <%= render 'watch_video', video: @video, purchaseable: @purchaseable %>
  </div>
</div>

<%= render "#{@purchaseable.product_type.pluralize}/aside", purchaseable: @purchaseable, purchase: @purchase %>
