<% content_for :subject, @purchaseable.name %>

<div class="text-box-wrapper">
  <div class="text-box">
  	<hgroup class="product-title">
      <h2 class="video-headline">Watch or Download Video</h2>
    </hgroup>
    <%= render 'watch_video', video: @video, purchase: @purchase %>
  </div>
</div>

<%= render "#{@purchaseable.product_type.pluralize}/aside", purchaseable: @purchaseable, purchase: @purchase %>
