<% content_for :subject, @purchase.purchaseable_name %>

<div class="text-box-wrapper">
  <div class="text-box">

    <% if @video.available?(@purchaseable.starts_on) %>
      <div class="purchase-return-link">
        <%= link_to "Back", @purchase %>
      </div>

      <h3 class="video-headline">Watch or Download Video</h3>

      <%= render 'watch_video', video: @video %>
    <% else %>
      <p>This video is not yet available. It will be released on <%= @video.available_on(@purchaseable.starts_on).to_s(:simple) %></p>
    <% end %>

  </div>
</div>

<%= render sidebar_partial_name(@purchaseable), purchaseable: @purchaseable %>
