<% content_for :page_title, @video.name.html_safe %>
<% content_for :additional_content_classes, "content-narrow" %>

<% content_for :subject_block do %>
  <h1><%= @video.name %></h1>
  <h2 class="parent-collection">
    <%= link_to @video.watchable_name, @video.watchable %>
  </h2>
<% end %>

<% if @video.part_of_trail? %>
  <%= render "trails/progress",
      trail: TrailWithProgress.new(
        @video.trail,
        user: current_user,
        status_finder: StatusFinder.new(user: current_user)
      ) %>
<% end %>

<span class="divider">
  <h4 class="text">Video</h4>
</span>

<%= render "watch_video", video: @video %>
