<% content_for :additional_content_classes, 'fullscreen' %>
<% if @purchaseable.collection? %>
  <% content_for :additional_header_links do %>
    <li class="all-videos"><%= link_to 'All Videos', @purchase %></li>
  <% end %>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @purchaseable.name %></h1>
  <h2 class="tagline">
    <% if @purchaseable.collection? %>
      <%= @video.title %>
    <% else %>
      Watch or download video
    <% end %>
  </h2>
<% end %>

<%= render 'watch_video', video: @video, purchase: @purchase %>
