<% content_for :page_title, @video.title.html_safe %>

<% if @watchable.collection? %>
  <% content_for :additional_header_links do %>
    <li class="all-videos"><%= link_to 'All Videos', @video.watchable %></li>
  <% end %>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @video.watchable_name %></h1>
  <h2 class="tagline">
    <% if @video.watchable.collection? %>
      <%= @video.title %>
    <% else %>
      Watch or download video
    <% end %>
  </h2>
<% end %>

<%= render "watch_video", video: @video %>
