<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Watch or Download Video</h1>
    <h2> <%= @video.product.name %> - <%= @video.title %></h2>
    <%= render @video %>
  </section>
</section>
<div id="flash"></div>
