<% content_for :subject, @purchase.purchaseable_name %>

<h3 class="video-headline">Watch or Download Video</h3>

<% if @purchase.purchaseable.video_available?(@video) %>
  <%= render 'watch_video', video: @video, purchase: @purchase %>
<% else %>
  <p>This video is not yet available. It will be released on <%= @purchase.purchaseable.video_available_on(@video).to_s(:simple) %></p>
<% end %>


<%= render 'videos/footer' %>
