<%= render 'learn_header', subject: @product.name %>

<section id="promo-wrapper">
  <h3 class="video-headline">Watch or Download Video</h3>
  <%= render @video %>
</section>

<%= render 'videos/footer' %>
