<% if flash.any? %>
  <div class="flashes">
    <% flash.each do |key, value| -%>
      <div class="flash <%= key %>">
        <%= value %>
      </div>
    <% end -%>

  <% if flash[:purchase_amount] %>
     <% content_for :javascript do %>
       <%= render 'conversions/purchased',
             purchase_amount: flash[:purchase_amount],
             purchase_name: flash[:purchase_name] %>
     <% end %>
   <% end %>
  </div>
<% end %>
