<% if flash.any? %>
  <div class="flashes">
    <% (flash.keys & [:success, :info, :notice, :error]).each do |key| -%>
      <div class="flash <%= key %>">
        <%= flash[key] %>
      </div>
    <% end -%>
  </div>
<% end %>
