<footer id="main-footer">
  <nav>
    <section id="workshops-footer">
      <h3>workshops</h3>
      <ul>
        <li><a href="/pages/directions">Directions</a></li>
        <li><a href="mailto:workshops@thoughtbot.com">Contact</a></li>
      </ul>
    </section>

    <section id="thoughtbot-footer">
      <h3>thoughtbot</h3>
      <ul>
        <li><a href="http://thoughtbot.com/">Home</a></li>
        <li><a href="http://thoughtbot.com/jobs">Jobs</a></li>
        <li><a href="http://thoughtbot.com/community">Community</a></li>
        <li><a href="http://thoughtbot.com/about">About</a></li>
        <li><a href="http://playbook.thoughtbot.com">Playbook</a></li>
        <li><a href="http://robots.thoughtbot.com/">Blog</a></li>
      </ul>
    </section>

    <section id="footer-products">
      <h3>Products</h3>
      <ul>
        <li><a href="https://www.apptrajectory.com">Trajectory</a></li>
        <li><a href="http://airbrake.io">Airbrake</a></li>
        <li><a href="https://copycopter.com">Copycopter</a></li>
      </ul>
    </section>

    <section id="blog-footer">
      <h3>Blog</h3>
      <ul>
        <li><a href="http://robots.thoughtbot.com">Giant Robots Smashing Into Other Giant Robots</a></li>
      </ul>
    </section>
  </nav>

    <p id="copyright">&copy; 2012 thoughtbot, inc. The <em>design of a robot</em> and <em>thoughtbot</em> are trademarks of thoughtbot,&nbsp;inc.
      <%= render :partial => 'shared/admin_sign_out' %>
    </p>
</footer>

