<li><%= link_to "Stop Masquerading",
                masquerade_path,
                title: "Masquerading #{current_user.email}",
                method: :delete,
                class: "site-nav__link" %></li>
