<meta charset="utf-8" />
<title>thoughtbot workshops</title>
<%= stylesheet_link_tag 'reset', 'defaults', 'type', 'forms', 'tables',
                        'lists', 'screen', :cache => true %>
<link rel="icon" href="/favicon.ico" type="image/x-icon">