<div class="text-chat">
  <h3>Text Chat</h3>
  <hr>
  <p>Every <%= purchaseable.product_type %> includes support for any questions you may have about the topic. Visit our Campfire chat at any time.</p>
  <%= link_to "Join Chat", CHAT_LINK, class: 'button' %>
</div>
