<% if current_user_has_active_subscription? %>
  <div class="forum">
    <h3>Forum</h3>
    <hr>
    <p>Your subscription includes support for any questions you may have about the topic.</p>
    <%= link_to "Visit Forums", forum_url, class: 'button' %>
  </div>
<% end %>
