<section class="learn-detail-content credits">
  <div>
    <p><em>The Giant Robots Smashing into Other Giant Robots podcast is sponsored by <a href="http://thoughtbot.com">thoughtbot</a>, hosted by <a href="http://codeulate.com/">Ben Orenstein</a>, recorded by <a href="http://thoughtbot.com/about/#squental">Seana Quental</a>, edited by <a href="http://edwardloveall.com/">Edward Loveall</a>, and produced by <a href="http://chadpytel.com/">Chad&nbsp;Pytel</a>.</em></p>
  </div>
</section>
