<% content_for :subject, t('shared.podcast') %>
<%= render 'introduction' %>

<div class="text-box-wrapper">
  <div class="text-box">
    <hgroup class="product-title">
      <h2>All episodes</h2>
    </hgroup>
    <%= render @episodes %>
  </div>
</div>

<aside>
  <%= render 'credits' %>
</aside>
