<%= render 'header' %>

<section class="learn-detail-content">
  <%= render 'introduction' %>
    <div class="learn-text-box-wrapper">
      <%= render @episodes %>
    </div>
  <%= render 'credits' %>
</section>
