<% content_for :subject, t('shared.podcast') %>
<%= render 'introduction' %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%= render @episodes %>
  </div>
</div>

<aside>
  <%= render 'credits' %>
</aside>
