<% if @workshop.online %>
  <%= render "sections/online_section", collection: @sections %>
<% else %>
  <%= render "sections/in_person_section", collection: @sections %>
  <p class="travel">
    <%= link_to "Have us book your travel and hotel.", 'mailto:workshops@thoughtbot.com?subject=Booking travel for workshop' %>
  </p>
<% end %>
