<section class="section-location">
  <div class="when">
    <h3>When</h3>
    <p>TBD</p>
  </div>

  <div class="address">
    <h3>Where</h3>
    <p>TBD</p>
  </div>

  <div id="register">
    <a href="#new_follow_up" id="register-button">Get notified</a>
  </div>
</section>
