<ul id="teachers">
  <% teachers.each do |teacher| %>
    <% content_tag(:li, teacher) do %>
      <%= teacher_gravatar(teacher, 92) %>
      <h5><%=h teacher.name %></h5>
      <p class="bio">
        <%= teacher.bio %>
      </p>
    <% end %>
  <% end %>
</ul>
