.background {
  @include position(absolute, 0);
  z-index: -1;
}

.background--upcase-hero {
  background-color: $blue;
  background-image: asset-url("marketing/upcase-background.svg");
}

.background--upcase-light {
  background-image: asset-url("marketing/upcase-background--light.svg");
  background-position: top right;
}
