.background {
  position: relative;

  &::after,
  &::before {
    @include position(absolute, 0);
    background-position: top right;
    content: "";
    z-index: -1;
  }
}

.background--upcase-logo-light {
  border-bottom: 1px solid #ecf1ff;

  &::before {
    background-color: $color-blue-lightest;
    background-image: asset-url("marketing/upcase-background.svg");
    background-size: 25%;
  }
}

.background--upcase-logo-dark {
  &::before {
    background-image: asset-url("marketing/upcase-background--light.svg");
  }
}

.background--elixir-logo {
  &::before {
    background-image: asset-url("marketing/upcase-background--elixir.svg");
  }
}

.background--python-logo {
  &::before {
    background-image: asset-url("marketing/upcase-background--python.svg");
  }
}

.background--react-logo {
  &::before {
    background-image: asset-url("marketing/upcase-background-react.svg");
  }
}

.background--swift-logo {
  &::before {
    background-image: asset-url("marketing/upcase-background-swift.svg");
  }
}

.background--light-gradient-cover-top-half {
  &::after {
    background: linear-gradient(rgba($white, 1), rgba($white, 0));
  }
}

.background--light-gradient-cover-bottom-half {
  &::after {
    background: linear-gradient(rgba($white, 0), rgba($white, 1));
  }
}

.background--dark-gradient-cover-top-half {
  &::after {
    background: linear-gradient(rgba(#ffffff, 1), rgba(#FAFBFD, 0));
  }
}

