.button {
  background-color: $color-red;
  border: 1px solid $color-red-darkest;
  border-radius: $base-border-radius;
  box-shadow: $base-button-shadow;
  color: $color-white;
  display: inline-block;
  font-family: $strong-font-family;
  font-size: 1.25rem;
  line-height: 1;
  padding: $base-spacing $large-spacing ($base-spacing * 1.15);
  text-align: center;
  text-decoration: none;
  transition-duration: $base-duration * 2;
  transition-property: transform, color, background-color, box-shadow;
  transition-timing-function: $ease-in-out-sine;

  &:hover {
    box-shadow: 0 4px 1.25rem $color-red-darker;
    color: $color-white;
    cursor: pointer;
    transform: translateY(-4px);
  }

  &:active {
    background-color: $color-red-darker;
    box-shadow: 0;
    color: $color-white;
    transform: translateY(0);
    transition: none;
  }

  &:focus {
      color: $color-white;
  }
}

.button--large {
  padding: $base-spacing $large-spacing;
}

.button--on-dark {
  box-shadow: $color-red-darker;

  &:hover {
    box-shadow: 0 4px 1.5rem darken($color-red-darker, 20%);
  }
}

.button--on-red {
  background-color: $color-gray-darkest;
  border-radius: $base-border-radius;
  box-shadow: 0 0.25rem 0.5rem $color-red-darkest;
  color: $color-white;

  &:hover {
    background-color: $color-gray-darkest;
    box-shadow: 0 0.5rem 1rem $color-red-darkest;
  }

  &:active {
    box-shadow: 0;
    color: $color-white;
    transform: translateY(0);
  }
}
