.button {
  background-color: $base-button-background-color;
  border: 0;
  border-radius: $base-border-radius;
  box-shadow: $base-button-shadow;
  color: $base-button-color;
  display: inline-block;
  font-family: $strong-font-family;
  font-size: 1.25rem;
  line-height: 1;
  padding: $base-spacing $large-spacing ($base-spacing * 1.15);
  text-align: center;
  text-decoration: none;
  transition-duration: $base-duration * 2;
  transition-property: transform, color, background-color, box-shadow;
  transition-timing-function: $ease-in-out-sine;

  &:hover {
    box-shadow: 0 4px 1.5rem rgba($caribbean-green, 0.7);
    color: $base-button-color;
    cursor: pointer;
    transform: translateY(-4px);
  }
}

.button--large {
  padding: $base-spacing $large-spacing;
}

.button--on-dark {
  box-shadow: $dark-button-shadow;

  &:hover {
    box-shadow: 0 4px 2.5rem $egyptian-blue;
  }
}
