.category-card {
  align-items: center;
  border-bottom: 5px solid $upcase-blue;
  display: flex;
  margin: $small-spacing 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: transform $base-duration;
  width: 10.5rem;

  @media (min-width: $small-screen) {
    @include margin($small-spacing);
    flex-direction: column;
    padding: $base-spacing;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5%);

    &::after {
      @include position(absolute, null 0 -5px 0);
    }
  }

  &::after {
    @include position(absolute, null 50% -5px 50%);
    @include border-bottom-radius($base-border-radius);
    content: "";
    height: 6px;
    transition: left $base-duration, right $base-duration;
  }
}

.category-card__title {
  color: $light-font-color;
  display: block;
  font-size: $base-font-size;
}

.category-card__image {
  @include size(4rem);
  margin-right: $base-spacing;

  @media (min-width: $small-screen) {
    @include size(auto);
    margin-right: 0;
  }
}

@each $category, $color in (
  "clean-code": $category-clean-code-color,
  "design": $category-design-color,
  "git": $category-git-color,
  "haskell": $category-haskel-color,
  "ios": $category-ios-color,
  "javascript": $category-javascript-color,
  "ruby-on-rails": $category-ruby-on-rails-color,
  "testing": $category-testing-color,
  "tmux": $category-tmux-color,
  "vim": $category-vim-color,
) {
  .category-card--#{$category} {
    border-bottom-color: $color;

    &::after {
      background-color: darken($color, 12%);
    }
  }
}
