.category-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: $x-small-spacing;
  padding: $small-spacing;
  position: relative;
  text-decoration: none;
  transition: transform $base-duration;
  width: calc(50% - #{$small-spacing});

  @media (min-width: $small-screen) {
    margin: $small-spacing;
    padding: $base-spacing $base-spacing $medium-spacing;
    width: 10.5rem;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5%);

    &::after {
      @include position(absolute, null 0 0);
    }
  }

  &::before,
  &::after {
    @include border-bottom-radius($base-border-radius);
    content: "";
    height: 6px;
    transition: left $base-duration, right $base-duration;
  }

  &::after {
    @include position(absolute, null 50% 0);
  }

  &::before {
    @include position(absolute, null 0 0);
  }
}

.category-card__title {
  color: $light-font-color;
  display: block;
  font-size: $small-font-size;
}

.category-card__image {
  @include size(3rem);

  @media (min-width: $small-screen) {
    @include size(5rem);
    margin: $base-spacing;
  }
}

@each $category, $color in $category-color-list {
  .category-card--#{$category} {
    &::before {
      background-color: $color;
    }

    &::after {
      background-color: darken($color, 12%);
    }
  }
}
