.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  padding: ($site-header-height + $small-spacing) $small-spacing $x-large-spacing;
  position: relative;

  @media (min-width: $medium-screen) {
    height: 65vh;
    min-height: 580px;
  }
}

.hero--pattern-background {
  &::after {
    @include position(absolute, 0 0 0 0);
    background: linear-gradient(
      rgba($egyptian-blue, 0.75),
      rgba($egyptian-blue, 0)
    );
    content: "";
    z-index: -1;
  }
}

.hero--upcase-background {
  &::after {
    @include position(absolute, 0 0 0 0);
    background: linear-gradient(rgba($blue, 1), rgba($blue, 0));
    content: "";
    z-index: -1;
  }
}

.hero__tagline {
  color: $white;
  font-family: $title-font-family;
  font-size: 1.75rem;
  margin: $base-spacing 0;
  transition: font-size $base-duration;

  @media (min-width: $medium-screen) {
    font-size: 3rem;
  }
}

.hero__uvp {
  color: rgba($white, 0.65);
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $large-spacing;
  max-width: 320px;
  text-align: center;
  transition: font-size $base-duration;

  strong {
    color: rgba($white, 0.9);
  }

  @media (min-width: $medium-screen) {
    font-size: 1.45rem;
    max-width: $reading-width;
  }
}
