.marketing-video {
  background: $white;
  border-radius: $base-border-radius;
  box-shadow: $base-content-shadow;
  margin: 0 auto;
  max-width: 40rem;
  overflow: hidden;
  padding: 1rem;

  @media (min-width: $medium-screen) {
    padding: 0;
  }
}

.marketing-video__video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}
