<section class="page-section background background--logo-on-light
  background--mobile">
  <div class="page-content">
    <h2 class="page-content__heading">
      Learn on-the-go with videos and flashcards.
    </h3>

    <p class="page-content__intro">
      Sitting on a bus, communiting in a train, or waiting in line.<br/>
      <mark>learn anywhere with videos and flashcards</mark> on your mobile
      device.
    </p>

    <p class="page-content__intro">
      <%= link_to(
        "Start Learning Today", professional_checkout_path, class: "button"
      )%>
    </p>
  </div>
</section>
