<section id="workshop-details">
  <section id="register">
    <h3>Download the audio in two parts:</h3>
    &nbsp;
    <!-- TODO: Once files are processed, upload to S3 or something and update links -->
    <p class="highlight"><a href="https://thoughtbot.basecamphq.com/projects/2220516/file/99065146/Backbone%20js-Part%201ss.m4a">Part 1: DRM-free AAC, 60 minutes</a></p>
    &nbsp;
    <p class="highlight"><a href="https://thoughtbot.basecamphq.com/projects/2220516/file/99065147/Backbone%20js-Part%202_ss.m4a">Part 2: DRM-free AAC, 38 minutes</a></p>
    &nbsp;
    <h3>Don't have the eBook yet?</h3>
    <p class="highlight"><a href="/backbone-js-on-rails">Read a free sample or buy it now.</a></p>
  </section>
</section>
