<section id="purchasing-details">
  <section id="register">
    <h3>Download the audio in two parts:</h3>
    &nbsp;
    <p class="highlight"><a href="http://ui.thoughtbot.com/assets/backbone_js_rails_chat_episode_1_part_1.m4a">Part 1: DRM-free AAC, 60 minutes</a></p>
    &nbsp;
    <p class="highlight"><a href="http://ui.thoughtbot.com/assets/backbone_js_rails_chat_episode_1_part_2.m4a">Part 2: DRM-free AAC, 38 minutes</a></p>
    &nbsp;
    <h3>Don't have the eBook yet?</h3>
    <p class="highlight"><a href="/backbone-js-on-rails">Read a free sample or buy it now.</a></p>
  </section>
</section>
