<div class="top">
  <div class="wrapper">
    <h2>Admin</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div id="admin-nav" class="clearfix">
      <ul>
        <li><a href="/pages/admin-courses">Courses</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="/pages/admin-course">Ruby on Rails</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="/pages/admin-section">August 9-11, 2010</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="#">New Teacher</a></li>
      </ul>
    </div>
    <div class="dark-content clearfix">
      <h3>New Teacher</h3>
      <input type="submit" value="Save New Teacher">
    </div>
  </div>
</div>