<div class="top">
  <div class="wrapper">
    <h2>Admin</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div id="admin-nav" class="clearfix">
      <ul>
        <!-- no breadcrumbs on Courses list page -->
        <li><span>Courses</span></li>
        
        <!-- breadcrumbs on all other pages, yo. -->
        <% if false %>
        <li><a href="#">Courses</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="#">Ruby on Rails</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="#">August 9-11, 2010</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="#">Students</a></li>
        <% end %>
      </ul>
      <a href="#" id="new-course">New Course</a>
    </div>
    <div class="dark-content">
      <div class="course-list">
        <h3>
          <a href="#">Ruby On Rails</a>
          <a href="#" class="new-section">New Section</a>
        </h3>
        <ul>
          <li><a href="#">August 9-11, 2010</a></li>
          <li><a href="#">July 7-9, 2010</a></li>
          <li><a href="#">June 18-20, 2010</a></li>
        </ul>
      </div>
      <div class="course-list">
        <h3>
          <a href="#">jQuery</a>
          <a href="#" class="new-section">New Section</a>
        </h3>
        <ul>
          <li><a href="#">First Class</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>