<div class="top">
  <div class="wrapper">
    <h2>Admin</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div id="admin-nav" class="clearfix">
      <ul>
        <!-- no breadcrumbs on Courses list page -->
        <li><span>Courses</span></li>
      </ul>
      <a href="/pages/admin-new-course" id="new-course">New Course</a>
    </div>
    <div class="dark-content">
      <div class="course-list">
        <h3>
          <a href="/pages/admin-course">Ruby On Rails</a>
          <a href="/pages/admin-new-section" class="new-section">New Section</a>
        </h3>
        <ul>
          <li><a href="/pages/admin-section">August 9-11, 2010</a></li>
          <li><a href="/pages/admin-section">July 7-9, 2010</a></li>
          <li><a href="/pages/admin-section">June 18-20, 2010</a></li>
        </ul>
      </div>
      <div class="course-list">
        <h3>
          <a href="/pages/admin-course">jQuery</a>
          <a href="/pages/admin-new-section" class="new-section">New Section</a>
        </h3>
        <ul>
          <li><a href="/pages/admin-section">First Class</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>