<div class="top">
  <div class="wrapper">
    <h2>Admin</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div id="admin-nav" class="clearfix">
      <ul>
        <li><a href="/pages/admin-courses">Courses</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="/pages/admin-course">Ruby on Rails</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="/pages/admin-section">August 9-11, 2010</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="#">New Teacher</a></li>
      </ul>
    </div>
    <div id="new-teacher-form" class="dark-content clearfix">
      <h3>New Teacher</h3>
      <ol class="clearfix">
        <li id="teacher-photo">
          <label>Photo</label>
          <input type="file" />
        </li>
        <li>
          <label>Name</label>
          <input type="text" />
        </li>
        <li>
          <label>Link Title</label>
          <input type="text" />
        </li>
        <li>
          <label>Bio</label>
          <textarea placeholder="limit 150 characters" ></textarea>
        </li>
        <li>
          <label>Link URL</label>
          <input type="text" />
        </li>
      </ol>
      <input type="submit" value="Save New Teacher">
    </div>
  </div>
</div>