<div class="top">
  <div class="wrapper">
    <h2>Admin</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div id="admin-nav" class="clearfix">
      <ul>
        <li><a href="/pages/admin-courses">Courses</a></li>
        <li class="raquo">&raquo;</li>
        <li><a href="/pages/admin-course">Ruby on Rails</a></li>
      </ul>
      <a href="/pages/admin-new-course" id="new-course">New Course</a>
    </div>
    <div class="dark-content clearfix">
      <ol class="clearfix">
        <li>
          <label>Course Name</label>
          <input type="text" value="Ruby on Rails" />
        </li>
        <li id="course-description-li">
          <label>Course Description</label>
          <textarea></textarea>
        </li>
        <div id="course-details-right">
          <li id="course-price-li">
            <label>Price</label>
            <input type="text" value="1,000" />
          </li>
          <li>
            <label>Location Name</label>
            <input type="text" value="thoughtbot" />
          </li>
          <li>
            <label>Location Address</label>
            <input type="text" value="41 Winter Street Boston, MA 02108" />
          </li>
        </div>
      </ol>
      <div id="faq-form" class="clearfix">
        <h3>FAQ</h3>
        <ul>
          <li>
            <input type="text" placeholder="Question" />
            <textarea placeholder="Answer" ></textarea>
          </li>
        </ul>
        <a href="#" id="add-question">Add Question</a>
      </div>
      <div id="terms-form">
        <h3>Terms &amp; Conditions</h3>
        <textarea></textarea>
      </div>
      <div id="email-form">
        <h3>Reminder Email</h3>
        <textarea></textarea>
      </div>
      <input type="submit" value="Save Course" />
    </div>
  </div>
</div>