      <section id="head-wrapper"> 
    <section id="homepage-top"> 

      <section id="course-info"> 
        <h2>Backbone.js on Rails</h2> 

        <section id="course-description"><p>The intro to Ruby and Rails workshop is designed for student with very little experience with Ruby or Rails. Students will learn the core of Ruby followed by how to develop applications using Rails.</p></section> 

          <section id="faq"> 
    <dl> 
        <dt><p>What level of programming experience should I have before taking this workshop?</p></dt> 
        <dd><p>While we recommend that students taking this workshop have some general programming experience, you don’t need to have any prior experience with Ruby or Rails. A familiarity with the basic concepts of <span class="caps">OOP</span> is useful as well.</p> 
<p>The typical student for this workshop leaves here with knowledge of how to create a basic Rails application and is ready to move on to more complicated rails applications.</p></dd> 
        <dt><p>What is the instructor to student ratio?</p></dt> 
        <dd><p>We try to maintain a 1:6 ratio; that is, for a workshop of eight students we have one or two instructors, and for fourteen students we have two or three instructors.</p></dd> 
        <dt><p>How hands-on is it?</p></dt> 
        <dd><p>This workshop is very hands on. We focus on building an application “outside in” as a group. The workshop will be equal parts of explanation and producing code.</p></dd> 
        <dt><p>What do I need to bring?</p></dt> 
        <dd><p>Yourself and an eagerness to learn. We provide breakfast, lunch, and a laptop. You maybe wish to bring a notepad and pen and perhaps a <span class="caps">USB</span> key (though you could also push to Github).</p></dd> 
        <dt><p>How can I ask you more questions?</p></dt> 
        <dd><p>Email us at workshops@thoughtbot.com.</p></dd> 
    </dl> 
  </section> 
 
      </section> 
 
      <section id="workshop-details"> 
        <section id="register">
            <a href="/sections/2/registrations/new" id="register-button"> 
              Get access
</a>        </section> 


        <section id="register">
            <a href="/sections/2/registrations/new" id="register-button"> 
              Get access
</a>        </section> 
      </section> 
 
    </section> 
  </section> 


    <div id="flash"> 
</div> 



<section id="additional-information"> 
  <section id="additional-information-wrapper"> 
    <section id="main-content"> 
      <section id="terms"> 
        <h4 class="terms">Terms and conditions</h3> 
        <p>By registering for this workshop you agree to the following terms and conditions:</p> 
        <ul>
        <li>If you&rsquo;re not happy with a workshop you took, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</li>
        <li>The ticket will entitle the named holder entrance to this event.</li> 
        <li>Tickets may not be resold and are non-transferrable.</li> 
        <li>Tickets are refundable up until 1 week before the start of the workshop.</li> 
        <li>We may film, take photographs, and use your feedback for marketing purposes.</li> 
        <li>thoughtbot, inc. will not be liable for any direct or indirect damage of any nature arising out of the cancellation of the event.</li> 
        </ul> 
      </section> 
    </section> 
 
    <section id="sidebar"> 
 
    </section> 
  </section> 
</section> 

