<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Backbone.js Q&amp;A Live Chat &ndash; October 14, 2011</h1>
    <section id="course-info">
      <h2>More great Backbone.js on Rails content, available for free</h2>

      <section>
        <p>We hosted a two-hour live Q&amp;A session with one of our <a href="http://workshops.thoughtbot.com/backbone-js-on-rails">Backbone.js on Rails eBook</a>'s co-authors, Jason Morrison.  We invited people who have downloaded the book to submit questions ahead of time, and then join us in chat for a discussion. We're pleased to offer this as a free resource.</p>

        <h3>Topics discussed</h3>
        <ul class="two-column">
          <li>Introductory resources</li>
          <li>File uploads</li>
          <li>Relations</li>
          <li>Nested models</li>
          <li>View composition</li>
          <li>Using require.js</li>
          <li>Pagination</li>
          <li>Rails and Backbone Views</li>
        </ul>
        <ul class="two-column">
          <li>Forms with nested attributes</li>
          <li>Internationalization (i18n)</li>
          <li>Testing and DOM duplication</li>
          <li>Multi-tier apps, WebSockets, scalability</li>
          <li>Addressing memory and reference leaks</li>
          <li>BDD/TDD tools and approaches</li>
          <li>Stateful MVC and wizards</li>
          <li>KVO binding</li>
        </ul>
      </section>

      <section id="backbone-live-chat-show-notes">
        <h3>Show notes</h3>
        <ul class="two-column">
          <li><a href="https://github.com/moxiecode/plupload">Plupload JavaScript upload library</a></li>
          <li><a href="https://github.com/PaulUithol/Backbone-relational">Backbone-relational plugin</a></li>
          <li><a href="http://documentcloud.github.com/backbone/">Backbone.js official docs</a></li>
          <li><a href="http://documentcloud.github.com/backbone/docs/backbone.html">Backbone.js annotated sourcecode</a></li>
          <li><a href="https://groups.google.com/group/backbonejs">Backbone.js unofficial google group</a></li>
          <li><a href="http://jayunit.net/backbone-js-on-rails-talk/">Jason Morrison's Backbone.js on Rails talk slides</a></li>
          <li><a href="https://github.com/jasonm/chat_app">Example chat application with Jasmine and capybara-webkit testing</a></li>
          <li><a href="https://gist.github.com/705733">PaginatedCollection rough draft</a></li>
          <li><a href="https://github.com/documentcloud/backbone/wiki/Extensions%2C-Plugins%2C-Resources">Collection of Backbone.js extensions and plugins</a></li>
          <li><a href="https://github.com/powmedia/backbone-forms">Backbone-forms plugin</a></li>
          <li><a href="https://github.com/fnando/i18n-js">Internationalization i18n.js library</a></li>
          <li><a href="http://stackoverflow.com/questions/4893720/faye-vs-socket-io-and-juggernaut">Thread on Faye vs Juggernaut vs Socket.IO</a></li>
          <li><a href="https://github.com/jasonm/backbone_sync-rails">backbone_sync-rails Rails/Faye push library</a></li>
          <li><a href="https://github.com/logankoester/backbone_sync-rails">backbone_sync-rails fork to support Pusherapp</a></li>
        </ul>
        <ul class="two-column">
          <li><a href="http://lostechies.com/derickbailey/2011/09/15/zombies-run-managing-page-transitions-in-backbone-apps/">Derick Bailey's blog post on dangling bindings/references</a></li>
          <li><a href="http://stackoverflow.com/questions/7715666/possible-memory-leaks-in-internet-explorer-7-backbone">StackOverflow discussion of memory leaks being exhibited in IE8</a></li>
          <li><a href="https://groups.google.com/group/backbonejs/browse_thread/thread/dd9166fa5b5e37e0">Google Group thread on memory leaks</a></li>
          <li><a href="http://pivotal.github.com/jasmine/">Jasmine JavaScript BDD tool</a></li>
          <li><a href="http://sinonjs.org/">Sinon.js stub/mock/spy tool</a></li>
          <li><a href="https://github.com/froots/jasmine-sinon">Jasmine-sinon matcher library</a></li>
          <li><a href="https://github.com/velesin/jasmine-jquery">Jasmine-jquery matcher library</a></li>
          <li><a href="https://github.com/bradphelan/jasminerice">jasminerice gem for accessing the 3.1 asset pipeline from Jasmine specs</a></li>
          <li><a href="https://github.com/netzpirat/guard-jasmine">guard-jasmine gem to run Jasmine headlessly and autotest-like</a></li>
          <li><a href="https://github.com/guard/guard-livereload">guard-livereload gem</a></li>
          <li><a href="https://github.com/bruth/synapse">Backbone KVO plugin synapse</a></li>
          <li><a href="https://github.com/derickbailey/backbone.modelbinding">Derick Bailey's Backbone.modelbinding plugin</a></li>
        </ul>
      </section>

      <section id="backbone-live-chat-show-notes">
        <h3>Full list of questions and prepared discussion notes</h3>
        <p>We asked folks who had purchased the eBook to submit questions prior to the talk, so they had time to form well-developed, articulate questions and so we had time to consider and prepare responses and resources.  You can read <a href="/pages/backbone-js-on-rails-qa-live-chat-1-notes">the full and unedited notes</a> to get a feel for the content before listening.</p>
      </section>
    </section>

    <%= render partial: 'pages/backbone-js-on-rails-video-chat-1-sidebar' %>

  </section>
</section>



<div id="flash"></div>
