<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Backbone.js on Rails eBook</h1>
    <section id="course-info">
      <h2>Build snappier, more interactive apps with cleaner code and better tests in less time.</h2>

      <section id="course-description">
        <h3 style="margin-bottom: 20px;">Read a free sample from the book: <a style="font-size: 18px; font-weight: 700;" href="http://ui.thoughtbot.com/assets/backbone-js-on-rails-thoughtbot-ebook-august-2011-sample.html">HTML</a> | <a style="font-size: 18px; font-weight: 700;" href="http://ui.thoughtbot.com/assets/backbone-js-on-rails-thoughtbot-ebook-august-2011-sample.pdf">PDF</a></h3>
        <p>
          You build web apps, and you've seen the shift towards highly interactive, rich client-side web applications.  Over the past years, we've seen the same things, and have built our apps, processes, and best practices around this.  Learn the better way to build rich, interactive applications using Backbone.js and Rails.
        </p>

        <h3>It's more than your average eBook</h3>
        <p>
          We're writing an eBook that covers intermediate to advanced topics on using Backbone.js, including content specific to integrating with Rails applications. We're writing it using <a href="https://github.com/schacon/git-scribe">git-scribe</a>, committing the book into GitHub, and giving you access from day one.  This isn't a finished book yet &ndash; but that's the best part! You get full access to the GitHub repository as we write, so you'll use the GitHub comment and issue features to give us feedback about what we've written and what you'd like to see.  Give us your toughest Backbone.js questions, and we'll see what we can do. Last but not least, also included is a complete sample Backbone.js and Rails application. What the book describes and explains, the example app demonstrates with real, working code. Fully up to date for Rails 3.1.
        </p>
      </section>

      <section id="benefits">
        <h3>You'll learn to&hellip;</h3>
        <dl>
          <dt><p>Deliver functionality on the client side for lightning fast applications and awesome native-app-like usability.</p></dt>
          <dd><p>Your customers use your app day-in and day-out: are they switching to the competition because your app is clunky, with full page refreshess and poor interactivity?  Push business logic into the browser and make your app crazy snappy.</p></dd>
          <dt><p>Build faster, more interactive web apps &mdash; even on mobile!</p></dt>
          <dd><p>Create mobile apps that load blazing fast: Backbone.js and its dependencies are super tiny.  Learn how to choose the right dependencies and shed even more KBs.</p></dd>
          <dt><p>Do it all without compromising and writing messy, disorganized code.</p></dt>
          <dd><p>Is your JavaScript-heavy web app getting out of control?  Technical debt everywhere?  Are you using the DOM for persistence, and going crazy with layers and layers of jQuery form-parsing and ajax-submitting code?  Clean up your client-side code by following conventions, using software patterns you're familiar with, and refactoring to reusable modules.</p></dd>
        </dl>
      </section>

      <section id="table-of-contents">
        <h3>As of November 9, 2011, here's our table of contents and the progress for each section:</h3>
        <ul>
        
          <li>
          <h3>Introduction</h3>
            
            <ul>
              
              <li>Why use Backbone.js</li>
              
              <li>The Example Application</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Getting up to speed</h3>
            
            <ul>
              
              <li>Backbone.js online resources</li>
              
              <li>JavaScript online resources and books</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Organization</h3>
            
            <ul>
              
              <li>Backbone.js and MVC</li>
              
              <li>What Goes Where</li>
              
              <li>Namespacing your application</li>
              
              <li>Mixins</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Rails Integration</h3>
            
            <ul>
              
              <li>Organizing your Backbone.js code in a Rails app</li>
              
              <li>Rails 3.0 and prior</li>
              
              <li>Rails 3.1</li>
              
              <li>An Overview of the Stack: Connecting Rails and Backbone.js</li>
              
              <li>Customizing your Rails-generated JSON</li>
              
              <li>Converting an existing page/view area to use Backbone.js</li>
              
              <li>Automatically using the Rails authentication token</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Routers, Views, and Templates</h3>
            
            <ul>
              
              <li>View explanation</li>
              
              <li>Templating strategy (unfinished)</li>
              
              <li>Choosing a strategy</li>
              
              <li>Routers</li>
              
              <li>Event binding</li>
              
              <li>Cleaning Up: Unbinding</li>
              
              <li>Swapping router</li>
              
              <li>Composite views</li>
              
              <li>Forms</li>
              
              <li>Internationalization</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Models and collections</h3>
            
            <ul>
              
              <li>Model associations</a></li>
              
              <li>Filters and sorting</li>
              
              <li>Validations</li>
              
              <li>Model relationships</li>
              
              <li>Duplicating business logic across the client and server</li>
              
              <li>Synchronizing between clients</li>
              
              <li>Uploading attachments</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Testing</h3>
            
            <ul>
              
              <li>Full-stack integration testing (unfinished)</li>
              
              <li>Isolated unit testing (unfinished)</li>
              
              <li>Example: Test-driving a Task application</li>
              
            </ul>
            
          </li>
        
          <li>
          <h3>Security (unfinished)</h3>
            
            <ul>
              
              <li>XSS with JSON bootstrapping (unfinished)</li>
              
            </ul>
            
          </li>
        
        </ul>

        <p>The included example application illustrates a Rails 3.1 app with user authentication, nested model relationships, bootstrapped and lazily populated collections, and complete test coverage using Cucumber, RSpec, and Jasmine.</p>


      </section>
    </section>

    <section id="workshop-details">
      <section id="register">
        <a href="/pages/backbone-js-on-rails-checkout" id="register-button">Get access to the book<br>and example app now</a>
      </section>

      <p class="cost highlight">$49</span></p>
      <p>Single reader</p>

      <p class="cost highlight">$199</p>
      <p>Up to 10 readers</p>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
  <a href="/pages/backbone-js-on-rails-checkout">Get access for just $49 and build amazing apps faster, with cleaner code &rarr;</a>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">The fine print</h3>
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>How is the content delivered?</p></dt>
          <dd><p>We're writing the book on GitHub and you'll get access to the repository &ndash; you get updates the second we push them.</p><p>We are writing the content using <a href="https://github.com/schacon/git-scribe">git-scribe</a>, which provides a publishing pipeline for HTML, PDF, ePub (iBooks, Nook), and Mobi (Kindle).  We're supporting HTML out of the gate, and other formats as soon as they're ready to go down smooth.</p></dd>
          <dt><p>What should I know before reading?</p></dt>
          <dd><p>We assume that you are comfortable with JavaScript and have read the introductory Backbone.js material available online.  Not there yet?  We provide our favorite resources for getting up to speed in the book.</p></dd>
          <dt><p>I have a specific burning question!  What if it doesn't cover my favorite topic?</p></dt>
          <dd><p>One of our goals with this delivery format is to encourage you to give feedback as early in the process as possible.  Use the rocking GitHub workflow tools to comment on the book or request new content.</p></dd>
          <dt><p>What if I don't have a GitHub account?</p></dt>
          <dd><p>We really think that this format provides a ton of value!  But if you'd like the content available in another format, email us at <a href="mailto:workshops@thoughtbot.com">workshops@thoughtbot.com</a> and we'll chat.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
