<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Backbone.js on Rails eBook</h1>
    <section id="course-info">
      <h2>Build snappier, more interactive apps with cleaner code and better tests in less time.</h2>

      <section id="course-description">
        <p>
          You build web apps, and you've seen the shift towards highly interactive, rich client-side web applications.  Over the past years, we've seen the same things, and have built our apps, processes, and best practices around this.  Learn the better way to build rich, interactive applications using Backbone.js and Rails.
        </p>

        <p>
          We're writing an eBook that covers intermediate to advanced topics on using Backbone.js, including content specific to integrating with Rails applications.  We're writing it as we go using <a href="https://github.com/schacon/git-scribe">git-scribe</a>, committing the book into GitHub, and giving you access to the book from day zero.  This is not a complete book yet, but that's the best part &ndash; you get full access to the GitHub repository as we write, so you can use the GitHub comment and issue features to give us feedback about content you'd like to see.
        </p>
      </section>

      <section id="benefits">
        <dl>
          <dt><p>Deliver functionality on the client side for lightning fast applications and native app-like usability.</p></dt>
          <dd><p>Your customers use your app day-in and day-out: are they switching to the competition because your app is clunky, with full page refreshess and poor interactivity?  Push business logic into the browser and make your app crazy snappy.</p></dd>
          <dt><p>Faster, more interactive web apps &mdash; even on mobile!</p></dt>
          <dd><p>Create mobile apps that load blazing fast: Backbone.js and its dependencies are super tiny.  Learn how to choose the right dependencies and shed even more KBs.</p></dd>
          <dt><p>Rich client-side interactivity doesn't have to mean messy code.</p></dt>
          <dd><p>Is your JavaScript-heavy web app getting out of control?  Technical debt everywhere?  Are you using the DOM for persistence, and going crazy with layers and layers of jQuery form-parsing and ajax-submitting code?  Clean up your client-side code by following conventions, using software patterns you're familiar with, and refactoring to reusable modules.</p></dd>
        </dl>
      </section>

      <h3 class="terms">Table of Contents</h3>
      <section>
        <ul>
          <li>Preface</li>

          <li>Introduction
            <ul>
              <li>When not to use Backbone.js</li>
              <li>Why Backbone.js and not kickstart.js, sproutcore, etc.</li>
            </ul>
          </li>

          <li>Organization
            <ul>
              <li>Backbone.js and MVC</li>
              <li>What goes where in MVC</li>
              <li>Namespacing your application</li>
            </ul>
          </li>

          <li>Rails integration
            <ul>
              <li>ActiveRecord and Backbone.js</li>
              <li>Converting your Rails models to Backbone.js-friendly JSON</li>
              <li>Organizing your Backbone and Rails code side-by-side</li>
              <li>Converting an existing page/view area to use Backbone.js (incremental addition)</li>
              <li>Automatically using the Rails authentication token</li>
            </ul>
          </li>
        </ul>
      </section>
    </section>

    <section id="workshop-details">
      <section id="register">
        <a href="https://thoughtbot.wufoo.com/forms/backbonejs-on-rails/" id="register-button">Buy now, and lock in the best price &rarr;</a>
      </section>

      <p class="cost highlight">$39 - for a limited time!</span></p>
      <p>Single reader (goes up to $49 Aug 1st)</p>

      <p class="cost highlight">$199</p>
      <p>Up to 10 readers</p>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
  <a href="https://thoughtbot.wufoo.com/forms/backbonejs-on-rails/">Get the eBook for just $39 and start building amazing apps faster with cleaner code &rarr;</a>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">The fine print</h3>
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>How is the content delivered?</p></dt>
          <dd><p>We're writing the book on GitHub and you'll get access to the repository &ndash; you get updates the second we push them.</p><p>We are writing the content using <a href="https://github.com/schacon/git-scribe">git-scribe</a>, which provides a publishing pipeline for HTML, PDF, ePub (iBooks, Nook), and Mobi (Kindle).  We're supporting HTML out of the gate, and other formats as soon as they're ready to go down smooth.</p></dd>
          <dt><p>What should I know before reading?</p></dt>
          <dd><p>We assume that you are comfortable with JavaScript and have read the introductory Backbone.js material available online.  Not there yet?  We provide our favorite resources for getting up to speed in the book.</p></dd>
          <dt><p>I have a specific burning question!  What if it doesn't cover my favorite topic?</p></dt>
          <dd><p>One of our goals with this delivery format is to encourage you to give feedback as early in the process as possible.  Use the rocking GitHub workflow tools to comment on the book or request new content.</p></dd>
          <dt><p>What if I don't have a GitHub account?</p></dt>
          <dd><p>We really think that this format provides a ton of value!  But if you'd like the content available in another format, email us at <a href="mailto:workshops@thoughtbot.com">workshops@thoughtbot.com</a> and we'll chat.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
