      <section id="head-wrapper">
    <section id="homepage-top">
      <section id="course-info">
        <h2>Test-Driven Rails</h2>

        <section id="course-description"><p>We teach Ruby on Rails the way we use it every day at our web agency. By the end of the workshop, you will know how to do Test-Driven Development using Cucumber and Rspec. It is intended for developers with 1 to 2 years of experience in Ruby, Rails, and relational databases.</p></section>

          <section id="faq">
    <dl>
        <dt><p>Is this workshop right for me?</p></dt>
        <dd><p>The typical student for this workshop leaves here with knowledge of how best to refactor a Ruby or especially a Rails application, as well as the different kinds of testing infrastructure available to a Rails app and how to write tests well.</p></dd>
        <dt><p>What is the instructor to student ratio?</p></dt>
        <dd><p>We try to maintain a 1:6 ratio; that is, for a class of eight students we have one or two instructors, and for fourteen students we have two or three instructors</p></dd>
        <dt><p>How hands-on is it?</p></dt>
        <dd><p>This workshop is very hands on. We focus on building an application &#8220;outside in&#8221; as a group. The majority of the workshop will be spent in the editor producing code.</p></dd>
        <dt><p>What do I need to bring?</p></dt>
        <dd><p>Yourself and an eagerness to learn. We provide breakfast, lunch, and a laptop. You maybe wish to bring a notepad and pen and perhaps a <span class="caps">USB</span> key (though you could also push to Github).</p></dd>
        <dt><p>How can I ask you more questions?</p></dt>
        <dd><p>Email us at <a href="mailto:workshops@thoughtbot.com">workshops@thoughtbot.com</a>.</p></dd>
    </dl>
  </section>

      </section>

      <section id="workshop-details">
        <section id="register">
          <a href="https://thoughtbot.wufoo.com/forms/testdriven-rails/" id="register-button">Register</a>
        </section>

        <h3>Cost</h3>
        <p class="cost">$1,099</p>

        <h3>Where</h3>
        <p id="section-location">
          <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1927+South+Tryon+Street,+Suite+301+%09%09%09%09%09%09%09%09Charlotte,+NC+28203&sll=35.208056,-80.865458&sspn=0.006417,0.013937&ie=UTF8&hq=&hnear=1927+S+Tryon+St+%23301,+Charlotte,+Mecklenburg,+North+Carolina+28203&ll=35.213219,-80.863752&spn=0.006416,0.013937&t=h&z=17" id="location">
            1927 South Tryon Street, Suite 310<br/>
            Charlotte, NC 28203</a>
        </p>
      </section>
    </section>
  </section>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="notify-me">
    <p class="group-training">Interested in group training at your site? <a href="mailto:workshops@thoughtbot.com">Contact us</a>.</p>
</section>

    </section>
  </section>
</section>

