<section id="container">
  <h1>Directions to our Boston office</h1>

  <section>
    <p style="margin-bottom: 16px;">Our office is located at <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=41+Winter+Street,+Boston,+MA+02108&amp;aq=&amp;sll=42.356057,-71.061771&amp;sspn=0.010418,0.020342&amp;ie=UTF8&amp;hq=&amp;hnear=41+Winter+St,+Boston,+Massachusetts+02108&amp;ll=42.35607,-71.061802&amp;spn=0.022199,0.054932&amp;z=14&amp;iwloc=A">41 Winter St, Boston, MA 02108</a>.</p>

    <iframe width="640" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=41+Winter+Street,+Boston,+MA+02108&amp;aq=&amp;sll=42.356057,-71.061771&amp;sspn=0.010418,0.020342&amp;ie=UTF8&amp;hq=&amp;hnear=41+Winter+St,+Boston,+Massachusetts+02108&amp;ll=42.35607,-71.061802&amp;spn=0.022199,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

    <h3>Getting here by T</h3>
    <p>Our office is easily accessible via the Red, Green, and Orange, and Silver lines. You can use the <a href="http://mbta.com/">MBTA website</a> to view maps and plan your trip.</p>

    <p>Once you arrive, walk into the lobby of 41 Winter St and take the elevator up to the 8th floor.</p>

    <h3>Parking</h3>
    <p>We highly recommend taking public transportation to our office. If you must drive, there is parking available at the <a href="http://www.massconvention.com/bcg.html">Boston Common Garage</a> and the <a href="http://www.pilgrimparking.com/boston-parking-garages/lafayette-garage.htm">Lafayette Garage</a>.</p>


    <h3>Boston Hotels</h3>

    <p>Recommended hotels near the thoughtbot office, hip enough for a Rails developer</p>

    <ul>
      <li><a href="http://www.ninezero.com/nnz-map/index.html">The Nine Zero</a></li>
      <li><a href="http://www.onyxhotel.com">The Onyx</a></li>
      <li><a href="http://www.thecharlesmark.com">The Charlesmark</a></li>
      <li><a href="http://www.lenoxhotel.com">The Lenox</a></li>
    </ul>

    <p>Not as hip, but nearby location, best for hotels.com points, etc.</p>

    <ul>
      <li><a href="http://www.marriott.com/hotels/travel/boslw-boston-marriott-long-wharf">Marriott Long Wharf</a></li>
    </ul>

    <p>Nearby, fancy enough for a venture capitalist</p>

    <ul>
      <li><a href="http://www.bostonparkplaza.com">Park Plaza</a></li>
      <li><a href="http://www.ritzcarlton.com/en/Properties/BostonCommon/Default.htm">Ritz Carlton</a></li>
    </ul>

    <p>The Park Plaza has a hard time filling up, so you can often get some last-minute $100/night deals. We recommend checking that one first, especially if you’re looking last-minute.</p>

  </section>
</section>
