<% content_for :page_header do %>
<section id="head-wrapper">
  <section id="homepage-top">
    <header>
      <h1><a href="/">thoughtbot workshops</a></h1>
    </header>
  </section>
</section>
<% end %>

<h1>getting here</h1>

<section>

</section>