<div class="top">
  <div class="wrapper">
    <h2 id="fairhaven-header">Registration Complete</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div class="dark-content clearfix">
      <div id="fairhaven-content">
        <a href="http://fairhavencapital.com" id="fairhaven-link">Fairhaven Capital</a>
        <h3>Registration Complete</h3>
        <p>We've received your payment and your registration is now complete.</p>
      </div>
    </div>
  </div>
</div>
