<section id="container">
  <h2 id="fairhaven-header">Apply for Ruby on Rails Training</h2>

  <div id="fairhaven-content">
    <a href="http://fairhavencapital.com" id="fairhaven-link">Fairhaven Capital</a>
    <p id="intro">
    <a href="http://thoughtbot.com">thoughtbot</a> is running two special training courses: "Intro to Rails" on March 3rd and 4th and "Scaling Rails" on March 31st and April 1st.
    </p>
    <h3>Special Price: $600 (a 50% discount)</h3>
    <p>Instead of the usual $1,256 price tag, these classes are only $600 each. <a href="http://fairhavencapital.com">Fairhaven Capital</a> is sponsoring these classes to help grow the pool of Rails talent in the Boston area.</p>
    <p>Please apply if you're interested. We will try to accept all applications, but will first admit developers at local startups or those looking to work at local startups.</p>
    <h3>Course Goal</h3>
    <p>
    Our goal is to teach Rails, an increasingly popular technology choice by web startups, to Boston-area developers with a background in Java, .NET, PHP, or other web technologies. We believe each course will accelerate developers about two months up the learning curve towards expert.
    </p>
    <div id="courses" class="clearfix">
      <div class="disabled">
        <h4>Intro to Rails ($600)</h4>
        <h5>Was held March 3rd &amp; 4th</h5>
        <h5>Fairhaven Capital Auditorium</h5>
        <h5>One Hampshire St</h5>
        <h5>Cambridge, MA 02139</h5>
        <p>
          "Intro to Rails" was held March 3rd &amp; 4th. A student, Kevin McCarthy, <a href="http://bostinnovation.com/2011/02/23/want-to-learn-ruby-on-rails-check-out-thoughtbot-fair-haven-capitals-workshop">wrote an article about the class</a> on BostInnovation.
        </p>
      </div>
      <div>
        <h4>Scaling Rails ($600)</h4>
        <h5>9am-5pm, March 31st &amp; April 1st</h5>
        <h5>Fairhaven Capital Auditorium</h5>
        <h5>One Hampshire St</h5>
        <h5>Cambridge, MA 02139</h5>
        <p>
          "Scaling Rails" goes deeper into Test-Driven Development with Rails, covers all the "software hygiene" practices specific to Rails that enable teams to move fast, and applying well-known web scaling knowledge such as caching, database indexing, and technical architecture to Rails apps.
        </p>
      </div>
    </div>

    <div id="sign-up">
      <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
        var m7p7k7 = new WufooForm();
        m7p7k7.initialize({
            'userName':'thoughtbot', 
            'formHash':'m7p7k7', 
            'autoResize':true,
            'height':'705', 
            'ssl':true});
        m7p7k7.display();
      </script>
    </div>
  </div>
</section>
