<div class="top">
  <div class="wrapper">
    <h2 id="fairhaven-header">Registration Complete</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div class="dark-content clearfix">
      <div id="fairhaven-content">
        <a href="http://fairhavencapital.com" id="fairhaven-link">Fairhaven Capital</a>
        <h3><%= t(".registration-headline", :default => "Registration Complete.") %></h3>
        <p><%= t(".registration-message", :default => "Your payment has been received and your registration is complete.") %></p>
      </div>
    </div>
  </div>
</div>
