<% content_for(:page_title, "Getting Started with VR | Upcase with Morgan Santos") %>

<main>
  <section class="background background--python-logo
    background--light-gradient-cover-bottom-half">
      <div class="media-object page-header">
        <%= image_tag("marketing/vr-promo.svg",
              class: "page-header__offset-image") %>

        <div>
          <h1 class="page-header__title python">
            Getting Started with VR
          </h1>

          <h2 class="u-margin-bottom-medium">
            Learn virtual reality with Morgan Santos.
          </h2>

          <p class="page-header__intro u-margin-bottom-large">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse impedit incidunt earum perferendis voluptatum pariatur similique aspernatur in est accusamus illum nemo eaque repudiandae quos, temporibus facere repellat ullam quis?
          </p>
          <%= link_to "Sign Up to Get Started", sign_up_path, class:"button" %>
        </div>
    </div>
  </section>

  <section class="page-section page-section--dark">
    <div class="page-content">

      <script src="https://fast.wistia.com/embed/medias/bbox6ztv3z.jsonp" async></script>
      <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div class="wistia_embed wistia_async_bbox6ztv3z videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
        </div>
      </div>

      <div class="card u-margin-bottom-medium">
        <div class="card__content media-object media-object--top-down">
          <span class="dot"></span>

          <div>
            <h2 class="u-margin-bottom">
              Introduction to VR
            </h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut accusamus dicta non.
            </p>
          </div>
        </div>
      </div>

      <div class="card u-margin-bottom-medium">
        <div class="card__content media-object media-object--top-down">
          <span class="dot"></span>

          <div>
            <h2 class="u-margin-bottom">
              Virtual Reality 1
            </h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut accusamus dicta non.
            </p>
          </div>
        </div>
      </div>

      <div class="card u-margin-bottom-medium">
        <div class="card__content media-object media-object--top-down">
          <span class="dot"></span>

          <div>
            <h2 class="u-margin-bottom">
              Virtual Reality 2
            </h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut accusamus dicta non.
            </p>
          </div>
        </div>
      </div>

      <div class="card u-margin-bottom-medium">
        <div class="card__content media-object media-object--top-down">
          <span class="dot"></span>

          <div>
            <h2 class="u-margin-bottom">
              Virtual Reality 3
            </h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut accusamus dicta non.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="sign-up" class="background background--upcase-logo-dark
    background--light-gradient-cover-top-half">
    <div class="page-content">
      <div class="card card--narrowest">
        <div class="card__content">
          <h2 class="card__heading">
            Learn Virtual Reality with Morgan Santos
          </h2>

          <p class="card__copy">
            Sign up for Upcase for access to Getting Started with VR plus <mark>tons of other videos on coding, design, tooling and more.</mark>
          </p>
        </div>

        <div class="card__content card__content--dark">
          <%= link_to "Join Upcase", sign_up_path, class:"button button--on-dark single-line-form__button" %>
        </div>
      </div>
    </div>
  </section>
</main>
