<% content_for :page_header do %>
<section id="head-wrapper">
  <section id="homepage-top">
    <header>
      <h1><a href="/">thoughtbot workshops</a></h1>
    </header>
  </section>
</section>
<% end %>

<h1>Group training</h1>

<section>
  <p>We offer on-site training to groups.</p>

  <h3>Who can benefit from on-site training?</h3>

  <ul>
    <li>Companies switching to Rails who need to get their developers up to speed</li>
    <li>Companies with existing Rails applications that need performance and code improvements</li>
    <li>Companies looking to build an Android app and want to learn how</li>
    <li>Companies who want to improve the design of their application's user interface</li>
  </ul>

  <p><a href="mailto:workshops@thoughtbot.com">Get in touch</a> with us to talk about how we can work with your team.</p>
</section>