<% content_for :page_title, "An OSS Lifestyle" %>
<% content_for :subject, "An OSS Lifestyle" %>

<div class="summary">
  <p>In this <b>free 34 minute video</b> Mike Burns, Linux user and thoughtbot developer, and Chad Pytel, Founder and CEO of thoughtbot, discuss the current state of using Linux as your operating system and why, as a developer, you might want to use it.</p>
</div>

<div class="text-box-wrapper">
  <div class="text-box">
    <p class="videowrapper">
      <iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="367" name="wistia_embed" scrolling="no" src="https://fast.wistia.com/embed/iframe/39245f55fd?videoWidth=653&videoHeight=367&controlsVisibleOnLoad=true" width="653"></iframe>
    </p>
    <h3>An interview with a Ruby developer who uses Linux and full Open Source stack</h3>

    <div class='assets'>
      Download:
      <a class='asset original' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=original'>
        Original (720p)
        <span class='size'>3 GB</span>
      </a>
      <a class='asset iphone' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=iphone'>
        iPhone
        <span class='size'>200 MB</span>
      </a>
      <a class='asset hd_mp4' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=hd_mp4'>
        HD MP4
        <span class='size'>500 MB</span>
      </a>
      <a class='asset hd_flash' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=hd_flash'>
        HD Flash
        <span class='size'>500 MB</span>
      </a>
      <a class='asset flash' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=flash'>
        Flash
        <span class='size'>200 MB</span>
      </a>
    </div>
  </div>
</div>
