<% content_for :page_title, "An OSS Lifestyle" %>
<% content_for :subject, "An OSS Lifestyle" %>

<div class="summary">
  <p>In this <b>free 34 minute video</b> Mike Burns, Linux user and thoughtbot developer, and Chad Pytel, Founder and CEO of thoughtbot, discuss the current state of using Linux as your operating system and why, as a developer, you might want to use it.</p>
</div>

<div class="text-box-wrapper">
  <div class="text-box">
    <h3>An interview with a Ruby developer who uses Linux and full Open Source stack</h3>
    <p class="videowrapper"><iframe src="https://fast.wistia.com/embed/iframe/39245f55fd?videoWidth=653&videoHeight=367&controlsVisibleOnLoad=true&plugin%5BpostRoll%5D%5Bversion%5D=v1&plugin%5BpostRoll%5D%5Btext%5D=Get%20more%20learning%20%3Cbr%2F%3Efrom%20thoughtbot!&plugin%5BpostRoll%5D%5Blink%5D=http%3A%2F%2Fworkshops.thoughtbot.com%3Furm_source%3Doss&plugin%5BpostRoll%5D%5Bstyle%5D%5BbackgroundColor%5D=%23616161&plugin%5BpostRoll%5D%5Bstyle%5D%5Bcolor%5D=%23ffffff&plugin%5BpostRoll%5D%5Bstyle%5D%5BfontSize%5D=36px&plugin%5BpostRoll%5D%5Bstyle%5D%5BfontFamily%5D=Gill%20Sans%2C%20Helvetica%2C%20Arial%2C%20sans-serif&plugin%5Bsocialbar%5D%5Bversion%5D=v1&plugin%5Bsocialbar%5D%5Bbuttons%5D=twitter&plugin%5Bsocialbar%5D%5BtweetText%5D=Humans%20Present%3A%20An%20Open%20Source%20Lifestyle" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="653" height="392"></iframe></p>

    <div class='assets'>
      Download:
      <a class='asset original' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=original'>
        Original (720p)
        <span class='size'>3 GB</span>
      </a>
      <a class='asset iphone' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=iphone'>
        iPhone
        <span class='size'>200 MB</span>
      </a>
      <a class='asset hd_mp4' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=hd_mp4'>
        HD MP4
        <span class='size'>500 MB</span>
      </a>
      <a class='asset hd_flash' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=hd_flash'>
        HD Flash
        <span class='size'>500 MB</span>
      </a>
      <a class='asset flash' href='http://thoughtbot.wistia.com/medias/1094741/download?asset=flash'>
        Flash
        <span class='size'>200 MB</span>
      </a>
    </div>
  </div>
</div>

<aside>
  <h3>More from thoughtbot</h3>
  <hr>
  <ul class='related-products'>
    <%= render partial: 'topics/workshop', collection: Workshop.only_public.by_position %>
    <%= render partial: 'topics/product', collection: Product.active.ordered %>
  </ul>
</aside>
