<% content_for :subject, 'Intermediate Ruby on Rails' %>

<div class="text-box-wrapper">
  <div class="text-box">
    <p>The Intermediate Ruby on Rails workshop is designed for developers who have built a few smaller Rails applications and would like to start making more complicated ones.</p>
    <h2>We cover the following topics</h2>
    <ol>
      <li>Starting an Application</li>
      <li>Using Clearance for user authentication</li>
      <li>Modeling an application</li>
      <li>File uploads with Paperclip</li>
      <li>Using polymorphism vs. single table inheritance</li>
      <li>Modeling our application with polymorphism</li>
      <li>Reusing partials</li>
      <li>Modeling friendships</li>
      <li>Friends and followers &mdash; modeling complex relationships</li>
      <li>Refactoring</li>
      <li>Domain responsibility</li>
      <li>Using the asset pipeline</li>
      <li>Counter cache and advanced counters</li>
      <li>Implementing search</li>
      <li>Refactoring with Rails helpers</li>
      <li>Choosing gems</li>
      <li>Adding paging to our application</li>
      <li>Implementing pretty urls for our models</li>
    </ol>
    <p>The workshop also includes ample time to address any questions about Ruby on Rails that are not covered in the prepared lessons.</p>
  </div>
</div>

<aside>
  <%= link_to intermediate_rails_url do %>
    <div class="button">
      Take the workshop
    </div>
  <% end %>
</aside>
