<div class="text-box land-dream-rails-job">
  <form action="https://www.getdrip.com/forms/9512924/submissions"
    method="post" target="_blank" data-drip-embedded-form="1744">

    <fieldset>
      <h3 data-drip-attribute="headline">
        Land Your Dream Rails Job (A Free, 5-Day Crash Course)
      </h3>

      <p data-drip-attribute="description">
        In this course, we'll teach you the skills you need to get hired at top
        Rails shops like thoughtbot. Each email is packed with actionable advice
        on becoming the kind of candidate that companies fight over.
      </p>

      <h5>Course outline</h5>
      <ul>
        <li>Day 1: Assessing your skills and filling in the gaps</li>
        <li>Day 2: Standing out and getting in the door</li>
        <li>Day 3: Nailing the interview</li>
        <li>Day 4: Two questions worth a lot of money</li>
        <li>Day 5: Course wrap-up</li>
      </ul>
      <ol>
        <li>
          <label for="fields[email]">Email</label>
          <input type="email" name="fields[email]" value="" />
        </li>
      </ol>

      <input type="submit" name="submit" value="Get the first lesson now"
             data-drip-attribute="sign-up-button" />
    </fieldset>
  </form>
</div>
