<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>thoughtbot Learn</title>
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="Description" name="Description" content="Workshops, screencasts, videos, and books to help you learn web design and development." />
    <meta http-equiv="Keywords" name="Keywords" content="" />
    <script type="text/javascript" src="https://use.typekit.com/jes4mbj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta content="authenticity_token" name="csrf-param" />
<meta content="T3sm6hlJYpWLvgj9Q8Xa56x2XRogHYHXrbV+uo31swM=" name="csrf-token" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  </head>

  <body class="learn-body">
    <section id="learn-header-wrapper">
      <div class="learn-header-container">
        <div class="learn-detail-logo">
          <h1><a href="http://learn.thoughtbot.com"><img src="<%= image_path('learn/learn-ralph-small.png') %>"> Learn <span class="learnred">Products</span></a></h1>
        </div>
      </div>
    </section>
    <section id="promo-wrapper">
      <div class="products-container learn-text-box">
        <h3>IN-PERSON WORKSHOPS</h3>
        <ul>
          <li class="product-list">
            <a href="#">
             <h2>Intro to Ruby and Rails</h2>
             <p>Learn the core of Ruby followed by how to develop applications using Rails. In Boston on November 19-20, 2012 and San Francisco on December 10-11, 2012.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>Intermediate Ruby on Rails</h2>
             <p>Dig deeper into Ruby on Rails. In Boston on December 17-18, 2012.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>Test-Driven Rails</h2>
             <p>By the end of the workshop, you will know how to do Test-Driven Development using Cucumber and RSpec. In Boston on November 12-13, 2012 and San Francisco on December 3-4, 2012</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="products-container learn-text-box">
        <h3>BOOKS</h3>
        <ul>
          <li class="product-list">
            <a href="#">
             <h2>Backbone.js on Rails</h2>
             <p>Learn how to build snappier, more interactive apps with cleaner code and better tests in less time.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>The Playbook</h2>
             <p>The who, what, why, where, when, and how of modern web development.</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="products-container learn-text-box">
        <h3>VIDEOS</h3>
        <ul>
          <li class="product-list">
            <a href="#">
             <h2>VIM for Rails Developers</h2>
             <p>Create and edit your Ruby on Rails code more efficiently.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>Hidden Secrets of the Chrome Developer Tools</h2>
             <p>Speed up your day-to-day web development work by becoming more effective with this powerful tool.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>Humans Present: Refactoring</h2>
             <p>Good developers always try to improve their code. This interview and screencast shows the thought process and the in-depth refactoring of a real code example.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>Humans Present: tmux</h2>
             <p>Become a faster, happier developer with this terminal multiplexer thats growing in popularity.</p>
            </a>
          </li>
          <li class="product-list">
            <a href="#">
             <h2>The Playbook: Video Edition</h2>
             <p>How to plan, design, develop, and launch a successful web application.</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
      <%= javascript_include_tag "retina.js" %>
  </body>
</html>