<section id="head-wrapper">
  <section id="homepage-top">
    <h1>The Playbook</h1>
    <section id="course-info">
      <h2>The who, what, why, where, when, and how of modern web development.</h2>

      <section id="course-description">
        <p>We’re a small team in Boston that builds web and mobile applications for startups. We aim to create great user experiences powered by well-made software.</p>
        <p>This is our playbook.</p>
        <p>It’s filled with things we’ve learned based on experience and study. It’s intended for anyone who wants to build web and mobile applications, bring them to market, and make customers happy.</p>

        <p><em>Here are just some of the topics we cover:</em></p>
        <ol>
          <li>Making plans and designing a product</li>
          <li>Building a team</li>
          <li>The design process</li>
          <li>Choosing platforms</li>
          <li>The development environment</li>
          <li>The production environment</li>
          <li>Making a good product</li>
          <li>User stories</li>
          <li>Pair Programming</li>
          <li>Sustainable Pace</li>
          <li>Test-driven development</li>
          <li>User experience &amp; Usability testing</li>
          <li>Implementing common features</li>
          <li>Customer support</li>
          <li>Profitably running SaaS</li>
          <li>Budgeting and Costs</li>
          <li>Fundraising</li>
          <li>Growing your business</li>
          <li><strong>And much more!</strong></li>
        </ol>

        <p>&nbsp;</p>
        <p>This book has been <a href="http://playbook.thoughtbot.com">available on the web</a>, now you can get it for your Kindle or iPad!</p>

        <p><q>@thoughtbot's playbook is epic. A sweeping yet concise guide for any tech product company.</q><br/></p>
        <p class="source" style="margin-top: -30px;">—<a href="https://twitter.com/#!/paulrosania/statuses/106432031961006080">Paul Rosania</a></p>
        <p><q>Pretty terrific #thoughtbot playbook on how to take an idea from conception, through product, to launching a company.</q> <br>
        </p>
        <p class="source" style="margin-top: -30px;">—<a href="https://twitter.com/#!/bstroh/status/164844814968430593">Bradford Stroh</a></p>
      </section>
    </section>

    <section id="workshop-details">
      <p>Purchase includes both<br/>epub and mobi formats,<br/>and ongoing updates.</p>

      <p class="cost highlight">$15</span></p>
      <p>Single reader</p>

      <section id="register">
        <a id="playbook-purchase-individual" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '193543192'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase for Yourself</a>
      </section>

      <p class="cost highlight">$50</p>
      <p>Unlimited sharing within your company</p>

      <section id="register">
        <a id="playbook-purchase-company" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '193543272'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase for<br/>Your Company</a>
      </section>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
<a id="playbook-purchase-individual" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '193543192'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase this e-book for just $15&rarr;</a>
<p>Purchase <a id="playbook-purchase-company" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '193543272'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">unlimited sharing within your company</a> for just $50.</p>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">The fine print</h3>
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>How is the content delivered?</p></dt>
          <dd><p>After you purchase the e-book you will be emailed a link to download the mobi and epub files. When the book is updated you will receive an email letting you know, and be able to download the updated files.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
