<section class="journey">
  <section class="pitch center">
    <figure class="screenshot">
      <%= image_tag('http://placehold.it/580x375') %>
    </figure>
    <figure id="bullet-1" class="journey-bullet"></figure>
    <article>
      <h2>Section headline for Learn Prime</h2>
      <p>The community is dedicated to helping you grow through knowledge sharing. Our discussion platform is staffed with thoughtbot developers to allow you to communicate directly with the experts.</p>
    </article>
  </section>
  <section class="pitch left">
    <figure id="bullet-2" class="journey-bullet"></figure>
    <article>
      <h2>Section headline for Learn Prime</h2>
      <p>The community is dedicated to helping you grow through knowledge sharing. Our discussion platform is staffed with thoughtbot developers to allow you to communicate directly with the experts.</p>
    </article>
    <figure class="screenshot">
      <%= image_tag('http://placehold.it/580x375') %>
    </figure>
  </section>
  <section class="pitch center">
    <figure id="bullet-3" class="journey-bullet"></figure>
    <article>
      <h2>Section headline for Learn Prime</h2>
      <p>The community is dedicated to helping you grow through knowledge sharing. Our discussion platform is staffed with thoughtbot developers to allow you to communicate directly with the experts.</p>
    </article>
    <figure class="screenshot">
      <%= image_tag('http://placehold.it/580x375') %>
    </figure>
  </section>
  <section class="pitch left">
    <figure id="bullet-4" class="journey-bullet"></figure>
    <article>
      <h2>Section headline for Learn Prime</h2>
      <p>The community is dedicated to helping you grow through knowledge sharing. Our discussion platform is staffed with thoughtbot developers to allow you to communicate directly with the experts.</p>
    </article>
    <figure class="screenshot">
      <%= image_tag('http://placehold.it/580x375') %>
    </figure>
  </section>
</section>
