<h1>Retired Trails</h1>

<p>These trails have been retired, and will soon be removed. You can continue to access them until 9/1/15.</p>

<p><a href="https://upcase.com/intro-to-ruby-on-rails">Intro to Ruby on Rails</a></p>

<p><a href="https://upcase.com/rails-fundamentals">Rails Fundamentals</a></p>

<p><a href="https://upcase.com/haskell-monads">Haskell Monads</a></p>

<p><a href="https://upcase.com/css-animation">CSS Animation</a></p>

<p><a href="https://upcase.com/getting-started-with-ios-development">Getting Started with iOS Development</a></p>

<p><a href="https://upcase.com/css-transforms-and-transitions">CSS Transforms & Transitions</a></p>

<p><a href="https://upcase.com/ember-fundamentals">Ember Fundamentals</a></p>

<p><a href="https://upcase.com/sass-fundamentals">Sass Fundamentals</a></p>

<p><a href="https://upcase.com/haskell-fundamentals">Haskell Fundamentals</a></p>

<p><a href="https://upcase.com/bourbon-fundamentals">Bourbon Fundamentals</a></p>

<p><a href="https://upcase.com/hands-on-backbone-js-on-rails">Hands-on Backbone.js on Rails</a></p>
