<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Rubyist Booster-Shot</h1>
    <section id="course-info">
      <h2>One-on-one coaching to help you become a better developer.</h2>

      <h3>What is it?</h3>
        <p>Three hours of remote or on-site pairing with an experienced thoughtbot developer. We'll work on a project of your choosing and observe your proficiency with your editor, shell, source control, Ruby, and Rails. During the pairing we'll offer constructive feedback for improving your workflow and code. After the session, we'll spend another hour writing up some exercises and reading recommendations to shore up your weakest areas. Additionally, you can (and should!) have a second colleague join the session for free, so you can help reinforce the new habits in each other.</p>

      <h3>Who is this for?</h3>
      <p>Rubyists of any level that are strongly motivated to improve themselves. This program is particularly suited for those without access to a more-experienced mentor.</p>

      <h3>What skills will I improve?</h3>
      <p>We can be particularly helpful in improving the following areas: writing maintainable Ruby, understanding and implementing OO design principles, crafting idiomatic Rails code, awareness of useful gems, improving your git workflow, and increasing vim proficiency (if you use it).</p>

      <h3>How will it work?</h3>
      <p>If you're local to Boston or can get here, we'd love to have you join us at our beautiful offices. You can bring your own laptop or we'll provide one for you, along with a giant monitor and external keyboard and mouse. If you're remote, we'll set up a screen-sharing session and video chat. Finally, we'll record the entire session and provide you a free copy.</p>

      <h3>When will this happen?</h3>
      <p>We'll work with you to schedule a convenient time. We're pretty flexible.</p>
    </section>

    <section id="workshop-details">
      <section id="register">
        <a href="i#" id="register-button">Book your spot now</a>
      </section>

      <p class="cost highlight">$799</span></p>
      <p>Bring a like-minded colleague for free!</p>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
  <a href="#">Book your spot now!</a>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">FAQ</h4>
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>What will I get at the end?</p></dt>
          <dd><p>We'll give you a writeup with exercises and reading recommendations, as well as a video recording of the entire session.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
