<section id="container">
  <section id="checkout-form">
    <h1>Rubyist Booster-Shot Checkout</h1>

    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">
    var s7w8w7 = new WufooForm();
    s7w8w7.initialize({
    'userName':'thoughtbot', 
    'formHash':'s7w8w7', 
    'autoResize':true,
    'height':'508',
    'header':'show', 
    'ssl':true});
    s7w8w7.display();
    </script>
  </section>
</section>
