<% content_for :page_title, "Terms and Conditions of Use" %>
<% content_for :subject, "Terms and Conditions of Use" %>

<div class="text-box-wrapper">
  <div class="text-box">

  <h2>
    thoughtbot, Inc.<br />
    learn.thoughtbot.com
 </h2>

  <p>THIS IS A CONTRACT. PLEASE CAREFULLY READ THE FOLLOWING TERMS BEFORE
  ACCESSING THIS SITE. BY ACCESSING THE SITE, YOU ACCEPT AND AGREE TO ALL
  OF THE COVENANTS AND CONDITIONS IMPOSED IN THIS AGREEMENT. IF YOU DO
  NOT AGREE TO THESE TERMS, YOU MAY NOT ACCESS THE SITE.</p>
  <p>BY USING LEARN.THOUGHTBOT.COM&#8217;S SERVICE, YOU AGREE THAT YOU HAVE
  READ, UNDERSTAND AND AGREE TO THESE TERMS. YOU ALSO AGREE TO REVIEW
  THIS AGREEMENT PERIODICALLY TO BE AWARE OF MODIFICATIONS TO THE
  AGREEMENT, WHICH MODIFICATIONS THOUGHTBOT MAY MAKE AT ANY TIME. YOUR
  CONTINUED USE OF THIS SITE WILL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF
  ANY MODIFIED AGREEMENT.</p>

  <h2>1. Contact Information</h2>
  <p><strong>Address</strong><br />
  thoughtbot, Inc.<br />
  41 Winter St. Floor 7<br />
  Boston, MA 02108</p>
  <p><strong>Customer Service</strong><br />
  Email: <a href="mailto:learn@thoughtbot.com">learn@thoughtbot.com</a><br />
  Telephone: <a href='tel:1 (617) 482-1300'>1 (617) 482-1300</a>
  Toll Free <a href='tel:+1 (877) 976-2687'>+1 (877) 976-2687</a><br />
  Website: <a href="http://thoughtbot.com/contact">contact form</a></p>

  <h2>2. Definitions</h2>
  <ul>
    <li>&#8220;Access&#8221; or &#8220;Accessing&#8221; means accessing, using, viewing
    the content or otherwise obtaining information on the Site.</li>
    <li>&#8220;Agreement&#8221; or &#8220;Terms&#8221; refers to these Terms and Conditions
    of Use and any subsequent modifications.</li>
    <li>&#8220;thoughtbot and learn.thoughtbot.com&#8221; refers to thoughtbot, Inc., a Massachusetts corporation.</li>
    <li>&#8220;Learn Prime&#8221; or &#8220;Prime&#8221; means the subscription-based database of books, screencasts, workshops, and articles that is available through the Site and are part of the Site.</li>
    <li>&#8220;Learn Content&#8221; means the database of books, screencasts, workshops, and articles that is available through the Site and is part of the Site.</li>
    <li>&#8220;Customer&#8221; refers to a User who purchases something from the site. This can be an individual product, workshop, or subscription.</li>
    <li>&#8220;One-time Purchaser&#8221; refers to a Customer who one or more individual books, screencasts, or workshops.</li>
    <li>&#8220;Single-User Subscriber&#8221; refers to a Subscriber who purchases a subscription
    to Learn Prime&#174; for one (1) User.</li>
    <li>&#8220;Multi-User Subscriber&#8221; refers to a Subscriber who purchases a subscription
    to Prime for Teams.</li>
    <li>&#8220;Subscriber&#8221; refers to any person or entity that purchases or uses a
    subscription to the Learn Content&#174;, and may be a Single-User Subscriber or
    Multi-User Subscriber.</li>
    <li>&#8220;User&#8221; refers to any party who Accesses the Site. If You are Accessing
    the Site as an employee or agent of another, &#8220;User&#8221; refers to You and
    Your principal.</li>
    <li>&#8220;Website&#8221; or &#8220;Site&#8221; refers to the website maintained on
    the World Wide Web by thoughtbot, available at http://learn.thoughtbot.com,
    and includes the Learn Content&#174;.</li>
    <li>&#8220;You&#8221; or &#8220;Your&#8221; refers to the User. If You are Accessing
    the Site as an employee or agent of another, &#8220;You&#8221; or &#8220;Your&#8221;
    refers to the User and the User&#8217;s principal.</li>
  </ul>

  <h2>3. Modification of Terms</h2>
  <p>thoughtbot reserves the right to modify these Terms at any time. Except as otherwise
  stated herein, any change to these Terms is effective immediately after thoughtbot
  gives notice to the User. Notice can be given through e-mail, a posting on the Site
  or any other means by which a User may obtain notice. User agrees to check the Site
  periodically for changes to these Terms. Any use of the Site after changes have
  been made shall be deemed acceptance of those changed terms and/or conditions.</p>

  <h2>4. Limited License</h2>
  <p>thoughtbot hereby grants each Customer a limited, non-exclusive, non-sublicensable
  and non-transferable license to Access the content and information available in
  the Learn Content according to the provisions contained herein, and subject to the payment
  of the applicable purchase or subscription fees and adherence to these Terms.</p>
  <p>Each Multi-User Subscriber may only allow its employees and agents to access the
  Learn Content. If the Multi-User Subscriber&#8217;s license terminates, the Multi-User Subscriber&#8217;s
  employees and agents shall no longer have Access to the Learn Content. Each Multi-User Subscriber
  agrees that the Learn Content may not be Accessed by more than the authorized number of Users
  purchased by the Multi-User Subscriber. Each User shall be authorized to Access
  the Learn Content from any Internet connection.</p>
  <p>A Multi-User Subscriber administrator selected by the Subscriber (the &#8220;Administrator&#8221;)
  shall be designated to oversee and be responsible for management of the User accounts.</p>

  <h2>5. Fees; Renewal; Refund Policies</h2>
  <h3>One-time Purchasers</h3>
  <ul>
    <li>Access to the specific product or workshop that was purchased.</li>
    <li>Purchase price is refundable up to thirty (30) days after the date of purchase.</li>
    <li>Discounts, rebates or other special offers only valid for initial purchase</li>
    <li>Right of Access to the purchased Learn Content granted under these
    Terms is effective only upon payment of the purchase fees.</li>
  </ul>
  <h3>Single-User Subscribers</h3>
  <ul>
    <li>Access to all learn.thoughtbot.com Content</li>
    <li>Monthly subscription plan</li>
    <li>Automatically renews monthly until cancelled by Subscriber
    <ul>
      <li>Automatically renews on the same date of each corresponding month or on final date
      of month if no corresponding date (January 31, 2011 subscription renews on February
      28, 2011)</li>
      <li>Fees charged on renewal date</li>
    </ul>
    </li>
    <li>Subscription fees are non-refundable; except that Subscriber may cancel renewed
    subscription in writing up to thirty (30) days after the initial
    subscription date, or up to three (3) calendar days after renewal
    date and receive a full refund of the new subscription fees</li>
    <li>Discounts, rebates or other special offers only valid for initial term; subscriptions
    renew at the then-current full subscription rates</li>
    <li>thoughtbot may increase subscription fees for a subsequent subscription period at
    any time and for any reason, provided, however, that thoughtbot provides notice at
    least thirty (30) calendar days prior to the expiration of the subscription</li>
    <li>thoughtbot may terminate the subscription and these Terms if it is unable to renew
    the subscription based on inaccurate or outdated credit card information</li>
    <li>Right of Access to the Learn Content granted under these Terms is effective only upon payment
    of the subscription fees</li>
  </ul>
  <h3>Multi-User Subscribers</h3>
  <ul>
    <li>Access to all learn.thoughtbot.com Content</li>
    <li>Monthly subscription plan</li>
    <li>Automatically renews monthly until cancelled by Subscriber
    <ul>
      <li>Automatically renews on the same date of each corresponding month or on final date
      of month if no corresponding date (January 31, 2011 subscription renews on February
      28, 2011)</li>
      <li>Fees charged on renewal date</li>
    </ul>
    </li>
    <li>Subscription fees are non-refundable; except that Subscriber may cancel renewed
    subscription in writing up to thirty (30) days after the initial
    subscription date, or up to three (3) calendar days after renewal
    date and receive a full refund of the new subscription fees</li>
    <li>Discounts, rebates or other special offers only valid for initial term; subscriptions
    renew at the then-current full subscription rates</li>
    <li>thoughtbot may increase subscription fees for a subsequent subscription period at
    any time and for any reason, provided, however, that thoughtbot provides notice at
    least thirty (30) calendar days prior to the expiration of the subscription</li>
    <li>thoughtbot may terminate the subscription and these Terms if it is unable to renew
    the subscription based on inaccurate or outdated credit card information</li>
    <li>Right of Access to the Learn Content granted under these Terms is effective only upon payment
    of the subscription fees</li>
  </ul>
  <h2>6. Access to the Learn Content; Modification of Content</h2>
  <p>thoughtbot strives to provide the Learn Content to its Customers on a continuous basis. To
  that end, thoughtbot will take all commercially reasonable efforts to provide uninterrupted
  Access to the Learn Content to its Customers. However, from time to time, Customers may
  be unable to Access the Learn Content due to conditions beyond thoughtbot&#8217;s control.
  Such conditions include, but are not limited to: force majeure, acts of God, power
  outages, and the acts of computer hackers and others acting outside the law. Also,
  from time to time, Access may be unavailable due to software issues, server downtime,
  increased Internet traffic or downtime, programming errors, regular maintenance
  of the system, and other related reasons. In response to any unavailability of the
  Learn Content to its Customers, thoughtbot will take all commercially reasonable steps to
  ensure Access is restored within a reasonable period of time. The term &#8220;commercially
  reasonable,&#8221; as used in these Terms, shall mean reasonable efforts taken in
  good faith without an unduly or burdensome use or expenditure of time, resources,
  personnel or money.</p>
  <p>thoughtbot endeavors to provide the highest quality content to its Customers. To
  that end, thoughtbot reserves the right, in its sole discretion, to change, modify,
  or discontinue any aspect or feature of this Site in whole or in part, including,
  without limitation, the content, availability, Access and/or the Terms of this Site.
  Such changes, modifications, additions or deletions will be effective immediately
  upon notice thereof, which notice may be made by posting such changes on this Site.</p>
  <p>Users are solely responsible for ensuring that they have sufficient and compatible
  hardware, software, telecommunications equipment and Internet service necessary
  for use of the Site.</p>

  <h2>7. Prohibited Conduct</h2>
  <p>User expressly agrees to refrain from doing, either personally or through an agent,
  any of the following &#8220;Prohibited Conduct&#8221;:</p>
  <ol>
    <li>Transmit, install, upload or otherwise transfer any virus, advertisement, communication,
    or other item or process to the Site that in any way affects the use, enjoyment
    or service of the Site, or adversely affects thoughtbot&#8217;s computers, servers
    or databases.</li>
    <li>Capture, download, save, upload, print or otherwise retain information and content
    available on the Site other than what is expressly allowed by these Terms.</li>
    <li>Permit or provide others Access to the Learn Content using Your user name and password or
    otherwise, or the name and password of another authorized User.</li>
    <li>Copy, modify, reverse engineer, disassemble, redistribute, republish, alter, create
    derivative works from, assign, license, transfer or adapt any of the software, information,
    text, graphics, source code or HTML code, or other content available on the Site.</li>
    <li>Remove or modify any copyright, trademark, legal notices, or other proprietary notations
    from the content available on the Site.</li>
    <li>Transfer the Site content to another person; &#8220;frame,&#8221; &#8220;mirror,&#8221;
    &#8220;in-line link,&#8221; or employ similar navigational technology to the Site
    content; or &#8220;deep link&#8221; to the Site content.</li>
    <li>Violate or attempt to violate thoughtbot&#8217;s security mechanisms, Access any
    data or server You are not authorized to Access or otherwise breach the security
    of the Site or corrupt the Site in any way.</li>
    <li>Engage in any other conduct which violates the Copyright Act or other laws of the
    United States.</li>
    <li>Use any device (such as a &#8220;web crawler&#8221; or other automatic retrieval
    mechanism) or other means to harvest information about other Users, the Site or
    thoughtbot.</li>
    <li>Use the Site to violate a third party&#8217;s intellectual property, personality,
    publicity or confidentiality rights; upload, download, display, publish, perform,
    create derivative works from, transmit, or otherwise distribute information or content
    in violation of a third party&#8217;s intellectual property rights.</li>
    <li>Misrepresent Your identity or personal information when Accessing the Site; forge
    any TCP/IP packet header or any part of the header information in any e-mail so
    that the e-mail appears to be generated by thoughtbot.</li>
    <li>Post obscene, harassing, defamatory, filthy, violent, pornographic, abusive, threatening,
    objectionable or illegal material on the Site; post a communication that advocates
    or encourages criminal conduct or conduct that may give rise to civil liability.</li>
    <li>Advertise or otherwise solicit funds, goods or services on the Site.</li>
    <li>Provide any commercial hosting service with Access to the Site and/or the content
    on the Site.</li>
  </ol>
  <p>To ensure that Users of the Site do not engage in Prohibited Conduct, thoughtbot
  reserves the right to monitor use of the Site and reserves the right to revoke or
  deny Access to the Learn Content to any person or entity whose use of the Learn Content suggests Prohibited
  Conduct. Access of the materials available at the Learn Content beyond that of normal patterns
  of use that suggests systematic copying of the materials constitutes abuse of the
  Learn Content and will result in revocation or denial of Access to the Learn Content. The terms &#8220;normal
  patterns&#8221; and &#8220;abuse&#8221; shall be determined solely by thoughtbot.</p>
  <p>You agree not to violate any U.S., foreign or international software or technology
  export laws and regulations, including without limitation the U.S. Export Administration
  Regulations.</p>

  <h2>8. LIMITED WARRANTIES</h2>
  <p>thoughtbot warrants that the software that allows Users to Access the Learn Content (&#8220;Software&#8221;),
  if operated as directed, will substantially achieve the functionality described
  on the Site. THOUGHTBOT PROVIDES NO WARRANTY THAT YOUR HARDWARE, SOFTWARE, TELECOMMUNICATIONS
  EQUIPMENT AND/OR INTERNET SERVICE IS COMPATIBLE OR SUFFICIENT TO ACCESS THE SITE.</p>
  <p>thoughtbot also warrants that the media containing the Software, if provided by thoughtbot,
  is free from defects in material on the date the User acquired the Software. THOUGHTBOT'S
  SOLE LIABILITY FOR ANY BREACH OF THIS WARRANTY SHALL BE, IN ITS SOLE AND ABSOLUTE
  DISCRETION: (A) TO REPLACE THE DEFECTIVE MEDIA OR SOFTWARE; (B) TO ADVISE THE USER
  HOW TO ACHIEVE SUBSTANTIALLY THE SAME FUNCTIONALITY WITH THE SOFTWARE AS DESCRIBED;
  OR (C) IF THE ABOVE REMEDIES ARE IMPRACTICABLE, TO REFUND THE SUBSCRIPTION FEE PAID
  FOR ACCESS TO THE LEARN CONTENT. THE USER MUST INFORM THOUGHTBOT OF ANY PROBLEM WITH THE SOFTWARE
  WITHIN THIRTY (30) CALENDAR DAYS OF DISCOVERING THE PROBLEM OR THOUGHTBOT WILL NOT
  BE OBLIGATED TO HONOR THIS WARRANTY. THOUGHTBOT WILL USE COMMERCIALLY REASONABLE
  EFFORTS TO REPAIR, REPLACE, OR REFUND THE SOFTWARE PURSUANT TO THE FOREGOING WARRANTY
  WITHIN THIRTY (30) CALENDAR DAYS OF BEING SO NOTIFIED. IF ANY MODIFICATIONS ARE
  MADE TO THE SOFTWARE BY THE USER DURING THE WARRANTY PERIOD; IF THE MEDIUM OR SOFTWARE
  IS SUBJECTED TO ACCIDENT, ABUSE, OR IMPROPER USE; OR IF THE USER VIOLATES THE TERMS
  OF THIS AGREEMENT, THEN THIS WARRANTY SHALL IMMEDIATELY TERMINATE. THIS WARRANTY
  SHALL NOT APPLY IF THE SOFTWARE IS USED ON OR IN CONJUNCTION WITH HARDWARE OR SOFTWARE
  OTHER THAN THE UNMODIFIED VERSION OF HARDWARE AND SOFTWARE WITH WHICH THE SOFTWARE
  WAS DESIGNED TO BE USED AS DESCRIBED.</p>
  <p>ALTHOUGH THOUGHTBOT HAS ATTEMPTED TO PROVIDE ACCURATE INFORMATION ON THE SITE, IT
  MAKES NO GUARANTEE OR WARRANTY, EXPRESS OR IMPLIED, AS TO THE RELIABILITY, ACCURACY,
  TIMELINESS OR COMPLETENESS OF THAT INFORMATION AND ASSUMES NO RESPONSIBILITY FOR
  ANY ERRORS OR OMISSIONS THEREIN.</p>

  <h2>9. DISCLAIMERS AND LIMITATION OF LIABILITY</h2>
  <p>USER ACCESSES THIS SITE AT HIS/HER/ITS OWN RISK. THE SITE IS PROVIDED ON AN &#8220;AS
  IS, AS AVAILABLE&#8221; BASIS WITHOUT WARRANTY OF ANY KIND (BEYOND THE WARRANTIES
  SET FORTH IN SECTION 10), EXPRESSED, IMPLIED OR STATUTORY, AND ANY AND ALL WARRANTIES
  OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT OF THIRD
  PARTIES&#8217; RIGHTS ARE SPECIFICALLY DISCLAIMED. THOUGHTBOT DOES NOT WARRANT ANY
  PARTICULAR RESULT FROM USE OF THE SOFTWARE OR SITE. THOUGHTBOT DOES NOT WARRANT THAT
  THE INFORMATION ON THE SITE IS ACCURATE, COMPLETE OR COMPLIES WITH ANY PARTICULAR
  LAW OR REGULATION, OR THAT THE OPERATION OF AND YOUR ACCESS TO THE SITE WILL BE
  UNINTERRUPTED, ERROR-FREE, VIRUS-FREE OR COMPLETELY SECURE. UNDER NO CIRCUMSTANCES
  AND UNDER NO LEGAL THEORY (TORT, CONTRACT OR OTHERWISE) SHALL THOUGHTBOT OR ANY OF
  ITS AFFILIATES, AGENTS, EMPLOYEES, SHAREHOLDERS, DIRECTORS, OFFICERS, THIRD PARTY
  CONTENT PROVIDERS, SUCCESSORS OR ASSIGNS BE LIABLE TO YOU OR ANY OTHER PERSON OR
  ENTITY FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES
  OF ANY CHARACTER, INCLUDING WITHOUT LIMITATION, DAMAGES FOR LOSS OF GOODWILL, WORK
  STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, LOSS OF DATA, LOSS OF PRODUCTIVITY OR
  CONTRACT, OR ANY AND ALL OTHER COMMERCIAL DAMAGES OR LOSSES. YOUR USE OF THIS SITE
  IS AT YOUR SOLE RISK AND ANY CONTENT THAT YOU DOWNLOAD IS DOWNLOADED AT YOUR OWN
  DISCRETION AND RISK, AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER
  SYSTEM IN EXCESS OF THE AMOUNT THOUGHTBOT RECEIVED FROM THE CUSTOMER FOR A SUBSCRIPTION
  TO ACCESS THE LEARN CONTENT OR A ONE-TIME PURCHASE, AND FOR ANY LOSS OF DATA THAT RESULTS FROM THE DOWNLOADING OF
  ANY SUCH CONTENT, INCLUDING ANY DAMAGES RESULTING FROM COMPUTER VIRUSES. IN NO EVENT
  WILL THOUGHTBOT BE LIABLE FOR ANY DAMAGES IN EXCESS OF THE AMOUNT THOUGHTBOT RECEIVED
  FROM THE CUSTOMER FOR A SUBSCRIPTION TO ACCESS THE LEARN CONTENT OR A ONE-TIME PURCHASE, EVEN IF THOUGHTBOT SHALL
  HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY CLAIM BY ANY OTHER
  PARTY. IN NO EVENT WILL WARRANTIES PROVIDED BY LAW, IF ANY, APPLY UNLESS THEY ARE
  REQUIRED TO APPLY BY STATUTE NOTWITHSTANDING THEIR EXCLUSION BY CONTRACT. THIS DISCLAIMER
  IS APPLICABLE TO ANY DAMAGE OR INJURY RESULTING FROM THE NEGLIGENCE OR AN OMISSION
  OF THOUGHTBOT, COMPUTER VIRUS OR OTHER SIMILAR ITEM, TELECOMMUNICATIONS ERRORS, OR
  UNAUTHORIZED ACCESS TO OR USE OF USER INFORMATION THROUGH THEFT OR ANY OTHER MEANS.
  THOUGHTBOT IS NOT LIABLE FOR CRIMINAL, TORTIOUS, OR NEGLIGENT ACTIONS OR OMISSIONS
  OF THIRD PARTIES THAT AFFECT THIS SITE.</p>
  <p>NO DEALER, AGENT, OR EMPLOYEE OF THOUGHTBOT IS AUTHORIZED TO MAKE ANY MODIFICATIONS,
  EXTENSION, OR ADDITIONS TO THESE LIMITED WARRANTIES OR DISCLAIMERS.</p>
  <p>THOUGHTBOT DISCLAIMS ALL WARRANTIES, AND SHALL HAVE NO LIABILITY FOR DAMAGES IN EXCESS
  OF THE AMOUNT THOUGHTBOT RECEIVED FROM THE CUSTOMER, ARISING FROM OR RELATED TO
  ANY SUPPORT SERVICES FOR YOUR USE OF THE SITE.</p>
  <p>THE LAWS OF YOUR JURISDICTION MAY PROHIBIT OR MODIFY THE FOREGOING DISCLAIMERS AND
  LIMITATIONS ON DAMAGES, AND SUCH DISCLAIMERS OR LIMITATIONS ON DAMAGES MAY NOT APPLY
  TO YOU.</p>

  <h2>10. Third Party Content; Hyperlinks</h2>
  <p>You acknowledge that thoughtbot does not pre-screen third party materials. thoughtbot
  is not the publisher or author of any information on the Site that is provided by
  third party content providers, and thoughtbot is not liable for any claims related
  to such information. Content provided by third parties is for informational purposes
  only, and thoughtbot&#8217;s use of the content constitutes neither an endorsement
  nor a recommendation by thoughtbot of the content. thoughtbot assumes no responsibility
  for third party products or services.</p>
  <p>learn.thoughtbot.com may contain links and references to other third party websites and materials.
  thoughtbot does not assume any responsibility for these websites or materials and
  provides these links or materials solely for the convenience of Users. thoughtbot
  does not endorse or otherwise recommend any of these third party websites, references,
  or the products, services, or information there offered. thoughtbot may disable any
  hyperlink to the Site. thoughtbot has the right but not obligation to monitor third
  party websites and hyperlinks to the Site.</p>
  <p>THOUGHTBOT MAKES NO WARRANTY, EITHER EXPRESSED OR IMPLIED, OF THE ACCURACY, MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THE INFORMATION PROVIDED
  BY THIRD PARTIES. THIS INCLUDES, BUT IS NOT LIMITED TO, ANY INFORMATION FOUND ON
  A LINK LOCATED ON THIS SITE THAT ALLOWS USERS TO ACCESS INFORMATION FOUND ON ANOTHER
  SITE. ADDITIONALLY, THOUGHTBOT DOES NOT WARRANT THE EXISTENCE OR FUNCTIONALITY OF
  ANY WEBSITE WHICH CAN BE ACCESSED THROUGH A LINK LOCATED ON THIS SITE.</p>

  <h2>11. Copyrights, Trademarks and Other Proprietary Rights</h2>
  <p>thoughtbot or its third party content providers shall retain all worldwide rights
  in the intellectual property in and on the Site, including, but not limited to,
  trademarks, service marks, trade dress, inventions, ideas, trade secrets, the source
  code, the HTML code, the "look and feel" of the Site, its color combinations, layout,
  and all other graphical elements, and the copyrights in and to its original content.
  You should assume that everything You read or see on the Site is copyrighted, trademarked,
  or otherwise protected and owned or licensed by thoughtbot. Except as expressly stated
  on the Site or in these Terms, nothing that You read or see on the Site or in the
  Learn Content may be copied, reproduced, modified, distributed, transmitted, republished,
  displayed or performed for commercial use without the prior written consent of thoughtbot,
  except as provided in these Terms. Nothing in these Terms grants You an express
  or implied license to use any of thoughtbot&#8217;s intellectual property except
  as set forth in Section 4.</p>
  <p>If You submit any unsolicited intellectual property, idea, copyrightable material,
  invention, discovery, improvement, trade secret or know-how to thoughtbot, You may
  forfeit Your intellectual property rights and moral rights contained in such communication
  or material.</p>

  <h2>12. Indemnification</h2>
  <p>User agrees to defend, indemnify and otherwise hold harmless thoughtbot and its officers,
  directors, agents, employees, shareholders, successors and assigns from and against
  any cause of action or claim, including court costs, expenses and attorney fees,
  related to or arising from User&#8217;s Prohibited Conduct or other improper or
  illegal use of the Site, or breach of these Terms.</p>

  <h2>13. Security; Authorized Use</h2>
  <p>Users are prohibited from violating or attempting to violate the security of the
  Site. thoughtbot has the right but not the obligation to investigate occurrences
  of possible violations and will cooperate with all applicable law enforcement authorities
  in prosecuting violators. thoughtbot may suspend Your Access while it conducts an
  investigation. Users are required to enter a user name and password to Access the
  Learn Content. To protect against unauthorized Access to Your account, it is recommended that
  You close the browser when You have finished using the Site. You are responsible
  for maintaining the secrecy of Your user name and password.</p>
  <p>You represent and warrant that You are the person on whose behalf You claim to accept
  these Terms, or, if You are entering into these Terms on behalf of a person or entity,
  You represent and warrant that You have the power and authority to enter into these
  Terms and bind the person or entity. You also represent and warrant that You are
  an adult who is legally able to enter into these Terms.</p>
  <p>You may not use the account, user name or password of someone else at any time.
  You agree to notify thoughtbot immediately of any unauthorized use or loss of Your
  account, user name, password and/or credit card information. You also agree to notify
  thoughtbot immediately if You are aware of or suspect other unauthorized use of the
  Site and/or the Site content. thoughtbot will not be liable for any loss that You
  incur as a result of someone else using Your user name and password with or without
  Your knowledge. You may be held liable for any losses incurred by thoughtbot, its
  affiliates, officers, directors, employees, consultants, agents or representatives
  due to someone else&#8217;s use of Your account, user name or password.</p>
  <p>thoughtbot will never ask You for Your password. If You need a new user name and/or
  password, thoughtbot will generate a new user name and password automatically through
  its computers and send it to Your e-mail or postal address.</p>

  <h2>14. Termination of Agreement</h2>
  <p>In addition to thoughtbot&#8217;s other rights, it may terminate this Agreement at
  any time and at its sole and absolute discretion. thoughtbot may also terminate Access
  to the Learn Content or cancel subscriptions to the Learn Content without notice if it believes, in
  its sole judgment, that You have breached or may breach any term or condition of
  this Agreement, or engaged in conduct that thoughtbot deems inappropriate.</p>
  <p>In the event of termination of this Agreement, the provisions in this Section and
  the provisions found in Sections 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,
  and 17 shall survive in perpetuity. Each Subscriber&#8217;s obligation to pay outstanding
  subscription fees shall survive any termination of this Agreement.</p>

  <h2>15. Privacy Policy</h2>
  <p>thoughtbot values Your trust. In order to honor that trust, all of thoughtbot&#8217;s
  employees are required to adhere to ethical standards in gathering, using, and safeguarding
  any information You provide. For more information, please review thoughtbot&#8217;s
  <%= link_to 'Privacy Policy', privacy_path %>, the terms
  of which are incorporated into this Agreement as if set forth in full.</p>

  <h2>16. Miscellaneous</h2>
  <p>These Terms constitute the entire agreement between thoughtbot and User regarding
  the subject matter hereof. Any previous agreement, whether oral or written, between
  thoughtbot and User dealing with the subject matter hereof is superseded. These Terms
  may only be modified or amended in writing. If any portion of these Terms is determined
  to be unenforceable for any reason, such portion will be deemed severed and the
  remaining terms and conditions shall continue in full force and effect. Upon User&#8217;s
  breach or threatened breach of these Terms, thoughtbot may pursue any legal or equitable
  remedy available, including but not limited to, direct, consequential and punitive
  damages and injunctive relief. thoughtbot&#8217;s remedies are cumulative and not
  exclusive. Failure of thoughtbot to exercise any remedy or enforce any portion of
  this Agreement at any time shall not operate as a waiver of any remedy or of the
  right to enforce any portion of the Agreement at any time thereafter. User agrees
  that regardless of any statute or law to the contrary, any claim or action arising
  out of or regarding this Agreement must be filed within one (1) year after such
  claim or cause of action arose or be forever barred. By Accessing the Site, User
  signs for and accepts this shortening of the statutes of limitations. thoughtbot
  makes no representation that the content of the Site is appropriate or available
  for use in all locations. thoughtbot operates this Site from the United States and
  makes no representation that the Site complies with any foreign or international
  laws. You agree to comply with all applicable local laws, including any international
  laws, in using this Site. You may not assign Your rights or delegate Your duties
  under these Terms. The parties agree that no third party is an intended beneficiary
  of these Terms. thoughtbot cannot provide notifications via post, only e-mail.</p>

  <h2>17. Governing Law; Dispute Resolution; Forum and Venue</h2>
  <p>These Terms and any claim or action related to or arising from these Terms or content
  on the Site shall be governed by Massachusetts law, without regard to any provision
  that would make the laws of another jurisdiction applicable. All disputes between
  You and thoughtbot shall be finally resolved through binding arbitration in Boston,
  Massachusetts. The arbitration shall be conducted by one (1) arbitrator who is a retired
  judge. The parties shall conduct discovery as agreed upon or as permitted by the
  arbitrator. A party may file for an order on the arbitration decision exclusively
  in the Massachusetts Superior Court, County of Suffolk or the United States District
  Court for the Eastern District of Massachusetts. The parties shall share equally the
  costs of the arbitrator, arbitration body and arbitration facilities (if applicable).
  Each party may bring a claim or action for injunctive relief without submitting
  the claim to final and binding arbitration. Neither party shall have the obligation
  to post a bond or demonstrate actual harm before bringing a claim or action for
  injunctive relief. Each party consents to the exclusive jurisdiction and venue of
  the Massachusetts Superior Court, County of Suffolk or the United States District
  Court for the Eastern District of Massachusetts for any equitable claim or other action
  related to or arising from these Terms. Each party shall bear his/her/its own expenses
  and attorneys&#8217; fees related to any arbitration, claim or action.</p>

  <p>EFFECTIVE DATE: APRIL 24, 2013</p>
</div>
</div>
