
<div class="text-box-wrapper solo">
  <h1>Success!<h1>
      <br />

<p>You'll now be notified about our upcoming promotion with RubyTapas.</p>

<p>Questions? <a href="mailto:ben@thoughtbot.com">Email Ben</a>.</p>
</div>
