<% content_for :subject, 'Thanks' %>

<div class="text-box-wrapper">
  <div class="text-box">
    <p class="offer">Now that you&rsquo;re part of the thoughtbot family, we&rsquo;d love to have you come back. Use coupon code <strong>ALUMNI20</strong> to take 20% off everything on Learn. <em>This coupon is good for new purchases only.</em></p>
    <p><strong>Feel free to share this coupon code with anyone you think may benefit from any of our materials, including Learn Prime!</strong></p>
  </div>
</div>
