<% content_for :subject, 'Thanks' %>

<h2>Thanks for your thoughts!</h2>

<h3 class="offer">Now that you&rsquo;re part of the thoughtbot family, we&rsquo;d love to have you come back. Use coupon code <strong>ALUMNI20</strong> to take 20% off any future workshop.</h3>
