<% content_for :page_header do %>
<section id="head-wrapper">
  <section id="homepage-top">
    <header>
      <h1><a href="/">thoughtbot workshops</a></h1>
    </header>
  </section>
</section>
<% end %>

<section>

<h2>Thanks for your feedback!</h2>

<h3 class="offer">Now that you're part of the thoughtbot family, we'd love to have you come back. Use coupon code <strong>ALUMNI20</strong> to take 20% off any workshop in the future.</h3>

</section>