<section class="timeline">
  <section class="profile">
    <img src="/assets/learn/face-ben.png" class="user-image"></img>
    <div class="user-info">
      <h3>Ben Orenstein</h3>
      <h4>User for 12 weeks</h4>
      <p>Former marketing manager turned developer</p>
    </div>
    <div class="goals">
      <h4>Long-term Goals</h4>
      <ul class="long-term-goals">
        <li>Learn to use Vim</li>
        <li>Improve my workflow - get faster in Git</li>
        <li>Learn Ruby</li>
      </ul>
    </div>
  </section>
</section>
