<section class="timeline">
  <section class="profile">
    <img src="/assets/learn/face-ben.png" class="user-image"></img>
    <div class="user-info">
      <h3>Ben Orenstein</h3>
      <h4>Prime Subscriber</h4>
      <p>Former marketing manager turned developer</p>
    </div>
    <div class="long-term-goals">
      <h4>Long-term Goals</h4>
      <ul>
        <li>Learn to use Vim</li>
        <li>Improve my workflow - get faster in Git</li>
        <li>Learn Ruby</li>
      </ul>
    </div>
  </section>
  <section class="progress-tracker">
    <ol class="week">
      <li>
        <h4>Week of July 21&ndash;26</h4>
        <form>
          <fieldset class="inputs">
            <ol>
              <li><label>Enter a Goal</label><input type="text" name="weekly-goal" placeholder="I want to..."></input></li>
            </ol>
            <ul>
              <li><input type="checkbox"></input>Complete thoughtbot's Intermediate Ruby on Rails Workshop</li>
              <li><input type="checkbox">Complete the RailsApps tutorials</li>
              <li><input type="checkbox">Watch Railscasts</li>
              <li><input type="checkbox">Read a book</li>
            </ul>
          </fieldset>
        </form>
      </li>
    </ol>
    <ol class="week-past">
      <li>
        <h4>Week of July 14&ndash;20</h4>
        <form>
          <fieldset class="inputs">
            <ul>
              <li>Deployed my app to production</li>
              <li>Learned about CoffeeScript</li>
              <li>Finished reading list</li>
              <li>Got faster with Vim</li>
            </ul>
          </fieldset>
        </form>
      </li>
    </ol>
  </section>
  <section class="notes">
    <fieldset>
      <textarea name="textarea" rows="10" cols="50">Take some notes</textarea>
    </fieldset>
  </section>
</section>
