<section class="timeline">
  <section class="profile">
    <img src="/assets/learn/face-ben.png" class="user-image"></img>
    <div class="user-info">
      <h3>Ben Orenstein</h3>
      <h4>Prime Subscriber</h4>
      <p>Former marketing manager turned developer</p>
    </div>
    <div class="long-term-goals">
      <p class="title">Long-term Goals</p>
      <ul>
        <li>Learn to use Vim</li>
        <li>Improve my workflow - get faster in Git</li>
        <li>Learn Ruby</li>
      </ul>
    </div>
  </section>
  <section class="progress-tracker">
    <ol class="week">
      <li>
        <p class="title">Week of July 21&ndash;26</p>
        <form>
          <fieldset class="inputs">
            <ul>
              <li class="goal add">
                <div class="goal-bullet-container">
                  <div class="goal-bullet"></div>
                  <input type="checkbox" />
                </div>
                <input type="text" name="weekly-goal" placeholder="Add a goal (press Enter to save)"></input>
              </li>
              <li class="goal">
                <div class="goal-bullet-container">
                  <div class="goal-bullet"></div>
                  <input type="checkbox" />
                </div>
                <span>Complete thoughtbot's Intermediate Ruby on Rails Workshop</span>
              </li>
              <li class="goal complete">
                <div class="goal-bullet-container">
                  <div class="goal-bullet"></div>
                  <input type="checkbox" />
                </div>
                <span>Complete the RailsApps tutorials</span>
              </li>
              <li class="goal">
                <div class="goal-bullet-container">
                  <div class="goal-bullet"></div>
                  <input type="checkbox" />
                </div>
                <span>Watch Railscasts</span>
              </li>
              <li class="goal">
                <div class="goal-bullet-container">
                  <div class="goal-bullet"></div>
                  <input type="checkbox" />
                </div>
                <span>Read a book</span>
              </li>
            </ul>
          </fieldset>
        </form>
      </li>
    </ol>
    <ol class="week-past">
      <li>
        <p class="title">Week of July 14&ndash;20</p>
        <form>
          <fieldset class="inputs">
            <ul>
              <li>Deployed my app to production</li>
              <li>Learned about CoffeeScript</li>
              <li>Finished reading list</li>
              <li>Got faster with Vim</li>
            </ul>
          </fieldset>
        </form>
      </li>
    </ol>
  </section>
</section>
