<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Humans Present: tmux</h1>
    <section id="course-info">
      <h2>Improve your workflow and become a better, happier developer.</h2>

      <section id="course-description">
        <p><a href="http://tmux.sourceforge.net/">tmux</a>, the terminal multiplexer, is gaining in popularity. This <strong>26 minute interview and screencast</strong> shows you why you want to use tmux, and how to use it to improve your development workflow and be a better, happer developer. Watch a quick preview:</p>
        <p><iframe src="https://fast.wistia.com/embed/iframe/7cfd622670?videoWidth=653&videoHeight=367&controlsVisibleOnLoad=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="653" height="367"></iframe></p>
        <p>In this video with Josh Clayton, tmux user and thoughtbot developer, and Chad Pytel, Founder and CEO of thoughtbot, cover:</p>
        <ol>
          <li>What tmux is and why you want to use it</li>
          <li>Panes and Windows</li>
          <li>Keybindings</li>
          <li>Copy and Paste</li>
          <li>Addons and Scripting</li>
        </ol>
        <p style="margin-top: 20px;">When you purchase you get both an HD 720p version, and a lower quality version for faster download.</p>
      </section>
    </section>

    <section id="workshop-details">
      <p class="cost highlight">$15</p>
      <p>Single viewer</p>

      <section id="register">
        <a id="tmux-purchase-individual" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '209571791'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase for Yourself</a>
      </section>

      <p class="cost highlight">$50</p>
      <p>Unlimited sharing within your company</p>

      <section id="register">
      <a id="tmux-purchase-company" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '209571817'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase for<br/>Your Company</a>
      </section>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
<a id="tmux-purchase-individual" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '209571791'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase this screencast for just $15 and become a faster, happier developer with tmux&rarr;</a>
<p>Purchase <a id="tmux-purchase-company" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '209571817'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">unlimited sharing within your company</a> for just $50.</p>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">The fine print</h3>
        <ul>
          <dt><p>What do I get?</p></dt>
          <dd><p>Your purchase gets you an HD 720p version of this interview and screencast, and a lower-quality version for faster download.</p></dd>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>How is the content delivered?</p></dt>
          <dd><p>After you purchase the screencast you will receive a link to download a MOV file.</p></dd>
          <dt><p>What should I know before watching?</p></dt>
          <dd><p>We assume that you are comfortable with basic Vim usage. This is not an introduction to using Vim, but it shows you everything you need to use Rails with Vim.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
