<div class="top">
  <div class="wrapper">
    <h2>Terms and conditions</h2>
  </div>
</div>
<div id="content">
  <div class="wrapper">
    <div class="dark-content clearfix">
      <div id="terms" class="col clearfix">
        <ul>
          <li>
            The ticket will entitle the named holder entrance to this event.
          </li>
          <li>Tickets are non-refundable.</li>
          <li>Places may not be resold and are non-transferrable.</li>
          <li>
            We may film, take photographs, and use your feedback for marketing
            purposes.
          </li>
          <li>
            thoughtbot, inc. will not be liable for any direct or indirect
            damage of any nature arising out of the cancellation of the event.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
