<section class="upcase-ruby-tapas">
  <%= inline_svg("upcase-and-ruby-tapas.svg") %>

  <h1 class="title">
    Upcase + <a href="http://rubytapas.com">Ruby Tapas</a>
  </h1>

  <p>
  <mark class="highlight">Something exciting is coming</mark>, but it won't last long.
  </p>
  <p>
    Enter your email below so you don't miss out.
  </p>

  <form action="https://www.getdrip.com/forms/73161697/submissions" method="post" data-drip-embedded-form="73161697">
    <fieldset>
      <input type="email" name="fields[email]" value="" placeholder="Email Address"/>
      <input type="hidden" name="fields[manages_developers]" value="false"/>
      <label><input type="checkbox" name="fields[manages_developers]" value="true"/>Check this box if you manage other developers</label>
      <input type="submit" name="submit" value="Keep Me In The Loop" data-drip-attribute="sign-up-button" />
    </fieldset>
  </form>
</section>
