<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Vim for Rails Developers</h1>
    <section id="course-info">
      <h2>Create and edit your Ruby on Rails code more efficiently.</h2>

      <section id="course-description">
        <p>If you write Rails code in vim, this <strong>34 minute screencast</strong> will teach you to create and edit that code more efficiently. Watch a quick preview (also available as <a style="font-size: 18px; font-weight: 700;" href="https://tb-workshops.s3.amazonaws.com/rails_for_vim_devs_preview.mov">mov</a>):</p>
        <p><object width="653" height="392" id="wistia_734705" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="https://wistia.sslcs.cdngc.net/flash/embed_player_v1.2.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="wmode" value="opaque"/><param name="flashvars" value="videoUrl=https://wistia.sslcs.cdngc.net/deliveries/ef0f85b9a68d173372c15c24d442efe581224963.bin&stillUrl=https://wistia.sslcs.cdngc.net/deliveries/163c068277be56c0e270e152de85c44e7bb01d9f.bin&unbufferedSeek=true&controlsVisibleOnLoad=true&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=https://distillery.wistia.com/x&accountKey=wistia-production_4818&mediaID=wistia-production_734705&mediaDuration=58.085"/><embed src="https://wistia.sslcs.cdngc.net/flash/embed_player_v1.2.swf" width="653" height="392" name="wistia_734705" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="videoUrl=https://wistia.sslcs.cdngc.net/deliveries/ef0f85b9a68d173372c15c24d442efe581224963.bin&stillUrl=https://wistia.sslcs.cdngc.net/deliveries/163c068277be56c0e270e152de85c44e7bb01d9f.bin&unbufferedSeek=true&controlsVisibleOnLoad=true&autoPlay=false&endVideoBehavior=default&playButtonVisible=true&embedServiceURL=https://distillery.wistia.com/x&accountKey=wistia-production_4818&mediaID=wistia-production_734705&mediaDuration=58.085"></embed></object><script src="https://wistia.sslcs.cdngc.net/embeds/v.js" charset="ISO-8859-1"></script><script>if(!navigator.mimeTypes['application/x-shockwave-flash'] || navigator.userAgent.match(/Android/i)!==null)Wistia.VideoEmbed('wistia_734705',653,392,{videoUrl:'https://wistia.sslcs.cdngc.net/deliveries/69bf6f2eec7eb0c6f77d0af1435eecf2e61541ba.bin',stillUrl:'https://wistia.sslcs.cdngc.net/deliveries/163c068277be56c0e270e152de85c44e7bb01d9f.bin',distilleryUrl:'https://distillery.wistia.com/x',accountKey:'wistia-production_4818',mediaId:'wistia-production_734705',mediaDuration:58.085})</script></p>
        <p>I spend every day writing Rails code in vim, and I’ve optimized the heck out that process.  The screencast contains the best of what I’ve learned for creating and editing Rails code at top-speed.  Come look over my shoulder and I’ll show you my best stuff.</p>
        <p><em>Chapter topics:</em></p>
        <ol>
          <li>The Fundamentals of Efficient Editing</li>
          <li>Mastering rails.vim</li>
          <li>Using Snipmate</li>
          <li>The Power of Tags</li>
          <li>Why You Shouldn’t Use grep</li>
          <li>Quick edits made quicker</li>
        </ol>

        <p><q>Vim for Rails Developers has helped me break my dependence on the traditional IDE. The advice and plugins have enabled me to replace my IDE with Vim.</q> <br>
        </p>
        <p class="source" style="margin-top: -30px;">—Adam Wolf</p>
        <p><q>vim for Rails devs is packed with gems. Definitely a must watch!</q><br/></p>
        <p class="source" style="margin-top: -30px;">—<a href="https://twitter.com/#!/mptre/status/152193625164480512">Anton Lindqvist</a></p>
      </section>
    </section>

    <section id="workshop-details">
      <p class="cost highlight">$15</span></p>
      <p>Single viewer</p>

      <section id="register">
        <a id="vim-purchase-individual" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '176948782'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase for Yourself</a>
      </section>

      <p class="cost highlight">$50</p>
      <p>Unlimited sharing within your company</p>

      <section id="register">
      <a id="vim-purchase-company" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '177699042'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase for<br/>Your Company</a>
      </section>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
<a id="vim-purchase-individual" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '176948782'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase this screencast for just $15 and start editing your Rails code more efficiently with Vim&rarr;</a>
<p>Purchase <a id="vim-purchase-company" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '177699042'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">unlimited sharing within your company</a> for just $50.</p>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">The fine print</h3>
        <p>This is a slightly modified version of the screencast that was previously available at codeulatescreencasts.com. If you previously bought that one, this is probably not useful to you.</p>
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>How is the content delivered?</p></dt>
          <dd><p>After you purchase the screencast you will receive a link to download a MOV file.</p></dd>
          <dt><p>What should I know before watching?</p></dt>
          <dd><p>We assume that you are comfortable with basic Vim usage. This is not an introduction to using Vim, but it shows you everything you need to use Rails with Vim.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
