<section id="head-wrapper">
  <section id="homepage-top">
    <h1>Vim for Rails Developers</h1>
    <section id="course-info">
      <h2>Create and edit your Ruby on Rails code more efficiently.</h2>

      <section id="course-description">
        <h3 style="margin-bottom: 20px;">Watch a preview of the screencast: <a style="font-size: 18px; font-weight: 700;" href="https://tb-workshops.s3.amazonaws.com/rails_for_vim_devs_preview.mov">MOV</a></h3>

        <p>If you write Rails code in vim, this screencast will teach you to create and edit that code more efficiently.</p>
        <p><a href="https://tb-workshops.s3.amazonaws.com/rails_for_vim_devs_preview.mov" title="Watch a preview of the screencast"><img src="/images/vim.png"></a></p>
        <p>I spend every day writing Rails code in vim, and I’ve optimized the heck out that process.  The screencast contains the best of what I’ve learned for creating and editing Rails code at top-speed.  Come look over my shoulder and I’ll show you my best stuff.</p>
        <p><em>Chapter topics:</em></p>
        <ol>
          <li>The Fundamentals of Efficient Editing</li>
          <li>Mastering rails.vim</li>
          <li>Using Snipmate</li>
          <li>The Power of Tags</li>
          <li>Why You Shouldn’t Use grep</li>
          <li>Quick edits made quicker</li>
        </ol>

        <p><q>Vim for Rails Developers has helped me break my dependence on the traditional IDE. The advice and plugins have enabled me to replace my IDE with Vim.</q> <br>
        </p>
        <p class="source" style="margin-top: -30px;">—Adam Wolf</p>
      </section>
    </section>

    <section id="workshop-details">
      <section id="register">
      <a id="register-button" href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '176948782'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase</a>
      </section>

      <h3>Cost</h3>
      <p class="cost">$15</span></p>
    </section>

  </section>
</section>

<section id="register-below-the-fold">
  <a href="http://thoughtbot.myshopify.com/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', '176948782'); f.appendChild(v); var r = document.createElement('input'); r.setAttribute('type', 'hidden'); r.setAttribute('name', 'return_to'); r.setAttribute('value', 'http://thoughtbot.myshopify.com/checkout'); f.appendChild(r); f.submit(); return false;">Purchase this screencast for just $15 and start editing your Rails code more efficiently with Vim&rarr;</a>
</section>


<div id="flash"></div>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <section id="terms">
        <h4 class="terms">The fine print</h3>
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <dt><p>How is the content delivered?</p></dt>
          <dd><p>After you purchase the screencast you will receive a link to download a MOV file.</p></dd>
          <dt><p>What should I know before watching?</p></dt>
          <dd><p>We assume that you are comfortable with basic Vim usage. This is not an introduction to using Vim, but it shows you everything you need to use Rails with Vim.</p></dd>
        </ul>
      </section>
    </section>

    <section id="sidebar">
    </section>
  </section>
</section>
