<% content_for :subject, "Watch Live" %>

<div class="text-box-wrapper">
  <div class="text-box">
    <h2>Watch thoughtbot workshops live</h2>

    <p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640" height="456" id="utv906541"><param name="flashvars" value="autoplay=true&amp;brand=embed&amp;cid=9250937&amp;v3=1"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/><embed flashvars="autoplay=true&amp;brand=embed&amp;cid=9250937&amp;v3=1" width="640" height="456" allowfullscreen="true" allowscriptaccess="always" id="utv906541" name="utv_n_680184" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" /></object></p>

    <p><%= link_to "Visit the Chat room", CHAT_LINK %> to chat in real-time and ask questions.</p>
  </div>
</div>

<aside>
  <h3>More from thoughtbot</h3>
  <hr>
  <ul class='related-products'>
    <%= render partial: 'topics/workshop', collection: Workshop.only_active.by_position %>
    <%= render partial: 'topics/product', collection: Product.active.ordered %>
  </ul>
</aside>
