$journey-line-color: lighten($warmgray, 6%);
$bullet-size: 70px;

body.prime-marketing {
  background: $journey-line-color;
}

.journey-headline {
  padding: 2rem 6vw 0;
  text-align: center;

  .logo {
    display: inline-block;
    line-height: 0;
    margin-bottom: 2rem;

    h1 {
      display: inline-block;
      line-height: 88px;
    }

    img {
      display: inline-block;
      float: left;
    }
  }

  h1, .prime-journey-cta {
    margin: auto;
    max-width: 800px;
  }

  h1 {
    color: darken(desaturate($warmgray, 10%), 35%);
    font-size: 3.2rem;

    @include prime-marketing-mobile {
      font-size: 2rem;
    }
  }

  .prime-journey-cta {
    bottom: -5rem;
    margin-top: -2rem;
    position: relative;
  }

  .prime-company-cta {
    bottom: -5rem;
    display: block;
    font-style: italic;
    margin-top: 0;
    padding-top: .5rem;
    position: relative;
    z-index: 2;
  }
}

.prime-journey-cta {
  @include prime-button;

  @include prime-marketing-mobile {
    padding: 1rem;
  }

  h2, p, h3 {
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
  }

  h2 {
    font-size: 2.4rem;

    span {
      font-weight: 100;
    }

    @include prime-marketing-mobile {
      font-size: 2rem;
    }
  }

  p {
    font-family: $sans-serif;
    font-size: 1.5rem;

    @include prime-marketing-mobile {
      font-size: 1.2rem;
    }
  }
}

body.prime-marketing footer {
  margin: 0 auto;
  max-width: 111rem;
  padding: 5rem 6vw;
  width: 100%;

  a {
    margin: 0 .25rem;
  }
}

svg._jsPlumb_connector path, svg._jsPlumb_endpoint path {
  border-radius: 100%;
  stroke: $journey-line-color;
  stroke-dasharray: 15px, 21px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
}

.connector-dot {
  display: none;
}

