.journey {
  background: $lightwarmgray;
  overflow: hidden;
  padding-top: 10rem;
  position: relative;

  // animate the curtain going from 100% height->0% to reveal the dotted trail
  // only animate this on desktops since it impacts performance in iOS a lot
  .curtain {
    display: none;

    @include prime-marketing-fullsize {
      background: $lightwarmgray;
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
      z-index: 1;

      &.animate {
        @include animation(draw-curtain 6s linear);
        @include animation-fill-mode(both);
      }
    }
  }

  .pitch {
    @include clearfix;
    margin: 0 auto 10rem;
    max-width: 111rem;
    padding: 0 6vw;
    position: relative;
    z-index: 2;

    @include prime-marketing-mobile {
      margin-bottom: 4rem;
    }

    article {
      float: right;
      margin-top: 4.75rem;
      position: relative;
      width: 37%;

      @media screen and (max-width: 1560px) {
        width: 30%;
      }

      @include prime-marketing-tablet {
        float: none;
        margin-top: 0;
        width: 100%;
      }

      @include prime-marketing-mobile {
        margin-top: 0;
      }

      > h2 {
        font-size: 2.75rem;
        line-height: 1.2em;
        margin-bottom: 1rem;

        @include prime-marketing-mobile {
          font-size: 2rem;
        }
      }

      > p {
        font-family: $sans-serif;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @include prime-marketing-mobile {
          font-size: 1.2rem;
        }
      }

      .terms {
        font-size: 1rem;
        margin-top: 2rem;
      }
    }
  }

  .pitch.left {
    .supporting-visual {
      float: right;
    }

    article {
      float: left;
      margin-left: 5rem;

      @include prime-marketing-tablet {
        margin-left: 0;
        padding-left: 5rem;
      }

      @include prime-marketing-mobile {
        padding-left: 0;
      }
    }

    .journey-bullet {
      @include prime-marketing-tablet {
        left: -1rem;
      }
    }
  }

  .pitch.center {
    article {
      @include prime-marketing-tablet {
        padding-right: 5rem;
      }

      @include prime-marketing-mobile {
        padding-right: 0;
      }
    }

    .journey-bullet {
      @include prime-marketing-tablet {
        left: auto;
        right: -1rem;
      }
    }
  }

  .pitch.exclusive-content {
    article {
      margin-top: 12rem;

      @include prime-marketing-tablet {
        margin-top: 0;
      }
    }
  }

  .pitch.final {
    .supporting-visual {
      width: 30%;

      @include prime-marketing-tablet {
        float: left;
        margin: 0 2rem 2rem 0;
        width: auto;

        img {
          width: 300px;
        }
      }

      @include prime-marketing-mobile {
        display: none;
      }
    }

    article {
      margin-top: 0;
      width: 57%;

      @include prime-marketing-tablet {
        width: 100%;

        .cta {
          clear: both;
        }
      }
    }
  }

  .supporting-visual {
    float: left;
    position: relative;
    width: 45%;

    @media screen and (max-width: 1560px) {
      width: 55%;
    }

    @include prime-marketing-tablet {
      float: none;
      width: 100%;
    }

    > img {
      border: 1px solid rgb(175, 175, 175);
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    &.profile {
      height: 400px;

      @include prime-marketing-mobile {
        height: auto;
        margin-top: 2rem;
      }

      .mini-profile {
        background: #fff;
        border: 1px solid rgb(150, 150, 150);
        border-radius: .5rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
        box-sizing: content-box;
        display: table;
        padding: 1.5rem;
        @include position(absolute, 0px 0px 0 0);
        width: 420px;
        z-index: 1;

        @include prime-marketing-mobile {
          padding: .5rem 0;
          width: 80%;
          margin-top: -1rem;
          margin-right: 5%;
        }

        .images {
          background: rgb(150, 150, 150);
          border: 1px solid rgb(150, 150, 150);
          border-radius: 100%;
          cursor: pointer;
          float: left;
          height: 150px;
          overflow: hidden;
          position: relative;
          @include transition;
          width: 150px;

          @include prime-marketing-mobile {
            height: 70px;
            margin-left: 1rem;
            width: 70px;
          }

          svg {
            z-index: 2;
            fill: transparent;
            margin-top: 1rem;
            position: absolute;
            stroke: #fff;
            stroke-dasharray: 7px, 12px;
            stroke-linecap: round;
            stroke-width: 4px;

            @include prime-marketing-mobile {
              height: 75px;
              width: 70px;
            }
          }

          img {
            @include animation(cycle-avatars 5s);
            @include animation-fill-mode(both);
            border-radius: 100%;
            position: absolute;
            z-index: 1;

            @for $i from 0 through 7 {
              &:nth-of-type(#{$i + 1}) {
                @include animation-delay(#{($i * 5) - ($i * 2)}s);
              }
            }
          }
        }

        figcaption {
          display: table-cell;
          vertical-align: middle;

          @include prime-marketing-mobile {
            h2 {
              font-size: 1.2rem;
            }
          }
        }

        h2 {
          border-bottom: 2px solid rgba(70, 125, 200, .5);
          color: rgb(70, 125, 200);
          display: inline-block;
          font-weight: 400;
        }
      }

      > img {
        width: 500px;
        @include position(absolute, 0 0 0px 0px);

        @include prime-marketing-mobile {
          position: static;
        }
      }
    }

    &.two-stacked {
      @include prime-marketing-tablet {
        margin-top: 1rem;
        padding-left: 5rem;
      }

      @media screen and (max-width: 775px) {
        padding-left: 0;
      }

      @include prime-marketing-mobile {
        padding: 0;
        margin: 0;
      }

      > div {
        float: left;
        @include perspective(1000);
        position: relative;
        width: 50%;

        &:hover {
          z-index: 5;
        }

        // animate the fly-in when waypoints adds the visible class
        // only animate on desktop devices due to iOS animation crashes
        &.visible {
          figure {
            opacity: 1;

            @include prime-marketing-fullsize {
              @for $i from 0 through 2 {
                &:nth-of-type(#{$i + 1}) {
                  @include animation(two-stacked-fly-in .9s $ease-out-circ);
                  @include animation-delay(#{($i + 1) * .2}s);
                  @include animation-fill-mode(backwards);
                }
              }
            }
          }
        }

        .figuregroup {
          height: 380px;
          margin-bottom: 1.5rem;
          width: 270px;

          &:nth-of-type(odd) {
            margin-right: 2vw;
          }

          // animate the fan-out on hover
          &:hover {
            figure {
              &:nth-of-type(1) {
                @include transform(translate(-4rem, -4rem) rotate(-3deg));

                &:hover {
                  @include transform(translate(-4rem, -4rem) translateZ(3rem) rotate(-3deg));
                }
              }

              &:nth-of-type(2) {
                @include transform(translate(0, -2rem));

                &:hover {
                  @include transform(translate(0, -2rem) translateZ(3rem));
                }
              }

              &:nth-of-type(3) {
                @include transform(translate(4rem, 0) rotate(3deg));

                &:hover {
                  @include transform(translate(4rem, 0) translateZ(3rem) rotate(3deg));
                }
              }

              &:hover {
                z-index: 6;
              }
            }
          }
        }

        @include prime-marketing-tablet {
          width: 270px;

          &:nth-of-type(odd) {
            margin-right: 8vw;
          }
        }

        @include prime-marketing-mobile {
          float: none;
          height: 440px;
          width: 100%;
        }
      }

      h3 {
        font-size: 1rem;
        font-weight: 600;
        padding: 0 0 1rem 1.5rem;
      }

      figure {
        opacity: 0;
        @include transform(translate(0, 0) rotate(0deg));
        @include transition(.25s ease);

        > a {
          display: block;
          height: 100%;
        }

        // stack the cards
        @for $i from 0 through 2 {
          &:nth-of-type(#{$i + 1}) {
            margin-left: 1.3rem * $i;
            margin-top: 1.3rem * $i;
          }
        }
      }
    }

    &.two-screenshot {
      height: 400px;

      @include prime-marketing-mobile {
        height: auto;
      }

      img {
        @include position(absolute, 0 0 0px 0px);
        width: 500px;

        @include prime-marketing-mobile {
          position: static;

          &:first-child {
            margin-bottom: 1rem;
          }
        }

        &:last-child {
          bottom: auto;
          left: auto;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
}

