form {
  margin: 0 0 2em 0;

  ul, ol {
    margin: 0;
    padding: 0;
  }

  .errors, .errors li {
    color: $red;
    font-size: 18px;
    font-style: bold;
    margin-top: 20px;
  }

  li {
    list-style-type: none;
  }

  fieldset {
    legend {
      color: $darkwarmgray;
      font-weight: 600;
      padding: 24px 0 12px 0;
    }

    label {
      color: $darkwarmgray;
      display: block;
      font-size: $small-font-size;
      font-weight: normal;
    }

    input[type="text"],
    input[type="password"],
    input[type="tel"],
    textarea,
    input[type="email"],
    input[type="select"] {
      background-color: #FFF;
      border: 1px solid darken($warmgray, 5%);
      border-radius: 4px;
      box-shadow: none;
      box-sizing: border-box;
      font-family: $sans-serif;
      font-size: 1rem;
      margin: 0.25em 0;
      padding: 0.75rem 1em;
      width: 100%;

      &:focus {
        border: 1px solid $upcase-blue;
        outline: none;
        outline-color: none;
      }
    }

    ol {
      &.actions {
        margin-top: 2em;
      }

      li {
        margin: 0 0 0 0;

        p.inline-hints {
          font-style: italic;
        }

        p.inline-errors {
          color: $upcase-blue;
          font-size: 16px;
        }

        &.error {
          p.inline-errors {
            color: $red;
          }

          p.inline-hints {
            color: $upcase-blue;
          }

          input[type=text],
          input[type=email],
          input[type=password],
          input[type=tel],
          textarea {
            background: #f8bcba;
          }
        }

        &.commit {
          margin-top: 24px;
        }
      }
    }
  }
}
