ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  .list-title {
    font-size: 1.375em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  .number {
    font-weight: 700;
  }
}
