<figure class="exercise <%= completeable.state.parameterize %>-exercise">
  <div class="dot-container">
    <div class="dot"></div>
  </div>

  <div class="exercise-item">
    <%= completeable_link(completeable) do %>
      <h3 class="exercise-title"><%= completeable.name %></h3>
      <p><%= completeable.summary %></p>
    <% end %>
  </div>
</figure>
