<div class="step <%= exercise.state.parameterize %>">
  <%= exercise_link exercise.url, title: exercise.title do %>
    <div class="dot"></div>
  <% end %>
  <div class="tooltip">
    <%= render "products/exercises/exercise", exercise: exercise %>
  </div>
</div>
