<div class="step <%= exercise.state.parameterize %>-exercise">
  <%= render "trails/exercise_dot", exercise: exercise %>

  <div class="tooltip">
    <%= render "products/exercises/exercise", exercise: exercise %>
  </div>
</div>
