<div class="step <%= exercise.status_for(current_user).state.parameterize %> <%= "active" if exercise.active? %>">
  <%= exercise_link exercise.url, title: exercise.title do %>
    <div class="dot"></div>
  <% end %>
  <div class="tooltip">
    <%= render "products/exercises/exercise", exercise: exercise %>
  </div>
</div>
