<%= link_to "< Back to #{topic.name} resources", topic_resources_path(topic) %>
<p class="prerequisite">Hey, before you start this...Have you done the <a href="">Intro to Rails</a> tutorial?</p>
<header>
  <div class="topic-image">
    <%= image_tag "topics/#{topic.slug}.svg" %>
  </div>

  <div class="topic-title">
    <h2><%= topic.name %></h2>
    <h1><%= trail.name %></h1>
  </div>
</header>
