<section class="progress">
  <%= render partial: "trails/progress_dot",
    collection: trail.completeables,
    as: "completeable"
  %>
  <%= render "trails/steps_remaining", trail: trail %>
</section>
