<div class="teachers-container">
  <span class="divider">
    <h4 class="text">Teachers</h4>
  </span>
  <div class="text-box">
    <%= render(
      partial: "teachers/details",
      collection: @trail.teachers,
      as: :teacher
    ) %>
  </div>
</div>
