<section class="trail-resources-container">
  <span class="divider">
    <h4 class="text">Resources</h4>
  </span>
  <p>Useful resources for this trail and its exercises.</p>

  <ul>
    <li>
      <a href="#">Test Driven Rails Repo</a>
    </li>
  </ul>
</section>
