<% content_for :page_title, @trail.name %>
<% content_for :subject_block do %>
  <%= render "header", topic: @trail.topic, trail: @trail %>
<% end %>

<section class="trails-progress">
  <section class="trail">
    <%= render "trails/exercise_dots", trail: @trail %>
  </section>
</section>

<section class="exercises-container">
  <span class="divider">
    <h4 class="text">Exercises</h4>
  </span>

  <%= render(
    partial: "products/exercises/exercise",
    collection: @trail.exercises
  ) %>
</section>
