<p>
  Are you sure you want to cancel your <%= t("shared.subscription.name") %>
  subscription? You will lose access to the products you acquired through
  <%= t("shared.subscription.name") %>, as well as the forum at
  the end of your billing cycle.
</p>
