<div class="text-box-wrapper solo cancellation-discount">
  <article>
    <p>Your subscription has been cancelled. We're sorry to see you go. You'll lose access to all the products acquired through your subscription at the end of this billing cycle &mdash; if you've purchased anything seperately, you'll retain access to those products on your account.</p>
  </article>
  <section class="actions">
    <form>
      <input name="commit" type="submit" value="Get a refund">
      <p>This will refund the last bill charged to your account &mdash; you'll lose access to all the products acquired through your subscription immediately.
    </form>
  </section>
</div>
