.flashes {
  margin: .5em auto 2em;
  max-width: $max-width;
  @include outer-container;
  padding: 3em 2em 0 2em;
  text-align: center;

  .flash {
    background: $light-yellow;
    border: 1px solid $light-brown;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    overflow-y: auto;
    padding: 1rem 2rem;

    a {
      font-family: $sans-serif;
      font-weight: 600;
    }
  }

  .failure {
    background: #f8bcba;
    border: 1px solid $red;
    color: $red;

    a {
      color: $red;
    }
  }

  .notice {
    color: $dark-brown;
    font: 400 1.2rem/1.2em $sans-serif;

    a {
      color: $flash-color;
    }
  }
}

.flashes + .content {
  padding-top: 1em;
}
