footer {
  @extend .clearfix;
  clear: both;
  margin: 0 auto;
  max-width: $footer-width;
  opacity: .5;
  padding: 2em;
  @include transition(opacity .5s);
  width: 93%;

  &:hover {
    opacity: 1;
  }

  h3 {
    color: #545454;
    font-size: 24px;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
  }

  a {
    color: #7a7a7a;
    text-decoration: none;

    &:link {
      color: #7a7a7a;
    }

    &:hover {
      color: $red;
    }
  }

  nav {
    @extend .clearfix;

    section {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(4);

      &#thoughtbot {
        padding-right: 1em;
        width: flex-grid(3);
      }

      &#trails {
        width: flex-grid(9);
        margin-right: 0;

        ul:first-child li {
          margin-bottom: $lh;
          width: 100%;
          line-height: 0;
        }

        ul li {
          width: 33%;
          float: left;
        }
      }

      ul {
        list-style: none;
        margin-bottom: $lh;

        li {
          display: block;
          margin-bottom: $lh * .2;
        }
      }
    }
  }

  p#copyright {
    display: block;
    margin-bottom: $lh;
    margin-top: $lh * 2;
    color: #7a7a7a;
    font: italic 16px $serif;
    line-height: $lh;
    text-rendering: optimizeSpeed;

    em {
      font-style: italic;
    }
  }
}

a.chat, a.chat:link, a.chat:visited {
  border-radius: 5px 5px 0 0;
  background: #AD141E none repeat scroll 0 0;
  color: white;
  padding: 10px;
  display: block;
  z-index: 99999999;
  margin: 0px 20px;
  bottom: 0px;
  right: 0px;
  position: fixed;
  opacity: 1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  footer {
    width: 100%;

    nav section {
      float: none;
      width: 100%;

      &#trails {
        width: 100%;
        margin-right: 0;

        ul li {
          width: 50%;
          float: left;
        }
      }
    }
  }
}
