#header-wrapper {
  @include linear-gradient($upcase-blue-1, $upcase-blue-2);
  margin: 0 auto 40px;
  width: 100%;
  flex: none;
}

.header-container {
  @include user-select(none);
  @include outer-container;
  max-width: $max-width;
  position: relative;

  .small-logo {
    float: left;
    font-size: 0;
    padding: 1rem 0;

    @include dashboard-small-only {
      display: block;
      float: none;
      text-align: center;
    }

    img, span {
      color: #ffffff;
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

    span {
      font-family: $sans-serif;
      font-size: 50px;
    }
  }

  .nav-toggle {
    display: none;

    @include dashboard-small-only {
      @include position(absolute, 1.25em 1em null null);
      border: 1px solid rgba($base-background-1, 0.5);
      border-radius: 3px;
      color: $lightwarmgray;
      cursor: pointer;
      display: block;
      font-size: $font-size-smallest;
      font-weight: normal;
      padding: 0.25em 0.5em;
    }

    &:active {
      @include dashboard-small-only {
        background-color: rgba($base-background-1, 0.125);
        border-color: $base-background-1;
      }
    }
  }

  nav {
    @include dashboard-small-only {
      max-height: 100em;
      overflow-y: hidden;
      transition: all 0.75s $ease-in-out-sine;
    }

    @include dashboard-medium {
      float: right;
    }

    @media print {
      display: none;
    }

    &.closed {
      @include dashboard-small-only {
        max-height: 0;
        opacity: 0;
      }
    }

    img {
      border-radius: 10%;
      vertical-align: bottom;
    }

    ul {
      list-style-type: none;
      height: $navigation-height;
      margin: 0;
      padding: 0;

      @include dashboard-small-only {
        display: block;
        text-align: center;
      }
    }

    li {
      @include transition;
      display: block;
      float: left;
      margin: 0;

      @include dashboard-small-only {
        border-bottom: 1px solid darken($upcase-blue, 5);
        display: block;
        margin: 0;
        width: 100%;
      }

      &:hover,
      &.active {
        background: darken($upcase-blue, 5);
      }

      &:first-child a {
        border: 0;
      }
    }

    li.mentor {
      a {
        padding-right: 0.8rem;
      }

      img {
        @include size(30px);
        margin: 1rem 2.8rem 0 0;

        @include body-mobile {
          display: none;
        }
      }
    }

    li a {
      border-left: 1px solid darken($upcase-blue, 5);
      color: white;
      float: left;
      font-family: $sans-serif;
      font-size: 100%;
      font-weight: 600;
      height: $navigation-height;
      padding: 1rem 2.8rem;

      @include dashboard-small-only {
        text-align: center;
        width: 100%;
      }
    }

    .account a {
      background: image-url("account.svg") center center no-repeat;
      background-size: em(26);
      padding: em(15);
      width: $navigation-height + 1px;

      @include dashboard-small-only {
        width: 100%;
      }

      img {
        @include linear-gradient(#3481ea, #118ed5);
      }
    }

    .subscription a {
      font-weight: 700;
    }
  }
}
