body.users-new,
body.users-create,
body.sessions-new,
body.sessions-create,
body.passwords-new,
body.passwords-create {
  .header-container nav {
    display: none;
  }
}

#header-wrapper {
  @include linear-gradient($upcase-blue-1, $upcase-blue-2);
  margin: 0 auto 40px;
  width: 100%;
  flex: none;
}

.header-container {
  @include user-select(none);
  margin: 0 auto;
  max-width: $max-width;
  position: relative;

  .small-logo {
    float: left;
    font-size: 0;
    padding: 1rem 0;

    @media screen and (max-width: 755px) {
      display: block;
      float: none;
      text-align: center;
    }

    img, span {
      color: white;
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

    span {
      font-family: $sans-serif;
      font-size: 50px;
    }
  }

  nav {
    float: right;

    @media screen and (max-width: 755px) {
      clear: left;
      display: block;
      float: none;
      position: static;
    }

    @media print {
      display: none;
    }

    img {
      border-radius: 10%;
      vertical-align: bottom;
    }

    ul {
      list-style-type: none;
      height: $navigation-height;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 755px) {
        display: block;
        text-align: center;
      }
    }

    li {
      @include transition;
      display: block;
      float: left;
      margin: 0;

      @media screen and (max-width: 755px) {
        border-bottom: 1px solid darken($upcase-blue, 5);
        display: block;
        margin: 0;
        width: 100%;
      }

      &:hover,
      &.active {
        background: darken($upcase-blue, 5);
      }

      &:first-child a {
        border: 0;
      }
    }

    li.mentor {
      a {
        padding-right: 0.8rem;
      }

      img {
        @include size(30px);
        margin: 1rem 2.8rem 0 0;

        @include body-mobile {
          display: none;
        }
      }
    }

    li a {
      border-left: 1px solid darken($upcase-blue, 5);
      color: white;
      float: left;
      font-family: $sans-serif;
      font-size: 100%;
      font-weight: 600;
      height: $navigation-height;
      padding: 1rem 2.8rem;

      @media screen and (max-width: 755px) {
        text-align: center;
        width: 100%;
      }
    }

    .account a {
      padding: 1rem;
    }

    .subscription a {
      font-weight: 700;
    }
  }
}
