body.users-new,
body.users-create,
body.sessions-new,
body.sessions-create,
body.passwords-new,
body.passwords-create {
  .header-container nav {
    display: none;
  }
}

#header-wrapper {
  margin: 0 auto;
  width: 100%;
}

.header-container {
  max-width: $max-width;
  @include outer-container;
  position: relative;
  text-align: center;
  @include user-select(none);

  .small-logo {
    display: inline-block;
    line-height: 1em;
    padding: 1.75rem 0;
    text-align: left;
    width: auto;

    @media screen and (max-width: 755px) {
      display: block;
      text-align: center;
    }

    a {
      color: $learnred;
      text-align: center;
    }

    img, span {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

    img {
      width: 68px;
    }

    span {
      font-family: $sans-serif;
      font-size: 50px;
    }
  }

  nav {
    line-height: 0;
    @include position(absolute, 46px 1rem 0 0);
    text-align: right;
    width: auto;

    @media screen and (max-width: 755px) {
      display: block;
      float: none;
      position: static;
    }

    &.left {
      right: auto;
      left: 1rem;

      .back a:hover {
        @include transform(translate3D(-.2rem, 0, 0));
      }

      .toggle-slider a:before {
        content: '\2193';
        margin-right: .25rem;
      }

      .toggle-slider .down:before {
        content: '\2191';
      }
    }

    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      text-align: left;

      @media screen and (max-width: 755px) {
        display: block;
      }
    }

    li {
      float: left;
      line-height: 1.2em;
      margin: 0;
      margin-left: .2em;

      @media screen and (max-width: 755px) {
        border-bottom: 1px solid $lightwarmgray;
        display: block;
        float: none;
        margin: 0;
        text-align: center;
      }
    }

    li a {
      border-radius: 3px;
      display: block;
      font-family: $sans-serif;
      font-size: 100%;
      font-weight: 600;
      outline: none;
      padding: .6em .8em;
      position: relative;
      @include transition;
    }

    .prime a {
      font-weight: 700;

      &:hover, &:active {
        background: $learnred;
        color: #fff;
      }
    }

    .account a {
      color: $darkwarmgray;
    }
  }
}

.card-slider.header {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-top: 0;
  @include transition(.25s);

  &.active {
    height: 380px;
    margin-bottom: $product-card-margin;
    opacity: 1;
    padding-top: $product-card-margin;
  }

  .product-card.screencast {
    margin-top: 49px;
  }
}
