body {
  background-color: $lightwarmgray;
  border-top: none;
  font-family: $sans-serif;
  line-height: 20px;
  margin: 0 auto;
}

// MAIN SECTION AND SIDEBAR
//************************************************************************//

img {
  max-width: 100%;
}

.content {
  @include outer-container;
  max-width: 1100px;
  padding: 1.75em 2em 3em 2em;

  > h1 {
    color: desaturate(darken($warmgray, 22%), 8%);
    font-size: 50px;
    margin: 0 0 .4em 23px;
  }

  ul, ol {
    padding: 0;
  }

  li {
    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }
  }

  .text-box-wrapper {
    @include span-columns(9);

    &.solo {
      margin: auto;
      float: none;
    }
  }

  .text-box-in-text-box {
    background-color: $lightwarmgray;
    @extend %main-content-box;

    .thumbnail {
      float: left;
      margin-right: 12px;
    }

    .thumbnail-text {
      margin-left: 112px;

      h2 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .summary {
    clear: both;
    display: block;
    float: left;
    @include span-columns(9);
    text-align: left;

    p {
      margin: 0 0 .4rem 26px;
    }

    p:last-child {
      margin-bottom: 2rem;
    }
  }
}

// MAIN SECTION
//************************************************************************//

.text-box {
  @extend %main-content-box;

  h1, h2, h3, h4, h5, h6 {
    color: $darkwarmgray;
    margin: 2rem 0 1rem 0;
  }

  h2 {
    margin-top: 3rem;
  }

  p, li, th, td {
    color: $darkwarmgray;
  }

  hgroup.product-title {
    h2 {
      margin-top: .5rem;
    }

    h3 {
      font-size: 1.2em;
      margin-bottom: 1.5rem;
      margin-top: -.5rem;
    }
  }

  hgroup.post-link-header {
    h3 {
      margin-bottom: .5rem;
    }

    h6 {
      color: $darkwarmgray;
      font-weight: bold;
      margin: 0 0 1rem 0;
    }
  }

  a {
    h2 {
      color: $learnred;
    }

    &:hover {
      h2 {
        color: #C42107;
      }

      h3 {
        color: $learnred;
      }
    }
  }

  table {
    color: $darkwarmgray;
    font: normal 1em/1.5em $serif;
    margin: 2rem 0;
    -webkit-font-smoothing: antialiased;

    th {
      font-weight: bold;
      padding-bottom: 1rem;
    }
  }
}

aside {
  @include span-columns(3);
  float: right;
  display: inline-block;

  .button {
    height: auto;
    margin: .75em 0 0;
    width: 100%;
  }

  > div {
    ol, ul {
      list-style-type: none;
    }
  }

  ul, ol {
    padding: 0;
    margin: 0;
  }
}

@include body-mobile {
  .content {
    padding: 1.5em .5em 2em;

    .text-box-wrapper {
      display: block;
      float: none;
      @include span-columns(12);
    }
  }

  aside {
    display: block;
    float: none;
    padding: 1em 24px;
    @include span-columns(12);
  }
}
