body {
  background-color: $base-background-1;
  border-top: none;
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  line-height: 20px;
  margin: 0 auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

section {
  flex: 1;
}

.content {
  @include outer-container;
  flex: 1;
  max-width: 1100px;
  padding: 0 2em 3em 2em;
  width: 100%;

  &.fullscreen {
    max-width: 100%;
  }

  div.subject {
    margin: 0 auto 2rem;
    text-align: center;
    width: 75%;

    @include body-mobile {
      width: 100%;
      margin-bottom: 1rem;
    }

    h1 {
      color: #6c6a66;
      font-size: 50px;
      line-height: 1em;
      margin: 2rem 0 0;

      @include body-mobile {
        font-size: 30px;
      }
    }

    .tagline, .tagline a {
      font: 400 30px/40px $sans-serif;
      margin: .5rem auto 0 auto;

      @include body-mobile {
        font-size: 20px;
      }
    }

    .tagline a {
      border-bottom: 2px solid $upcase-red;
      margin: 0 3px;
    }
  }

  h1.subject {
    color: desaturate(darken($warmgray, 22%), 8%);
    font-size: 50px;
    line-height: 1.15em;
    margin: 0 0 .4rem 22px;
  }

  ul, ol {
    padding: 0;
  }

  li {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .text-box-wrapper {
    @include span-columns(9);

    &.solo {
      margin: auto;
      float: none;
    }

    &.right {
      float: right;
      margin: 0 0 0 flex-gutter(12);
    }
  }

  .summary {
    clear: both;
    display: block;
    float: left;
    @include span-columns(9);
    text-align: left;

    p {
      margin: 0 0 .4rem 26px;
    }

    p:last-child {
      margin-bottom: 2rem;
    }
  }
}

.text-box {
  @extend %main-content-box;
  padding: 20px;

  h1, h2, h3, h4, h5, h6 {
    color: $darkwarmgray;
    margin: 2rem 0 1rem 0;
  }

  h2 {
    margin-top: 3rem;
  }

  p, li, th, td {
    color: $darkwarmgray;
  }

  .product-title {
    h2 {
      margin-top: .5rem;
    }

    h3 {
      font-size: 1.2em;
      margin-bottom: 1.5rem;
      margin-top: -.5rem;
    }
  }

  .post-link-header {
    h3 {
      margin-bottom: .5rem;
    }

    h6 {
      color: $darkwarmgray;
      font-weight: bold;
      margin: 0 0 1rem 0;
    }
  }

  table {
    color: $darkwarmgray;
    font: normal 1em/1.5em $serif;
    margin: 2rem 0;
    -webkit-font-smoothing: antialiased;

    th {
      font-weight: bold;
      padding-bottom: 1rem;
    }
  }
}

aside {
  @extend %main-content-box;
  font-size: $font-size-small;
  box-shadow: none;
  display: inline-block;
  float: right;
  @include span-columns(3);

  hgroup {
    margin-left: 48px;

    h5, h4 {
      font-style: normal;
    }

    h5 {
      background-color: transparent;
      display: block;
      margin-top: 18px;
      padding: 0;
      position: relative;
    }
  }

  h3 {
    margin-top: 40px;

    &:first-child, &:only-child {
      margin-top: 0;
    }
  }

  &, p {
    line-height: 1.5;
  }


  .button {
    height: auto;
    letter-spacing: 1px;
    margin: .75em 0 0;
    text-rendering: optimizeLegibility;
    width: 100%;
  }

  > div {
    ol, ul {
      list-style-type: none;
    }
  }

  ul, ol {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    margin: 1rem 0 0;

    a {
      color: $darkwarmgray;
      font-style: italic;
    }
  }

  dt p {
    font-weight: bold;
  }
}

@include body-mobile {
  .content {
    padding: 1.5em .5em 2em;

    .text-box-wrapper {
      display: block;
      float: none;
      @include span-columns(12);
    }
  }

  aside {
    display: block;
    float: none;
    padding: 1em 24px;
    @include span-columns(12);
  }
}
