<dt>
  <p><%= "For #{pluralize(team.users_count, "team member")}, you save:" %></p>
</dt>
<dd>
  <p>
    <span class="subscription-charge">$<%= team.annualized_savings %></span>
    per year
  </p>
</dd>

