<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Audiences", admin_audiences_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to "New Audience", new_admin_audience_path %></li>
  </ul>
<% end -%>

<%= semantic_form_for [:admin, @audience] do |form| %>
  <%= render form %>
<% end %>
