<figure class="exercise card">
  <%= exercise_link exercise.url, title: exercise.title do %>
    <h5>Exercise</h5>
    <figure>
      <p class="console-illustration"></p>
    </figure>
    <h4><%= exercise.title %></h4>
    <p><%= exercise.summary %></p>
    <h6 class="status">
      <%= state_for(exercise: exercise, user: current_user) %>
    </h6>
  <% end %>
</figure>
