<section class="hero">
    <%= render "subscriptions/upcase.svg" %>
    <h1>Advance your programming skills.</h1>
  <div class="hero-cta">
    <h5>Sign up now and join a community of <strong><%= community_size %></strong> other developers:</h5>
    <%= link_to t("subscriptions.join_cta"), "#price", class: "signup" %>
  </div>
</section>
