<section class="hero">
    <%= render "subscriptions/upcase.svg" %>
    <h1>Let&rsquo;s get that &ldquo;junior&rdquo; out of your title</h1>
  <div class="hero-cta">
    <h5>Upcase turns junior Rails developers into ass-kicking name-takers.</h5>
    <%= link_to t("subscriptions.join_cta"), "#price", class: "signup" %>
  </div>
</section>
