<section class="subscriptions">
  <%= render 'pricing', plans: catalog.individual_plans %>
  <%= render 'testimonials' %>
  <%= render 'plan_features', catalog: catalog %>
  <%= render 'shared/footer' %>
</section>
