<section class="plans">
  <div class="inner">
    <nav class="features">
      <ol>
        <li>
          <a href="#">Personal coach</a>
        </li>
        <li>
          <a href="#">Coding exercises</a>
        </li>
        <li>
          <a href="#">eBooks</a>
        </li>
        <li>
          <a href="#">App source code</a>
        </li>
        <li>
          <a href="#">Workshops</a>
        </li>
        <li>
          <a href="#">Community forum</a>
        </li>
        <li>
          <a href="#">The Weekly Iteration</a>
        </li>
      </ol>
    </nav>

    <section class="plan">
      <h3>Personal Coaching</h3>
      <ol>
        <% 7.times do %>
          <li class="true">OK</li>
        <% end %>
      </ol>
      <div class="price">$249 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>

    <section class="plan popular">
      <h3>Feedback Loop</h3>
      <ol>
        <% 7.times do %>
          <li class="true">OK</li>
        <% end %>
      </ol>
      <div class="price">$99 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>

    <section class="plan">
      <h3>Study Buddy</h3>
      <ol>
        <% 7.times do %>
          <li class="true">OK</li>
        <% end %>
      </ol>
      <div class="price">$49 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>

    <section class="plan">
      <h3>Watch and Learn</h3>
      <ol>
        <% 7.times do %>
          <li class="true">OK</li>
        <% end %>
      </ol>
      <div class="price">$29 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>
  </div>
</section>
