<section class="plans">
  <div class="inner">
    <header class="audience">
      <p></p>
      <% plans.each do |plan| %>
        <p class=<%= popular(plan) %> ><%= plan.short_description %></p>
      <% end %>
    </header>
    <nav class="features">
      <ol>
        <li>
          <a href="#personal_coach">Personal coach</a>
        </li>
        <li>
          <a href="#coding_exercises">Coding exercises</a>
        </li>
        <li>
          <a href="#ebooks">Premium eBooks</a>
        </li>
        <li>
          <a href="#app_source_code">App source code</a>
        </li>
        <li>
          <a href="#video_tutorials">Video tutorials</a>
        </li>
        <li>
          <a href="#office_hours">Office hours</a>
        </li>
        <li>
          <a href="#community_forum">Community forum</a>
        </li>
        <li>
          <a href="#weekly_iteration">The Weekly Iteration</a>
        </li>
      </ol>
      <div class="teams-pricing"><%= mail_to ENV["SUPPORT_EMAIL"], "Email for team pricing" %></div>
    </nav>

    <%= render plans %>
  </div>
</section>
