<section class="features">
  <h2 class="section-title">Get Support as You Go</h2>
  <ul>
    <li>
      <div class="features-description">
        <h3>Get insights and lessons from industry leaders</h3>
        <p>Our video library is filled with hours of detailed video tutorials on a variety of subjects, like Rails, TDD, iOS, and more. Each video is hosted by a thoughtbot subject-matter expert.</p>
        <p>The library is supplemented by The Weekly Iteration, a video show hosted by Ben Orenstein. In each episode, Ben invites a thoughtbot developer to discuss topics chosen to make you a better programmer.</p>
      </div>
      <div class="features-screenshot">
        <%= image_tag "upcase/weekly-iteration.jpg", class: "screenshot" %>
      </div>
    </li>
    <li>
      <div class="features-description">
        <h3>Learn with Others</h3>
        <p>Use <%= link_to "the forum", Forum.url %> to give and receive in-depth answers to questions about coding exercises, unfamiliar development topics, your personal projects, and our video tutorials and books.</p>
      </div>
      <div class="features-screenshot">
        <%= image_tag "upcase/forum.png", class: "screenshot" %>
      </div>
    </li>
  </ul>
</section>
