<section class="testimonials">
  <div class="inner">
    <h2>Don’t Take It from Us</h2>
    <div class="feature-quote">
      <figure>
        <img src="/assets/learn/face-ben.png" alt="Ben">
        <p class="quotee">John Doe <strong>Feedback Loop</strong> </p>
      </figure>
      <blockquote>
        <p>What we appreciated most about working with Joe and his team was their ability to cut through the predictable politics of a project, keep everyone happy, and deliver the expected results and then some.</p>
      </blockquote>
    </div>
    <div class="supporting-quotes">
      <div class="supporting-quote">
        <figure>
          <img src="/assets/learn/face-britt.png" alt="Britt">
          <p class="quotee">John Doe <strong>Watch and Learn</strong> </p>
        </figure>
        <blockquote>
          <p>What we appreciated most about working with Joe and his team was their ability to cut through the predictable politics of a project, keep everyone happy, and deliver the expected results and then some.</p>
        </blockquote>
      </div>
      <div class="supporting-quote">
        <figure>
          <img src="/assets/learn/face-britt.png" alt="Britt">
          <p class="quotee">John Doe <strong>Study Buddy</strong> </p>
        </figure>
        <blockquote>
          <p>What we appreciated most about working with Joe and his team was their ability to cut through the predictable politics of a project.</p>
        </blockquote>
      </div>
      <div class="supporting-quote">
        <figure>
          <img src="/assets/learn/face-britt.png" alt="Britt">
          <p class="quotee">John Doe <strong>Personal Coaching</strong> </p>
        </figure>
        <blockquote>
          <p>What we appreciated most about working with Joe and his team was their ability to cut through the predictable politics of a project, keep everyone happy, and deliver the expected results and then some.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>