<section class="testimonials">
  <div class="supporting-quotes">
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/jhoman' %>
    </div>
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/msumner' %>
    </div>
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/bgoldhaber' %>
    </div>
  </div>
</section>
