<section class="testimonials">
  <div class="inner">
    <h2>Join the community</h2>
    <div class="feature-quote">
      <figure>
        <img src="/assets/learn/testimonial_thumbs/matt-sumner.jpg" alt="Matt">
        <p class="quotee">Matt Sumner <strong>1-on-1 Coaching</strong> </p>
      </figure>
      <blockquote>
        <p><strong>I was a 1-on-1 coaching subscriber – now I work at thoughtbot.</strong> My experience with Learn was amazing. I had a mentor who was aware of my proficiency and gave expert advice on how to move forward building my skills. Without doubt, Learn was vital to my professional growth and led to an apprenticeship at thoughtbot.</p>
      </blockquote>
    </div>
    <div class="supporting-quotes">
      <div class="supporting-quote">
        <figure>
          <img src="/assets/learn/testimonial_thumbs/chris-kinoti.jpg" alt="Chris">
          <p class="quotee">Chris Kinoti<strong>Professional</strong> </p>
        </figure>
        <blockquote>
          <p><strong>This is the best learning resource I have come across.</strong> I'm having lots of illuminating moments. Your videos at Learn have solidified everything. Moving and learning faster than I could have imagined!</p>
        </blockquote>
      </div>
      <div class="supporting-quote">
        <figure>
          <img src="/assets/learn/testimonial_thumbs/jacqueline-homan.jpg" alt="Jacqueline">
          <p class="quotee">Jacqueline Homan<strong>Professional</strong> </p>
        </figure>
        <blockquote>
          <p><strong>Learn gave me wings – I feel like I'm learning to fly.</strong>  I never thought I could aspire to a career in Programming. I expected it to be difficult, and didn't even own a computer until a couple of years ago. Learn provided the foundation for my future.</p>
        </blockquote>
      </div>
      <div class="supporting-quote">
        <figure>
          <img src="/assets/learn/testimonial_thumbs/ben-goldhaber.jpg" alt="Ben">
          <p class="quotee">Ben Goldhaber<strong>Part-time Study</strong> </p>
        </figure>
        <blockquote>
          <p><strong>Learn is very useful</strong> – in particular the material I've been using to improve my testing (…and, you know, actually use TDD) has been excellent.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
