<section class="testimonials">
  <div class="inner">
    <div class="feature-quote">
      <%= render 'subscriptions/testimonials/msumner' %>
    </div>
    <div class="supporting-quotes">
      <div class="supporting-quote">
        <%= render 'subscriptions/testimonials/ckinoti' %>
      </div>
      <div class="supporting-quote">
        <%= render 'subscriptions/testimonials/jhoman' %>
      </div>
      <div class="supporting-quote">
        <%= render 'subscriptions/testimonials/bgoldhaber' %>
      </div>
    </div>
  </div>
</section>
