<li>
  <%= link_to topic_resources_path(topic), class: "topic-card" do %>
    <%= image_tag "topics/#{topic.slug}.svg", alt: topic.name, class: "topic-icon" %>
    <h4><%= topic.name %></h4>
  <% end %>
</li>
