<section class="topics-grid">
  <h2 class="section-title">Master tools, best practices and new technologies.</h2>
  <ol>
    <%= render partial: 'explore/topic_tile', collection: topics, as: :topic %>
  </ol>
</section>
