<section class="features">
  <h2>Focused learning with Trails</h2>

  <section class="trails-progress">
    <section class="trail">
      <header>
        <h1><%= link_to "Example Trail: #{example.name}", trail_path(example) %></h1>
      </header>
      <%= render "trails/step_dots", trail: example %>
    </section>
  </section>

  <ul>
    <li>
      <div class="features-description">
        <h3>Develop new skills by completing coding exercises</h3>
        <p>Complete the exercises on your own time, on your own computer, using our Git-based system.</p>
        <p>Should you happen to get stuck, you can get help from thoughtbot and other community members in our forum.</p>
      </div>
      <div class="features-screenshot">
        <%= image_tag "upcase/vim.png", class: "screenshot" %>
      </div>
    </li>
    <li>
      <div class="features-description">
        <h3>Solidify knowledge by giving and getting code reviews</h3>
        <p>Once you’ve submitted a solution, it will be reviewed by thoughtbot and other Upcase members.</p>
        <p>Submitting a solution will also allow you to review other members’ solutions. We’ve built a custom interface for collaborative solution review.</p>
      </div>
      <div class="features-screenshot">
        <%= image_tag "upcase/peer-review.png", class: "screenshot" %>
      </div>
    </li>
  </ul>
</section>
