<section class="plans">
  <%= render @plans %>
</section>

<span class="prime-aside-links"><%= link_to t('shared.company_subscription_call_to_action'), new_team_plan_purchase_path(TeamPlan.instance) %> &mdash; <%= link_to 'View all the features of Prime', '/prime' %></span>
