<section class="plans">
  <%= render @plans %>
</section>

<span class="prime-aside-links"><%= link_to t('shared.company_subscription_call_to_action'), team_plans_path %> &mdash; <%= link_to 'View all the features of Prime', '/prime' %></span>
