<% content_for :page_title, "Plans and Pricing" %>

<% if signed_in? %>
  <%= link_to 'account', my_account_path, class: 'signin' %>
<% else %>
  <%= link_to 'sign in', sign_in_path, class: 'signin' %>
<% end %>

<h1><%= link_to image_tag("upcase/upcase-header-logo-small-gray.svg"), root_path %></h1>

<%= render 'plans', catalog: @catalog %>
