<% content_for :subject, @purchaseable.name %>
<%= render 'shared/adwords_conversion_tracker', value: @purchase.paid_price %>

<div class="text-box-wrapper">
  <div class="text-box">
    <p>Thank you for purchasing <%= @purchaseable.name %>.</p>
  </div>
</div>

<%= render 'subscriptions/aside', purchaseable: @purchaseable, purchase: @purchase %>
