<ul class="teachers">
  <li>
    <section class="teacher-info">
      <div class="teacher-image">
        <%= teacher_gravatar teacher, 92 %>
      </div>
      <div class="teacher-name">
        <h2>
          <%= teacher.name %>
        </h2>
      </div>
    </section>
    <section class="bio">
      <%= format_markdown teacher.bio %>
    </section>
  </li>
</ul>
