<ul class="teachers">
  <li>
    <%= teacher_gravatar teacher, 92 %>
    <h5><%= t '.header' %></h5>
    <h2>
      <%= teacher.name %>
    </h2>
    <section class="bio">
      <%= format_resources teacher.bio %>
    </section>
  </li>
</ul>
