<figure>
  <%= image_tag "upcase/testimonial_thumbs/anthony-lee.jpg", alt: "Anthony" %>
  <p class="quotee">Anthony Lee<strong>Professional</strong> </p>
</figure>
<blockquote>
  <p><strong>I am really loving Upcase.</strong> The most valuable part for me was how I was able to dissect "upcase" app and see how it was built. Having the access to the repo and seeing how codes were structured was such a priceless lesson.</p>
</blockquote>
