<figure>
  <%= image_tag "upcase/testimonial_thumbs/brian-dear.jpg", alt: "Ben" %>
  <p class="quotee">Brian Dear<strong>Professional</strong> </p>
</figure>
<blockquote>
  <p>There are a lot of training solutions out there, but <strong>Upcase is led by thoughtbot, so I know the stuff we're learning is the absolute best of the best practices</strong>. When I'm teaching junior devs, there's often a lot of conflicting information out there on how to do something, so Upcase helps me establish "better" best practices.</p>
</blockquote>
