<figure>
  <%= image_tag "upcase/testimonial_thumbs/ben-goldhaber.jpg", alt: "Ben" %>
  <p class="quotee">Ben Goldhaber<strong>The Weekly Iteration</strong> </p>
</figure>
<blockquote>
  <p><strong>Upcase is very useful</strong> – in particular the material I've been using to improve my testing (…and, you know, actually use TDD) has been excellent.</p>
</blockquote>
