<figure>
  <%= image_tag "upcase/testimonial_thumbs/brian-runk.jpg", alt: "Brian" %>
  <p class="quotee">Brian Runk<strong>Constant Contact</strong> </p>
</figure>
<blockquote>
  <p>We have had thirty engineers enrolled in Upcase for the past two 
     years. <strong>The program has continued to provide thought-provoking 
     content</strong> for those full-stack developers who are intent upon 
     keeping their skills current.</p>
</blockquote>
