<figure>
  <%= image_tag "upcase/testimonial_thumbs/chris-kinoti.jpg", alt: "Chris" %>
  <p class="quotee">Chris Kinoti<strong>Babel Kenya</strong> </p>
</figure>
<blockquote>
  <p><strong>This is the best learning resource I have come across.</strong> I'm having lots of illuminating moments. Your videos at Upcase have solidified everything. Moving and learning faster than I could have imagined!</p>
</blockquote>
