<figure>
  <%= image_tag "upcase/testimonial_thumbs/jacqueline-homan.jpg", alt: "Jacqueline" %>
  <p class="quotee">Jacqueline Homan<strong>Professional</strong> </p>
</figure>
<blockquote>
  <p><strong>Upcase gave me wings – I feel like I'm learning to fly.</strong>  I never thought I could aspire to a career in Programming. I expected it to be difficult, and didn't even own a computer until a couple of years ago. Upcase provided the foundation for my future.</p>
</blockquote>
