<figure>
  <%= image_tag "upcase/testimonial_thumbs/matt-sumner.jpg", alt: "Matt" %>
  <p class="quotee">Matt Sumner <strong>1-on-1 Coaching</strong> </p>
</figure>
<blockquote>
  <p><strong>I was a 1-on-1 coaching subscriber – now I work at thoughtbot.</strong> My experience with Upcase was amazing. I had a mentor who was aware of my proficiency and gave expert advice on how to move forward building my skills. Without doubt, Upcase was vital to my professional growth and led to an apprenticeship at thoughtbot.</p>
</blockquote>
