<section class="topic">
  <figure class="card complete">
    <a href="#">
      <h5>Complete</h5>
      <figure>
        <p class="trail-complete-illustration"></p>
      </figure>
      <h4>Exercise Title</h4>
      <p>Exercise summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis erat su...</p>
    </a>
  </figure>
  <figure class="card in-progress">
    <a href="#">
      <h5>In Progress</h5>
      <figure>
        <p class="trail-in-progress-illustration"></p>
      </figure>
      <h4>Exercise Title</h4>
      <p>Exercise summary lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis erat su...</p>
    </a>
  </figure>

  <% topic.resources.each do |resource| %>
    <%= render partial: "products/#{resource.to_partial_path}", object: resource %>
  <% end %>
</section>
