<aside>
  <%= render "products/downloads_info", product: watchable %>

  <% if watchable.resources.present? %>
    <div class="resources">
      <h3>Resources</h3>
      <hr>
      <%= format_markdown watchable.resources  %>
    </div>
  <% end %>

  <%= render "shared/sidebar_forum", watchable: watchable %>
</aside>
