<%= render "products/meta", product: watchable %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%= format_markdown watchable.description %>
    <%= render "watchables/questions", watchable: watchable %>
    <%= render "#{watchable.to_partial_path}_details", watchable: watchable %>
  </div>
</div>
