<% if current_user %>
  <div class="license">
    <%= link_to \
      t("#{watchable.offering_type}.checkout_cta"),
      [watchable, :licenses],
      class: "license-button button",
      method: :post %>
  </div>
<% end %>
