<h3>Unable to unsubscribe</h3>

<p>
  Unfortunately we were unable to process your request to unsubscribe.
  You can directly manage this setting on <%= link_to "your profile page", my_account_path %>.
</p>
