<h3>Unsubscribed Successfully</h3>

<p>
  We've unsubscribed you from email communications. You can manage this setting on
  <%= link_to "your profile page", my_account_path %> if you wish to change it.
</p>
