.site-nav {
  margin: 0 auto;
  max-width: $large-screen;

  @media (min-width: $medium-screen) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &::after {
    @include position(absolute, 0 0 null 0);
    background-color: $blue;
    content: "";
    height: $site-header-height;
    z-index: $z-site-nav;
  }
}

.site-nav__action {
  padding: $spacing-base;
  position: absolute;
  width: 100%;
  z-index: $z-site-nav-menu;

  @media (min-width: $medium-screen) {
    position: relative;
    width: auto;
  }
}

.site-nav__menu-trigger {
  @include position(absolute, $spacing-base $spacing-base null null);
  background-color: rgba($black, 0.075);
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  padding: $spacing-small $spacing-base;
  text-decoration: none;

  @media (min-width: $medium-screen) {
    display: none;
  }

  &:active,
  &:focus,
  &:hover {
    color: $white;
  }
}

.site-nav__menu {
  @include position(absolute, $site-header-height 0 null);
  background-color: $blue;
  box-shadow: 0 1rem 2rem rgba(mix($black, $blue), 0.5);
  margin-top: -200%;
  padding: 0;
  transition: margin 250ms ease-in-out;
  z-index: $z-site-nav-menu-mobile;

  @media (min-width: $medium-screen) {
    @include position(relative, 0 null null);
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
    padding: $spacing-small;
    padding-left: 0;
    z-index: $z-site-nav-menu;
  }

  ul {
    @media (min-width: $medium-screen) {
      align-items: center;
      display: flex;
    }
  }

  li {
    display: block;
    font: normal 1.1rem $strong-font-family;
    -webkit-font-smoothing: antialiased;
    margin: 0;

    @media (min-width: $medium-screen) {
      display: inline-block;
      padding: $spacing-small;
    }
  }

  .is-open & {
    margin-top: 0;
  }
}

.site-nav__link {
  border-top: solid 1px darken($havelock-blue, 20%);
  color: rgba($white, 0.9);
  display: block;
  font-family: $strong-font-family;
  font-size: 1.1rem;
  margin-left: 0;
  padding: $spacing-medium;
  text-align: center;
  text-decoration: none;

  @media (min-width: $medium-screen) {
    border: 0;
    margin-left: $spacing-small;
    padding: 0;
  }

  &:active,
  &:focus,
  &:hover {
    color: rgba($white, 0.6);
    cursor: pointer;
  }
}

.site-nav__button {
  background-color: $base-button-background-color;
  border-radius: $base-border-radius;
  box-shadow: 0 0.5rem 2rem rgba(darken($blue, 25%), 0.35);
  color: rgba($white, 0.9);
  display: block;
  font-size: 1rem;
  margin: $spacing-base;
  padding: $spacing-base;
  text-align: center;
  transition-duration: $base-duration * 2;
  transition-property: transform, color, background-color, box-shadow;
  transition-timing-function: $ease-in-out-sine;

  @media (min-width: $medium-screen) {
    @include padding($spacing-small null);
    margin: 0;
  }

  &:hover {
    color: $base-button-color;
    cursor: pointer;
    transform: translateY(-2px);
  }

  &:active,
  &:visited {
    color: $base-button-color;
  }
}
