.site-footer {
  background-color: $color-gray-darkest;
  color: $color-gray-light;
  padding: $spacing-large;

  @media (min-width: $medium-screen) {
    padding: $spacing-x-large 0;
    text-align: center;
  }
}

.site-footer__links {
  font-size: $small-font-size;
  margin: 0 auto $spacing-medium;

  li {
    margin-bottom: $spacing-base;

    @media (min-width: $medium-screen) {
      display: inline-block;
      margin-right: $spacing-base;
    }
  }

  a {
    color: $color-gray-light;
    text-decoration: none;
  }

  a:hover {
    color: $color-red;
  }
}

.site-footer__logo {
  margin: $spacing-small auto;
}

.site-footer__copyright {
  display: block;
  line-height: 1.3;
  max-width: 17.5rem;

  @media (min-width: $medium-screen) {
    margin: 0 auto;
  }
}
