.table-of-contents-list {
  display: flex;
  flex-wrap: wrap;
  font-family: $base-font-family;
  padding-top: $spacing-large;
}

.table-of-contents-list__unit {
  margin-bottom: 3em;
  padding-left: 4em;
  position: relative;
  width: calc(#{100%} - #{$spacing-base});

  @media (min-width: $medium-screen) {
    width: calc(#{50%} - #{$spacing-base});
  }

  @media (min-width: $large-screen) {
    width: calc(#{33%} - #{$spacing-base});
  }

  li {
    display: block;
    margin-bottom: $spacing-base;
  }

  li:last-of-type a {
    font-style: italic;
    opacity: 0.5;
  }

  a {
    text-decoration: none;
  }

  img {
    @include position(absolute, -0.5em null null 0);
    @include size(3em);
  }
}

.table-of-contents-list__unit-title {
  a {
    color: $base-heading-font-color;
  }
}
