<figure class="tile weekly-iteration">
  <%= link_to video, title: video.title do %>
    <h2>Weekly Iteration</h2>
    <h1><%= video.title %></h1>
    <p class="description"><%= truncate_html video.notes_html %></p>
  <% end %>
</figure>
