<figure class="weekly-iteration">
  <%= link_to video, title: video.title do %>
    <h5>Weekly Iteration</h5>
    <h4><%= video.title %></h4>
    <p><%= truncate_html video.notes_html %></p>
  <% end %>
</figure>
