<li class="search-result">
  <%= fa_icon "files-o", title: "Flashcard" %>
  <p class="title">
    <%= review_link(flashcard) %>
  </p>
  <p class="source">
    from <%= link_to flashcard.deck_title, deck_results_path(flashcard.deck) %>
  </p>
  <p>
    <%= cleaned_search_excerpt(flashcard.excerpt) %>
  </p>
</li>
