<li class="search-result">
  <%= fa_icon "film", title: "Video" %>
  <p class="title">
    <%= link_to video.name, video %>
  </p>
  <p class="source">
    from <%= link_to video.watchable_name, video.watchable %>
  </p>
  <p>
    <%= cleaned_search_excerpt(video.excerpt) %>
  </p>
</li>
