.button {
  align-items: center;
  border: var(--border-width--base) solid transparent;
  border-radius: var(--border-radius--base);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size--ui);
  font-weight: var(--font-weight--extrabold);
  gap: var(--space--x-small);
  justify-content: center;
  line-height: 1;
  padding: var(--space--small) var(--space--medium);
  text-align: center;
  text-decoration: none;
  transition-duration: var(--transition-duration--base);
  transition-property: background-color, color;
  transition-timing-function: var(--transition-timing--base);

  &:focus-visible {
    outline: var(--border-width--thick) solid var(--color--primary-base);
    outline-offset: 2px;
  }
}

.button--primary {
  background-color: var(--color--primary-base);
  border-color: var(--color--accent-base);
  color: var(--color--text-dark);

  &:hover,
  &:focus-visible {
    background-color: var(--color--primary-light);
    color: var(--color--text);
  }
}

.button--secondary {
  background-color: var(--color--background-base);
  border: var(--border--light);
  color: var(--color--text);

  &:hover,
  &:focus-visible {
    background-color: var(--color--background-dark);
    color: var(--color--text-dark);
  }
}

.button:disabled {
  cursor: not-allowed;
}
