html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

body {
  color: var(--color--text);
  font-family: var(--font-family--body);
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--normal);
  line-height: var(--line-height--base);
}

:where(h1, h2, h3, h4, strong) {
  font-weight: var(--font-weight--extrabold);
}

h1 {
  font-size: var(--font-size--700);
  margin: var(--space--large) 0 var(--space--base);
  text-wrap: balance;
  text-wrap: pretty;
}

h2 {
  font-size: var(--font-size--header);
  margin: var(--space--medium) 0 var(--space--base);
}

h3 {
  font-size: var(--font-size--500);
  margin: var(--space--medium) 0 var(--space--small);
}

h4 {
  font-size: var(--font-size--400);
  margin: var(--space--base) 0 var(--space--small);
}

p {
  margin: var(--space--small) 0 var(--space--xx-small);
  font-size: var(--font-size--body);
}

p.text-xl {
  font-size: var(--font-size--500);
  margin: var(--space--base) 0 var(--space--small);
  font-weight: var(--font-weight--bold);
}

p.text-lg {
  font-size: var(--font-size--subheader);
  margin: var(--space--small) 0 var(--space--xx-small);
  font-weight: var(--font-weight--bold);
}

p.text-sm {
  font-size: var(--font-size--small);
  margin: var(--space--xx-small) 0 0;
}

a {
  color: var(--color--link);
  transition: var(--transition-duration--base) color
    var(--transition-timing--base);

  &:hover {
    color: var(--color--link-hover);
  }
}

label {
  font-size: var(--font-size--ui);
  font-weight: var(--font-weight--base);
  text-align: left;
}

input {
  font-size: var(--font-size--body);
}

legend {
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--bold);
}

hr {
  border: var(--border--light);
  width: 100%;
}
