:root {
  // Base Colors
  --color--aqua-100: #e3fdfe;
  --color--aqua-500: #a2f6f9;
  --color--aqua-900: #006164;

  --color--black-500: #000f08;

  --color--blue-100: #d9f4ff;
  --color--blue-500: #42beff;
  --color--blue-900: #0c3f61;

  --color--gray-100: #f3f8fa;
  --color--gray-200: #d7e3ec;
  --color--gray-300: #b1c1d2;
  --color--gray-400: #8d9ab2;
  --color--gray-500: #565b6e;
  --color--gray-600: #373a48;
  --color--gray-700: #18191d;

  --color--green-100: #c0ffda;
  --color--green-500: #3fba72;
  --color--green-900: #135a38;

  --color--orange-100: #ffd4a3;
  --color--orange-500: #ff8800;
  --color--orange-900: #673904;

  --color--red-100: #ffc7ce;
  --color--red-500: #ff324e;
  --color--red-900: #7f092c;

  --color--white-500: #ffffff;

  // Semantic Colors
  --color--primary-base: var(--color--blue-500);
  --color--primary-dark: var(--color--blue-900);
  --color--primary-light: var(--color--blue-100);

  --color--accent-base: var(--color--aqua-500);
  --color--accent-dark: var(--color--aqua-900);
  --color--accent-light: var(--color--aqua-100);

  --color--background-base: var(--color--gray-100);
  --color--background-light: var(--color--white-500);
  --color--background-dark: var(--color--gray-200);

  --color--ui-error-light: var(--color--red-100);
  --color--ui-error-base: var(--color--red-500);
  --color--ui-error-dark: var(--color--red-900);
  --color--ui-success-light: var(--color--green-100);
  --color--ui-success-base: var(--color--green-500);
  --color--ui-success-dark: var(--color--green-900);
  --color--ui-info-light: var(--color--blue-100);
  --color--ui-info-base: var(--color--blue-500);
  --color--ui-info-dark: var(--color--blue-900);
  --color--ui-warning-light: var(--color--orange-100);
  --color--ui-warning-base: var(--color--orange-500);
  --color--ui-warning-dark: var(--color--orange-900);

  --color--text: var(--color--gray-600);
  --color--text-dark: var(--color-gray-700);
  --color--text-inverse: var(--color--white-500);
  --color--link: var(--color--primary-base);
  --color--link-hover: var(--color--primary-dark);

  // Typography

  --font-size--50: 0.875rem;
  --font-size--100: 1rem;
  --font-size--200: 1.125rem;
  --font-size--300: 1.25rem;
  --font-size--400: 1.5rem;
  --font-size--500: 2rem;
  --font-size--600: 2.5rem;
  --font-size--700: 3.25rem;
  --font-size--800: 4rem;

  --font-size--body: var(--font-size--100);
  --font-size--small: var(--font-size--50);
  --font-size--ui: var(--font-size--100);
  --font-size--section-title: var(--font-size--300);
  --font-size--subheader: var(--font-size--400);
  --font-size--header: var(--font-size--600);
  --font-size--display: var(--font-size--800);

  --font-weight--normal: 400;
  --font-weight--bold: 700;

  --font-family--body: "Manrope", system-ui, "Segoe UI", Roboto, sans-serif;
  --font-family--heading: "Manrope", system-ui, "Segoe UI", Roboto, sans-serif;

  --line-height--base: 1.5;
  --line-height--tight: 1.2;

  // Border
  --border-radius--small: 0.25rem;
  --border-radius--base: 0.5rem;
  --border-radius--large: 1.5rem;
  --border-radius--pill: 4rem;
  --border-radius--circle: 100%;

  --border-width--base: 1px;
  --border-width--thick: 4px;

  --border--base: var(--border-width--base) solid var(--color--primary-light);
  --border--light: var(--border-width--base) solid var(--color--gray-500);
  --border--dark: var(--border-width--base) solid var(--color--primary-base);

  // Layout & Misc

  --container--base: 50rem;
  --container--large: 85rem;

  --space--xx-small: 0.25rem;
  --space--x-small: 0.5rem;
  --space--small: 0.75rem;
  --space--base: 1rem;
  --space--medium: 1.5rem;
  --space--large: 2rem;
  --space--x-large: 3rem;
  --space--xx-large: 4rem;

  --transition-duration--base: 0.2s;
  --transition-timing--base: ease-in-out;

  --z-index--basement: -999999;
  --z-index--base: 1;
  --z-index--layout: 1000;
  --z-index--modal: 4000;
  --z-index--ceiling: 999999;
}
