<div class="complete">
  <section class="trail complete">
    <header>
      <span class="complete-subhead">You completed</span>
      <h1><%= trail.name %></h1>
    </header>

    <div class="complete-mask">
      <section class="progress complete">
        <%= render partial: "trails/exercise", collection: trail.exercises %>
      </section>
    </div>

    <p class="complete"><%= trail.complete_text %></p>
  </section>
</div>
