<section class="exercises vertical-slider revealed">
  <figure class="exercise thumbnail product-card">
    <%= link_to 'https://github.com/thoughtbot/shakespeare_analyzer', title: 'Shakespeare Analyzer Exercise' do %>
      <figure>
        <p class="console-illustration">>_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Shakespeare Analyzer</h4>
      <p>Write a command-line program that prints the number of lines spoken by each character in Macbeth.</p>
    <% end %>
  </figure>

  <figure class="exercise thumbnail product-card">
    <%= link_to 'https://github.com/thoughtbot/sudoku_validator', title: 'Sudoku Validator Exercise' do %>
      <figure>
        <p class="console-illustration">>_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Sudoku Validator</h4>
      <p>Write a program that reads a file containing a sudoku grid and validates it.</p>
    <% end %>
  </figure>
</section>

