<figure class="dashboard-resource forum">
  <%= link_to forum_url, target: "_blank" do %>
    <h4>Forum</h4>
    <p>Participate in discussions with thoughtbotters and other Upcase members. &rarr;</p>
  <% end %>
</figure>
