<figure class='dashboard-resource forum product-card'>
  <%= link_to forum_url, target: '_blank' do %>
    <h4>Forum</h4>
    <p>Participate in discussions with thoughtbotters and other Learn members.</p>
  <% end %>
</figure>
