<div class="started">
  <section class="trail">
    <header>
      <h1><%= link_to trail.name, trail %></h1>
      <%= render "trails/steps_remaining", trail: trail %>
    </header>

    <%= render "trails/exercise_dots", trail: trail %>
  </section>
</div>
