<figure class='dashboard-resource learn-live product-card'>
  <%= link_to 'https://thoughtbot.campfirenow.com/7fd76', target: '_blank' do %>
    <h4>Learn Live</h4>
    <p>Join other members in a live chatroom. Thoughtbotters are present for office hours on Friday.</p>
  <% end %>
</figure>
