<figure class="dashboard-resource learn-repo product-card">
  <%= link_to 'https://github.com/thoughtbot/learn', target: '_blank' do %>
    <h4>Learn Repo <img src="https://codeclimate.com/repos/509bdbd313d6373b2b001546/badges/ca2720aded19a6da11e7/gpa.png" /></h4>
    <p>Check out production code from thoughtbot in this website's repo — feel free to make pull requests.</p>
  <% end %>
</figure>

