<figure class='dashboard-resource learn-repo product-card'>
  <%= learn_repo_link do %>
    <h4>Upcase Repo <img src='https://codeclimate.com/repos/509bdbd313d6373b2b001546/badges/ca2720aded19a6da11e7/gpa.png' /></h4>
    <p>See the code that powers this app (and feel free to submit a pull request!)</p>
  <% end %>
  <% unless current_user_has_access_to?(:source_code) %>
    <%= render 'locked' %>
  <% end %>
</figure>
