<section class='video_tutorials disabled'>
  <div class='disabled-text'>
    <h2>
      <%= t(
        '.locked_features.title_html',
        features: locked_features_text,
        link: subscribe_or_upgrade_link
      ) %>
    </h2>
    <%= link_to "See what you're missing", products_path %>
  </div>
</section>
