<section class="trails-progress">
  <div class="subject">
    <h1>Workflow</h1>
  </div>
  <section class="trail" domflag>
    <header>
      <h1><a href="#">Testing fundamentals</a></h1>
      <span class="numerical-progress">6 steps remaining</span>
    </header>

    <section class="progress">
      <% 4.times do %>
      <div class="step complete">
        <div class="dot"></div>
        <div class="tooltip"></div>
      </div>
      <% end %>
      <div class="step active">
        <div class="dot"></div>
        <div class="tooltip"></div>
      </div>
      <% 5.times do %>
        <div class="step">
          <div class="dot"></div>
          <div class="tooltip"></div>
        </div>
      <% end %>
    </section>

  </section>
</section>
