<section class="trails-progress">
  <header class="dashboard-section-title">
    <h1>Trails</h1>
    <h2>Upcase Trails are focused exercises targeting your interests. They help you learn by doing and keep your skillset sharp.</h2>
  </header>

  <div class="started">
    <section class="trail">
      <header>
        <h1><a href="#">Testing fundamentals</a></h1>
        <span class="numerical-progress">6 steps remaining</span>
      </header>

      <section class="progress">
        <% 4.times do %>
          <div class="step complete">
            <div class="dot"></div>
            <div class="tooltip"></div>
          </div>
        <% end %>
        <div class="step active">
          <div class="dot"></div>
          <div class="tooltip"></div>
        </div>
        <% 5.times do %>
          <div class="step">
            <div class="dot"></div>
            <div class="tooltip"></div>
          </div>
        <% end %>
      </section>
    </section>
  </div>

</section>
