<figure class="dashboard-resource trails card">
  <%= link_to "/trails" do %>
    <h4>Trails</h4>
    <p>Use our Trail Maps to discover which video_tutorials are right for you &rarr;</p>
  <% end %>
</figure>
