<div class="trail-description">
  <span>
    <%= image_tag 'question-mark.svg', width: 25 %>
  </span>
  <div class="help-tooltip">
    <div class="card">
      <p><%= trail.description %></p>
    </div>
  </div>
</div>
