<div class="started">
  <section class="trail">
    <header>
      <h1><%= trail.name %></h1>
      <span class="numerical-progress">
        <%= pluralize(
          trail.steps_remaining_for(current_user),
          "step"
        ) %> remaining
      </span>
    </header>

    <section class="progress">
      <%= render partial: "trails/exercise", collection: trail.exercises %>
    </section>
  </section>
</div>

<div class="complete">
  <section class="trail complete">
    <header>
      <span class="complete-subhead">You completed</span>
      <h1><a href="#">Testing fundamentals</a></h1>
    </header>

    <div class="complete-mask">
      <section class="progress complete">
        <% 10.times do %>
          <div class="step complete reviewed">
            <div class="dot"></div>
            <div class="tooltip"></div>
          </div>
        <% end %>
      </section>
    </div>

    <p class="complete">You may now call yourself a design sensie. Nice work!</p>
  </section>
</div>

