<figure class="dashboard-resource upcase-repo card
  <%= locked_dashboard_resource(:repositories) %>">

  <%= link_to repositories_path do %>
    <h4>Upcase Repositories</h4>
    <p>
      See the code that powers this app (and feel free to submit a pull
      request!)
    </p>
  <% end %>

  <% unless current_user_has_access_to?(:repositories) %>
    <%= render "locked" %>
  <% end %>
</figure>
