<figure class='dashboard-resource upcase-live product-card'>
  <%= live_chat_link do %>
    <h4>Upcase Live</h4>
    <p>Join other members in a live chatroom. Thoughtbotters are present for office hours on Friday.</p>
  <% end %>
  <% unless current_user_has_access_to?(:office_hours) %>
    <%= render 'locked' %>
  <% end %>
</figure>
