<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Products", admin_products_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to @product.name, edit_admin_product_path(@product) %></li>
  </ul>
<% end -%>

<%=render partial: "form", locals: { product: @product } %>

<% if @product.videos.any? %>
  <label>Video Preview</label>
  <% @product.videos.each do |video| %>
    <p>
      <%=render('purchases/video_code', video_hash_id: @video.video_hash_id) %>
    </p>
  <% end %>
<% end %>
