<section id="notify-me">
  <%= form_for [course, FollowUp.new] do |form| %>
    <%= form.label :email, "Want to be notified the next time we run this workshop?" %>
    <%= form.text_field :email, :placeholder => "Enter your email address" %>
    <input type="submit" value="Submit" />
    <p class="group-training">Interested in group training at your site? <a href="mailto:workshops@thoughtbot.com">Contact us</a>.</p>
  <% end %>
</section>
