<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", courses_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to "New Course", new_course_path %></li>
  </ul>
<% end -%>

<% semantic_form_for @course do |form| %>
  <%= render :partial => 'fields', :locals => { :form => form } %>
  <input type="submit" value="Save Course" />
<% end %>
