<% content_for :nav do -%>
  <ul>
    <li><a href="/pages/admin-courses">Courses</a></li>
    <li class="raquo">&raquo;</li>
    <li><a href="/pages/admin-course">Ruby on Rails</a></li>
  </ul>
<% end -%>

<% semantic_form_for @course do |form| %>
  <%= render :partial => 'fields', :locals => { :form => form } %>
  <input type="submit" value="Save Course" />
<% end %>
