<h1>Success!</h1>

<p>Your purchase went through successfully. Thanks for putting your trust in us.</p>

<p>You'll receive a receipt at the email you provided.</p>

<p>We will be in touch in the next 24-36 hours with instructions for how to get
access to Upcase and RubyTapas.</p>

<p>Please accept our apologies for not being able to offer instant access.
We're fulfilling this stuff semi-manually since we're separate services and
haven't written the crapload of glue code instant fulfillment would have
required.</p>

<p>If you have any questions, please contact help@upcase.com</p>
