#checkout_city_input,
#checkout_state_input,
#checkout_zip_code_input,
#checkout_country_input,
#user_city_input,
#user_state_input,
#user_zip_code_input,
#user_country_input {
  float: left;
  width: flex-grid(6);
}

#checkout_city_input, #checkout_zip_code_input,
#user_city_input, #user_zip_code_input {
  margin-right: flex-gutter();
}
