#auth-form-container {
  padding: 1.5em $side-padding 3em;

  .github-signin, .thoughtbot-signin form, .signup-forgot {
    margin: auto;
    max-width: 400px;
  }

  .secondary-button {
    display: block;
    margin: 0 auto 2em;
    max-width: 400px;
  }

  .github-logo {
    max-height: 1.1em;
    vertical-align: text-bottom;
  }

  .divider {
    margin: auto;
    max-width: 400px;
  }

  .thoughtbot-signin {
    padding: 2rem 0;

    form {
      margin-bottom: 1rem;
    }
  }

  .authentication-message {
    margin-bottom: $base-spacing;
    text-align: center;
  }

  li {
    margin: 0 0 .5em;
  }

  input {
    margin: 0.25em 0;
  }

  input[type="submit"] {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 1rem;
    width: 100%;
  }

  .signup-forgot > li {
    display: inline;
    margin-right: 0.5rem;

    a {
      text-decoration: none;
    }
  }
}

.confirmation {
  padding: 6rem 2rem;
  text-align: center;
}
