%button {
  background-color: $color-red;
  border: 1px solid $color-red-darkest;
  border-radius: $base-border-radius;
  color: $color-white;
  display: inline-block;
  font-family: $strong-font-family;
  font-size: 1.25rem;
  line-height: 1;
  padding: $base-spacing $large-spacing ($base-spacing * 1.15);
  text-align: center;
  text-decoration: none;
  transition-duration: $base-duration * 2;
  transition-property: transform, color, background-color, box-shadow;
  transition-timing-function: $ease-in-out-sine;

  &:hover {
    background-color: $color-red-darkest;
    color: $color-white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.small-button {
    font-size: 0.9em;
    padding: $button-padding-small;
  }

  &.secondary-button {
    @extend %button;
    background: linear-gradient($cta-color-light, $cta-color-dark);
    color: $cta-text-color;

    &:hover {
      background: linear-gradient(darken($cta-color-light, 2.5%), darken($cta-color-dark, 2.5%));
      color: $cta-text-color;
    }
  }

  &.alert-button {
    @extend %button;
    background: linear-gradient($alert-color, lighten($alert-color, 0%));
    color: darken(desaturate($alert-color, 50), 30);

    &:hover {
      background: linear-gradient($alert-color, lighten($alert-color, 2%));
      color: darken(desaturate($alert-color, 50), 30);
    }
  }

  img {
    margin-right: 0.8em;
    max-height: 1.4em;
    vertical-align: middle;
  }
}

button,
input[type="submit"],
.cta-button {
  @extend %button;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}

.cta-button span {
  line-height: 1.8;
}
