.resources-container {
  background: white;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 1.875em 1.25em;
  transition: 0.3s ease-in-out;

  header {
    width: 100%;
    display: block;
    padding: 0 0.9375em;

    .topic-headline {
      display: inline-block;
      float: left;
      font: 600 24px/30px $sans-serif;
      margin-bottom: 30px;
    }
  }
}

.card {
  transition: 0.3s ease-in-out;
  background: white;
  border-radius: 0.25rem;
  border: 1px solid $base-border-color-1;
  box-shadow: $base-box-shadow;
  display: inline-block;
  height: $card-height;
  margin-bottom: 1.875em;
  overflow: hidden;
  padding: 5px;
  position: relative;
  width: $card-width;

  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  > a {
    display: block;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    position: relative;
  }

  p {
    font-size: $font-size-small;
    line-height: 1.6;
    margin: 0 0.6rem 0.6rem;
  }

  h4 {
    color: $darkwarmgray;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0.75rem 0.6rem;
  }

  h5 {
    border-radius: 0.2rem 0.2rem 0 0;
    color: $darkwarmgray;
    font-size: 0.8rem;
    margin-bottom: 0.3125em;
    padding: 0.9375em;
    text-align: center;
    text-transform: uppercase;
  }

  .status {
    border-radius: 0 0 0.2rem 0.2rem;
    display: none;
    font-size: 0.875em;
    margin: 6px 0;
    padding: 0.3125em;
    text-indent: 5px;
    text-transform: uppercase;
  }

  &.in-progress-exercise .status,
  &.complete-exercise .status {
    background: rgba(255, 255, 0, .4);
    color: $darkwarmgray;
    display: block;
  }

  &.complete-exercise .status {
    background: image-url('check.svg') no-repeat 5px 5px #83EBA8;
    background-size: 18px;
    color: darken(#83EBA8, 45%);
    display: block;
    text-indent: 25px;
  }
}

.card {
  &.exercise {
    h5 {
      border-bottom: 1px solid $base-border-color-1;
    }

    .illustration {
      background-image: image-url('exercise.svg');

      &:after {
        border-color: $base-border-color-blue;
      }
    }
  }

  &.repository {
    .illustration {
      background-image: image-url('repository.svg');

      &:after {
        border-color: rgba($repository-color, 0.1);
      }
    }
  }

  &.complete-exercise {
    .illustration {
      background: image-url('trail-step-complete.svg') center /58px no-repeat;

      &:after {
        display: none;
      }
    }
  }

  &.in-progress-exercise {
    .illustration {
      background: image-url('trail-step-in-progress.svg') center /60px no-repeat;

      &:after {
        display: none;
      }
    }
  }
}
