body.checkouts-new, body.checkouts-create {
  .checkout-content {
    display: flex;

    @include marketing-mobile {
      flex-direction: column;
    }

    .github-auth {
      .username-password {
        display: none;
      }

      #billing-information,
      .actions {
        display: none;
      }
    }

    .username-password-auth {
      .github-or-sign-in-buttons {
        display: none;
      }
    }
  }

  .headhesive--stick,
  .footer-content {
    display: none;
  }

  .tagline {
    margin-top: 20px;
  }

  .one-step-away {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  .upcase-features {
    margin-top: 1.5em;

    li {
      margin-top: 0;
    }
  }

  aside {
    flex-grow: 1;
    padding-left: 4em;

    @include marketing-mobile {
      padding-left: 0;
    }

    h3 {
      line-height: 40px;
    }

    .notes {
      margin: 1em 0 2em;
    }
  }

  .payment-form {
    width: 65%;

    @include marketing-mobile {
      width: 100%;
    }
  }

  .price-includes {
    padding: 5px;
    top: 20px;
  }

  .checkout-notes {
    margin-top: 2em;
  }

  form {
    margin-bottom: 0;
  }

  .github-or-sign-in-buttons ul {
    display: table;
    margin-bottom: 2em;
    width: 100%;

    li {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
    }

    a {
      display: block;
      margin: 2px;
      padding: 1em;
      text-align: center;
    }
  }

  fieldset {
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0px;
    }

    li {
      display: table;
      margin-right: 0;
      margin-top: 1rem;
      width: 100%;

      label {
        vertical-align: middle;
        display: table-cell;
        width: 108px;

        &[for=card-cvc] {
          width: auto;
        }
      }

      input[type=text], input[type=email], input[type=password], select {
        display: table-cell;
        margin: 0;
      }

      .inline-hints {
        margin: 0;
      }

      &#checkout_submit_action {
        margin-left: 0;
        margin-top: .25rem;
        width: 100%;

        input {
          font-size: 1rem;
          height: auto;
          letter-spacing: 1px;
          text-rendering: optimizeLegibility;
          white-space: normal;
          width: 100%;
        }
      }

      &#checkout_quantity_input {
        select {
          font-size: 2rem;
          height: auto;
          letter-spacing: 1px;
          text-rendering: optimizeLegibility;
          white-space: normal;
        }
      }
    }
  }

  .address-fields-wrapper {
    .address-info,
    .hide-address {
      display: none;
    }

    .reveal-address {
      display: block;
      font-style: italic;
      font-weight: lighter;
    }

    &.displayed {
      .address-info {
        display: block;
        margin: 3rem 0;
      }

      .reveal-address {
        display: none;
      }

      .hide-address {
        display: block;
      }
    }
  }

  .coupon {
    position: relative;

    form {
      margin-bottom: 1em;
      position: relative;
    }

    label {
      display: none;
    }

    input[type='text'] {
      margin: 1.5rem 0 1.25rem;
    }

    input[type='button'] {
      border-bottom: 0;
      height: 39px;
      @include position(absolute, 27px 3px 0px 0);
    }
  }

  @media screen and (max-width: 910px) {
    fieldset ol, #billing-information ol {
      li#checkout_zip_code_input,
      li#checkout_state_input,
      li#checkout_city_input,
      li#checkout_country_input,
      li#checkout_expiration_input,
      li#checkout_cvc_input {
        float: none;
        width: flex-grid(12);
      }

      label {
        width: 90px;
      }
    }
  }
}

#billing-information {
  fieldset {
    background-color: $base-background-1;
    border: 1px solid $base-border-color-1;
    border-radius: 3px;
    margin: 0 0 em(20);
    padding: em(20);
    width: 100%;
  }

  h3 {
    color: $gray-3;
    margin: 0;
    font-weight: 600;

    &:before {
      @include size(18px 24px);
      background: image-url('icons/secure.svg') no-repeat;
      content: "";
      display: inline-block;
      margin-right: 0.5em;
      vertical-align: -10%;
    }
  }

  #credit-card-icons {
    img {
      padding: 0 em(5);

      &:first-child {
        padding-left: 0;
      }
    }
  }

  ol {
    width: 100%;

    li {
      &.overflow {
        @extend .clearfix;
      }

      &#checkout_expiration_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(8);

        select {
          border: 1px solid darken($warmgray, 5%);
          box-shadow: none;
          box-sizing: border-box;
          float: left;
          font: 1rem $sans-serif;
          height: 45px;
          padding: 0 1rem;
          -webkit-appearance: none;
          width: flex-grid(6);

          &.card-expiry-month {
            margin-right: flex-gutter();
          }

          &:focus {
            border: 1px solid $upcase-red;
            outline: none;
            outline-color: none;
          }
        }
      }

      &#checkout_cvc_input {
        float: left;
        width: flex-grid(4);
      }

      &#checkout_country_input {
        clear: left;
      }

    }
  }
}
