.flash {
  background-color: $upcase-blue-1;
  border: solid 1px darken($upcase-blue-1, 15%);
  border-radius: 3px;
  color: $white;
  display: inline-block;
  padding: 1rem 2rem;

  .header-flash & {
    animation: fall 5s;
    animation-delay: 0.75s;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 2px rgba($black, 0.1);
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    line-height: 1.5;
    transform: translateY(-200%);
  }

  &.error,
  .header-flash &.error {
    background-color: $upcase-red;
    border-color: darken($upcase-red, 15%);
  }

  &.failure,
  .header-flash &.failure {
    background-color: $melon;
    border-color: darken($melon, 5%);
    color: $red;
  }

  &.notice,
  .header-flash &.notice {
    background-color: $light-yellow;
    border-color: darken($light-yellow, 20%);
    color: $dark-brown;
  }

  &.success,
  .header-flash &.success {
    background-color: $hero-green;
    border-color: darken($hero-green, 5%);
  }

  .pricing & {
    display: block;
  }

  a {
    color: inherit;
    font-weight: 600;
  }

  + .content {
    padding-top: 1em;
  }
}
