.landing-page-wrapper {
  @include span-columns(9);
  @include shift(1.5);
  padding: 1em 0 3em;

  header.landing-hero {
    text-align: center;

    p {
      border-bottom: 1px solid $base-border-color-1;
      border-top: 1px solid $base-border-color-1;
      margin: 2em 0 4em;
      padding: 2em 0;
    }
  }

  article {
    margin-bottom: 4em;

    h2 {
      margin-bottom: 0.2em;
    }

    p.sub-header {
      font-weight: bold;
      font-family: $sans-serif;
      margin-bottom: 2em;
    }
  }

  .call-to-action {
    border: 1px solid #9CBEE5;
    background: #EDF5FF;
    padding: 2em;

    a {
      background: #4A90E2;
      border-radius: 2px;
      color: #fff;
      display: block;
      font-family: $sans-serif;
      font-weight: 700;
      padding: 0.8rem 0;
      text-align: center;
      transform: translateY(-0.2rem);
    }
  }
}

.landing-container {
  @include outer-container;
  max-width: 32em;
  padding-left: 0.5em;
  padding-right: 1em;

  @include marketing-fullsize {
    max-width: $max-width;
  }
}
