.landing-page {
  @include marketing-fullsize {
    margin-top: $header-height + 15px;
  }
}

.sticky-header {
  margin-bottom: 0;
  z-index: $z-header;

  @include marketing-fullsize {
    padding: 0;

    nav {
      a {
        padding: 1rem 2rem;
      }
    }

    &:not(.headhesive) {
      @include position(absolute, 0 0 null 0);

      nav li {
        margin: 7px;

        &:hover {
          background: rgba($black, 0.12);
          border-radius: 3px;
        }

        a {
          border-left: none;
          height: 44px;
          padding: 0.5em 1rem;
        }
      }
    }
  }

  &.headhesive {
    @include position(fixed, 0 0 null 0);
    transform: translateY(-100%);
    transition: transform 0.2s;
    z-index: $z-headhesive;

    @include dashboard-small-only {
      display: none;
    }
  }

  &.headhesive--stick {
    transform: translateY(0);
  }
}
