$price-width: 54em;
$pricing-side-padding: 1.5rem;
$pricing-margin: 0.5rem;

.pricing {
  background: linear-gradient(darken($celestial-blue, 12%), darken($celestial-blue, 0%));
  fill: $base-background-2;
  margin-top: -1px;
  padding-bottom: 2em;
  padding-top: 4em;
  position: relative;
}

.price-header {
  @include outer-container;
  @include row(table);
  max-width: $price-width;
}

.price-header-title {
  background: $celestial-blue;
  border-radius: 5px 5px 0 0;
  padding: 1em $pricing-side-padding 1.5em;

  @include marketing-fullsize {
    @include span-columns(8, table);
    border-radius: 5px 0 0;
  }

  h3 {
    color: $off-white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -0.04em;
    line-height: 1.3;
    margin: $pricing-margin;
  }
}

.price-header-cost {
  background: darken($celestial-blue, 3);
  padding: $pricing-side-padding;
  position: relative;

  @include marketing-fullsize {
    @include span-columns(4, table);
    border-radius: 0 5px 0 0;
  }

  h4 {
    color: $off-white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -0.08em;
    line-height: 1;
    margin: $pricing-margin;
  }

  p {
    color: transparentize($off-white, 0.4);
    font-style: italic;
    line-height: 1.4;
  }

  sup {
    @include position(absolute, 2.375rem null null 1.375rem);
    display: inline-block;
    font-size: 25%;
    font-weight: 500;
    opacity: 0.333;
  }

  sub {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1;
    opacity: 0.666;
    text-transform: uppercase;
  }
}

.price-info {
  @include outer-container;
  @include row(table);
  border-radius: 5px;
  margin-bottom: 2em;
  max-width: $price-width;

  .pricing-guarantee {
    margin-bottom: 0;
  }

  h5 {
    font-size: 0.75em;
    letter-spacing: 0.05em;
    margin-bottom: 1em;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

.price-description {
  background: $off-white;
  padding: $pricing-side-padding $pricing-side-padding 2em;

  @include marketing-fullsize {
    @include span-columns(8, table);
    border-radius: 0 0 0 5px;
    vertical-align: top;
  }

  p {
    font-size: 1.125em;
    margin: 0.5em 0.5em 2em;
  }

  .signup {
    box-shadow: $heavy-box-shadow;
    line-height: 1.3;
    width: 100%;
  }

  svg {
    @include size(1.5em);
    margin: -4px 0.3em 0;
    vertical-align: middle;

    path {
      fill: $off-white;
    }

    @include marketing-mobile {
      display: none;
    }
  }
}

.price-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  a {
    flex-basis: 12em;
    flex-grow: 1;
    flex-shrink: 0;
    margin: $pricing-margin;
  }
}

.price-includes {
  background: darken(white, 5);
  border-radius: 0 0 5px 5px;
  padding: $pricing-side-padding $pricing-side-padding 2em;
  position: relative;

  @include marketing-fullsize {
    @include span-columns(4, table);
    border-radius: 0 0 5px;
    vertical-align: top;
  }

  h5 {
    margin: $pricing-margin $pricing-margin 2em;
  }

  ul {
    margin: $pricing-margin;
  }

  li {
    margin: 0.75em 0;
    font-size: 0.9125em;
    line-height: 1;
  }

  strong {
    font-weight: 600;
  }
}

.price-alternative,
.coaching {
  font-size: 1em;
  font-weight: 400;
  margin-top: 4em;
  text-align: center;

  a {
    font-weight: 700;
  }
}

@include reset-display;
