.searches {
  .search-topics {
    @media (min-width: $medium-screen) {
      padding-left: 4em;
    }
  }

  .search-section-title {
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .search-form-container {
    padding-left: 1em;
    padding-right: 1em;

    .search-section-title {
      clear: both;
    }
  }

  .searches-form {
    position: relative;
  }

  .searches-form input[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    bottom: 0;
    padding: 5px 15px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .searches-form input[type="text"] {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
  }

  .search-legend {
    color: #c0c0c0;
    margin: 0 auto 2em;
    max-width: 23em;
    text-align: center;
  }

  .search-icon {
    margin-right: 1em;
  }

  .search-result .source {
    line-height: 17px;
  }

  .search-result .source a {
    font-weight: 400;
  }
}
