.plans {
  background: $base-background-1;
  padding: 0 $plan-padding;

  .inner {
    @include clearfix;
    margin: 0 auto;
    padding: 40px 0 100px;
    position: relative;
    width: $plan-width * 4 + $plan-width-callout;
  }

  nav, .plan, header p {
    float: left;
    width: $plan-width;

    ol {
      list-style: none;
      margin: 0;
    }

    li {
      align-items: center;
      display: flex;
      height: 46px;
      justify-content: center;
    }
  }

  header {
    @include clearfix;
    align-items: center;
    display: flex;
    width: 100%;


    p {
      color: #4A4A4A;
      display: block;
      font-family: $sans-serif;
      line-height: 1.4;
      padding: $plan-padding/2;
      padding-top: 0;
      text-align: center;

      &.professional {
        font-weight: bold;
        width: $plan-width-callout;
      }
    }
  }

  nav {
    padding-right: $plan-padding;
    text-align: right;

    ol {
      margin-top: $plan-header-height;
    }

    a {
      $color: #276FC3;
      border-bottom: 1px solid rgba($color, 0.15);
      color: $color;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      font-family: $sans-serif;
      font-weight: 600;

      &:hover {
        border-bottom-color: rgba($color, 0.75);
      }
    }
  }

  section.plan {
    background: $base-background-1;
    border: 1px solid $warmgray;
    border-left-width: 0;
    border-right-width: 0;
    box-shadow: -1px 0 0 $warmgray;
    text-align: center;

    &:nth-of-type(3) {
      box-shadow: 1px 0 0 $warmgray;
    }

    h3 {
      color: darken($darkwarmgray, 10%);
      font-size: 1.2rem;
      font-weight: 600;
      height: 90px;
      padding: $plan-padding;
    }

    li {
      box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.05);
      padding: 0 $plan-padding;
      margin: 0;

      &:last-of-type {
        box-shadow: none;
      }
    }

    .price {
      color: $darkwarmgray;
      font-size: 1.05rem;
      margin: 2rem 0;
    }

    .sign-up,
    .current-plan {
      border: 1px solid $warmgray;
      border-radius: 2px;
      color: $darkwarmgray;
      display: block;
      font-family: $sans-serif;
      margin: 2rem $plan-padding;
      padding: 0.5rem 0;
    }

    .current-plan {
      background: rgba(#ccc, 0.16);
      border: 0;
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 1;
      margin-top: -6px;
      padding: 0.5rem 0.2rem;
    }
  }

  .plan.professional {
    background: #EDF5FF;
    border-color: #9CBEE5;
    border-left-width: 1px;
    border-right-width: 1px;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.14);
    margin-top: -12px;
    padding: 12px 0 15px;
    width: $plan-width-callout;

    h3 {
      color: #3C85DB;
      font-size: 1.3rem;
      font-weight: 800;
    }

    $blue: #4A90E2;
    .sign-up {
      background: $blue;
      border: 0;
      color: #fff;
      font-weight: 700;
      @include transform(translateY(-0.2rem));
      padding: 0.8rem 0;
      margin: 2rem $plan-padding*0.9;
    }

    .current-plan {
      background: rgba($blue, 0.16);
      color: darken($blue, 15%);
    }
  }

  .teams-pricing {
    margin-top: 98px;

    a {
      // border-bottom: 0;
      border-bottom-color: hsla(0, 0%, 65%, 0.15);
      color: hsla(0, 0%, 65%, 1);
      font-size: 0.75rem;
      line-height: 1.5;
      text-transform: uppercase;
      white-space: nowrap;

      &:hover {
        border-bottom-color: hsla(0, 0%, 65%, 0.75);
      }
    }
  }
}

// Plan Features
////////////////////////////////////////////////////////////////////////////

.plan-features {
  padding: 80px 0;
  background: $base-background-1;

  .inner {
    @include clearfix;
    max-width: $plan-max-width;
    margin: 0 auto;
  }

  article {
    margin-bottom: 25px;
    padding-left: 36px;
    padding-right: 18px;
    padding-top: 25px;
    @include span-columns(6 of 12);

    &:target {
      h3 {
        border-bottom: 2px solid currentColor;
      }
    }

    &:nth-of-type(2n) {
      @include omega();
      padding-left: (36px/2);
      padding-right: 36px;
    }
  }

  header {
    position: relative;
  }

  h3 {
    border-bottom: 2px solid transparent;
    color: #A4A4A4;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.7em;
    @include transition(border-color 0.5s $ease-in-quad);
  }

  h4 {
    color: darken($darkwarmgray, 8%);
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 0.6em;
  }

  p, ul {
    font-size: $font-size-small;
    line-height: 1.6;
    margin-bottom: 0.85em;
  }

  .included-in {
    position: absolute;
    right: 0;
    top: 5px;
    opacity: 0.65;

    &:hover {
      opacity: 1;
    }

    > div {
      display: inline-block;
      position: relative;

      &:before, &:after {
        content: "";
        opacity: 0;
        pointer-events: none;
        position: absolute;
      }

      &:before {
        background: #333;
        border-radius: 2px;
        color: hsla(0, 0%, 100%, 0.9);
        font-size: 0.8rem;
        line-height: 1;
        padding: 5px 8px 3px;
        top: -35px;
        @include transform(translateX(-45%));
        white-space: nowrap;
      }

      &:after {
        top: -15px;
        @include triangle(12px, #333, down);
      }

      &:hover {
        &:before, &:after {
          @include transition(opacity 0.04s $ease-out-quad);
          opacity: 1;
        }
      }

      $count: 1;
      $plans: "1-on-1 Coaching", "Professional", "The Weekly Iteration";
      @each $plan in $plans {
        &:nth-of-type(#{$count}):before {
          content: "#{$plan}";
          $count: $count + 1;
        }
      }
    }

    img {
      height: 14px;
    }

    .false img {
      height: 12px;
    }
  }
}
