.tiles ul,
.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
  width: 100%;

  .tile {
    border-radius: 0 0 3px 3px;
    border-top: 10px solid $gray-5;
    box-shadow: 0 0 0 1px $gray-4;
    flex-basis: 22em;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 1em 2em;
    min-height: 300px;
    overflow: hidden;
    padding: 1.5em;
    position: relative;
    text-align: center;

    @include dashboard-small-only {
      height: auto;
      margin: 0 0.5em 1em;
      padding: 1em;
      width: 100%;
    }

    h1 {
      font-size: 23px;
      line-height: 26px;
      margin-bottom: 0.5em;
      margin-left: 60px;
      position: relative;

      a {
        color: $darkwarmgray;
        font-size: 20px;
      }
    }

    h2 {
      color: $gray-3;
      font-size: 0.75em;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 1.875em;
      text-transform: uppercase;
    }

    h3 {
      color: $darkwarmgray;
      font-size: 1em;
      text-align: left;
      margin: 1.2em 0;

      .title {
        font-weight: 400;
      }
    }

    h1, h2, p {
      text-align: left;
    }

    .cta {
      bottom: 20px;
      margin-left: -90px;
      position: absolute;
      width: 180px;
    }
  }
}

.resources-index .tiles-container .tile {
  height: 280px;

  h1 {
    color: $darkwarmgray;
  }
}
