.trails-progress {
  .trail {
    .step {
      .tooltip {
        left: 50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 40px;
        transform: translate(-50%, 6px);
        transition: 0.2s $ease-out-quad;
        z-index: 2;

        &:before, &:after {
          @include triangle(up, $arrow-size, 8px, $base-border-color-1);
          content: "";
          position: absolute;
          top: -$arrow-size * 0.5 + 3px;
          left: calc(50% - #{$arrow-size / 2});
          z-index: 1;
        }

        &:before {
          transform: scale(1.15);
          transform-origin: center bottom;
        }

        &:after {
          @include triangle(up, $arrow-size, 8px, #fff);
        }

        .card {
          height: auto;
        }
      }
    }
  }
}
