@each $topic-name, $topic-color in $topic-colors {
  body.topics.topics-show.#{$topic-name} {
    .subject {
      background: map-get($topic-backgrounds, $topic-name);

      h1 {
        color: $topic-color;
      }
    }

    .topic-description {
       margin-bottom: 1rem;
    }
  }

  .tiles ul .tile.#{$topic-name} {
    border-top-color: map-get($topic-backgrounds, $topic-name);
  }

  .tiles-container .tile.#{$topic-name} {
    border-top-color: map-get($topic-backgrounds, $topic-name);
  }

  .trail-titles li.#{$topic-name} {
    border-color: map-get($topic-backgrounds, $topic-name);
  }

  .topic-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
