$dot-size: 14px;
$dot-margin: 14px;
$arrow-size: 20px;
$not-started-dot-color: #D8D8D8;

@mixin trail-line {
  &:before {
    background: hsla(0, 0%, 0%, 0.1);
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    right: 0;
    top: 48%;
    width: 100%;
  }
}

.trails-progress {
  clear: both;
  display: block;
  position: relative;
  z-index: 1;

  & > footer {
    clear: left;
    text-align: center;
  }

  .separator {
    border-top: 1px solid $gray-4;
    margin-bottom: 50px;
    text-align: center;
  }

  .steps-and-start {
    flex: 1;

    .completion-time {
      color: $gray-3;
    }
  }

  .trail {
    display: flex;
    margin-bottom: 5em;
    width: 100%;

    @include body-mobile {
      flex-direction: column;
    }

    header {
      @include clearfix;
      margin-bottom: 25px;

      h1 {
        clear: left;
        float: left;
        font-size: 1.5rem;
        margin-bottom: $spacing-base;

        a {
          color: $darkwarmgray;
          font-size: 1em;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .trail-description {
      float: left;
      margin-left: 6px;

      .help-icon {
        @include size(20px);
        background: $gray-3;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        line-height: 1;
        margin: 4px;
        opacity: 0.6;
        padding: 3px 6px;
      }

      .help-tooltip {
        display: none;
        margin-top: 3px;
        position: absolute;
        transform: translate(-46%, 0);
        transition: 0.2s $ease-out-quad;
        z-index: 3;

        &:before, &:after {
          left: calc(50% - #{$arrow-size / 2});
          @include triangle(up, $arrow-size, 8px, $base-border-color-1);
          content: "";
          position: absolute;
          top: -$arrow-size * 0.5 + 3px;
          z-index: 1;
        }

        &:before {
          transform: scale(1.15);
          transform-origin: center bottom;
        }

        &:after {
          @include triangle(up, $arrow-size, 8px, #fff);
        }

        .card {
          height: auto;
          width: $card-width * 1.5;

          &:hover {
            transform: none;
          }
        }
      }

      .help-icon:hover + .help-tooltip {
        display: block;
      }
    }

    .numerical-progress {
      color: $gray-3;
      float: right;
      font-size: 0.92rem;
      font-weight: 500;
      margin-top: 8px;
    }

    .just-finished-mask {
      overflow: hidden;

      .tooltip {
        display: none;
      }
    }

    .progress {
      background-image: linear-gradient(#FBFBFB, #F3F3F3);
      align-items: center;
      border: 1px solid $not-started-dot-color;
      border-radius: 60px;
      display: flex;
      height: 58px;
      justify-content: space-around;
      padding: 0 10px;

      &.just-finished {
        transform: translateX(-60%);
      }

      .numerical-progress {
        margin: 0 30px 0 0;
      }
    }

    .step {
      display: flex;
      flex: 1;
      justify-content: center;
      position: relative;

      &:last-of-type {
        &.complete-exercise .dot {
          @include size(36px);
          background: image-url('trail-complete-check.svg') center no-repeat;
        }
      }

      &:hover .tooltip {
        opacity: 1;
        transform: translate(-50%, 0);
      }


      &.complete-exercise, &.next-up-exercise {
        @include trail-line;
      }

      // Show line
      &:first-of-type {
        &.complete-exercise:before {
          display: block;
        }
      }

      // Hide line
      &:first-of-type,
      &:last-of-type,
      &.next-up-exercise {
        &:before {
          display: none;
        }
      }

    }
  }

  .started {
    .trail {
      flex-direction: column;
    }

    header {
      margin-bottom: 0;
    }

    .completion-time {
      margin-bottom: $base-spacing;
    }

    .description,
    a.start-trail,
    .person,
    .teacher-name {
      display: none;
    }
  }

  // Unstarted Trail
  ///////////////////////////////////////////////////////////////////////////
  .unstarted {
    @include clearfix;

    header {
      float: left;
      margin-bottom: 0;
      margin-right: 4em;
      width: 50%;

      @include body-mobile {
        width: 100%;
      }
    }

    .numerical-progress, .help-icon, .help-tooltip {
      display: none;
    }

    .step {
      &.unstarted-exercise {
        @include trail-line;
        cursor: auto;
      }

      // Hide line instructions override
      &:last-of-type,
      &.next-up-exercise {
        &:before {
          display: block;
        }
      }

      &:last-of-type {
        &:before {
          background: linear-gradient(to right, hsla(0, 0%, 0%, 0.05), $color-white);
        }
      }
    }

    .trail {
      header h1 {
        float: none;
      }

      .progress {
        background: none;
        border: 0;
        margin-bottom: 0;
        padding-left: 0;
      }

      .step {
        justify-content: flex-start;

        .dot {
          margin: 0;
          background: $not-started-dot-color;

          &:before {
            animation: none;
            display: none;
          }
        }

        &:before {
          left: 0;
        }
      }

      .tooltip {
        left: 6px;
        top: 22px;
      }
    }
  }

  // Complete Trail
  ///////////////////////////////////////////////////////////////////////////
  .trails-complete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .complete {
    border: 10px solid $gray-5;
    height: $card-height;
    margin: 0 auto $spacing-medium;
    padding: $card-padding;
    position: relative;

    @media (min-width: $medium-screen) {
      width: 47%;
    }

    .trail {
      padding: 0;
    }

    header, p {
      text-align: center;
      width: 100%;
    }

    .topic-label {
      float: none;
    }

    .trail header h1 {
      float: none;
      margin-top: 1em;
    }

    header p {
      color: $gray-2;
      font-size: 1.5em;
      line-height: 130%;
    }

    ul {
      left: 10px;
      list-style-type: none;
      margin-left: 0;
      position: absolute;
      bottom: 85px;
    }

    .step {
      @include trail-line;
      display: inline-block;

      &:before {
        height: 3px;
        background: $gray-5;
      }

      // Hide line
      &:first-of-type {
        &:before {
          display: block;
        }

        // Show line before first dot
        &:after {
          display: block;
          background: $gray-5;
          content: "";
          height: 3px;
          position: absolute;
          right: 50%;
          top: 48%;
          width: 100%;
          z-index: -1;
        }
      }
    }

    .trail .step .dot {
      @include size($dot-size);
      background: $upcase-green;
      border-radius: $dot-size;
      margin: $dot-margin;
      position: relative;
    }

    li.step:last-of-type {
      @extend %trail-bullet-complete;
      @include size(30px);
      background-color: $upcase-green;
      border-radius: 50%;
      bottom: 6px;
      left: 15px;

      .dot {
        display: none;
      }
    }

    .revisit-trail {
      bottom: $card-padding;
      border: 2px solid $lightwarmgray;
      border-radius: 2px;
      color: $darkwarmgray;
      font-family: $sans-serif;
      font-size: 1.2em;
      left: 50%;
      margin-left: -78px;
      padding: 12px 0;
      position: absolute;
      text-align: center;
      width: 156px;
    }
  }

  // Just Finished Trail
  ///////////////////////////////////////////////////////////////////////////
  .just-finished {
    position: relative;
    width: 100%;

    h1 {
      width: 100%;
    }

    .just-finished-subhead {
      color: $gray-3;
      clear: left;
      float: left;
      font-family: $serif;
      font-style: italic;
      margin-bottom: 0.2em;
    }

    p {
      color: darken($upcase-green, 10);
      font-size: 21px;
      font-style: italic;
      left: 45%;
      position: absolute;
      top: 65%;
    }
  }

  .button_to {
    display: inline-block;
  }
}

.promoted-trails {
  border: 1px solid $warmgray;
  border-radius: $base-border-radius;
  margin-bottom: $medium-spacing;
  padding: $base-spacing;

  .trail {
    margin-bottom: 0;
    margin-top: $base-spacing;
  }

  .promo-message {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1em;
  }
}
