.trail-titles {
  margin-bottom: 3rem;

  li {
    border-left: 10px solid $gray-5;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 0 1px $gray-4;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 1.25em;
    margin: 10px;
  }

  a {
    color: $gray-2;
    display: block;
    padding: 10px 20px;
  }
}
