.trails-show {
  .breadcrumbs {
    color: $gray-3;

    a {
      color: $upcase-blue;
      font-size: 0.9em;
      padding: 0 10px;

      &:last-child {
        color: $gray-2;
        font-weight: 400;
        pointer-events: none;
      }
    }
  }

  .trail-title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  .trail-header {
    display: flex;
    margin: 3.2em 0;

    @include dashboard-small-only {
      display: block;
      text-align: center;
      margin: 1.5em auto 3em;
    }

    h2 {
      font-size: 1.125em;
      font-weight: normal;
      line-height: 1.6em;
      margin-bottom: 1rem;

      @include dashboard-small-only {
        width: 100%;
      }
    }

    .title-card {
      @include span-columns(5);
      flex: none;
      margin-right: 2em;

      @include dashboard-small-only {
        @include span-columns(12);
        margin-bottom: 2em;
      }
    }

    .topic-image {
      flex: none;
      margin-right: 2em;

      @include dashboard-small-only {
        @include span-columns(12);
        display: block;
        margin: 0 auto 2em;
      }
    }

    iframe {
      height: 100%;
      width: 100%;
    }

    .topic-label {
      @include dashboard-small-only {
        display: inline-block;
        float: none;
      }
    }

    .trail-topic-name {
      @include clearfix;
    }
  }

  .trail-description {
    padding-bottom: 1em;
  }

  .trails-progress {
    margin-bottom: 5em;
  }

  .dot-container {
    margin: 7px;
    position: absolute;
  }

  .dot {
    margin: 0;
  }

  .topic-description {
    margin-bottom: 2em;
  }
}
