<li class="goal add">
  <div class="goal-bullet-container">
    <div class="goal-bullet"></div>
  </div>
  <span><%= link_to 'Check off items on trail maps &rarr;'.html_safe, topics_path %></span>
</li>
