<% content_for :page_title, "Learn Bytes" %>
<% content_for :subject, "Bytes" %>

<div class="text-box-wrapper">
  <div class="text-box">
    <% if @bytes.present? %>
      <section class="bytes results">
        <%= render @bytes %>
      </section>
    <% end %>
  </div>
</div>
