#purchase_city_input,
#purchase_state_input,
#purchase_zip_code_input,
#purchase_country_input,
#user_city_input,
#user_state_input,
#user_zip_code_input,
#user_country_input {
  float: left;
  width: flex-grid(6);
}

#purchase_city_input, #purchase_zip_code_input,
#user_city_input, #user_zip_code_input {
  margin-right: flex-gutter();
}
