.upgrade-button {
  width: 100%;
}

.subscription-charge {
  color: $upcase-blue;
  font-weight: 800;
  font-size: 1.5em;
}

.no-background {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.switch-subscription {
  padding: em(15) 0;
}
