input[type="submit"] {
  border-bottom-width: none;
  border-image: initial;
  border-left-color: none;
  border-left-style: none;
  border-left-width: none;
  border-right-color: none;
  border-right-style: none;
  border-right-width: none;
  border-top-color: none;
  border-top-style: none;
  border-top-width: none;
  cursor: pointer;
  padding: 13px 30px 0 30px;
}

input[type="submit"] {
  padding-top: 6px;
}

.button, input[type="submit"] {
  background-color: $learnred;
  border-bottom: 3px solid $learndarkred;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font: 600 14px/1.4em $sans-serif;
  height: 44px;
  margin: 0 auto;
  padding: .75em 1em;
  text-align:center;
  text-transform: uppercase;

  &:hover {
    background-color: #C42107;
  }


  &[disabled] {
    background-color: $lightwarmgray;
    border-bottom: 4px solid $warmgray;
    color: $warmgray;
    cursor: wait;
  }

  a {
    color: white;
    display: block;
    height:100%;
    padding-top: 15px;
    width: 100%;
  }

  span {
    font-weight: 100;
  }
}

.button-mini {
  @extend .button;
  border-bottom: 2px solid $learndarkred;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 4px;
  padding-top: 6px;
}

form {
  margin: 0 0 2em 0;

  ul, ol {
    margin: 0;
    padding: 0;
  }

  .errors, .errors li {
    color: $learnred;
    font-size: 18px;
    font-style: bold;
    margin-top: 20px;
  }

  li {
    list-style-type: none;

    &.payment-errors, &.subscription-errors {
      color: $learnred;
      font-style: bold;
    }
  }

  fieldset {
    legend {
      color: $darkwarmgray;
      font: 700 26px/25px $sans-serif;
      padding: 24px 0 12px 0;
    }

    label {
      color: $darkwarmgray;
      display: block;
      font: normal 17px $serif;
    }

    li#purchase_submit_action {
      margin-left: 0;
      margin-top: 40px;
      width: 100%;

      input {
        width: 100%;
      }
    }

    ol {
      &.actions {
        margin-top: 2em;
      }

      li {
        margin: 0 0 0 0;

        p.inline-hints {
          font-style: italic;
        }

        p.inline-errors {
          color: $red;
          display: none;
          font-size: 16px;
        }

        &.error {
          p.inline-errors {
            color: $red;
            display: block;
          }

          p.inline-hints {
            color: $red;
          }

          input {
            background: #f8bcba;
          }
        }

        input[type="text"],
        input[type="password"],
        input[type="tel"],
        textarea,
        input[type="email"],
        input[type="select"] {
          background-color: #FFF;
          border: 1px solid $warmgray;
          border-radius: 4px;
          box-shadow: none;
          @include box-sizing(border-box);
          font-size: 14px;
          margin: .25em 0;
          padding: 1em;
          width: 100%;

          &:focus {
            border: 1px solid $learnred;
            outline: none;
            outline-color: none;
          }
        }

        &.commit {
          margin-top: 24px;
        }
      }
    }
  }
}

#notify-me {
  form {
    padding-top: 2em;
  }

  input[type="text"] {
    border: none;
    border-radius: 4px;
    @include box-sizing(border-box);
    font-size: 14px;
    margin: 0 0 12px 0;
    padding: 18px 30px;
    vertical-align: top;
    width: 50%;
  }

  input[type="submit"] {
    margin-left: 14px;
    padding: 17px 40px 32px 40px;
    text-transform: uppercase;
  }
}

body.purchases-new {
  #notify-me {
    form {
      margin-top: 0;
      padding-top: 0;

      input[type="text"] {
        border: 1px solid $warmgray;
      }
    }
  }
}
