%main-content-box {
  background-color: white;
  border-bottom: 2px solid $warmgray;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px white, 0 0px 3px $warmgray;
  margin-bottom: 1em;
  overflow-y: scroll;
  padding: 24px;
  position: relative;
}

%trail-bullet {
  background: transparent;
  border: 2px solid darken($journey-line-color, 12%);
  border-radius: 100%;
  @include box-sizing(border-box);
  height: 1.5rem;
  width: 1.5rem;
}

%trail-bullet-complete {
  background: url(/assets/check.svg) darken($journey-line-color, 12%) center center no-repeat;
  background-size: .9rem;
  border-color: transparent;
  color: #fff;
  text-align: center;
}
