h1, h2, h3, h4, h5, h6 {
  color: $darkwarmgray;
  display: block;
  font-family: $sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h1 a {
  font-size: 36px;
  font-weight: 700;
}

h2,
h2 a {
  font: 800 36px/40px $sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  color: $gray-3;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1rem;
}

p, li {
  color: $darkwarmgray;
  font: normal 1em/1.75em $sans-serif;
  margin-bottom: .8em;
  -webkit-font-smoothing: antialiased;

  em {
    font-style: italic;
  }
}

a {
  color: $upcase-blue;
  font-family: $sans-serif;
  font-weight: 600;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

pre code {
  display: block;
  line-height: 1.4rem;
  margin: 2rem 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 0.5rem;

  @include dashboard-medium {
    font-size: 0.9rem;
    padding: 1rem;
  }
}

code {
  background-color: $code-block-brackground;
  border-radius: 3px;
  font-family: monaco;
  font-size: $font-size-smallest;
  padding: 0.125rem 0.25rem;

  @include dashboard-medium {
    font-size: 0.9rem;
  }

  .cursor {
    background: darken($off-white, 25%);
  }
}

:not(pre) code {
  background-color: $inline-code-background;
}

// negate brs inserted into posts
.text-box br {
  display: none;
  float: left;
}

blockquote {
  border-left: 4px solid $warmgray;
  font-style: italic;
  margin-left: 1rem;
  padding-left: 1rem;
}

q {
  display: block;
  font-style: italic;
  margin: 2rem 0 0 1em;
  width: 80%;
}

p.source {
  margin-bottom: 1rem !important; // override inline styles
  margin-top: 0 !important; // override inline styles
}

ol, ul {
  list-style-type: disc;
  margin: 0 0 0 2em;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid white;
  border-top: 1px solid $warmgray;
  color: $warmgray;
  height: 2px;
}

@include font-face(entypo, 'entypo/entypo', $asset-pipeline: true);
.icon {
  font-family: "entypo";
  font-size: 25px;
  font-weight: normal;
  position: relative;
}

@include body-mobile {
  ol, ul {
    margin: 0 0 0 .75em;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25em;
  }

  p, li {
    line-height: 1.4em;
  }
}

.subject {
  margin-bottom: 3em;
  padding: 0;
  text-align: left;

  @include dashboard-small-only {
    width: 100%;
  }

  h1 {
    color: $darkwarmgray;
    font-weight: 700;
    margin-bottom: 0.5em;

    @include body-mobile {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.75em;
    width: 85%;
  }

  .tagline, .tagline a {
    @include body-mobile {
      font-size: 20px;
    }
  }
}
