%main-content-box {
  background-color: white;
  border-bottom: 2px solid $warmgray;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px white, 0 0px 3px $warmgray;
  margin-bottom: 1em;
  padding: 24px;
  position: relative;
}
