@mixin prime-marketing-mobile {
  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    @content;
  }
}

@mixin prime-marketing-tablet {
  @media screen and (max-device-width: 1088px), screen and (max-width: 1088px) {
    @content;
  }
}

@mixin body-mobile {
  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    @content;
  }
}
