%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: shade($base-button-color, 2);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

%secondary-button {
  border: 1px solid $gray-4;
  border-radius: 3px;
  color: $gray-2;
  display: inline-block;
  font-size: em(14);
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: em(40);
  padding: em(5) em(12);
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: $off-white;
  }
}

form {
  margin: 0 0 2em 0;

  ul, ol {
    margin: 0;
    padding: 0;
  }

  .errors, .errors li {
    color: $upcase-blue;
    font-size: 18px;
    font-style: bold;
    margin-top: 20px;
  }

  li {
    list-style-type: none;

    &.payment-errors, &.subscription-errors {
      color: $upcase-blue;
      font-style: bold;

      &:empty {
        display: none;
      }
    }
  }

  fieldset {
    legend {
      color: $darkwarmgray;
      font: 700 26px/25px $sans-serif;
      padding: 24px 0 12px 0;
    }

    label {
      color: $darkwarmgray;
      display: block;
      font: normal 17px $serif;
    }

    input[type="text"],
    input[type="password"],
    input[type="tel"],
    textarea,
    input[type="email"],
    input[type="select"] {
      background-color: #FFF;
      border: 1px solid darken($warmgray, 5%);
      border-radius: 4px;
      box-shadow: none;
      font-family: $sans-serif;
      @include box-sizing(border-box);
      font-size: 1rem;
      margin: .25em 0;
      padding: .75rem 1em;
      width: 100%;

      &:focus {
        border: 1px solid $upcase-blue;
        outline: none;
        outline-color: none;
      }
    }

    ol {
      &.actions {
        margin-top: 2em;
      }

      li {
        margin: 0 0 0 0;

        p.inline-hints {
          font-style: italic;
        }

        p.inline-errors {
          color: $upcase-blue;
          font-size: 16px;
        }

        &.error {
          p.inline-errors {
            color: $red;
          }

          p.inline-hints {
            color: $upcase-blue;
          }

          input[type=text],
          input[type=email],
          input[type=password],
          input[type=tel],
          textarea {
            background: #f8bcba;
          }
        }

        &.commit {
          margin-top: 24px;
        }
      }
    }
  }
}
