@mixin prime-button($color: $learnred) {
  background: $color;
  border-bottom: .2rem solid darken($color, 10%);
  border-radius: .25rem;
  color: #fff;
  display: block;
  margin-top: 2rem;
  padding: 1.75rem;
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  z-index: 5;

  &:hover {
    background: lighten($color, 3%);
  }

  &:active {
    border-bottom-color: transparent;
    @include transform(translateY(.1rem));
  }
}

@mixin light-button {
  background: $lightwarmgray;
  border-bottom: 2px solid darken($lightwarmgray, 10%);
  border-radius: 0 0 3px 3px;
  color: $darkwarmgray;
  font: 600 1.2rem/1.2em $sans-serif;
  padding: 1.25rem 1.75rem;
  @include transition;

  &:hover {
    background-color: lighten($lightwarmgray, 2%);
  }

  &:active {
    @include transition(none);
    background-color: darken($lightwarmgray, 6%);
    border-bottom-color: transparent;
    @include transform(translateY(2px));
  }
}

@mixin product-card-widths($number_of_product_cards, $attribute: max-width, $additional_width: 0) {
  #{$attribute}: (($product-card-width + $product-card-margin)
                 * $number_of_product_cards)
                - $product-card-margin
                + $additional_width;
}
