$sans-serif: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;

$serif: "adelle-1", "adelle-2", $helvetica;

$upcase-blue: #2387E0;
$upcase-blue-1: #487BF6;
$upcase-blue-2: #0093CB;

$upcase-green: #57C75C;

$red: #ad141e;
$off-white: darken(white, 1.5);
$lightwarmgray: #F5F5F0;
$warmgray: #D9D4CC;
$darkwarmgray: #555;
$upcase-red: #FF4856;
$upcase-darkred: #660000;
$gold-trail: #F5A623;
$blue-trail: #4A90E2;
$exercise-color: #9cc0ed;
$repository-color: #8D70C3;
$video-tutorial-color: #FF633C;
$weekly-iteration-color: #9C313E;

$light-yellow: #FFF5C2;
$light-brown: #EDDAA5;
$dark-brown: #5C4A33;

$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #DDD;
$gray-5: #F3F3F3;

$base-button-color: $upcase-green;

$flash-color: #04659B;

$analytics: #EFFFB3;
$clean-code: #E5FEFF;
$clojure: #FFD3BC;
$design: #E8E9FF;
$foundations: #DAFFCB;
$haskell: #FFE7FD;
$ios: #D7ECFF;
$javascript: #FFE8CA;
$rails: #FFECEE;
$test-driven-development: #E5FDF4;
$vim: #E1F5FF;
$workflow: #FCF5C8;

$analytics-accent: #A5C236;
$clean-code-accent: #1DC8CF;
$clojure-accent: #ED6820;
$design-accent: #2B2F8E;
$foundations-accent: #77C159;
$haskell-accent: #CD6FC6;
$ios-accent: #396189;
$javascript-accent: #D87D2F;
$rails-accent: #D5414D;
$test-driven-development-accent: #34D096;
$vim-accent: #2192CF;
$workflow-accent: #F4BC15;

$footer-background: rgba(46, 48, 58, 0.96);
$footer-link-color: #7a7a7a;

$max-width: 1100px;
$navigation-height: 60px;
$card-height: 350px;
$card-padding: 40px;

$product-card-width: 14rem;
$product-card-margin: 3rem;
$product-card-illustration-height: 118px;
$slide-button-width: 7.5rem;

$base-background-1: #fff;
$base-background-2: #fafafa;

$base-border-color-1: #DCDCDC;
$base-border-color-blue: #E9F2FD;

$base-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);

$journey-line-color: darken($base-border-color-1, 5%);
$bullet-size: 70px;

$font-size-small: 0.96rem;
$base-font-color: $darkwarmgray;

$dot-size: 13px;
$dot-margin: 14px;
$arrow-size: 20px;
$not-started-dot-color: #D8D8D8;
