@include keyframes(draw-curtain) {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}


@include keyframes(two-stacked-fly-in) {
  0% {
    opacity: 0;
    @include transform(translate(50rem, 15rem) rotate(15deg));
  }
  100% {
    opacity: 1;
    @include transform(translate(0, 0) rotate(0deg));
  }
}


@include keyframes(backwards-stacked-fly-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(box-shadow-expand) {
  0% {
    box-shadow: 0 0 0 0px $journey-line-color;
  }
  100% {
    box-shadow: 0 0 0 300px $journey-line-color;
  }
}
