.animation-loading {
  @include animation(loading 0.25s ease);
  @include animation-fill-mode(both);
  @include animation-iteration-count(infinite);
}
@include keyframes(loading) {
  0% {
    right: 24px;
  }
  50% {
    right: 64px;
  }
  100% {
    right: 24px;
  }
}


.animation-drop-down-come-in {
  @include animation(drop-down-come-in 0.15s ease);
  @include animation-fill-mode(both);
}
@include keyframes(drop-down-come-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@include keyframes(draw-curtain) {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}


@include keyframes(two-stacked-fly-in) {
  0% {
    opacity: 0;
    @include transform(translate(50rem, 15rem) rotate(15deg));
  }
  100% {
    opacity: 1;
    @include transform(translate(0, 0) rotate(0deg));
  }
}


@include keyframes(backwards-stacked-fly-in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(cycle-avatars) {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
