.animation-loading {
  @include animation(loading 0.25s ease);
  @include animation-fill-mode(both);
  @include animation-iteration-count(infinite);
}

@mixin loading {
  0% {
    right: 24px;
  }
  50% {
    right: 64px;
  }
  100% {
    right: 24px;
  }
}
@-webkit-keyframes loading { @include loading; }
   @-moz-keyframes loading { @include loading; }
        @keyframes loading { @include loading; }


.animation-drop-down-come-in {
  @include animation(drop-down-come-in 0.15s ease);
  @include animation-fill-mode(both);
}

@mixin drop-down-come-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-down-come-in { @include drop-down-come-in; }
   @-moz-keyframes drop-down-come-in { @include drop-down-come-in; }
        @keyframes drop-down-come-in { @include drop-down-come-in; }
