$sans-serif: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;

$serif: "adelle-1", "adelle-2", $helvetica;

$upcase-blue: #2387E0;
$upcase-blue-1: #487BF6;
$upcase-blue-2: #0093CB;

$hero-green: #4dd1aa;
$upcase-green: $hero-green;

$alert-color: #FFDFDF;
$red: #ad141e;
$off-white: darken(white, 1.5);
$white: #fff;
$lightwarmgray: #F5F5F0;
$warmgray: #D9D4CC;
$darkwarmgray: #555;
$upcase-red: #FF4856;
$upcase-darkred: #660000;
$gold-trail: #F5A623;
$blue-trail: #4A90E2;
$exercise-color: #9cc0ed;
$repository-color: #8D70C3;
$video-tutorial-color: #FF633C;
$weekly-iteration-color: #9C313E;
$hero-green: #4dd1aa;
$search-snippet-border: #abd2f4;

$light-yellow: #FFF5C2;
$light-brown: #EDDAA5;
$dark-brown: #5C4A33;

$black: #000;
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #DDD;
$gray-5: #F3F3F3;

$base-button-color: $upcase-green;
$flashcard-background: #ffffff;
$flashcard-border-color: lighten($gray-4, 5%);
$flashcard-hover-color: $gray-4;

$flashcard-border: 2px solid $flashcard-border-color;

$flash-color: #04659B;

$footer-background: rgba(46, 48, 58, 0.96);
$footer-link-color: #7a7a7a;

$code-block-brackground: #f7f7f7;
$inline-code-background: hsla(0, 0, 0, 0.07);
$light-gray-border: #ccc;
$row-highlight: #f9f9f9;

$max-width: 1100px;
$navigation-height: 60px;
$navigation-cta-offset: 10px;
$button-padding: 0.75em 1.2em;
$button-padding-small: 0.45em 1em;
$card-height: 370px;
$card-padding: 30px;
$card-width: 14rem;
$flashcard-radius: 5px;
$flashcard-spacing: 2em;
$side-padding: 1em;

$base-background-1: #fff;
$base-background-2: #fafafa;

$base-border-color-1: #DCDCDC;
$base-border-color-blue: #E9F2FD;

$base-box-shadow: 1px 1px 2px rgba($black, 0.08);
$heavy-box-shadow: 0 1px 3px rgba($black, 0.2);

$font-size-smallest: rem(12);
$font-size-small: 0.96rem;
$base-font-color: $darkwarmgray;

$base-border-radius: 3px;

$dot-size: 13px;
$dot-margin: 14px;
$arrow-size: 20px;
$not-started-dot-color: #D8D8D8;

$flashcard-transition: all 0.25s $ease-in-quad;

$z-flashcard-deck: -1;
$z-header: 20;
$z-hero: 10;
$z-headhesive: 30;
$z-table-of-contents: $z-headhesive + 1;

$unicode-down-triangle: "\25BE";

$unicode-left-double-quote: "\201C";
$unicode-right-double-quote: "\201D";
$unicode-left-single-quote: "\2018";
$unicode-right-single-quote: "\2019";

$topic-backgrounds: (
  analytics: #efffb3,
  clean-code: #e5feff,
  clojure: #ffd3bc,
  design: #e8e9ff,
  foundations: #daffcb,
  haskell: #ffe7fd,
  ios: #d7ecff,
  javascript: #ffe8ca,
  rails: #ffecee,
  testing: #e5fdf4,
  vim: #e1f5ff,
  workflow:  #fcf5c8
);

$topic-colors: (
  analytics: #a5c236,
  clean-code: #1dc8cf,
  clojure: #ed6820,
  design: #2b2f8e,
  foundations: #77c159,
  haskell: #cd6fc6,
  ios: #396189,
  javascript: #d87d2f,
  rails: #d5414d,
  testing: #34d096,
  vim: #2192cf,
  workflow: #f4bc15
);
