$sans-serif: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;

$serif: "adelle-1", "adelle-2", $helvetica;

$red: #ad141e;
$off-white: darken(white, 1.5);
$lightwarmgray: #F5F5F0;
$warmgray: #D9D4CC;
$darkwarmgray: #555;
$upcase-red: #FF4856;
$upcase-darkred: #660000;
$green: #83d4b7;
$green-trail: #1dbe76;
$just-finished-green: #4ABD3F;
$gold-trail: #F5A623;
$blue-trail: #4A90E2;
$exercise-color: #9cc0ed;
$repository-color: #8D70C3;
$video-tutorial-color: #FF633C;
$weekly-iteration-color: #9C313E;

$upcase-blue: #2387E0;
$upcase-blue-1: #487BF6;
$upcase-blue-2: #0093CB;
$upcase-blue-3: #3FBCFF;
$upcase-blue-4: #3FBCFF;
$upcase-blue-5: #A2F6F9;
$upcase-blue-6: #04659B;
$upcase-blue-7: #3D9FF7;

$upcase-green: #57C75C;
$upcase-green-2: #3CBD41;
$upcase-green-3: #73E179;
$upcase-green-4: #36AC3A;

$light-yellow: #FFF5C2;
$light-brown: #EDDAA5;
$dark-brown: #5C4A33;

$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #DDD;
$gray-5: #F3F3F3;

$footer-dark-gray: rgba(46, 48, 58, 0.96);

$max-width: 1100px;

$card-height: 350px;
$card-padding: 40px;

$product-card-width: 14rem;
$product-card-margin: 3rem;
$product-card-illustration-height: 118px;
$slide-button-width: 7.5rem;

$base-background-1: #fff;
$base-background-2: #fafafa;

$base-border-color-1: #DCDCDC;
$base-border-color-blue: #E9F2FD;

$base-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);

$journey-line-color: darken($base-border-color-1, 5%);
$bullet-size: 70px;

$font-size-small: 0.96rem;
