%button {
  @include linear-gradient($hero-green, shade($hero-green, 3%));
  border-radius: $base-border-radius;
  color: $white;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1.3;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include linear-gradient($hero-green, shade($hero-green, 0%));
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.small-button {
    font-size: 0.9em;
    padding: $button-padding-small;
  }

  &.secondary-button {
    @extend %button;
    background: darken($base-background-2, 3);
    box-shadow: 0 1px 1px darken($base-background-2, 11);
    color: $upcase-green;

    &:hover {
      background: darken($base-background-2, 1);
      color: $upcase-green;
    }
  }

  &.alert-button {
    @extend %button;
    @include linear-gradient($alert-color, lighten($alert-color, 0%));
    color: darken(desaturate($alert-color, 50), 30);

    &:hover {
      @include linear-gradient($alert-color, lighten($alert-color, 2%));
      color: darken(desaturate($alert-color, 50), 30);
    }
  }

  img {
    float: left;
    margin-right: 0.8em;
    max-height: 2em;
  }
}

button,
input[type="submit"],
.cta-button {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}

.cta-button span {
  line-height: 1.8;
}
