.cancellation-discount {
  article {
    font-size: 1.5rem;
    margin: 1em 0 0;
  }

  .cancellation-feedback {
    margin: 3em 0;
  }

  .help {
    font-size: 1rem;
  }

  a.button {
    margin-top: 2em;
  }
}
