.resources-container {
  @include display(flex);
  @include flex-flow(wrap);
  @include justify-content(space-around);
  @include transition (all 0.3s ease-in-out);
  background: white;
  padding: em(30) em(20);

  &:hover {
    background: darken(white, 3);
  }

  header {
    width: 100%;
    display: block;
    margin-top: em(30);
    padding: 0 em(15);

    .topic-headline {
      display: inline-block;
      float: left;
      font: 600 24px/30px $sans-serif;
      margin-bottom: 30px;
    }
  }
}

.card {
  @include transition (all 0.3s ease-in-out);
  background: white;
  border-radius: .25rem;
  border: 1px solid $base-border-color-1;
  box-shadow: $base-box-shadow;
  display: inline-block;
  height: $card-height;
  margin-bottom: em(30);
  overflow: hidden;
  padding: 5px;
  position: relative;
  width: $product-card-width;

  &:hover {
    @include transform(translateY(-5px));
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  > a {
    display: block;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    position: relative;
  }

  p {
    font-size: $font-size-small;
    line-height: 1.6;
    margin: 0 .6rem .6rem;
  }

  h4 {
    color: $darkwarmgray;
    font-weight: 700;
    margin-bottom: 0;
    padding: .75rem .6rem;
  }

  h5 {
    border-radius: .20rem .20rem 0 0;
    color: $darkwarmgray;
    font-size: .8rem;
    margin-bottom: em(5);
    padding: em(15);
    text-align: center;
    text-transform: uppercase;
  }


  .illustration {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    height: $product-card-illustration-height;
    margin: 0;
    position: relative;

    &:after {
      border-radius: 2px;
      border: 4px solid transparent;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .status {
    border-radius: 0 0 .20rem .20rem;
    display: none;
    font-size: em(14);
    margin: 6px 0;
    padding: em(5);
    text-indent: 5px;
    text-transform: uppercase;
  }

  &.in-progress-exercise .status,
  &.complete-exercise .status {
    background: rgba(255, 255, 0, .4);
    color: $darkwarmgray;
    display: block;
  }

  &.complete-exercise .status {
    background: image-url('check.svg') no-repeat 5px 5px #83EBA8;
    background-size: 18px;
    color: darken(#83EBA8, 45%);
    display: block;
    text-indent: 25px;
  }
}

.resources {
  &:hover {
    background-color: white;
  }
}

.card {
  &.exercise {
    h5 {
      border-bottom: 1px solid $base-border-color-1;
    }

    .illustration {
      background-image: image-url('exercise.svg');

      &:after {
        border-color: $base-border-color-blue;
      }
    }
  }

  &.repository {
    .illustration {
      background-image: image-url('repository.svg');

      &:after {
        border-color: rgba($repository-color, 0.1);
      }
    }
  }

  &.complete-exercise {
    .illustration {
      background: image-url('trail-step-complete.svg') center /58px no-repeat;

      &:after {
        display: none;
      }
    }
  }

  &.in-progress-exercise {
    .illustration {
      background: image-url('trail-step-in-progress.svg') center /60px no-repeat;

      &:after {
        display: none;
      }
    }
  }
}
