body.clearance-passwords {
  margin: 0 auto;

  form fieldset ol {
    li {
      margin-bottom: flex-gutter();

      &#password_email_input {
        float: left;
        margin-right: flex-gutter();
        margin-top: 12px;
        width: flex-grid(3);
      }
    }
  }
}

body.sessions,
body.users-new,
body.clearance-users {
  #form-container {
    width: flex-grid(12);
    margin-left: 143px;

    .github-signin {
      background: rgba(228, 228, 228, 0.9) center 20px no-repeat url('blacktocat.png');
      float: left;
      margin: 21px flex-gutter() 0 0;
      padding: 160px 0 15px 0;
      text-align: center;
      width: flex-grid(4);

      a {
        color: #4183C4;
      }
    }

    .or-signin {
      color: #ccc;
      float: left;
      font: 400 22px $serif;
      font-style: italic;
      margin-top: 105px;
      text-align: center;
      text-rendering: optimizeLegibility;
      width: flex-grid(1);
    }

    .thoughtbot-signin {
      display: inline-block;
      float: left;
      margin-left: flex-gutter();
      width: flex-grid(4);
    }

    form {
      float: left;
      margin-bottom: 12px;
    }

    li {
      margin-top: 8px;

      &#user_first_name_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(6);
      }

      &#user_last_name_input {
        float: left;
        width: flex-grid(6);
      }
    }

    input[type="submit"] {
      width: 355px;
    }

    .signup-forgot > li {
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}
