.dashboard-section-title {
  margin: 0 auto 80px;
  text-align: center;
  width: 85%;

  h1 {
    color: $red;
    font-size: em(41);
    font-weight: 700;
    margin-bottom: 0.6em;
  }

  h2 {
    font-size: em(27);
    font-weight: normal;
    line-height: 1.2;
  }
}


.trails-progress {
  display: block;
  position: relative;
  z-index: 1;

  & > footer {
    text-align: center;
  }

  .seperator {
    border-top: 1px solid $gray-4;
    text-align: center;
    margin-bottom: 50px;

    span {
      background: #fff;
      color: $gray-3;
      display: inline-block;
      font-size: em(14);
      padding: 0 18px;
      text-transform: uppercase;
      position: relative;
      top: -11px;
      font-weight: 600;
    }
  }

  .trail {
    padding: 0 em(30);
    width: 100%;

    header {
      clear: both;
      @include clearfix;
      margin-bottom: 25px;

      h1 {
        float: left;
        font-size: 1.5rem;
        font-weight: 600;

        a {
          color: $darkwarmgray;
          font-family: $sans-serif;
          font-size: 1em;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      span {
        color: $gray-3;
        float: right;
        font-size: 0.92rem;
        font-weight: 500;
        margin-top: 8px;
      }
    }

    .progress {
      @include align-items(center);
      @include background-image(linear-gradient(#FBFBFB, #F3F3F3));
      border: 1px solid #D8D8D8;
      border-radius: 60px;
      @include display(flex);
      height: 58px;
      margin-bottom: 50px;
      @include justify-content(space-around);
      padding: 0 10px;
    }

    .step {
      $step-padding: 14px;
      $dot-size: 13px;
      padding: $step-padding;
      position: relative;
      cursor: pointer;

      .dot {
        background: #D8D8D8;
        border-radius: $dot-size;
        @include size($dot-size);

        &:before {
          border-radius: $dot-size;
          content: "";
          margin-left: -2px;
          margin-top: -2px;
          position: absolute;
          @include size($dot-size);
          z-index: 0;
        }
      }

      &:hover .tooltip {
        opacity: 1;
        @include transform(translate(-50%, 0));
      }

      &.started .dot, &.pushed .dot, &.submitted .dot {
        background: $gold-trail; // make variable

        &:before {
          border: 2px solid $gold-trail; // make variable
          @extend %animation-radiate;
        }
      }

      &.reviewed .dot {
        background: $green-trail;
      }

      &.active .dot {
        background: $blue-trail; // make variable

        &:before {
          border: 2px solid $blue-trail;
          @extend %animation-radiate;
        }
      }

      .tooltip {
        opacity: 0;
        left: ($step-padding*2 + $dot-size) * 0.5;
        pointer-events: none;
        position: absolute;
        top: 40px;
        @include transition(all 0.2s $ease-out-quad);
        @include transform(translate(-50%, 6px));

        &:before, &:after {
          $size: 20px;
          content: "";
          @include triangle($size 8px, $base-border-color-1, up);
          position: absolute;
          top: -$size * 0.5 + 3px;
          left: 50%;
          @include calc(left, "50% - #{$size / 2}");
          z-index: 1;
        }

        &:before {
          @include transform(scale(1.15));
          @include transform-origin(center bottom);
        }

        &:after {
          $size: 20px;
          @include triangle($size 8px, #fff, up);
        }


        .card {
          z-index: 0;
          height: auto;

          figure {
            display: none;
          }
        }
      }
    }
  }
}
