@mixin trail-line {
  &:before {
    background: hsla(0, 0%, 0%, 0.1);
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    right: 0;
    top: 48%;
    width: 100%;
  }
}

.dashboard-section-title {
  margin: 0 auto 80px;
  text-align: center;
  width: 85%;

  h1 {
    color: $red;
    font-size: em(41);
    font-weight: 700;
    margin-bottom: 0.6em;
  }

  h2 {
    font-size: em(27);
    font-weight: normal;
    line-height: 1.2;
  }
}


.trails-progress {
  $not-started-dot-color: #D8D8D8;
  display: block;
  position: relative;
  z-index: 1;

  & > footer {
    text-align: center;
  }

  .separator {
    border-top: 1px solid $gray-4;
    margin-bottom: 50px;
    text-align: center;

    span {
      background: #fff;
      color: $gray-3;
      display: inline-block;
      font-size: em(14);
      font-weight: 600;
      padding: 0 18px;
      position: relative;
      text-transform: uppercase;
      top: -11px;
    }
  }

  .trail {
    padding: 0 em(30);
    width: 100%;

    header {
      @include clearfix;
      margin-bottom: 25px;

      h1 {
        float: left;
        font-size: 1.5rem;
        font-weight: 600;

        a {
          color: $darkwarmgray;
          font-family: $sans-serif;
          font-size: 1em;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }

    .numerical-progress {
      color: $gray-3;
      float: right;
      font-size: 0.92rem;
      font-weight: 500;
      margin-top: 8px;
    }

    .complete-mask {
      overflow: hidden;

      .tooltip {
        display: none;
      }
    }

    .progress {
      @include align-items(center);
      @include background-image(linear-gradient(#FBFBFB, #F3F3F3));
      @include display(flex);
      @include justify-content(space-around);
      border: 1px solid $not-started-dot-color;
      border-radius: 60px;
      height: 58px;
      margin-bottom: 50px;
      padding: 0 10px;

      &.complete {
        @include transform(translateX(-60%));
      }

      .numerical-progress {
        margin: 0 30px 0 0;
      }
    }

    a.start-trail {
      background: $blue-trail;
      border-radius: .25rem;
      color: white;
      font-size: 1.2em;
      padding: 12px 30px;
      text-align: center;
    }

    .step {
      $dot-size: 13px;
      $dot-margin: 14px;
      $arrow-size: 20px;
      position: relative;
      @include flex(1);
      @include display(flex);
      @include justify-content(center);

      &:last-of-type {
        &.reviewed .dot {
          @include size(36);
          background: url('trail-complete-check.svg') center /36px no-repeat;
        }
      }

      .dot {
        background: $not-started-dot-color;
        border-radius: $dot-size;
        margin: $dot-margin;
        position: relative;
        @include size($dot-size);

        &:before {
          border-radius: $dot-size;
          content: "";
          margin-left: -2px;
          margin-top: -2px;
          position: absolute;
          @include size($dot-size);
          z-index: 0;
        }
      }

      &:hover .tooltip {
        opacity: 1;
        @include transform(translate(-50%, 0));
      }

      &.started .dot, &.pushed .dot, &.submitted .dot {
        background: $gold-trail;

        &:before {
          border: 2px solid $gold-trail;
          @extend %animation-radiate;
        }
      }

      &.not-started {
        cursor: w-resize;

        h5 {
          background: $gray-3;
        }
      }

      &.reviewed, &.next-up {
        @include trail-line;
      }

      // Show line
      &:first-of-type {
        &.reviewed:before {
          display: block;
        }
      }

      // Hide line
      &:first-of-type,
      &:last-of-type,
      &.next-up {
        &:before {
          display: none;
        }
      }

      &.reviewed .dot {
        background: $green-trail;
      }

      &.next-up .dot {
        background: $blue-trail;

        &:before {
          border: 2px solid $blue-trail;
          @extend %animation-radiate;
        }
      }

      .tooltip {
        @include transition(all 0.2s $ease-out-quad);
        @include transform(translate(-50%, 6px));
        left: 50%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 40px;
        z-index: 1;

        &:before, &:after {
          @include triangle($arrow-size 8px, $base-border-color-1, up);
          content: "";
          position: absolute;
          top: -$arrow-size * 0.5 + 3px;
          @include calc(left, "50% - #{$arrow-size / 2}");
          z-index: 1;
        }

        &:before {
          @include transform(scale(1.15));
          @include transform-origin(center bottom);
        }

        &:after {
          @include triangle($arrow-size 8px, #fff, up);
        }


        .card {
          height: auto;

          figure {
            display: none;
          }
        }
      }
    }
  }

  .unstarted {
    @include clearfix;
    margin-bottom: 2.5em;

    header {
      float: left;
      margin-right: 4em;
      width: 50%;

      h1 {
        float: none;
        margin-bottom: .5em;
      }
    }

    .step {
      &.not-started {
        @include trail-line;
        cursor: auto;
      }
      // Hide line instructions override
      &:last-of-type,
      &.next-up {
        &:before {
          display: block;
        }
      }
      &:last-of-type {
        &:before {
          @include linear-gradient(to right, hsla(0, 0%, 0%, 0.05), white);
        }
      }
    }

    .trail {
      .progress {
        background: none;
        border: 0;
        margin-bottom: 20px;
        margin-left: -45px;
      }
      .step.next-up {
        .dot {
          background: $not-started-dot-color;

          &:before {
            border: 0;
          }
        }
      }
    }
  }

  .complete {
    position: relative;
    z-index: -1;

    h1 {
      width: 100%;
    }

    .complete-subhead {
      float: left;
      font-family: $serif;
      font-style: italic;
      margin-bottom: .5em;
    }

    p {
      color: shade($green-trail, 30%);
      font-size: 21px;
      font-style: italic;
      left: 45%;
      position: absolute;
      top: 50%;
    }
  }
}
