body.design_for_developers_resources, body.test_driven_rails_resources {
  h1 {
    font-size: em(18);
  }

  h3 a {
    @extend h3;
  }

  .text-box img {
    border: 1px solid $lightwarmgray;
    max-width: 100%;
  }

  .text-box li {
    margin-left: 0;

    ul {
      padding-left: 1em;

      li {
        margin-left: 0;
        list-style: disc outside;
      }
    }
  }

  div.principles {
    ul {
      @include row();

      li {
        @include span-columns(4.5 9);
        @include nth-omega(2n);
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 1.5em;

        h3 {
          margin-top: .5em;
        }
      }
    }
  }

  section.grid {
    ul {
      @include row();
      margin-top: 1em;

      li {
        @include span-columns(4.5 9);
        @include nth-omega(2n);
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 1em;
      }
    }
  }

  div.typography {
    section.define-type, section.terms {
      margin-bottom: 2em;
      @include row();

      article {
        @include span-columns(4.5 9);
        @include nth-omega(2n);
      }
    }

    section.anatomy.wide {
      margin-bottom: 2em;
    }

    section.type-classification {
      margin-bottom: 2em;
      @include row();

      img {
        @include span-columns(4.5 9);
        @include nth-omega(2n);
      }
    }
  }

  div.color {
    section {
      margin-bottom: 2em;
      border-bottom: 1px solid $warmgray;
      padding-bottom: 1em;

      &:last-child {
        border-bottom: none;
      }

      h3 {
        margin-top: .5em;
        @include inline-block;
      }

      p {
        @include inline-block;
        margin-left: 1em;
      }

      img {
        border: none;
      }
    }
  }
}
