body.design_for_developers_resources, body.test_driven_rails_resources {
  .text-box img {
    border: 1px solid $lightwarmgray;
  }

  .principles, .grid  {
    ul {
      margin: 1rem 0 0 0;
      overflow: auto;

      li {
        @include span-columns(4.5 9);
        @include nth-omega(2n);
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 1.5em;

        h3 {
          margin-top: .5rem;
        }
      }
    }
  }

  .typography {
    .define-type, .terms, .type-classification {
      @include row();

      article {
        @include span-columns(4.5 9);
        @include nth-omega(2n);
      }
    }

    .anatomy.wide {
      margin-bottom: 2em;
    }
  }

  .color {
    > section {
      border-bottom: 1px solid $warmgray;
      padding: 2.25rem 0 1.75rem;

      &:last-child {
        border-bottom: none;
      }

      h3 {
        display: inline-block;
        font-size: 1.2rem;
        margin: 1rem 0 0 0;
      }

      p {
        display: inline-block;
        font-size: 1.2rem;
        margin: 0 0 0 .2rem;
      }

      img {
        border: none;
      }
    }
  }

  aside .button {
    margin: 0 0 1em;
  }
}
