body.episodes {
  section.content .summary p {
    margin: 0 0 12px 12px;
  }

  .summary {
    .cover {
      border-radius: 3px;
      float: left;
      margin-right: flex-gutter();
    }

    ul {
      list-style: none;
      margin-top: -21px;

      li {
        display: inline-block;
        margin-right: flex-gutter();

        img {
          display: inline-block;
          margin: -4px 5px 0 0;
          vertical-align: middle;
        }
      }
    }
  }

  .credits {
    @include span-columns(12);
    clear: both;
    display: block;
    float: left;
    text-align: left;
    margin-left: flex-gutter();

    p {
      font-style: italic;
    }
  }

  audio {
    display: block;
    width: 50%;
  }

  .episode {
    h3 {
      margin-bottom: 0;
    }

    .info {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: lh(.5);
    }
  }

  .listen {
    margin: 30px 0;

    audio {
      width: 100%;
    }
  }

  section.notes {
    float: left;
    width: flex-grid(8);
  }
}
