body.episodes {
  .summary {
    .cover {
      border-radius: 3px;
      float: left;
      margin: -10px 0 0 25px;
    }

    p {
      margin-left: 190px;
    }

    .links a {
      margin-right: 1em;
    }

    @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;

      .cover, p {
        float: none;
        margin: 0 auto 1em;
      }

      .links a {
        display: block;
        margin: 0 0 1em 0;
      }
    }
  }

  audio {
    display: block;
    width: 50%;
  }

  .listen {
    margin: 30px 0;

    audio {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  .text-box-wrapper > .credits {
    padding: 0 24px;
  }
}
