.flashes {
  @include outer-container;
  max-width: $max-width;
  padding: 3em 2em 0 2em;

  .flash {
    @include text-box;
    border-width: 0;
    margin-bottom: 0;

    &.failure {
      background: #f8bcba;
    }

    &.notice {
      color: $learnred;
      font: 400 28px/32px $sans-serif;
    }
  }
}

.flashes + .content {
  padding-top: 1em;
}
