footer {
  @extend .clearfix;
  clear: both;
  margin: 0 auto;
  max-width: 741px;
  opacity: .5;
  padding: 2em;
  @include transition(opacity .5s);
  width: 93%;

  &:hover {
    opacity: 1;
  }

  nav {
    @extend .clearfix;

    section {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(4);

      &#thoughtbot {
        padding-right: 1em;
        width: flex-grid(3);
      }

      &#trails {
        width: flex-grid(9);
        margin-right: 0;
        ul li {
          width: 33%;
          float: left;
        }
      }

      ul {
        list-style: none;
        margin-bottom: $lh;

        li {
          display: block;
          margin-bottom: $lh * .5;
        }
      }
    }
  }

  p#copyright {
    display: block;
    margin-bottom: $lh;
    margin-top: $lh * 2; /*line-height to maintain baseline grid*/
  }
}

a.chat, a.chat:link, a.chat:visited {
  border-radius: 5px 5px 0 0;
  background: #AD141E none repeat scroll 0 0;
  color: white;
  padding: 10px;
  display: block;
  z-index: 99999999;
  margin: 0px 20px;
  bottom: 0px;
  right: 0px;
  position: fixed;
  opacity: 1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  footer {
    width: 100%;

    nav section {
      float: none;
      width: 100%;

      &#trails {
        width: 100%;
        margin-right: 0;

        ul li {
          width: 50%;
          float: left;
        }
      }
    }
  }
}
