footer#main-footer {
  @extend .clearfix;
  margin: 0 auto;
  opacity: .5;
  padding-top: $lh * 4;
  @include transition(opacity .5s);
  width: $app-width;

  &:hover {
    opacity: 1;
  }

  h3 {
    color: #545454;
    font-size: 24px;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
  }

  a {
    color: #7a7a7a;
    text-decoration: none;

    &:link {
      color: #7a7a7a;
    }

    &:hover {
      color: $red;
    }
  }

  nav {
    @extend .clearfix;

    section {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(2);

      &#current-workshops-footer {
        width: flex-grid(4);
      }

      &#blog-footer {
        width: flex-grid(4);
        margin-right: 0;
      }

      ul {
        list-style: none;
        margin-bottom: $lh;

        li {
          display: block;
          margin-bottom: $lh * .5;

          a {
            font-family: $serif;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  p#copyright {
    color: #7a7a7a;
    display: block;
    font-family: $serif;
    font-size: 16px;
    line-height: $lh;
    margin-bottom: $lh;
    margin-top: $lh * 2; /*line-height to maintain baseline grid*/
    text-rendering: optimizeSpeed;

    em {
      font-style: italic;
    }
  }
}
