//************************************************************************//
// Base Form Styles
//************************************************************************//

input[type="submit"] {
  border-top-color: none;
  border-top-style: none;
  border-top-width: none;
  border-right-color: none;
  border-right-style: none;
  border-right-width: none;
  border-bottom-width: none;
  border-left-color: none;
  border-left-style: none;
  border-left-width: none;
  border-image: initial;
  cursor: pointer;
  padding: 13px 30px 0 30px;
}

.button {
  padding-top: 13px;
}

input[type="submit"] {
  padding-top: 6px;
}

.button, input[type="submit"] {
  background-color: $learnred;
  border-bottom: 4px solid $learndarkred;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font: 700 13px $sans-serif;
  height: 44px;
  margin: 0 auto;
  text-align:center;
  text-transform: uppercase;

  &:hover {
    background-color: #C42107;
  }

  a {
    color: white;
    display: block;
    height:100%;
    padding-top: 15px;
    width: 100%;
  }

  &[disabled] {
    color: $warmgray;
    background-color: $lightwarmgray;
    border-bottom: 4px solid $warmgray;
    cursor: wait;
  }
}

.button-mini {
  @extend .button;
  height: 26px;
  padding-top: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid $learndarkred;
}

form {
  margin: 0 0 48px 0;

  .errors {
    color: $learnred;
    font-size: 18px;
    font-style: bold;
    margin-top: 20px;
  }

  fieldset {
    legend {
      color: $darkwarmgray;
      font: 700 26px/25px $sans-serif;
      padding: 24px 0 12px 0;
    }

    label {
      color: $darkwarmgray;
      display: block;
      font: normal 17px $serif;
    }

    li#purchase_submit_action {
      margin-left: 0;
      margin-top: 40px;
      width: 100%;

      input {
        width: 100%;
      }
    }

    ol {
      li {
        font-size: 16px;
        margin: 0 0 0 0;

        p.inline-hints {
          color: #666;
          font-size: 16px;
        }

        p.inline-errors {
          color: $red;
          display: none;
          font-size: 16px;
        }

        &.error {
          p.inline-errors {
            color: $red;
            display: block;
          }

          p.inline-hints {
            color: $red;
          }

          input {
            background: #f8bcba;
          }
        }

        input[type="text"],
        input[type="password"],
        input[type="tel"],
        textarea,
        input[type="email"],
        input[type="select"] {
          background-color: #FFF;
          border: 1px solid #999;
          border-radius: 4px;
          box-shadow: none;
          @include box-sizing(border-box);
          font-size: 14px;
          margin: 5px 5px 5px 0;
          padding: 1em;
          width: 100%;

          &:focus {
            border: 1px solid $learnred;
            outline-color: none;
            outline: none;
          }
        }

        &.commit {
          margin-top: 24px;
        }
      }
    }
  }
}
