//************************************************************************//
// Base Form Styles
//************************************************************************//
form {
  margin: 0 0 48px 0;

  .errors {
    color: $red;
    font-size: 18px;
    font-style: bold;
    margin-top: 20px;
  }

  fieldset {
    legend {
      padding: 24px 0 12px 0;
    }

    ol {
      li {
        font-size: 16px;
        margin: 0 0 0 0;

        p.inline-hints {
          color: #666;
          font-size: 16px;
        }

        p.inline-errors {
          color: $red;
          display: none;
          font-size: 16px;
        }

        &.error {
          p.inline-errors {
            color: $red;
            display: block;
          }

          p.inline-hints {
            color: $red;
          }

          input {
            background: #f8bcba;
          }
        }

        label {
          display: block;
          font: 400 16px $sans-serif;
        }

        input[type="text"],
        input[type="password"],
        input[type="tel"],
        textarea,
        input[type="email"] {
          border: 1px solid #999;
          @include box-shadow(inset 0 1px 2px #aaa);
          @include box-sizing(border-box);
          font: 14px $sans-serif;
          margin: 3px 0 0 0;
          padding: .5em;
          width: 100%;

          &:focus {
            outline-color: $red;
          }
        }

        &.commit {
          margin-top: 24px;
        }

        /* red button */
        input[type="submit"] {
     //    @include button;

          &[disabled] {
     //       @include disabled-button;
          }
        }
      }
    }
  }
}
