.free-tag {
  @include padding(null 24px);
  background-color: $upcase-red;
  border: 1px solid shade($upcase-red, 10%);
  border-radius: 12px;
  color: $white;
  float: right;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.75;
}
