section#header-wrapper {
  background: $warmgray url("learn/learn-arrows.png") repeat-x left bottom;
  margin: 0 auto;
  width: 100%;

  .header-container {
    max-width: $max-width;
    @include outer-container;
    padding: 2em;
    position: relative;
    @include user-select(none);

    .logo {
      text-align: center;

      img {
        @include position(relative, 18px 0 0 0);
      }
    }

    .intro {
      color: $darkwarmgray;
      font: italic 300 20px $serif;
      margin: 0 auto;
      padding: 1em;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      width: 65%;
    }

    .small-logo {
      float: left;
      font-size: 55px;
      line-height: .9em;
      margin-bottom: .2em;
      margin-top: -15px;
      padding-left: 240px;
      text-align: left;
      text-indent: -240px;
      width: flex-grid(4);

      a {
        display: inline-block;
        position: relative;
        top: 14px;
        width: 68px;

        img {
          display: block;
        }
      }
    }

    nav {
      float: right;
      line-height: 0;
      @include position(relative, 12px 0 0 0);
      text-align: right;
      width: flex-grid(8);

      > ul {
        display: inline-block;
        text-align: left;

        // top level and sub menu links
        li a {
          font-family: $sans-serif;
          font-size: 100%;
        }

        // top level
        > li {
          float: left;
          margin-left: .2em;

          &.prime a {
            font-weight: 700;

            &:hover, &:active {
              background: $learnred;
            }
          }

          &.account a {
            background: lighten($darkwarmgray, 20%);
            color: #fff;

            &:hover {
              background: lighten($darkwarmgray, 10%);
            }

            &:active {
              background: $darkwarmgray;
            }
          }

          &.open {

            > a, > a:hover {
              background: darken($warmgray, 9%);
              color: #fff;

              &::after {
                display: none;
              }
            }

            ul {
              display: block;
            }
          }

          &.dropdown {
            > a::after {
              border: 2px solid $darkwarmgray;
              border-width: 0 2px 2px 0;
              bottom: 0;
              content: '';
              height: 8px;
              margin-left: -4px;
              @include position(absolute, 0 0 0px 50%);
              @include transform(rotate(45deg));
              width: 8px;
            }
          }

          > a {
            border-radius: 3px;
            display: block;
            font-weight: 600;
            outline: none;
            padding: .9em;
            position: relative;

            &:hover {
              color: #fff;
            }

            &:active {
              background: darken($warmgray, 9%);
              color: #fff;

              &::after {
                display: none;
              }
            }
          }

          ul {
            background: darken($warmgray, 9%);
            border-radius: 3px;
            color: #fff;
            @include columns(3);
            display: none;
            padding: 1em 2em;
            @include position(absolute, 90% 0 0 0px);
            width: 100%;
            z-index: 1;

            li {
              column-break-inside: avoid;
              display: block;
              -moz-column-break-inside: avoid;
              -webkit-column-break-inside: avoid;

              h4 {
                color: #fff;
                font-weight: 700;
                margin: .5em 0;
                text-shadow: none;
                text-transform: uppercase;
              }

              &:nth-child(4n) {
                margin-right: 0;
              }

              a {
                color: darken($darkwarmgray, 10%);
                display: inline-block;
                font-weight: 400;
                padding: .3em 0;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .logo {
    text-align: center;
  }
}

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {
  section#header-wrapper .header-container {
    .logo img, .small-logo img {
      display: block;
      margin: 0 auto 10px auto;
    }

    h1.small-logo {
      padding-left: 0;
      text-align: center;
      text-indent: 0;
      width: 100%;
    }

    .intro {
      padding-top: 0;
    }
  }
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  section#header-wrapper .header-container {
    .intro {
      font-size: 18px;
      width: 95%;
    }

    .detail-logo {
      float: auto;
    }
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  section#header-wrapper {
    background: $warmgray url("learn/learn-arrows@2x.png") repeat-x left bottom;
    background-size: 44px 8px;
  }
}
