section#header-wrapper {
  background: $warmgray url("learn/learn-arrows.png") repeat-x left bottom;
  margin: 0 auto;
  width: 100%;

  .header-container {
    max-width: $max-width;
    @include outer-container;
    padding: 2em;
    position: relative;
    @include user-select(none);

    .logo {
      text-align: center;

      img {
        @include position(relative, 18px 0 0 0);
      }
    }

    .intro {
      color: $darkwarmgray;
      font: italic 300 20px $serif;
      margin: 0 auto;
      padding: 1em;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      width: 65%;
    }

    .small-logo {
      font-size: 55px;
      line-height: .9em;
      margin-bottom: .2em;
      margin-top: -15px;
      padding-left: 240px;
      text-align: left;
      text-indent: -240px;

      a {
        display: inline-block;
        position: relative;
        top: 14px;
        width: 68px;

        img {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .logo {
    text-align: center;
  }
}

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {
  section#header-wrapper .header-container {
    .logo img, .small-logo img {
      display: block;
      margin: 0 auto 10px auto;
    }

    h1.small-logo {
      padding-left: 0;
      text-align: center;
      text-indent: 0;
      width: 100%;
    }

    .intro {
      padding-top: 0;
    }
  }
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  section#header-wrapper .header-container {
    .intro {
      font-size: 18px;
      width: 95%;
    }

    .detail-logo {
      float: auto;
    }
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  section#header-wrapper {
    background: $warmgray url("learn/learn-arrows@2x.png") repeat-x left bottom;
    background-size: 44px 8px;
  }
}
