@mixin full-width {
  @extend .clearfix;
  margin: 0 auto;
  width: $app-width;
}

body.topics {
  .learn-search {
    background: url("/images/shadowing.png") center top no-repeat;
    @include full-width;
    padding-bottom: 48px;

    .search-bar {
      margin: auto;
      padding-top: 53px;
      position: relative;
      width: flex-grid(12);

      &::before {
        content: '';
        height: 109px;
        left: 51px;
        @include linear-gradient(left, #fff, rgba(255,255,255,0), $fallback: transparent);
        position: absolute;
        top: 54px;
        width: 30px;
      }

      &::after {
        content: '';
        height: 109px;
        @include linear-gradient(right, #fff, rgba(255,255,255,0), $fallback: transparent);
        position: absolute;
        right: 101px;
        top: 54px;
        width: 30px;
      }

      input[type='text'] {
        border: 1px solid #cacaca;
        @include border-radius(4px);
        @include box-sizing(border-box);
        font-family: $sans-serif;
        font-size: 72px;
        font-weight: 900;
        margin: 0;
        padding: 12px 100px 12px 50px;
        text-align: center;
        width: 100%;

        &:focus {
          border: 1px solid $red;
          outline: none;
        }

        &:focus, &:hover {
          & + .search {
            opacity: .75;
          }
        }
      }

      a {
        display: block;
        position: absolute;
        @include transition;

        &.clear-search {
          background: #ccc;
          @include border-radius(100px);
          display: none;
          opacity: .5;
          padding: .75em;
          right: 24px;
          top: 82px;

          &:hover {
            opacity: .75;
          }
        }

        &.search {
          cursor: default;
          opacity: .5;
          right: 28px;
          top: 86px;

          &:hover {
            opacity: .75;
          }
        }

        img {
          display: block;
        }
      }

      .spinner {
        @extend .animation-loading;
        background: #ccc;
        @include border-radius(100px);
        display: block;
        display: none;
        padding: .75em;
        @include position(absolute, 100px 24px 0 0);
        @include transition;
      }
    }

    .popular {
      clear: both;
      margin: 0 auto;
      overflow: auto;
      padding-top: 24px;
      width: flex-grid(8);

      h3 {
        color: #555;
        font-family: $sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
        margin-top: 20px;
        text-align: center;
      }

      ul {
        list-style-type: none;
        text-align: center;

        li {
          display: inline-block;

          a {
            color: #a9a9a9;
            display: inline-block;
            font-family: $sans-serif;
            font-size: 20px;
            margin-bottom: 0.8em;
            margin-right: 1.4em;
            text-decoration: none;

            &:hover {
              color: #DB1926;
            }
          }
        }
      }
    }
  }
}

.emptysearch {
  text-align: center;
  font-size: 200%;
}

#results-container {
  padding: 36px 0 0 0;

  #results {
    @include full-width;

    ul.books, ul.webcasts, ul.workshops {
      float: left;
      margin-bottom: 1.2em;
      margin-right: flex-gutter();
      width: flex-grid(4);
    }

    .additional {
      display: none;
    }

    ul.workshops {
      margin-right: 0;
    }

    li {
      @include box-sizing(border-box);
      display: block;
      margin-bottom: 1em;
      position: relative;

      &:nth-child(3n) {
        margin-right: 0;

        & + li {
          clear: left;
        }
      }

      &.more a {
        padding: .65em 0 .5em 2.1em;
      }

      > a {
        color: #555;
        display: block;
        padding: .5em 0 .5em 2.1em;
        text-decoration: none;

        &::before {
          content: '';
          display: block;
          height: 20px;
          @include position(absolute, .6em 0 0 0px);
          width: 20px;
        }

        &:hover {
          background: #efefef;
          @include box-shadow(0 0 0 10px #efefef);
          @include transition;
        }
      }

      h3 {
        font-weight: 600;
        line-height: 1.2em;
        margin-bottom: .3em;
      }

      h2 {
        color: #2b2b2b;
        font-size: 14px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 48px;
        padding-left: 2.1em;
        position: absolute;
        text-shadow: 0 1px 0 #fcfcfc;
        text-transform: uppercase;
        top: -38px;
      }
    }

    .books {
      h2 {
        color: #286d15;
      }

      li > a::before {
        content: url('icons/book-small.png');
      }
    }

    .webcasts {
      h2 {
        color: #006b83;
      }

      li > a::before {
        content: url('icons/video-small.png');
      }
    }

    .workshops {
      h2 {
        color: #6c1764;
      }

      li > a::before {
        content: url('icons/gear-small.png');
      }
    }
  }
}

.additional-results {
  @include full-width;
  margin-top: 42px;

  .result {
    padding-bottom: 24px;
    margin: 0 auto;
    padding-bottom: 36px;
    position: relative;
    width: flex-grid(12);

    > a {
      display: block;
      overflow: hidden;
      text-decoration: none;

      &:hover {
        background: #efefef;
        @include box-shadow(0 0 0 10px #efefef);
        @include transition;
      }
    }

    &.thoughtbot {
      h3 {
        color: #AD141E;
      }
    }

    &.trail-map, &.podcast, &.playbook {
      h3:before {
        line-height: 0;
        opacity: .5;
        padding-right: .3em;
        @include position(relative, 0px 0 0 0);
      }
    }

    &.trail-map {
      h3:before {
        content: url('icons/map.png');
        top: 1px;
      }
    }

    &.podcast {
      h3:before {
        content: url('icons/podcast.png');
      }
    }

    &.playbook {
      h3:before {
        content: url('icons/playbook.png');
        top: 0px;
        padding-right: .4em;
      }
    }

    h3 {
      color: #555;
      float: left;
      font-weight: 500;
      line-height: 1.2em;
      margin: 0 flex-gutter() 0 flex-grid(1) + flex-gutter();
      text-align: right;
      width: flex-grid(3) + flex-gutter();
    }

    p.excerpt {
      color: #555;
      float: left;
      margin: 0 flex-gutter() 0 0;
      width: flex-grid(4) - flex-gutter();
    }

    p.results-date {
      color: #999;
      float: left;
      font-size: 14px;
      margin-left: flex-gutter();
      position: relative;
      width: flex-grid(4) - flex-gutter();
    }
  }

  .sourcename {
    background-color: #555;
    @include box-sizing(border-box);
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: flex-grid(4);
  }

  .more-button {
    @include button;
    background: #dcdcdc;
    border: 1px solid #c5c5c5;
    @include box-shadow(inset 0 1px 0 #fff);
    @include box-sizing(border-box);
    clear: both;
    margin: 18px auto 0 auto;
    text-decoration: none;
    text-shadow: none;
    width: flex-grid(8);
  }
}
