@mixin full-width {
  @extend .clearfix;
  margin: 0 auto;
  width: 995px;
}

#head-wrapper {
  #homepage-top {
    @extend .clearfix;
    background: url("/images/shadowing.png") center top no-repeat;
    margin: 0 auto;
    padding: 1px 0 40px 0;
    width: 995px;

    header {
      @extend .clearfix;

      h1 {
        color: #2b2b2b;
        font: 900 60px/60px $sans-serif;
        margin: 40px 0 20px;
      }
    }
  }
}

header.primary, header.secondary {
  @include full-width;
  padding: 40px 0;

  h1 {
    color: #2b2b2b;
    font: 900 60px/60px $sans-serif;
  }
}

header.primary {
  background: url("/images/shadowing.png") center top no-repeat;
}

#products {
  @include full-width;

  #books, #screencasts {
    float: left;
    overflow: auto;
    width: grid-width(6);
  }

  #books {
    margin-bottom: 40px;
    margin-right: $gw-gutter;

    .book {
      background: #ccc;
      border-left: 5px solid #666;
      @include box-sizing(border-box);
      color: #000;
      float: left;
      height: 300px;
      margin-right: $gw-gutter;
      padding: 3.2em 3.2em 2em 1.6em;
      text-decoration: none;
      width: grid-width(3);

      h2 {
        font-size: 115%;
        line-height: 1.2em;
        margin-bottom: 1em;
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        font-size: 115%;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:hover {
        background: #999;
      }
    }
  }

  #screencasts {
    .screencast {
      background: #ccc;
      @include box-sizing(border-box);
      color: #000;
      float: left;
      height: 122px;
      margin: 0 $gw-gutter/2 $gw-gutter/2 0;
      padding: 1em;
      text-decoration: none;
      width: grid-width(2) + $gw-gutter * .32;

      h2 {
        font-size: 115%;
        font-weight: normal;
        line-height: 1.2em;
      }

      p {
        display: none;
        font-size: 115%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

#workshops_wrapper {
  @include linear-gradient(white, rgba(255, 255, 255, 0) 20%);
  background-color: transparent;
  overflow: hidden;
  position: relative;

  .workshops-background {
    min-width: 1600px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

#workshops {
  @include full-width;
  margin-bottom: 35px;

  h2 {
    color: #444;
    font: 700 14px $sans-serif;
    margin: 0 0 4px 0;
    text-transform: uppercase;
  }

  ul.courses {
    li {
      background: url(/images/workshops_thumbs/designfordev.png) no-repeat #ccc;
      border: 1px solid rgba(255,255,255,.07);
      @include box-sizing(border-box);
      float: left;
      margin: 0 $gw-gutter $gw-gutter 0;
      position: relative;
      width: grid-width(4);

      &:nth-child(3n) {
        margin-right: 0;
      }

      a {
        @include box-shadow(0 5px 30px rgba(0,0,0,.15));
        display: block;
        height: 220px;
        overflow: hidden;
        text-decoration: none;

        h3 {
          background: rgba(0,0,0,.55);
          color: #fff;
          font: 700 30px/33px $sans-serif;
          font-weight: normal;
          margin: 1.85rem 0 0 0;
          padding: 1.25rem 3rem;
          text-shadow: 0 1px 0 rgba(0,0,0,.8);
          text-transform: uppercase;

          em {
            font-family: "adobe-caslon-pro-1", "adobe-caslon-pro-2";
            font-size: 32px;
            font-style: italic;
            line-height: 0;
            text-transform: lowercase;
          }
        }

        p.date {
          background: rgba(0,0,0,.7);
          bottom: 0;
          color: #fff;
          display: none;
          font-size: 24px;
          left: 0;
          line-height: 1em;
          padding: 2.85rem 3rem 0 3rem;
          text-transform: none;

          &:before {
            color: rgba(255,255,255,.6);
            content: 'next workshop';
            display: block;
            font-size: 18px;
            font-weight: normal;
          }
        }

        p.teaser {
          background: rgba(0,0,0,.7);
          color: #fff;
          display: none;
          font-size: 115%;
          height: 100%;
          line-height: 1.2em;
          padding: 1.25rem 3rem;
        }

        &:hover {
          @include box-shadow(0 5px 30px rgba(0,0,0,.5));

          h3 {
            display: none;
          }

          p.date, p.teaser {
            display: block;
          }
        }
      }
    }
  }
}

.advantages_wrapper {
  width: 100%;
  background: rgba(0,0,0,.5);
  padding: 40px 0;
}

.advantages {
  @include full-width;

  ul {
    li {
      color: #fff;
      float: left;
      font-size: 18px;
      line-height: 1.35em;
      margin-right: $gw-gutter;
      text-shadow: 0 1px 0 rgba(0,0,0,.6);
      width: grid-width(4);

      h3 {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: .25em;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
