@mixin full-width {
  @extend .clearfix;
  margin: 0 auto;
  width: 995px;
}

#head-wrapper {
  #homepage-top {
    @extend .clearfix;
    background: url("/images/shadowing.png") center top no-repeat;
    margin: 0 auto;
    padding: 1px 0 40px 0;
    width: 995px;

    header {
      @extend .clearfix;

      h1 {
        color: #2b2b2b;
        font: 900 60px/60px $sans-serif;
        margin: 40px 0 20px;
      }
    }
  }
}

header.primary, header.secondary {
  @include full-width;
  padding: 40px 0 50px 0;

  h1 {
    color: #2b2b2b;
    font: 900 60px/60px $sans-serif;
  }
}

header.primary {
  background: url("/images/shadowing.png") center top no-repeat;
}

#products {
  @include full-width;
  padding: 0 0 40px 0;
}

#workshops_wrapper {
  @include linear-gradient(white, rgba(255, 255, 255, 0) 20%);
  background-color: transparent;
  overflow: hidden;
  position: relative;

  .workshops-background {
    min-width: 1520px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

#workshops {
  @include full-width;
  margin-bottom: 40px;

  h2 {
    color: #444;
    font: 700 14px $sans-serif;
    margin: 0 0 4px 0;
    text-transform: uppercase;
  }

  ul.courses {
    li {
      background: url(/images/workshops_thumbs/designfordev.png) no-repeat #ccc;
      border: 1px solid rgba(255,255,255,.1);
      @include box-sizing(border-box);
      float: left;
      margin: 0 $gw-gutter $gw-gutter 0;
      position: relative;
      width: grid-width(4);

      &:nth-child(3n) {
        margin-right: 0;
      }

      a {
        display: block;
        height: 220px;
        overflow: hidden;
        text-decoration: none;

        h3 {
          background: rgba(0,0,0,.55);
          color: #fff;
          font: 700 30px/32px $sans-serif;
          font-weight: normal;
          margin: 1em 0 0 0;
          padding: .5em 1.5em;
          text-shadow: 0 1px 0 rgba(0,0,0,.8);
          text-transform: uppercase;

          em {
            font-family: "adobe-caslon-pro-1", "adobe-caslon-pro-2";
            font-style: italic;
            text-transform: lowercase;
            font-size: 32px;
          }

          span {
            display: none;
            font-size: 24px;
            line-height: 1em;
            text-transform: none;

            &:before {
              color: rgba(255,255,255,.6);
              content: 'next workshop';
              display: block;
              font-size: 18px;
              font-weight: normal;
              margin-top: 1.25em;
            }
          }
        }

        &:hover {
          h3 {
            background: rgba(0,0,0,.8);
            height: 100%;
            margin: 0;
            padding: 1.5em;
          }

          span {
            display: block;
          }
        }

        p.teaser {
          display: none;
        }
      }
    }
  }
}

.advantages_wrapper {
  width: 100%;
  background: rgba(0,0,0,.5);
  padding: 50px 0;
}

.advantages {
  @include full-width;

  ul {
    li {
      color: #fff;
      float: left;
      font-size: 18px;
      line-height: 1.4em;
      margin-right: $gw-gutter;
      text-shadow: 0 1px 0 rgba(0,0,0,.6);
      width: grid-width(4);

      h3 {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: .25em;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
