@mixin full-width {
  @extend .clearfix;
  margin: 0 auto;
  width: $app-width;
}

body.topics {
  .learn-search {
    background: url("/images/shadowing.png") center top no-repeat;
    @include full-width;
    padding-bottom: 48px;

    .search-bar {
      margin: auto;
      padding-top: 53px;
      position: relative;
      width: flex-grid(12);

      &::before {
        content: '';
        height: 109px;
        left: 51px;
        @include linear-gradient(left, #fff, rgba(255,255,255,0), $fallback: transparent);
        position: absolute;
        top: 54px;
        width: 30px;
      }

      &::after {
        content: '';
        height: 109px;
        @include linear-gradient(right, #fff, rgba(255,255,255,0), $fallback: transparent);
        position: absolute;
        right: 101px;
        top: 54px;
        width: 30px;
      }

      input[type='text'] {
        border: 1px solid #cacaca;
        @include border-radius(4px);
        @include box-sizing(border-box);
        font-family: $sans-serif;
        font-size: 72px;
        font-weight: 900;
        margin: 0;
        padding: 12px 100px 12px 50px;
        text-align: center;
        width: 100%;

        &:focus {
          border: 1px solid $red;
          outline: none;
        }

        &:focus, &:hover {
          & + .search {
            opacity: .75;
          }
        }
      }

      a {
        display: block;
        position: absolute;
        @include transition;

        &.clear-search {
          background: #ccc;
          @include border-radius(100px);
          display: none;
          opacity: .5;
          padding: .75em;
          right: 24px;
          top: 82px;

          &:hover {
            opacity: .75;
          }
        }

        &.search {
          cursor: default;
          opacity: .5;
          right: 28px;
          top: 86px;

          &:hover {
            opacity: .75;
          }
        }

        img {
          display: block;
        }
      }
    }

    .popular {
      clear: both;
      margin: 0 auto;
      overflow: auto;
      padding-top: 24px;
      width: flex-grid(8);

      h3 {
        color: #555;
        font-family: $sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
        margin-top: 20px;
        text-align: center;
      }

      ul {
        list-style-type: none;
        text-align: center;

        li {
          display: inline-block;

          a {
            color: #a9a9a9;
            display: inline-block;
            font-family: $sans-serif;
            font-size: 20px;
            margin-bottom: 0.8em;
            margin-right: 1.4em;
            text-decoration: none;

            &:hover {
              color: #DB1926;
            }
          }
        }
      }
    }
  }
}

#results-container {
  background: rgba(228, 228, 228, 0.7);
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  padding: 48px 0 12px 0;

  #results {
    @include full-width;

    li {
      @include box-sizing(border-box);
      display: block;
      float: left;
      margin-bottom: 36px;
      margin-right: flex-gutter();
      position: relative;
      width: flex-grid(4);

      &:nth-child(3n) {
        margin-right: 0;

        & + li {
          clear: left;
        }
      }

      > a {
        background: no-repeat -63px center #f9f9f9;
        color: #555;
        display: block;
        min-height: 92px;
        padding: 24px 24px 24px 74px;
        text-decoration: none;
      }

      h3 {
        font-weight: 600;
        line-height: 1.2em;
        margin-bottom: .3em;
      }

      h2 {
        color: #2b2b2b;
        font-size: 14px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 10px;
        margin-bottom: 48px;
        position: absolute;
        text-shadow: 0 1px 0 #fcfcfc;
        text-transform: uppercase;
        top: -36px;
      }
    }

    .books {
      h2, h3 {
        color: #286d15;
      }

      a {
        background-image: url('icons/Book.png');
        border-top: 5px solid #286d15;
      }
    }

    .webcasts {
      h2, h3 {
        color: #006b83;
      }

      a {
        background-image: url('icons/webcasts.png');
        border-top: 5px solid #006b83;
      }
    }

    .workshops {
      h2, h3 {
        color: #6c1764;
      }

      a {
        background-image: url('icons/gear.png');
        border-top: 5px solid #6c1764;
      }
    }
  }
}

.additional-results {
  @include full-width;
  margin-top: 42px;

  ul {
    overflow: auto;
    position: relative;
  }

  .result {
    padding-bottom: 24px;
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 36px;
    position: relative;
    width: flex-grid(12);

    > a {
      display: block;
      overflow: hidden;
      text-decoration: none;
    }

    &.thoughtbot {
      h3 {
        color: #AD141E;
      }
    }

    h3 {
      color: #555;
      float: left;
      font-weight: 600;
      line-height: 1.2em;
      margin: 0 flex-gutter() 0 flex-grid(1);
      width: flex-grid(3);
      text-align: right;
    }

    p.excerpt {
      color: #555;
      float: left;
      margin: 0 flex-gutter() 0 0;
      width: flex-grid(4);
    }

    p.results-date {
      color: #999;
      float: left;
      font-size: 14px;
      position: relative;
      width: flex-grid(4);
    }
  }

  .sourcename {
    background-color: #555;
    @include box-sizing(border-box);
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: flex-grid(4);
  }

  .more-button {
    @include button;
    background: #dcdcdc;
    border: 1px solid #c5c5c5;
    @include box-shadow(inset 0 1px 0 #fff);
    @include box-sizing(border-box);
    clear: both;
    margin: 18px auto 0 auto;
    text-decoration: none;
    text-shadow: none;
    width: flex-grid(8);
  }
}
