.features {
  background: $base-background-2;
  padding: 4em 0;

  ul {
    @include outer-container;
  }

  li {
    @include row;
    border-top: 1px solid rgba(black, 0.0333);
    padding: 3em 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
}

.features-illustration {
  margin-bottom: 2em;
  padding: 0 2em;
}

.features-description {
  padding: 0 2em;

  h3 {
    margin: 0.5em 0;
    font-size: 1.75em;
    font-weight: 700;
  }

  p {
    font-size: 1em;
    opacity: 0.8;

    &.lede {
      font-size: 1.125em;
      font-weight: 600;
    }
  }
}

@include marketing-fullsize {
  .features-illustration {
    float: left;
    margin-bottom: 0;
    width: 50%;
  }

  .features-description {
    float: left;
    width: 50%;
  }

  .features li:nth-child(even) {
    .features-illustration {
      float: right;
    }
  }
}
