$landing-width: em(848);

body.shows-show #videos {
  margin-top: 25px;
}

.landing {
  #header-wrapper {
    margin-bottom: 0;
  }

  .header-container {
    padding: 0 1em;
  }

  .content {
    max-width: none;
    padding: 0;
  }

  h2 {
    $testimonials-padding: 75px 0;
    color: $celestial-blue;
    padding: $testimonials-padding;
    text-align: center;
  }

  .blue {
    background: $celestial-blue;

    h2,
    h3,
    p {
      color: white;
    }
  }
}

.illustration {
  img {
    border-radius: 3px;
    display: block;
  }
}
