.price {
  background: $base-background-2;
  padding: 40px 1em 4em;

  &.blue {
    background: darken($celestial-blue, 4);
    padding-top: 6em;

    h3 {
      background: darken(white, 3);
      color: $celestial-blue;
    }

    h4 {
      background: darken(white, 8);
      color: $celestial-blue;
    }

    p {
      color: $darkwarmgray;
    }
  }
}

.price-header {
  @include outer-container;
  @include row(table);
  max-width: $landing-width;

  h3 {
    @include span-columns(8, table);
    background: $celestial-blue;
    border-radius: 5px 0 0;
    color: white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -0.04em;
    line-height: 1;
    margin: 0;
    padding: 2rem 2rem 1rem 2rem;
  }

  h4 {
    @include span-columns(4, table);
    background: darken($celestial-blue, 3);
    border-radius: 0 5px 0 0;
    color: white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: -0.08em;
    line-height: 1;
    margin: 0;
    padding: 2rem 2rem 1rem 2rem;
    position: relative;

    sup {
      @include position(absolute, 2.375rem null null 1.375rem);
      display: inline-block;
      font-size: 25%;
      font-weight: 500;
      opacity: 0.333;
    }

    sub {
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.08em;
      line-height: 1;
      opacity: 0.666;
      text-transform: uppercase;
    }
  }
}

.price-info {
  @include outer-container;
  @include row(table);
  border-radius: 5px;
  margin-bottom: 2em;
  max-width: $landing-width;
}

.price-description {
  @include span-columns(8, table);
  background: white;
  border-radius: 0 0 0 5px;
  padding: 1rem 2rem 2rem;

  p {
    font-size: 110%;
    margin-bottom: 2em;
  }
}

.price-includes {
  @include span-columns(4, table);
  background: darken(white, 5);
  border-radius: 0 0 5px;
  padding: 1rem 2rem 2rem;

  h5 {
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0.5;
    text-transform: uppercase;
  }

  ul {
    margin: 1em 0 0;

    li {
      margin: 0.75em 0;
      font-size: 0.9125em;
      line-height: 1;
    }
  }
}

.price-alternative {
  font-size: 0.875em;
  font-weight: 400;
  margin-top: 4em;
  text-align: center;

  a {
    font-weight: 700;
  }
}
