$landing-hero: #313b41;

.hero {
  background: $landing-hero asset_url("upcase/laptop.jpg") center center no-repeat;
  background-size: cover;
  padding: 0 2em;

  @include marketing-fullsize {
    background-color: none;
  }
}

.hero-content {
  @include outer-container;
  padding: 6em 0;
  position: relative;

  @include marketing-fullsize {
    @include linear-gradient(90deg, rgba($landing-hero, 0.666) 0%, rgba($landing-hero, 0.666) 33.3%, rgba($landing-hero, 0) 66.6%, $fallback: rgba(0,0,0,0));

    &:before {
      @include position(absolute, 0em 100% 0em -100%);
      background: rgba($landing-hero, 0.666);
      content: "";
      display: block;
    }
  }

  h1 {
    color: white;
    font-size: 3.375em;
    font-weight: 100;
    letter-spacing: -0.02em;
    text-shadow: 0 7px 10px rgba(black, 0.1);
  }

  p {
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.3;
    margin: 1em 0 3em;
    max-width: 24em;
  }
}

.hero-cta {
  font-size: 1.5em;

  h5 {
    color: white;
    font-size: 0.625em;
    font-weight: 500;
    margin: 2em 0;

    strong {
      background: rgba(white, 0.1);
      border-radius: 3px;
      display: inline-block;
      font-weight: 700;
      margin: 0 0.125em;
      padding: 0.125em 0.375em;
    }
  }
}

.typed-cursor{
  @include animation(blink 0.7s infinite);
  font-weight: 100;
  opacity: 1;
}

@include keyframes(blink) {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
