.topics {
  background: darken($base-background-2, 2);
  margin-bottom: 0;
  padding: 2em 2em 4em;
  position: relative;

  ol {
    @include outer-container;

    > li {
      margin-top: 0;
      margin-bottom: 1em;
      text-align: center;

      @include marketing-small {
        @include span-columns(6);
        @include omega(2n);
        margin-bottom: 2.35%;
      }

      @include marketing-fullsize {
        @include span-columns(3);
        @include omega-reset(2n);
        @include omega(4n);
      }
    }
  }
}

.topic-card {
  @include transition(all, 0.25s);
  background: white;
  border-radius: 0.5em;
  box-shadow: 0 0 0 rgba(black, 0.3);
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: 115%;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:focus {
    @include transform(scale(1.0625));
    background: $celestial-blue;
    box-shadow: 0 1em 2em rgba(black, 0.1);
    outline: none;
    z-index: 1;

    h4 {
      color: white;
    }

    .topic-icon {
      margin-top: -60%;
      opacity: 0;
    }
  }

  h4 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: -0.01em;
    line-height: 1;
    margin: 0;
    padding-bottom: 0.5em;
    position: relative;

    &:after {
      @include position(absolute, 0 0em 0em 0em);
      background: white;
      content: "";
      display: block;
      height: 1px;
      margin: auto;
      width: 0.375em;
    }
  }
}

.topic-icon {
  @include transition(all, 0.25s);
  margin: 20% auto 10%;
  width: 60%;
}

.topic-description {
  padding-top: 1em;

  h6 {
    color: white;
    font-size: 0.75em;
    font-weight: 400;
    margin: 0;
  }

  ul {
    padding: 1em 0;

    li {
      color: white;
      font-size: 0.75em;
      margin: 0;
    }
  }

  a {
    color: white;
  }
}
