body {
  background-color: $lightwarmgray;
  border-top: none;
  font-family: $sans-serif;
  line-height: 20px;
  margin: 0 auto;
}

// MAIN SECTION AND SIDEBAR
//************************************************************************//

img {
  max-width: 100%;
}

.content {
  @include outer-container;
  max-width: $max-width;
  padding: 1.75em 2em 3em 2em;

  > h1 {
    color: desaturate(darken($warmgray, 22%), 8%);
    font-size: 50px;
    margin: 0 0 .4em 23px;
  }

  h2 {
    padding: 10px 0 10px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  ul {
    padding: 4px 0 30px 0;
  }

  li {
    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }
  }

  .text-box-wrapper {
    @include span-columns (9);
  }

  .text-box-in-text-box {
    @extend .text-box;
    background-color: $lightwarmgray;

    .thumbnail {
      float: left;
      margin-right: 12px;
    }

    .thumbnail-text {
      margin-left: 112px;

      h2 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .summary {
    @include span-columns(9);
    clear: both;
    display: block;
    float: left;
    text-align: left;

    p {
      margin: -10px 0 24px 25px;
    }
  }
}

// MAIN SECTION
//************************************************************************//

.text-box {
  background-color: white;
  border-bottom: 2px solid $warmgray;
  box-shadow: inset 0 1px 1px white, 0 0px 3px $warmgray;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 24px;
  position: relative;

  &.related-reading {
    a {
      display: block;
    }
  }

  h1 {
    color: $darkwarmgray;
  }

  h2 {
    margin-bottom: 16px;
  }

  a:hover h2 {
    color: #C42107;
  }

  h3 {
    margin-bottom: 10px;
  }

  a:hover h3 {
    color: $learnred;
  }

  .source {
    margin-left: 2%;
  }

// in the html, lists are sometimes declared as ol and sometimes as ul
// this results in these rules to add bullets to lists.

  ol {
    margin-bottom: 20px;

    li {
      list-style: $list-style;
    }
  }

  fieldset ol li {
    list-style: none;
  }

  ul li {
    list-style: $list-style;
  }

  li {
    margin: 10px 20px 0 20px;

    ul li {
      list-style: $list-style;
    }
  }

  .trail-map-steps {

    li {
      list-style: none;
    }
  }

  li.article {
    list-style: none;
  }

  form {
    li {
      margin-left: 0;
    }
  }
}

.gray-box {
  @include outer-container;
  background-color: $lightwarmgray;
  border-radius: 3px;
  margin: 28px 0 28px 0;
  padding: 4%;

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
  }

  ul {
    margin-top: 12px;
  }

  li {
    @include span-columns (6);
    margin-left: 0;
    margin-top: 6px;
    padding: 4px;
    display: inline;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.what-you-learn {
  @extend .gray-box;
}

.workshop-alert {
  background: $lightwarmgray;
  margin-bottom: 40px;
  padding: 12px;
  text-align: center;

  a {
    color: $learnred;
  }

  b {
    font-weight: bold;
  }
}

// SIDEBAR
//************************************************************************//

aside {
  @include span-columns (3);
  float: right;
  display: inline-block;

  .button {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 12px;
    width: 100%;
  }
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  .content {
    padding: 1.5em 1em 2em 1em;
  }
}
