body {
  background-color: $lightwarmgray;
  border-top: none;
  font-family: $sans-serif;
  line-height: 20px;
  margin: 0 auto;
}

// MAIN SECTION AND SIDEBAR
//************************************************************************//

img {
  max-width: 100%;
}

.content {
  @include outer-container;
  max-width: $max-width;
  padding: 3em 2em;

  h2 {
    padding: 10px 0 10px 0;
    &:first-child {
      padding-top: 0;
    }
  }

  ul {
    padding: 4px 0 30px 0;
  }

  li {
    margin-top: 14px;
    &:first-child {
      margin-top: 0;
    }
  }

  .text-box-wrapper {
    @include span-columns (9);
  }

  .text-box-in-text-box {
    @extend .text-box;
    background-color: $lightwarmgray;

    .thumbnail {
      float: left;
      margin-right: 12px;
    }

    .thumbnail-text {
      margin-left: 112px;

      h2 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .summary {
    @include span-columns(9);
    clear: both;
    display: block;
    float: left;
    text-align: left;

    p {
      margin: -10px 0 24px 25px;
    }
  }
}

// MAIN SECTION
//************************************************************************//

.text-box {
  background-color: white;
  border-bottom: 2px solid $warmgray;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 20px;
  position: relative;

  &.related-reading {
    a {
      display: block;
    }
  }

  h1 {
    color: $darkwarmgray;
  }

  h2 {
    margin-bottom: 16px;
  }

  a:hover h2 {
    color: #C42107;
  }

  h3 {
    margin-bottom: 10px;
  }

  a:hover h3 {
    color: $learnred;
  }

  .source {
    margin-left: 12%;
  }

  ol {
    margin-bottom: 20px;
  }

  li {
    margin: 10px 20px 0 20px;
  }

  form {
    li {
      margin-left: 0;
    }
  }
}

.gray-box {
  @include outer-container;
  background-color: $lightwarmgray;
  border-radius: 3px;
  margin: 28px 0 28px 0;
  padding: 2em;

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
  }

  ul {
    margin-top: 12px;
  }

  li {
    @include span-columns (6);
    margin-left: 0;
    margin-top: 6px;
    padding: 4px;
    display: inline;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.what-you-learn {
  @extend .gray-box;
}

.workshop-alert {
  background: $lightwarmgray;
  margin-bottom: 40px;
  padding: 12px;
  text-align: center;

  a {
    color: $learnred;
  }

  b {
    font-weight: bold;
  }
}

// SIDEBAR
//************************************************************************//

aside {
  @include span-columns (3);
  float: right;
  display: inline-block;

  .button {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 12px;
    width: 100%;
  }
}
