.journey-headline.learnsale {
  padding-bottom: 4rem;

  h1 span {
    color: darken($darkwarmgray, 10%);
  }
}

.journey.learnsale {
  overflow: visible;
  padding-top: 1rem;

  .card-slider {
    margin-bottom: 2rem;

    .product-card {
      @include transition(.2s);

      &.book {
        width: $product-card-width;
      }

      &:hover {
        @include transform(translateY(-.15rem) scale(1.02));
      }

      .inperson-date {
        font-family: $sans-serif;
      }

      .notification {
        font-size: 1rem;

        span {
          margin-right: .25rem;
          opacity: .6;
          text-decoration: line-through;
        }
      }
    }

    .desc {
      background: none;
      border: 0;
      @include box-shadow(none);
      height: auto;
      padding-top: 43px;

      &:hover {
        @include transform(none);
      }

      h3 {
        color: darken($darkwarmgray, 10%);
        font: 700 2rem/1.3em $sans-serif;
        margin-bottom: .3em;
      }

      p {
        color: darken($darkwarmgray, 10%);
        font: 700 2rem/1.3em $sans-serif;
        margin: 0;
      }

      .slashed {
        font-weight: 500;
        opacity: .6;
        text-decoration: line-through;
      }
    }
  }

  .pitch {
    margin-bottom: 0;
    max-width: 60em;
    padding: 8rem 0;
    text-align: center;

    article {
      width: 100%;

      a {
        font-family: $sans-serif;
      }

      &> h2 {
        color: darken($darkwarmgray, 10%);
      }
    }
  }
}
