/* variables */
$sans-serif: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
$serif: skolar-1, skolar-2, serif;
$red: #ad141e;
$gray: #eee;

$lh: 20px; /*line-height of all the type on the site*/
$unit: 60px; /*one grid column*/
$gutter: 25px; /*size of one gutter*/
$gw-gutter: $gutter; // For Bourbon
$gw-column: $unit;   // For Bourbon

@mixin button {
  background: $red;
  border: 1px solid darken($red, 20%);
  color: #fff;
  display: block;
  line-height: $lh;
  padding: 10px;
  font:700 18px $sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-shadow: 0 -1px 0 darken($red, 10%);
  width: 200px;
  @include box-shadow(inset 0 1px 0 lighten($red, 20%));
  @include border-radius(3px);
  @include transition(all, 0.3s, linear);

  &:hover {
    background: lighten($red, 5%);
    border: 1px solid darken($red, 10%);
    text-shadow: 0 -1px 0 darken($red, 5%);
    @include box-shadow(inset 0 1px 0 lighten($red, 30%));
    cursor: pointer;
  }

  &:active {
    background: darken($red, 5%);
    text-shadow: none;
    @include box-shadow(inset 0 -1px 3px darken($red, 15%));
  }
}

@mixin disabled-button {
  background: $gray;
  border: 1px solid darken($gray, 20%);
  text-shadow: 0 -1px 0 darken($gray, 10%);
  @include box-shadow(inset 0 1px 0 lighten($gray, 20%));

  &:hover {
    background: $gray;
    border: 1px solid darken($gray, 20%);
    text-shadow: 0 -1px 0 darken($gray, 10%);
    @include box-shadow(inset 0 1px 0 lighten($gray, 20%));
  }

  &:active {
    background: $gray;
    text-shadow: 0 -1px 0 darken($gray, 10%);
    @include box-shadow(inset 0 1px 0 lighten($gray, 20%));
  }
}
