@include font-face(entypo, 'entypo/entypo', $asset-pipeline: true);

.icon {
  font-family: "entypo";
  font-size: 25px;
  font-weight: normal;
  position: relative;
  top: 3px;
}

@mixin text-box {
  background-color: white;
  border: 2px solid $warmgray;
  border-radius: 4px;
  border-width: 2px 0 2px 0;
  margin-bottom: 1em;
  padding: 24px;
  position: relative;

  &.related-reading {
    a {
      display: block;

      h3 {
        color: $learnred;
      }
    }
  }

  p {
    font: normal 17px $serif;
    margin-bottom: 1em;
  }

  h1, h2, h3, h4, h5, p {
    color: $darkwarmgray;
  }

  h2 {
    padding: 0;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 2rem 0 1rem 0;
  }

  a {
    h2 {
      color: $learnred;
    }

    &:hover {
      h2 {
        color: #C42107;
      }

      h3 {
        color: $learnred;
      }
    }
  }

  ol, ul {
    list-style-type: disc;
    margin: 0 0 0 2em;
    padding: 0;

    li {
      margin: 0 0 1em 0;
    }
  }

  .source {
    margin-left: 2%;
  }
}
