$lightwarmgray: #F9F5F0;
$warmgray: #D9D4CC;
$darkwarmgray: #6C6A66;
$learnred: #B22115;
$learndarkred: #660000;

.learn-body {
  background-color: $lightwarmgray!important;
  margin: 0 auto;
  border-top: none !important;


  h1 {
    font: 800 72px $sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  
  h2 {
    font: 700 26px/25px $sans-serif;
    color: $darkwarmgray;
    -webkit-font-smoothing: antialiased;
  }
  
  h3 {
    font: 800 36px $sans-serif;
    color: $learnred;
    -webkit-font-smoothing: antialiased;
  }
  
  h4 {
    font: 600 13px $sans-serif;
    color: #94918C;
    text-shadow: 0 2px 0 white;
    -webkit-font-smoothing: antialiased;
  }

  p {
    font: italic 17px $serif;
    color: $darkwarmgray;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  .button {
    @include border-radius(3px);
    width: 126px;
    height:44px;
    text-align:center;
    background-color: $learnred;
    padding-top: 13px;
    font: 600 13px $sans-serif;
    color: white;
  }
  
  .button:hover {
    background-color: #C42107;
  }
  
  .gray {
    background-color: $warmgray;
  }

  section#learn-header-wrapper {
    width: 100%;
    margin: 0 auto;
    background: $warmgray url("learn/learn-arrows.png") repeat-x left bottom;

    .learn-header-container {
      @include outer-container;
      max-width: 1200px;
      padding: 2em;
      text-align: center;

      .learn-logo, .learn-intro {
        padding: 1em;
        font: italic 300 20px $serif;
        color: $darkwarmgray;
        text-shadow: 0 1px 0 #eee;
        -webkit-font-smoothing: antialiased;
      } 
      
      .learn-intro {
        width: 55%;
        margin: 0 auto;
      }
      
      .learn-logo img {
        vertical-align: -20px;
      }
    }
  }

  section#promo-wrapper {
    @include outer-container;
    margin: 0 auto;
    padding: 4em 1em 4em 1em;
    text-align: center;
    
    .promo-container {
      @include span-columns(4);

      .promo-detail {
        @include border-radius(300px);
        background-color: white;
        height:300px;
        width: 300px;
        border: 13px solid $warmgray;
        padding: 2.5em 1.8em 1em 1.8em;
        margin: 0 auto;
        
        h2 {
          height: 50px;
          vertical-align: middle;
        }

        p {
          padding-top:10px;
          margin: 10px 0 10px 0;
          border-top: 7px solid $learnred;
        }
        
        .button {
          border-bottom: 4px solid $learndarkred;
          margin: 0 auto;
        }
        
        .button:active {
          position: relative;
          border-bottom: none;
          height: 40px;
          top: 4px;
        }
      }
    }
  }
  
  #learn-divider {
    text-align:center;
    margin: 0 auto;
    width: 760px;
    height: 0;
    border-top: 1px solid $warmgray;
    border-bottom: 1px solid white;

    h4 {
      text-align: center;
      margin-top: -8px;
      position: absolute;
      display: inline-block;
      padding: 0 10px 0 10px;
      background-color: $lightwarmgray;
    }
  }

  section#learn-topics-list {
    @include outer-container;
    max-width: 760px;
    padding: 2em;
  
    .learn-topic {
      @include border-radius(4px);
      border-bottom: 2px solid $warmgray;
      background-color: white;
      margin-bottom: 1em;
      padding: 20px;
    } 
    
    ul {
      margin-top: 12px;
    }
    
    li {
      padding-top: 15px;
      display: inline-block;
      margin-top: 8px;
      margin-right: 4px;
      list-style-type: none;
    }
    
    li:last-child {
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 910px) {

    section#learn-header-wrapper .learn-header-container .learn-intro {
      width: 90%;
    }

    #learn-divider {
      width: 95%;
    }

    section#promo-wrapper .promo-container .promo-detail {
      width: 270px;
      height: 270px;

      h2 {
        font: 700 20px/20px $sans-serif;
      }

      p {
        font-size: 15px;
        margin-top: 0;
      }
      
      .button {
        width: 120px;
        height:36px;
        padding-top: 9px;
      }
    }
  }
  
  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
    
    section#learn-header-wrapper .learn-header-container .learn-logo img {
      display: block;
      margin: 0 auto;
    }
    
    section#learn-header-wrapper .learn-header-container .learn-intro {
      padding-top: 0;
    }

    section#promo-wrapper .promo-container {
      width: 50%;
      margin: 0;
      
      &:last-child {
        display: block;
        width: 100%;
        margin-top:-20px;
      }
    }
    
    section#learn-topics-list {
      width:93%;
    }
  }
  
  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {

    section#learn-header-wrapper .learn-header-container .learn-intro {
      font-size: 18px;
    }

    section#promo-wrapper .promo-container {
      display: block;
      width: 100%;
      margin-top: 16px !important;
    }
    
    section#promo-wrapper .promo-container .promo-detail p {
      line-height: 19px;
    }
    
    section#learn-topics-list li {
      display: block;
      width: 100%;
    }
  }
}