#head-wrapper {
  #homepage-top {
    @extend .clearfix;
    background: url("/images/shadowing.png") center top no-repeat;
    margin: 0 auto;
    padding: 1px 0 40px 0;
    width: $app-width;

    header {
      @extend .clearfix;

      h1 {
        color: #2b2b2b;
        font: 900 60px/60px $sans-serif;
        margin: 40px 0 20px;
      }
    }

    aside {
      float: left;
      margin: 10px 0 0 25px;
      padding: 10px 0 0 0;
      width: flex-grid(4);

      &.first, &.humans {
        border-top: 5px solid $red;
      }

      &.humans {
        margin-top: 40px;
      }

      h2 {
        color: #333;
        font: 700 24px $sans-serif;
        margin: 0 0 10px 0;

        a {
          text-decoration: none;
        }
      }

      p {
        color: #444;
        font: 400 15px/21px $serif;
      }
    }
  }
}
