body.high_voltage-pages,
body.products-show,
body.purchases-watch,
body.products-show, body.sections-show {
  .assets {
    margin-bottom: 10px;
    text-align: center;

    a {
      display: inline-block;
      margin-right: 5px;

      span.size {
        font-size: 80%;
        font-variant: small-caps;
      }
    }
  }

  section#homepage-top {
    h1 {
      color: #2b2b2b;
      font: 900 60px/60px $sans-serif;
      margin: 40px 0 20px;
    }
  }

  section#container {
    //margin: 40px auto;
    //width: 640px;

    p {
      font-size: 14px;
      margin-bottom: 0.5em;
    }

    h1 {
      font: 400 32px $sans-serif;
      margin: 0 0 12px 0;
    }

    h3 {
      margin-top: 18px;

      &.offer {
        color: #444;
        font-size: 18px;
        line-height: 27px;

        strong {
          color: $red;
        }
      }
    }

    h4 {
      font-size: 16px;
    }

    ul {
      list-style: outside;
      margin: 8px 0 12px 16px;

      li {
        margin: 0 0 6px 0;
      }
    }

    section {
      margin: 0 0 30px 0;

      &.no-border {
        border: 0;
      }
    }

    article {
      margin: 0 0 30px 0;
    }

    pre {
      background: #efefef;
      line-height: 180%;
      margin: 10px 0;
      padding: 0;
    }

    strong {
      font-weight: bold;
    }
  }

  footer {
  }

  #products {
    float: right;
    width: grid-width(4);

    h2 {
      margin: 10px 0 0 25px;
      padding: 10px 0 0 0;
    }

    aside {
      float: left;
      margin: 10px 0 0 25px;
      padding: 10px 0 0 0;
      width: grid-width(4);

      &.first, &.humans {
        border-top: 5px solid $red;
      }

      &.humans {
        margin-top: 40px;
      }

      h2 {
        color: #333;
        font: 700 24px $sans-serif;
        margin: 0 0 10px 0;

        a {
          text-decoration: none;
        }
      }

      p {
        color: #444;
        font: 400 15px/21px $serif;
      }
    }
  }
}
