body.prime-marketing {
  background: $journey-line-color;
}

.prime-signin {
  color: $darkwarmgray;
  font-family: $sans-serif;
  padding: .75rem 1.25rem;
  @include position(absolute, 0px 0px 0 0);
}

.journey-headline {
  background: $lightwarmgray;
  padding: 2rem 6vw 8rem;
  text-align: center;

  @include prime-marketing-mobile {
    padding-bottom: 2rem;
    text-align: left;
  }

  .logo {
    @include animation(box-shadow-expand .75s $ease-in-out-back);
    @include animation-fill-mode(both);
    border-radius: 100%;
    display: inline-block;
    line-height: 0;
    margin-bottom: 1rem;

    h1 {
      display: inline-block;
      line-height: 88px;
    }

    img {
      display: inline-block;
      float: left;
    }
  }

  h1 {
    color: $darkwarmgray;
    font-size: 2.75rem;
    line-height: 1.15em;
    margin: auto;
    max-width: 800px;

    @include prime-marketing-mobile {
      font-size: 2rem;
    }

    a {
      border-bottom: 2px solid $learnred;
      color: $learnred;
      display: inline-block;
      font: 400 2rem/1.3 $sans-serif;

      @include prime-marketing-mobile {
        border: 0;
        line-height: 1.15em;
      }
    }
  }
}

.prime-journey-cta {
  @include prime-button;

  @include prime-marketing-mobile {
    padding: 1rem;
  }

  h2, p, h3 {
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
  }

  h2 {
    font-size: 2.4rem;

    span {
      font-weight: 100;
    }

    @include prime-marketing-mobile {
      font-size: 2rem;
    }
  }

  p {
    font-family: $sans-serif;
    font-size: 1.5rem;

    @include prime-marketing-mobile {
      font-size: 1.2rem;
    }
  }
}

body.prime-marketing footer {
  margin: 0 auto;
  max-width: 111rem;
  padding: 5rem 6vw;
  width: 100%;

  a {
    margin: 0 .25rem;
  }
}

body.prime-marketing svg._jsPlumb_connector path, svg._jsPlumb_endpoint path {
  border-radius: 100%;
  stroke: $journey-line-color;
  stroke-dasharray: 15px, 21px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
}

.connector-dot {
  display: none;
}

.journey {
  background: $lightwarmgray;
  overflow: hidden;
  position: relative;

  // animate the curtain going from 100% height->0% to reveal the dotted trail
  // only animate this on desktops since it impacts performance in iOS a lot
  .curtain {
    display: none;

    @include prime-marketing-fullsize {
      background: $lightwarmgray;
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
      z-index: 1;

      &.animate {
        @include animation(draw-curtain 6s linear);
        @include animation-fill-mode(both);
      }
    }
  }

  .pitch {
    @include clearfix;
    margin: 0 auto 10rem;
    max-width: 111rem;
    padding: 0 6vw;
    position: relative;
    z-index: 2;

    @include prime-marketing-mobile {
      margin-bottom: 4rem;
    }

    article {
      float: right;
      position: relative;
      width: 37%;

      @media screen and (max-width: 1560px) {
        width: 30%;
      }

      @include prime-marketing-tablet {
        float: none;
        margin-top: 0;
        width: 100%;
      }

      @include prime-marketing-mobile {
        margin-top: 0;
      }

      > h2 {
        font-size: 2.75rem;
        line-height: 1.15em;
        margin-bottom: 1rem;

        @include prime-marketing-mobile {
          font-size: 2rem;
        }
      }

      > p {
        font-family: $sans-serif;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @include prime-marketing-mobile {
          font-size: 1.2rem;
        }
      }

      a {
        font-family: $sans-serif;
      }

      .terms {
        font-size: 1rem;
        margin-top: 2rem;
      }
    }
  }

  .pitch.left {
    .supporting-visual {
      float: right;
    }

    article {
      float: left;
      margin-left: 5rem;

      @media screen and (max-width: 1560px) {
        width: 32%;
      }

      @include prime-marketing-tablet {
        margin-left: 0;
        padding-left: 5rem;
        width: 100%;
      }

      @include prime-marketing-mobile {
        padding-left: 0;
      }
    }

    .journey-bullet {
      @include prime-marketing-tablet {
        left: -1rem;
      }
    }
  }

  .pitch.center {
    article {
      @include prime-marketing-tablet {
        padding-right: 5rem;
      }

      @include prime-marketing-mobile {
        padding-right: 0;
      }
    }

    .journey-bullet {
      @include prime-marketing-tablet {
        left: auto;
        right: -1rem;
      }
    }
  }

  .pitch.enroll article {
    margin-top: 2rem;
  }

  .pitch.exclusive-content article {
    margin-top: 6rem;

    @include prime-marketing-tablet {
      margin-top: 0;
    }
  }

  .pitch.final {
    .supporting-visual {
      width: 30%;

      @include prime-marketing-tablet {
        float: left;
        margin: 0 2rem 2rem 0;
        width: auto;

        img {
          width: 300px;
        }
      }

      @include prime-marketing-mobile {
        display: none;
      }
    }

    article {
      width: 54%;

      @include prime-marketing-tablet {
        width: 100%;

        .cta {
          clear: both;
        }
      }
    }
  }

  .supporting-visual {
    float: left;
    position: relative;
    width: 45%;

    @media screen and (max-width: 1560px) {
      width: 55%;
    }

    @include prime-marketing-tablet {
      float: none;
      width: 100%;
    }

    > img {
      border: 1px solid rgb(175, 175, 175);
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    &.mentors {
      @include prime-marketing-tablet {
        margin-top: 2rem;
      }

      div {
        float: left;
        margin: 0 0 1rem 0;
        overflow: auto;
        width: 72%;

        @include prime-marketing-tablet {
          margin: 0 0 0 0;
        }

        @include prime-marketing-mobile {
          width: 100%;
        }
      }

      div:last-child {
        float: right;

        img {
          float: right;
          margin: 0 0 1rem 1rem;
        }
      }

      img {
        border-radius: 100%;
        float: left;
        margin: 0 1rem 1rem 0;
        width: 35%;

        @include prime-marketing-mobile {
          width: 25%;
        }
      }

      p {
        font-style: italic;
        margin-top: 1rem;

        strong {
          font-style: normal;
        }
      }
    }

    &.two-stacked {
      @include prime-marketing-tablet {
        margin-top: 1rem;
        padding-left: 5rem;
      }

      @media screen and (max-width: 775px) {
        padding-left: 0;
      }

      @include prime-marketing-mobile {
        padding: 0;
        margin: 0;
      }

      > div {
        float: left;
        @include perspective(1000);
        position: relative;
        width: 50%;

        &:hover {
          z-index: 5;
        }

        // animate the fly-in when waypoints adds the visible class
        // only animate on desktop devices due to iOS animation crashes
        &.visible {
          figure {
            opacity: 1;

            @include prime-marketing-fullsize {
              @for $i from 0 through 2 {
                &:nth-of-type(#{$i + 1}) {
                  @include animation(two-stacked-fly-in .9s $ease-out-circ);
                  @include animation-delay(#{($i + 1) * .2}s);
                  @include animation-fill-mode(backwards);
                }
              }
            }
          }
        }

        .figuregroup {
          height: 380px;
          width: 270px;

          &:nth-of-type(odd) {
            margin-right: 2vw;
          }

          // animate the fan-out on hover
          &:hover {
            > figure {
              &:nth-of-type(1) {
                @include transform(translate(-4rem, -4rem) rotate(-3deg));

                &:hover {
                  @include transform(translate(-4rem, -4rem) translateZ(3rem) rotate(-3deg));
                }
              }

              &:nth-of-type(2) {
                @include transform(translate(0, -2rem));

                &:hover {
                  @include transform(translate(0, -2rem) translateZ(3rem));
                }
              }

              &:nth-of-type(3) {
                @include transform(translate(4rem, 0) rotate(3deg));

                &:hover {
                  @include transform(translate(4rem, 0) translateZ(3rem) rotate(3deg));
                }
              }

              &:hover {
                z-index: 6;
              }
            }
          }
        }

        @include prime-marketing-tablet {
          width: 270px;

          &:nth-of-type(odd) {
            margin-right: 8vw;
          }
        }

        @include prime-marketing-mobile {
          float: none;
          height: 440px;
          width: 100%;
        }
      }

      h3 {
        font-size: 1rem;
        font-weight: 600;
        padding: 0 0 1rem 1.5rem;
      }

      .figuregroup > figure {
        background: #fff;
        border: 1px solid $warmgray;
        opacity: 0;
        position: absolute;
        @include transform(translate(0, 0) rotate(0deg));
        @include transition(.25s ease);

        > a {
          display: block;
          height: 100%;
        }

        // stack the cards
        @for $i from 0 through 2 {
          &:nth-of-type(#{$i + 1}) {
            margin-left: 1.3rem * $i;
            margin-top: 1.3rem * $i;
          }
        }
      }
    }

    &.two-screenshot {
      height: 400px;

      @include prime-marketing-mobile {
        height: auto;
      }

      img {
        @include position(absolute, 0 0 0px 0px);
        width: 500px;

        @include prime-marketing-mobile {
          position: static;

          &:first-child {
            margin-bottom: 1rem;
          }
        }

        &:last-child {
          bottom: auto;
          left: auto;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
}

