$journey-line-color: lighten($warmgray, 6%);
$bullet-size: 70px;

body.prime-marketing {
  background: $journey-line-color;
}

.journey-headline {
  padding: 2rem 6vw 0;
  text-align: center;

  &:after {
    background: $warmgray;
    content: '';
    @include position(absolute, 0px 0px 0 0px);
  }

  .logo {
    display: inline-block;
    line-height: 0;
    margin-bottom: 2rem;

    h1 {
      display: inline-block;
      line-height: 88px;
    }

    img {
      display: inline-block;
      float: left;
    }
  }

  h1, .prime-journey-cta {
    margin: auto;
    max-width: 800px;
  }

  h1 {
    font-size: 3.2rem;
    text-shadow: 0 1px 1px rgba($darkwarmgray, .3);

    @include prime-marketing-mobile {
      font-size: 2rem;
    }
  }

  .prime-journey-cta {
    bottom: -4rem;
    margin-top: 0;
    position: relative;

    &:active {
      margin-top: .25rem;
    }
  }
}

.prime-journey-cta {
  background: $learnred;
  border-bottom: .3rem solid darken($learnred, 10%);
  border-radius: .3rem;
  display: block;
  margin-top: 2rem;
  padding: 1.75rem;
  position: relative;
  text-align: center;
  z-index: 5;

  @include prime-marketing-mobile {
    padding: 1rem;
  }

  &:hover {
    background: lighten($learnred, 3%);
  }

  &:active {
    border-bottom: 0;
    margin-top: 2.25rem;
  }

  h2, p {
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
  }

  h2 {
    font-size: 2.4rem;

    @include prime-marketing-mobile {
      font-size: 2rem;
    }
  }

  p {
    font-family: $sans-serif;
    font-size: 1.5rem;

    @include prime-marketing-mobile {
      font-size: 1.2rem;
    }
  }
}

// used as a book, workshop, or screenshot card aka one of the stacked figures
.product-card {
  background: #fff;
  border: 1px solid rgb(175, 175, 175);
  border-radius: .3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  display: inline-block;
  height: 330px;
  padding: .3rem;
  position: absolute;
  width: 230px;

  &.book {
    height: 318px;
    padding: 0;
    width: 246px;
  }

  h4 {
    border-radius: 2px;
    color: #fff;
    margin-bottom: .3rem;
    padding: .75rem;
  }

  &.workshop-online h4 {
    background: $workshop-online-color;
  }

  &.workshop-inperson h4 {
    background: $workshop-inperson-color;
  }

  &.screencast h4 {
    background: $screencasts-color;
  }

  h5, p {
    margin: .75rem;
  }

  h5 {
    font-size: .8rem;
    margin-top: .3rem;
    text-transform: uppercase;
  }

  .date {
    bottom: 0;
    font: normal .8rem/1em $sans-serif;
    position: absolute;
  }
}

.journey {
  background: $lightwarmgray;
  overflow: hidden;
  padding-top: 10rem;
  position: relative;

  // animate the curtain going from 100% height->0% to reveal the dotted trail
  .curtain {
    //@extend %animation-draw-curtain;
    background: $lightwarmgray;
    //@include position(absolute, 0px 0px 0px 0px);
    z-index: 1;
    display: none;
  }

  .pitch {
    @include clearfix;
    margin: 0 auto 10rem;
    max-width: 111rem;
    padding: 0 6vw;
    position: relative;
    z-index: 2;

    @include prime-marketing-mobile {
      margin-bottom: 4rem;
    }

    &.left {
      .supporting-visual {
        float: right;
      }

      article {
        float: left;
        margin-left: 5rem;

        @include prime-marketing-tablet {
          margin-left: 0;
          padding-left: 5rem;
        }

        @include prime-marketing-mobile {
          padding-left: 0;
        }
      }

      .journey-bullet {
        @include prime-marketing-tablet {
          left: -1rem;
        }
      }
    }

    &.center {
      article {
        @include prime-marketing-tablet {
          padding-right: 5rem;
        }

        @include prime-marketing-mobile {
          padding-right: 0;
        }
      }

      .journey-bullet {
        @include prime-marketing-tablet {
          left: auto;
          right: -1rem;
        }
      }
    }

    &.final {
      .supporting-visual {
        width: 30%;

        @include prime-marketing-tablet {
          float: left;
          margin: 0 2rem 2rem 0;
          width: auto;

          img {
            width: 250px;
          }
        }

        @include prime-marketing-mobile {
          display: none;
        }
      }

      article {
        width: 57%;

        @include prime-marketing-tablet {
          width: 100%;

          .cta {
            clear: both;
          }
        }
      }
    }

    .supporting-visual {
      float: left;
      position: relative;
      width: 40%;

      @media screen and (max-width: 1560px) {
        width: 55%;
      }

      @include prime-marketing-tablet {
        float: none;
        width: 100%;
      }

      > img {
        border: 1px solid rgb(175, 175, 175);
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
      }

      &.profile {
        height: 400px;

        @include prime-marketing-mobile {
          height: auto;
          margin-top: 2rem;
        }

        .mini-profile {
          background: #fff;
          border: 1px solid rgb(150, 150, 150);
          border-radius: .5rem;
          box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
          box-sizing: content-box;
          display: table;
          padding: 1.5rem;
          @include position(absolute, 0px 0px 0 0);
          width: 420px;
          z-index: 1;

          @include prime-marketing-mobile {
            padding: .5rem 0;
            width: 80%;
            margin-top: -1rem;
            margin-right: 5%;
          }

          .images {
            float: left;
            height: 150px;
            width: 150px;

            img {
              border: 1px solid rgb(150, 150, 150);
              border-radius: 100%;
              height: 150px;
              opacity: 0;
              position: absolute;
              @include transition;
              width: 150px;

              &:first-child {
                opacity: 1;
              }
            }

            @include prime-marketing-mobile {
              height: 70px;
              margin-left: 1rem;
              width: 70px;

              img {
                height: 70px;
                width: 70px;
              }
            }
          }

          figcaption {
            display: table-cell;
            vertical-align: middle;

            @include prime-marketing-mobile {
              h2 {
                font-size: 1.5rem;
              }
            }
          }

          h2 {
            border-bottom: 2px solid rgba(70, 125, 200, .5);
            color: rgb(70, 125, 200);
            display: inline-block;
            font-weight: 400;
          }
        }

        > img {
          @include position(absolute, 0 0 0px 0px);

          @include prime-marketing-mobile {
            position: static;
          }
        }
      }

      &.two-stacked {
        @include prime-marketing-tablet {
          margin-top: 1rem;
          padding-left: 5rem;
        }

        @media screen and (max-width: 775px) {
          padding-left: 0;
        }

        @include prime-marketing-mobile {
          padding: 0;
          margin: 0;
        }

        > div {
          float: left;
          @include perspective(1000);
          position: relative;
          width: 50%;

          // animate the fly-in when waypoints adds the visible class
          &.visible {
            figure {
              opacity: 1;

              @for $i from 0 through 2 {
                &:nth-of-type(#{$i + 1}) {
                  @extend %animation-two-stacked-fly-in;
                  @include animation-delay(#{($i + 1) * .2}s);
                }
              }
            }
          }

          .figuregroup {
            height: 380px;
            width: 250px;

            // animate the fan-out on hover
            &:hover {
              z-index: 5;

              figure {
                &:nth-of-type(1) {
                  @include transform(translate(-4rem, -4rem) rotate(-3deg));

                  &:hover {
                    @include transform(translate(-4rem, -4rem) translateZ(3rem) rotate(-3deg));
                  }
                }

                &:nth-of-type(2) {
                  @include transform(translate(0, -2rem));

                  &:hover {
                    @include transform(translate(0, -2rem) translateZ(3rem));
                  }
                }

                &:nth-of-type(3) {
                  @include transform(translate(4rem, 0) rotate(3deg));

                  &:hover {
                    @include transform(translate(4rem, 0) translateZ(3rem) rotate(3deg));
                  }
                }

                &:hover {
                  z-index: 6;
                }
              }
            }
          }

          @include prime-marketing-tablet {
            width: 270px;

            &:first-of-type {
              margin-right: 8vw;
            }
          }

          @include prime-marketing-mobile {
            float: none;
            height: 440px;
            width: 100%;
          }
        }

        h3 {
          font-size: 1rem;
          font-weight: 600;
          padding: 0 0 1rem 1.5rem;
        }

        figure {
          opacity: 0;
          @include transform(translate(0, 0) rotate(0deg));
          @include transition(.25s ease);

          // stack the cards
          @for $i from 0 through 2 {
            &:nth-of-type(#{$i + 1}) {
              margin-left: 1.3rem * $i;
              margin-top: 1.3rem * $i;
            }
          }
        }
      }

      &.two-screenshot {
        height: 400px;

        @include prime-marketing-mobile {
          height: auto;
        }

        img {
          @include position(absolute, 0 0 0px 0px);

          @include prime-marketing-mobile {
            position: static;

            &:first-child {
              margin-bottom: 1rem;
            }
          }

          &:last-child {
            bottom: auto;
            left: auto;
            right: 0px;
            top: 0px;
          }
        }
      }
    }

    article {
      float: right;
      margin-top: 5rem;
      position: relative;
      width: 37%;

      @media screen and (max-width: 1560px) {
        width: 30%;
      }

      @include prime-marketing-tablet {
        float: none;
        margin-top: 0;
        width: 100%;
      }

      @include prime-marketing-mobile {
        margin-top: 0;
      }

      .journey-bullet {
        background: $journey-line-color;
        border-radius: 100%;
        height: $bullet-size;
        left: -8rem;
        position: absolute;
        top: 1rem;
        width: $bullet-size;
        z-index: -1;
      }

      > h2 {
        font-size: 2.75rem;
        line-height: 1.2em;
        margin-bottom: 1rem;

        @include prime-marketing-mobile {
          font-size: 2rem;
        }
      }

      > p {
        font-family: $sans-serif;
        font-size: 1.5rem;

        @include prime-marketing-mobile {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.details {
  margin: auto;
  max-width: 111rem;
  padding: 5rem 6vw;
  position: relative;
  z-index: 2;

  h2 {
    font-size: 2.75rem;
    line-height: 1.2em;

    @include prime-marketing-mobile {
      font-size: 2rem;
    }
  }

  &> h2 {
    margin-bottom: 2.5rem;
  }

  &> figure {
    @include clearfix;
    margin-bottom: 5rem;

    @include prime-marketing-tablet {
      text-align: center;
    }

    img {
      border: .25rem solid $warmgray;
      border-radius: 2px;
      float: left;
      margin-right: 2.5rem;
      width: 40%;

      @include prime-marketing-tablet {
        float: none;
        margin: 0 0 2.5rem 0;
        width: 50%;
      }

      @include prime-marketing-mobile {
        width: 100%;
      }
    }

    figcaption {
      float: left;
      text-align: left;
      width: 50%;

      @include prime-marketing-tablet {
        float: none;
        width: 100%;
      }

      hgroup {
        margin-bottom: 1.4rem;

        h2 {
          margin-bottom: 1rem;
        }

        h3 {
          color: $darkwarmgray;
          font-size: 1.75rem;
          font-weight: 300;

          @include prime-marketing-mobile {
            font-size: 1.2rem;
          }
        }
      }

      li {
        font: 300 1.75rem/1.4em $sans-serif;
        margin: 0;

        @include prime-marketing-mobile {
          font-size: 1.2rem;
        }
      }
    }
  }

  .buffet {
    clear: both;
    @include clearfix;

    // animate the cards in one-by-one when waypoints gives the visible class
    &.visible {
      .item figure {
        opacity: 1;

        @for $i from 0 through 3 {
          &:nth-of-type(#{$i + 1}) {
            @extend %animation-backwards-stacked-fly-in;
            @include animation-delay(#{.5 - ($i * .12)}s);
          }
        }
      }
    }

    .item {
      float: left;
      @include perspective(1000);
      position: relative;
      width: 25%;
      z-index: 2;

      @include prime-marketing-tablet {
        width: 50%;
        margin-bottom: 2.5rem;
      }

      @include prime-marketing-mobile {
        float: none;
        width: 100%;
      }

      .figuregroup {
        height: 350px;
        width: 250px;

        // fan out the the detail decks
        &:hover {
          figure {
            @for $i from 1 through 4 {
              &:nth-of-type(#{$i}) {
                @include transform(translate(#{$i * .25}rem, -#{$i * 3}rem) rotate(#{$i}deg) scale(#{1 - $i * .02}));
                z-index: #{0 - $i};

                &:hover {
                  @include transform(translate(#{$i * .25}rem, -#{$i * 3}rem) translateZ(3rem) rotate(#{$i}deg) scale(#{1 - $i * .02}));
                }
              }
            }

            &:hover {
              z-index: 5;
            }
          }
        }
      }

      hgroup {
        padding-left: .3rem;
        position: relative;
        z-index: -2;

        h3 {
          font-weight: 700;
        }

        h3, h4 {
          color: $darkwarmgray;
        }
      }

      figure {
        margin-top: 1rem;
        opacity: 0;
        @include transition(.25s ease);

        // stack the detail decks
        @for $i from 0 through 3 {
          &:nth-of-type(#{$i + 1}) {
            @include transform(translate(0, -#{$i * .8}rem) scale(#{1 - $i * .04}));
            z-index: #{4 - $i};
          }
        }
      }
    }
  }
}

svg._jsPlumb_connector path, svg._jsPlumb_endpoint path {
  border-radius: 100%;
  stroke: $journey-line-color;
  stroke-dasharray: 15px, 21px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
}

.connector-dot {
  display: none;
}
