body.products-show,
body.workshops-show,
body.books-show,
body.screencasts-show {
  .discount-title {
    color: $darkwarmgray;
    font-size: 18px;
    margin: 12px 0 24px;
    text-align: center;
  }

  .workshop-alert {
    background: $lightwarmgray;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;

    a {
      color: $learnred;
    }

    b {
      font-weight: bold;
    }
  }

  #faq {
    border-top: 1px dashed #ccc;
    margin-top: 2em;

    dd, dt {
      padding-left: 1rem;
    }

    dt {
      margin-top: 1.6rem;
      position: relative;

      p {
        font-weight: bold;
        margin-bottom: .8em;
      }

      &:before {
        color: $darkwarmgray;
        content: '\201c';
        font-size: 2rem;
        font-weight: 100;
        @include position(absolute, .25rem 0 0 0px);
      }
    }
  }

  #book-graphic {
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.35);
    float: right;
    margin: 15px 0 20px 25px;
    position: relative;
    @include transition;
    width: 185px;

    &:hover {
      bottom: 3px;
    }

    img {
      display: block;
    }

    .title {
      background: hsla(0, 0%, 22%, 0.75);
      bottom: 50px;
      color: white;
      font-size: 18px;
      left: 0;
      padding: 10px 0;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.45);
      width: 100%;
    }

    a:hover .title {
      background: rgba($learnred, 0.75);
      @include transition;
    }
  }

  .teachers {
    margin: 2.5em 0 0 0;

    li {
      list-style-type: none;
      margin-left: 0;
    }

    img {
      border-radius: 3px;
      float: left;
      margin: 0 1rem 1rem 0;
    }

    h2 {
      margin: 0 0 .5rem 0;
      padding: 0;
    }

    h5 {
      font-weight: 800;
      margin: 0;
    }

    .bio {
      margin-left: 92px;
      padding-left: 1rem;
    }
  }

  .what-you-learn {
    @include outer-container;
    background-color: $lightwarmgray;
    border-radius: 3px;
    margin: 28px 0 28px 0;
    padding: 4%;

    h3 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 0;
      font-size: 1em;
    }

    li {
      @include span-columns (6);
      margin-left: 0;
      margin-top: 6px;
      padding: 4px;
      display: inline;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

body.products-show aside,
body.workshops-show aside,
body.books-show aside,
body.screencasts-show aside,
body.purchases-new aside {
  .original-price {
    color: lighten($darkwarmgray, 22%);
    display: block;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 7px;
    position: relative;
    -webkit-font-smoothing: antialiased;

    &::after {
      background-image: image_url("icons/brush.png");
      content: "";
      height: 33px;
      left: -3px;
      position: absolute;
      top: -3px;
      width: 60px;
    }
  }

  #license > div:last-child {
    margin-bottom: 2rem;
  }

  div {
    margin-bottom: 1rem;

    h2 a {
      color: $darkwarmgray;
      font-family: $sans-serif;
      font-weight: 800;
    }

    .active-subscription, .active-subscription span {
      font: italic 400 1rem/1.4em $serif;
      margin: .5rem 0;
    }

    .when {
      font-family: $sans-serif;
      font-weight: 600;
      margin: 0 0 .75rem;
    }

    .license {
      margin-top: 0;
    }

    .button {
      margin-top: 0;
    }

    .button:not(.prime-button):not(.free-with-prime) {
      background: darken($warmgray, 28%);
      border-color: $darkwarmgray;

      &:hover {
        background: darken($warmgray, 20%);
        border-color: lighten($darkwarmgray, 5%);
      }

      &:active {
        background: darken($warmgray, 35%);
        border-color: darken($darkwarmgray, 5%);
      }
    }

    .free-with-prime {
      background: #fff;
      border: 3px solid #ddd;
      border-width: 1px 1px 3px 1px;
      color: $learnred;

      &:active {
        background: #eee;
        border-color: #ccc;
      }
    }

    .license-button {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .location-name {
      color: $darkwarmgray;
      font: 800 36px/40px $sans-serif;
    }
  }

  .or {
    font: 700 .8em $sans-serif;
    margin: 2rem 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &:after, &:before {
      border-top: 1px solid $darkwarmgray;
      content: '';
      display: block;
      @include position(absolute, .6em 0 0 0px);
      width: 15%;
    }

    &:before {
      left: auto;
      right: 0;
    }
  }

  .prime-purchase {
    margin: 1.5rem 0 1.5em 0;

    h2 {
      color: $learnred;
      font: 800 1.4rem/1.2 $sans-serif;
      margin: 0 0 .75rem 0;
    }
  }
}

#additional-information {
  background: lighten($warmgray, 5%);

  #additional-information-wrapper {
    @include outer-container;
    max-width: $max-width;
    padding: 3em 0 1.5em 0;

    #main-content {
      @include span-columns(12);
      padding: 0 2em;
    }

    h4 {
      margin-bottom: 10px;
    }

    ul li {
      @include span-columns(6);
    }
  }
}

@include body-mobile {
  #additional-information {
    input[type="text"] {
      display: block;
      width: 100% !important;
    }

    input[type="submit"] {
      margin-left:  0 !important;
      width: 100%;
    }

    #additional-information-wrapper {
      ul li {
        @include span-columns(12);
        width: 100%;
      }
    }
  }
}
