body.products-index {
  .prime-pitch {
    margin: -3.5em 0 1em 0;
    position: relative;
    text-align: center;

    &::after {
      background: $warmgray;
      content: '';
      margin-right: -2px;
      @include position(absolute, 0px 50% 0px 0);
      width: 2px;
      z-index: -1;
    }

    h2.subscriber {
      background: $lightwarmgray;
      margin-bottom: 1.1em;
      margin-top: 2.75em;
      padding-bottom: .4em;
    }

    .prime-main-cta {
      background: $learnred;
      border: 0;
      border-radius: 3px;
      display: inline-block;
      margin: 0 auto;
      max-width: $footer-width;
      padding: 1.2em 2.5em;
      text-align: center;
      width: 100%;

      &.bottom {
        margin-top: 4em;
      }

      &:hover {
        background: lighten($learnred, 5%);
      }

      &:active {
        background: darken($learnred, 5%);
      }

      h2, h3 {
        color: #fff;
        font: 700 1.75em/1em $sans-serif;
        margin: 0;
      }

      h3 {
        font-size: 1.2em;
        font-weight: 400;
        margin-top: .2em;
      }
    }

    .prime-company-cta {
      background: $lightwarmgray;
      display: block;
      font-style: italic;
      padding: .75em;

      &.top {
        margin-bottom: 5em;
      }
    }

    .products {
      @extend %main-content-box;
      margin: auto;
      margin-bottom: 4em;
      max-width: $footer-width;
      overflow: hidden;

      h2 {
        color: $darkwarmgray;
        font: 700 1.75em/1.2em $sans-serif;
        margin: 0 0 1.25em;
        padding: .1em 0;
        text-align: center;

        span {
          display: block;
          font-weight: 100;
        }
      }

      &.books {
        text-align: center;

        figure {
          display: inline-block;
          margin: 0 1em 1em;

          a {
            background: #000;
            border: 0;
            display: block;
            line-height: 0;
            position: relative;
            @include transition(.15s);

            img {
              width: 196px;
            }

            &:hover {
              top: -3px;
            }

            &:active {
              img {
                opacity: .8;
              }
            }
          }

          img {
            border-radius: 1px;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, .3));
            margin: 0;
            width: 212px;
          }
        }
      }

      &.workshops, &.screencasts, &.bytes {
        text-align: left;

        a {
          border-radius: 3px;
          @include box-sizing(content-box);
          display: inline-block;
          margin: 0;
          padding: 1em;
          text-align: left;
          @include transition(.2s);
          vertical-align: top;
          width: 197px;

          p {
            margin-bottom: 0;
          }

          &:hover {
            background: lighten($warmgray, 12%);
          }

          &:active {
            background: $warmgray;
            @include transition(0s);
          }
        }

        hgroup {
          h4 {
            color: lighten($darkwarmgray, 20%);
            font: 100 12px/1.3em $sans-serif;
            margin-bottom: .3em;
            text-shadow: none;
            text-transform: uppercase;

            span {
              background: yellow;
              box-shadow: 0 0 0 .3em yellow;
              color: rgb(197, 145, 79);
              font-weight: 700;
              margin: 0 .5em 0 0;
              padding: 0 0.3em;
            }
          }

          h3 {
            color: $darkwarmgray;
            font: 600 18px/1.3em $sans-serif;
            margin: 0;
          }
        }

        p {
          font: 400 18px/1.3em $sans-serif;
        }
      }
    }
  }

  section#subscription-banner {
    padding: 0 1em 0 1em;
    text-align: center;

    a {
      @extend %main-content-box;
      display: block;
      width: 100%;

      &:hover {
        h3 {
          color: $red;
        }
      }

      h3 {
        line-height: 1.3em;
        margin: 0;
        padding: 0;

        span {
          color: $learnred;
        }
      }
    }
  }

  .article {
    .subscription_icon, .excerpt {
      display: none;
    }
  }

  @include body-mobile {
    .products-container {
      width: 100% !important;
    }
  }
}
