#header-wrapper.dashboard {
  background: none;

  .header-container {
    padding-left: 0;
    padding-right: 0;
    @include product-card-widths(5);
    text-align: center;

    @include dashboard-small {
      padding-bottom: 0 !important;
    }

    .small-logo {
      display: inline-block;
      float: none;
      width: auto;

      a {
        color: $learnred;
      }
    }

    nav {
      position: absolute;
      right: 0;
      top: 46px;
      width: auto;

      @include dashboard-large {
        right: 3rem;
      }

      @include dashboard-medium {
        margin: 1rem 0;
        padding: 0 1rem;
        position: static;
        width: 100%;
      }
    }
  }
}

// used on the marketing page as well
.product-card {
  @extend %product-card;
}

.card-slider {
  $slide-button-width: 7.5rem;
  margin: auto;
  overflow: hidden;
  padding: $product-card-margin $slide-button-width;
  position: relative;
  @include product-card-widths(7, max-width, ($slide-button-width * 2));
  white-space: nowrap;

  @include dashboard-small {
    overflow-x: scroll;
    padding: $product-card-margin 1rem;
    -webkit-overflow-scrolling: touch;
  }

  > figure {
    margin-right: $product-card-margin;
    margin-right: calc(#{$product-card-margin} - 4px); // remove inline-block 4px space issue
    @include transition(.15s);
    vertical-align: top;
    white-space: normal;

    &:hover {
      .notification {
        @include transform(translateY(.15rem));
      }
    }

    .notification {
      @include transition(.25s);
    }
  }

  .nav {
    background: url('learn/slider-arrow.svg') no-repeat center $lightwarmgray;
    background-size: 35px;
    cursor: pointer;
    @include position(absolute, 0px 0 0px 0);
    @include transition(.05s);
    @include user-select(none);
    vertical-align: middle;
    width: $slide-button-width;
    z-index: 2;

    @include dashboard-small {
      display: none;
    }

    &:not(.disabled):hover {
      background-position: 55% center;
    }

    &:not(.disabled):active {
      background-position: 55% center;
      background-size: 33px;
    }

    &.disabled {
      background-image: none;
      cursor: default;
    }

    &.prev {
      left: 0;
      @include transform(rotate(180deg));
    }

    &.next {
      right: 0;
    }
  }
}

body.products-index .forum {
  @include box-sizing(content-box);
  margin: auto;
  overflow: hidden;
  padding: 0 $product-card-margin;
  position: relative;
  @include product-card-widths(3);

  @include dashboard-large {
    width: 50%;
  }

  @include dashboard-small {
    box-sizing: border-box;
    margin: 0 auto $product-card-margin;
    padding: 0;
    width: 100%;
    @include product-card-widths(1, width);
  }

  p, a {
    color: $darkwarmgray;
    font: 700 1.6rem/1.2em $sans-serif;

    @include dashboard-small {
      font-size: 1.2rem;
    }
  }

  a {
    border-bottom: 1px solid $darkwarmgray;
    display: inline-block;
    font-weight: 100;
    padding-bottom: 2px;
  }
}

body.products-index .reading {
  @include box-sizing(content-box);
  margin: auto;
  overflow: auto;
  padding: $product-card-margin;
  @include product-card-widths(5);

  @include dashboard-small {
    padding: 5px;
  }

  %light-button {
    background: $lightwarmgray;
    border-bottom: 2px solid darken($lightwarmgray, 10%);
    border-radius: 0 0 3px 3px;
    color: $darkwarmgray;
    font: 600 1.2rem/1.2em $sans-serif;
    padding: 1.25rem 1.75rem;
    @include transition;

    &:hover {
      background: lighten($lightwarmgray, 2%);
    }

    &:active {
      @include transition(none);
      background: darken($lightwarmgray, 6%);
      border-bottom-color: transparent;
      @include transform(translateY(2px));
    }
  }

  header {
    border-radius: 3px 3px 0 0;
    margin-bottom: 1rem;
    padding: .75rem;

    h2 {
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2em;
    }
  }

  .bytes {
    float: left;
    margin-right: 3rem;
    @include product-card-widths(3, width);

    @include dashboard-medium {
      margin-bottom: $product-card-margin;
    }

    header {
      background: #8f8ee8;
    }

    > a {
      display: block;
      margin: 2rem $product-card-margin 0;

      hgroup {
        h4 {
          margin: 0;
        }

        h3 {
          color: $darkwarmgray;
          font-size: 1.6rem;
          font-weight: 700;
          margin: 0 0 1rem;
        }
      }
    }

    .bytes-index {
      @extend %light-button;
      text-align: center;
    }
  }

  .books {
    float: right;
    @include product-card-widths(2, width);

    header {
      background: #83d4b7;
    }

    .figure-container {
      height: 195px;
      margin: 2rem 1rem 0;
      overflow: hidden;
      padding-top: .25rem;
      position: relative;

      &:hover {
        figure {
          @include transform(translateY(-.25rem));

          .notification {
            @include transform(translateY(.15rem));
          }
        }
      }

      a {
        @extend %light-button;
        bottom: 0;
        position: absolute;
        width: 100%;

        @include dashboard-medium {
          left: 1.5rem;
          right: 1.5rem;
          width: auto;
        }

        @include dashboard-small {
          left: 0;
          right: 0;
        }
      }
    }

    figure {
      display: block;
      margin-left: 2rem;
      @include transition(.25s);
      width: $product-card-width * .9;

      .notification {
        left: 115%;
        top: 20%;
        @include transition(.25s);

        @include dashboard-medium {
          left: -2rem;
          top: 2%;
        }

        &:after {
          content: none;
        }
      }
    }
  }

  .list {
    background: white;
    border-radius: 3px;
    overflow: auto;
    padding: .25rem .25rem 1rem;

    @include dashboard-large {
      margin-right: 0;
      width: 47%;
    }

    @include dashboard-medium {
      float: none;
      width: 100%;
    }

    > a, .figure-container {
      @include dashboard-medium {
        float: left;
        margin: 2rem 0 0 0;
        width: 33.33%;
        padding: 0 $product-card-margin / 2;

        &.bytes-index {
          clear: both;
          margin-left: 0;
          width: 100%;
        }
      }

      @include dashboard-small {
        float: none;
        width: 100%;
      }
    }
  }
}
