body.products-show,
body.video_tutorials-show,
body.products-show aside,
body.video_tutorials-show aside,
body.shows-show aside,
body.videos-show aside {
  #license > div:last-child {
    margin-bottom: 2rem;
  }

  div {

    h2 a {
      color: $darkwarmgray;
      font-family: $sans-serif;
      font-weight: 800;
    }

    .active-subscription, .active-subscription span {
      font: italic 400 0.9rem/1.5em $serif;
      margin: .5rem 0 0.8rem;
    }

    .when {
      font-family: $sans-serif;
      font-weight: 600;
      margin: 0 0 .75rem;
    }

    .license {
      margin-top: 0;
    }

    .button {
      @extend %button;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 1.5em;
      margin-top: 0;
      padding: 1em;
      text-align: center;
    }

    .location-name {
      color: $darkwarmgray;
      font: 800 36px/40px $sans-serif;
    }
  }

  .subscription-cta {
    margin: 1.5rem 0 1.5em 0;

    h2 {
      color: $darkwarmgray;
      font: 800 1.4rem/1.2 $sans-serif;
      margin: 0 0 .75rem 0;
    }
  }

  .teachers {
    list-style-type: none;
    margin: 2rem 0 0 0;

    li {
      @include display(flex);
      @include flex-direction(column);
    }

    .teacher-info {
      @include display(flex);
      @include flex-direction(row);
    }

    .teacher-name {
      margin: 1rem 0 0 1rem;
    }

    h2, h5 {
      margin: 0;
    }

    .bio {
      margin-top: .5rem;
    }
  }
}

#additional-information {
  background: lighten($warmgray, 5%);

  #additional-information-wrapper {
    @include outer-container;
    max-width: $max-width;
    padding: 3em 0 1.5em 0;

    #main-content {
      @include span-columns(12);
      padding: 0 2em;
    }

    h4 {
      margin-bottom: 10px;
    }

    ul li {
      @include span-columns(6);
    }
  }
}

@include body-mobile {
  #additional-information {
    input[type="text"] {
      display: block;
      width: 100% !important;
    }

    input[type="submit"] {
      margin-left:  0 !important;
      width: 100%;
    }

    #additional-information-wrapper {
      ul li {
        @include span-columns(12);
        width: 100%;
      }
    }
  }
}
