body.products-show, body.workshops-show {
  .discount-title {
    color: $darkwarmgray;
    font-size: 18px;
    margin: 12px 0 24px;
    text-align: center;
  }

  #faq {
    border-top: 1px dashed #ccc;
    margin-top: 2em;

    dt {
      margin-top: 2em;
    }

    dt p {
      font-weight: 600;
    }
  }

  #book-graphic {
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.35);
    float: right;
    margin: 15px 0 20px 25px;
    position: relative;
    @include transition;
    width: 185px;

    &:hover {
      bottom: 3px;
    }

    img {
      display: block;
    }

    .title {
      background: hsla(0, 0%, 22%, 0.75);
      bottom: 50px;
      color: white;
      font-size: 18px;
      left: 0;
      padding: 10px 0;
      position: absolute;
      text-align: center;
      text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.45);
      width: 100%;
    }

    a:hover .title {
      background: rgba($learnred, 0.75);
      @include transition;
    }
  }

  #table-of-contents {
    margin-top: 2em;
  }

  .teachers {
    margin: 4em 0 0 0;
    padding-bottom: 0;
    position: relative;

    li {
      list-style-type: none;
      margin-left: 0;
    }

    img {
      border-radius: 3px;
      float: left;
      margin: 0 20px 20px 0;
      vertical-align: text-top;
    }

    h2 {
      margin: 0 0 12px 0;
      padding: 0;
    }

    h5 {
      font-weight: 800;
      margin: 0;
    }

    .bio {
      margin-left: 114px;
    }
  }

  .what-you-learn {
    @include outer-container;
    background-color: $lightwarmgray;
    border-radius: 3px;
    margin: 28px 0 28px 0;
    padding: 4%;

    h3 {
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
    }

    ul {
      margin-top: 12px;
    }

    li {
      @include span-columns (6);
      margin-left: 0;
      margin-top: 6px;
      padding: 4px;
      display: inline;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .workshop-alert {
    background: $lightwarmgray;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;

    a {
      color: $learnred;
    }

    b {
      font-weight: bold;
    }
  }

  aside {
    .prime-purchase {
      margin: 26px 0 1.5em 0;

      h2 {
        color: $learnred;
        font: 800 26px/28px $sans-serif;
      }

      .or {
        text-align: center;
        text-transform: uppercase;
        font: 700 .8em $sans-serif;
        padding: 0;
        margin: 2.5em 0 2em;
        position: relative;

        &:after, &:before {
          @include position(absolute, .6em 0 0 0px);
          content: '';
          display: block;
          width: 15%;
          border-top: 1px solid $darkwarmgray;
        }

        &:before {
          right: 0;
          left: auto;
        }
      }
    }

    .section-location, #license {
      > div {
        margin-bottom: 26px;

        h2 {
          span {
            color: $darkwarmgray;
          }

          &.active-subscription, &.active-subscription span {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.4rem;
            margin-bottom: .5rem;
          }
        }

        .license {
          margin-top: 0;

          p {
            font-size: 14px;
            margin-top: -14px;
            text-align: center;
          }
        }

        .license-button {
          margin-bottom: 0;
          text-transform: uppercase;
        }

        .button.non-free {
          padding: 8px 0 6px;
          background: darken($warmgray, 20%);
          border-color: $darkwarmgray;
        }

        .location-name {
          color: $darkwarmgray;
          font: 800 36px/40px $sans-serif;
        }

        .when {
          margin-top: 0;
        }
      }

      &.subscription {
        .prime-purchase {
          display: none;
        }

        h2 {
          color: $learnred;
        }

        .individual-purchase, .company-purchase {
          .button.non-free {
            padding: 12px 0 8px;
            background: $learnred;
            border-color: darken($learnred, 20%);
          }
        }
      }
    }

    .section-location:nth-child(2n) {
      margin-top: 30px;
    }
  }

  #additional-information {
    background: $warmgray url("learn/learn-arrows-top.png") repeat-x left top;
    background-color: $warmgray;

    #additional-information-wrapper {
      @include outer-container;
      max-width: $max-width;
      padding: 3em 0 3em 0;

      #main-content {
        @include span-columns(12);
        padding: 0 2em;
      }

      h4 {
        margin-bottom: 10px;
      }

      ul li {
        @include span-columns(6);
      }
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    #additional-information {
      input[type="text"] {
        display: block;
        width: 100% !important;
      }

      input[type="submit"] {
        margin-left:  0 !important;
        width: 100%;
      }

      #additional-information-wrapper {
        ul li {
          @include span-columns(12);
          width: 100%;
        }
      }
    }
  }
}
