body.products-index, body.purchases {
  section#promo-wrapper {
    @include outer-container;
    margin: 0 auto;
    padding: 0 1em 3em 1em;
    text-align: center;

    .products-container {
      @include span-columns(4);
      text-align: left;

      ul {
        li {
          margin-bottom: 30px;
          margin-left: 0px;
        }

        li p {
          margin-top: 6px;
        }
      }
    }
  }

  section#subscription-banner {
    @extend #promo-wrapper;
    padding: 0 1em 0 1em;

    a {
      @extend .text-box;
      display: block;
      width: 100%;

      &:hover {
        h3 {
          color: lighten($darkwarmgray, 15%);
        }
      }

      h3 {
        margin: 0;
        padding: 0;

        span {
          color: $learnred;
        }
      }
    }
  }

  .article {
    .subscription_icon, .excerpt {
      display: none;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    .products-container {
      width: 100% !important;
    }
  }
}

body.purchases {
  h2 {
    em {
      color: $darkwarmgray;
    }

    em.totalprice {
      color: $red;
    }
  }

  section#subscription-banner {
    margin: 1em 0 0 0;
    padding: 0;

    a {
      border: 2px solid $lightwarmgray;
      border-bottom: 2px solid $warmgray;
      margin: 0;
    }
  }
}

body.products-show, body.workshops-show {
  section.content {
    .text-box {

      #faq {
        margin-top: 30px;

        dt {
          margin-top: 16px;
        }

        dt p {
          font-weight: 600;
          margin-bottom: 4px;
        }
      }

      .hide_sample #book-graphic {
        display: none;
      }

      #book-graphic {
        box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.35);
        float: right;
        margin: 15px 0 20px 25px;
        position: relative;
        @include transition;
        width: 185px;

        &:hover {
          bottom: 3px;
        }

        img {
          display: block;
        }

        .title {
          background: hsla(0, 0%, 22%, 0.75);
          bottom: 50px;
          color: white;
          font-size: 18px;
          left: 0;
          padding: 10px 0;
          position: absolute;
          text-align: center;
          text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.45);
          width: 100%;
        }

        a:hover .title {
          background: rgba($learnred, 0.75);
          @include transition;
        }
      }

      #table-of-contents {
        margin-top: 40px;
      }

      .teachers {
        margin-top: 30px;
        padding-bottom: 0;
        position: relative;

        li {
          margin-left: 0;
        }

        img {
          border-radius: 3px;
          float: left;
          margin: 0 20px 20px 0;
          vertical-align: text-top;
        }

        h2 {
          margin: 0 0 12px 0;
          padding: 0;
        }

        .bio {
          margin-left: 114px;
        }
      }
    }

    aside {
      .section-location, #license {
        div {
          margin-top: 20px;
        }

        .license {
          margin-top: 0;

          p {
            font-size: 14px;
            margin-top: -14px;
            text-align: center;
          }
        }

        .license-button {
          text-transform: uppercase;
        }

        .when {
          margin-top: 0;
        }
      }

      .section-location:nth-child(2n) {
        margin-top: 30px;
      }

      #terms {
        margin-top: 10px;
      }
    }
  }

  #additional-information {
    background: $warmgray url("learn/learn-arrows-top.png") repeat-x left top;
    background-color: $warmgray;

    #additional-information-wrapper {
      @include outer-container;
      max-width: $max-width;
      padding: 3em 0 3em 0;

      #main-content {
        @include span-columns(12);
        padding: 0 2em;
      }

      h4 {
        margin-bottom: 10px;
      }

      ul li {
        @include span-columns(6);
      }
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    #additional-information {
      input[type="text"] {
        display: block;
        width: 100% !important;
      }

      input[type="submit"] {
        margin-left:  0 !important;
        width: 100%;
      }

      #additional-information-wrapper {
        ul li {
          @include span-columns(12);
          width: 100%;
        }
      }
    }
  }
}
