body.products-index #header-wrapper .header-container {
  @include product-card-widths(5);
  margin-bottom: 2rem;

  .back {
    display: none;
  }
}

body.products-index .forum {
  @include box-sizing(content-box);
  margin: $product-card-margin auto 0;
  overflow: hidden;
  padding: 0 $product-card-margin;
  position: relative;
  @include product-card-widths(3);

  @include dashboard-large {
    width: 50%;
  }

  @include dashboard-small {
    box-sizing: border-box;
    margin: 0 auto $product-card-margin;
    padding: 0;
    width: 100%;
    @include product-card-widths(1, width);
  }

  p, a {
    color: $darkwarmgray;
    font: 400 1.5rem/1.5em $sans-serif;

    @include dashboard-small {
      font-size: 1.2rem;
    }
  }

  a {
    border-bottom: 1px solid $darkwarmgray;
    display: inline-block;
    padding-bottom: 1px;
  }
}

body.products-index .reading {
  @include box-sizing(content-box);
  margin: auto;
  overflow: auto;
  padding: $product-card-margin;
  @include product-card-widths(5);

  @include dashboard-small {
    padding: 5px;
  }

  header {
    border-radius: 3px 3px 0 0;
    margin-bottom: 1rem;
    padding: .75rem;

    h2 {
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2em;
    }
  }

  .bytes {
    float: left;
    margin-right: 3rem;
    @include product-card-widths(3, width);

    @include dashboard-medium {
      margin-bottom: $product-card-margin;
    }

    header {
      background: #8f8ee8;
    }

    > a {
      display: block;
      margin: 2rem $product-card-margin 0;

      hgroup {
        h4 {
          margin: 0 0 .4rem;
        }

        h3 {
          color: $darkwarmgray;
          font-size: 1.6rem;
          font-weight: 700;
          margin: 0 0 1rem;
        }
      }
    }

    .bytes-index {
      @include light-button;
      text-align: center;
    }
  }

  .books {
    float: right;
    @include product-card-widths(2, width);

    header {
      background: #83d4b7;
    }

    .figure-container {
      height: 195px;
      margin: 2rem 1rem 0;
      overflow: hidden;
      padding-top: .25rem;
      position: relative;

      &:hover {
        figure {
          @include transform(translateY(-.25rem));

          .notification {
            @include transform(translateY(.15rem));
          }
        }
      }

      a {
        @include light-button;
        background-image: url('learn/slider-arrow.svg');
        background-position: 95% center;
        background-repeat: no-repeat;
        background-size: 15px;
        bottom: 0;
        position: absolute;
        width: 100%;

        @include dashboard-medium {
          left: 1.5rem;
          right: 1.5rem;
          width: auto;
        }

        @include dashboard-small {
          left: 0;
          right: 0;
        }

        &:hover {
          background-position: 96% center;
        }
      }
    }

    figure {
      display: block;
      margin-left: 2rem;
      @include transition(.25s);
      width: $product-card-width * .9;

      .notification {
        left: 115%;
        top: 20%;
        @include transition(.25s);

        @include dashboard-medium {
          left: -2rem;
          top: 2%;
        }

        &:after {
          content: none;
        }
      }
    }
  }

  .list {
    background: white;
    border-radius: 3px;
    overflow: auto;
    padding: .25rem .25rem 1rem;

    @include dashboard-large {
      margin-right: 0;
      width: 48%;
    }

    @include dashboard-medium {
      float: none;
      width: 100%;
    }

    > a, .figure-container {
      @include dashboard-medium {
        float: left;
        margin: 2rem 0 0 0;
        width: 33.33%;
        padding: 0 $product-card-margin / 2;

        &.bytes-index {
          clear: both;
          margin-left: 0;
          width: 100%;
        }
      }

      @include dashboard-small {
        float: none;
        width: 100%;
      }
    }
  }
}
