body.products-index {
  .prime-pitch {
    margin: -5em 0 5em 0;
    position: relative;
    text-align: center;

    &::after {
      background: $warmgray;
      content: '';
      margin-right: -2px;
      @include position(absolute, 0px 50% 0px 0);
      width: 5px;
      z-index: -1;
    }

    h2.subscriber {
      background: $lightwarmgray;
      margin-bottom: 2em;
      margin-top: 3em;
    }

    .prime-company-cta {
      display: block;
      background: $lightwarmgray;
      margin-top: .5em;
      padding: .5em;

      &.top {
        margin-bottom: 5em;
      }
    }

    .prime-main-cta {
      background: $learnred;
      border: 0;
      border-radius: 3px;
      display: inline-block;
      margin: 0 auto;
      padding: 1.2em 2.5em;
      text-align: center;

      &.bottom {
        margin-top: 4em;
      }

      &:hover {
        background: lighten($learnred, 5%);
      }

      &:active {
        background: darken($learnred, 5%);
      }

      h2, h3 {
        color: #fff;
        font: 700 1.75em/1em $sans-serif;
        margin: 0;
      }

      h3 {
        font-size: 1.2em;
        font-weight: 100;
        margin-top: -.2em;
      }
    }

    .products {
      margin: auto;
      margin-bottom: 4em;
      max-width: 741px;
      overflow: hidden;

      h2 {
        background: $lightwarmgray;
        color: $darkwarmgray;
        font: 700 1.75em/1.2em $sans-serif;
        margin: 0 0 1.25em;
        padding: .1em 0;
        text-align: center;

        span {
          display: block;
          font-weight: 100;
        }
      }

      &.books {
        text-align: center;

        figure {
          display: inline-block;
          margin: 0 1em 1em;

          a {
            background: #000;
            border: 0;
            display: block;
            line-height: 0;
            position: relative;
            @include transition(.15s);

            &:hover {
              top: -3px;
            }

            &:active {
              img {
                opacity: .8;
              }
            }
          }

          img {
            border-radius: 1px;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, .3));
            margin: 0;
            width: 212px;
          }
        }
      }

      &.workshops, &.screencasts, &.bytes {
        text-align: left;

        a {
          background: $lightwarmgray;
          @include box-sizing(content-box);
          display: inline-block;
          margin: 0;
          padding: .5em 1em 1em;
          text-align: left;
          @include transition(.2s);
          vertical-align: top;
          width: 215px;

          &:hover {
            background: lighten($warmgray, 10%);
          }

          &:active {
            background: $warmgray;
            @include transition(0s);
          }
        }

        hgroup {
          h4 {
            color: lighten($darkwarmgray, 20%);
            font: 100 12px/1.3em $sans-serif;
            margin-bottom: .3em;
            text-shadow: none;
            text-transform: uppercase;

            span {
              background: yellow;
              box-shadow: 0 0 0 .3em yellow;
              color: rgb(197, 145, 79);
              font-weight: 700;
              margin: 0 .5em 0 0;
              padding: 0 0.3em;
            }
          }

          h3 {
            color: $darkwarmgray;
            font: 600 18px/1.3em $sans-serif;
            margin: 0;
          }
        }

        p {
          font: 400 18px/1.3em $sans-serif;
        }
      }
    }
  }

  .trails-cta {
    border: 3px solid #ccc;
    color: #888;
    display: block;
    font-family: $sans-serif;
    margin: 8em auto 4em;
    padding: .5em;
    text-align: center;
    width: 170px;

    &:hover {
      border-color: #999;
      color: #333;
    }

    &:active {
      border-color: #666;
      color: #000;
    }
  }
}

body.products-index, body.purchases {
  section#subscription-banner {
    padding: 0 1em 0 1em;
    text-align: center;

    a {
      @extend .text-box;
      display: block;
      width: 100%;

      &:hover {
        h3 {
          color: $red;
        }
      }

      h3 {
        line-height: 1.3em;
        margin: 0;
        padding: 0;

        span {
          color: $learnred;
        }
      }
    }
  }

  .article {
    .subscription_icon, .excerpt {
      display: none;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    .products-container {
      width: 100% !important;
    }
  }
}

body.purchases {
  h2 {
    em {
      color: $darkwarmgray;
    }

    em.totalprice {
      color: $red;
    }
  }

  section#subscription-banner {
    margin: 1em 0 0 0;
    padding: 0;

    a {
      background: lighten($lightwarmgray, 3%);
      border: 2px solid darken($lightwarmgray, 8%);
      border-bottom: 2px solid darken($warmgray, 12%);
      margin: 0;
      @include position(relative, 0 0 0 -4%);
      width: 108%;

      .fakebutton {
        background: $learnred;
        border-bottom: 3px solid #660000;
        border-radius: 3px;
        box-sizing: border-box;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        line-height: 0;
        padding: .8em 1.5em .5em 1.5em;
        position: relative;
        text-transform: uppercase;
        top: -3px;
      }

      &:hover {
        background: #fff;
      }

      h3 {
        color: $learnred;
      }
    }
  }
}

body.products-show, body.workshops-show {
  section.content {
    .text-box {

      #faq {
        margin-top: 30px;

        dt {
          margin-top: 16px;
        }

        dt p {
          font-weight: 600;
          margin-bottom: 4px;
        }
      }

      #book-graphic {
        box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.35);
        float: right;
        margin: 15px 0 20px 25px;
        position: relative;
        @include transition;
        width: 185px;

        &:hover {
          bottom: 3px;
        }

        img {
          display: block;
        }

        .title {
          background: hsla(0, 0%, 22%, 0.75);
          bottom: 50px;
          color: white;
          font-size: 18px;
          left: 0;
          padding: 10px 0;
          position: absolute;
          text-align: center;
          text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.45);
          width: 100%;
        }

        a:hover .title {
          background: rgba($learnred, 0.75);
          @include transition;
        }
      }

      #table-of-contents {
        margin-top: 40px;
      }

      .teachers {
        margin-top: 30px;
        padding-bottom: 0;
        position: relative;

        li {
          margin-left: 0;
        }

        img {
          border-radius: 3px;
          float: left;
          margin: 0 20px 20px 0;
          vertical-align: text-top;
        }

        h2 {
          margin: 0 0 12px 0;
          padding: 0;
        }

        .bio {
          margin-left: 114px;
        }
      }
    }

    aside {
      .prime-purchase {
        margin: 26px 0 1.5em 0;

        h2 {
          color: $learnred;
          font: 800 26px/28px $sans-serif;
        }

        .or {
          font-style: italic;
          padding-top: .8em;
          text-align: center;
        }
      }

      .section-location, #license {
        div {
          margin-bottom: 26px;

          &.prime-purchase {
            @extend .prime-purchase;
          }

          &.individual-purchase, &.company-purchase, &#register {
            .button.non-free {
              padding: 8px 0 6px;
              background: darken($warmgray, 20%);
              border-color: $darkwarmgray;
            }
          }

          h2, .location-name {
            color: $darkwarmgray;
            font: 800 36px/40px $sans-serif;
          }

          h2.active-subscription, h2.active-subscription span {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.4rem;
            margin-bottom: .5rem;
          }
        }

        .location-name {
          color: $learnred;
          font-weight: 700;
        }

        &.subscription {
          .prime-purchase {
            display: none;
          }

          h2 {
            color: $learnred;
          }

          .individual-purchase, .company-purchase {
            .button.non-free {
              padding: 12px 0 8px;
              background: $learnred;
              border-color: darken($learnred, 20%);
            }
          }
        }

        .license {
          margin-top: 0;

          p {
            font-size: 14px;
            margin-top: -14px;
            text-align: center;
          }

          .button {
            margin-bottom: 0;
          }
        }

        .license-button {
          text-transform: uppercase;
        }

        .when {
          margin-top: 0;
        }
      }

      .section-location:nth-child(2n) {
        margin-top: 30px;
      }

      #terms {
        margin-top: 10px;
      }
    }
  }

  #additional-information {
    background: $warmgray url("learn/learn-arrows-top.png") repeat-x left top;
    background-color: $warmgray;

    #additional-information-wrapper {
      @include outer-container;
      max-width: $max-width;
      padding: 3em 0 3em 0;

      #main-content {
        @include span-columns(12);
        padding: 0 2em;
      }

      h4 {
        margin-bottom: 10px;
      }

      ul li {
        @include span-columns(6);
      }
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    #additional-information {
      input[type="text"] {
        display: block;
        width: 100% !important;
      }

      input[type="submit"] {
        margin-left:  0 !important;
        width: 100%;
      }

      #additional-information-wrapper {
        ul li {
          @include span-columns(12);
          width: 100%;
        }
      }
    }
  }
}
