body.products-show {
  #head-wrapper {
    #homepage-top {
      @extend .clearfix;
      padding: 25px 0 0 0;

      em {
        font-style: italic;
      }

      header {
        margin: 0 0 24px 0;

        h1 {
          background: none;
          color: #fff;
          height: 60px;
          text-indent: 0;
          font: 100 26px $sans-serif;
          width: 400px;

          a {
            background: url("/images/public/logo_small.png") 5px 5px no-repeat;
            color: #fff;
            display: block;
            height: 60px;
            padding: 23px 0 0 95px;
            text-decoration: none;

            &:hover {
              color: #ddd;
            }
          }
        }
      }

      #product-info {
        float: left;
        margin: 0 $gutter 0 0;
        padding: 20px 0 32px 0px;
        width: grid-width(8);

        h2 {
          color: #333;
          font: 300 36px/40px $sans-serif;
          margin: 0 0 20px 0;
        }

        p {
          color: #444;
          font: 400 15px/24px $sans-serif;
          margin: 0 0 8px 0;
        }

        ul {
          margin: 12px 0 12px 0;

          li {
            color: #444;
            font: 400 15px/24px $sans-serif;
            list-style: disc;
            margin: 0 0 4px 0;

            ul {
              margin: 6px 0 12px 15px;
            }
          }
        }

        q {
          color: #444;
          display: block;
          font: 400 15px/24px $serif;
          font-style: italic;
          left: -12px;
          margin: 24px 0 0 12px;
          position: relative;

          &:before {
           color: #555;
           content: "\201C";
           font: 300 40px $sans-serif;
           left: -16px;
           position: absolute;
           top: -4px;
          }
        }

        p.source {
          color: #555;
          font: 700 13px $sans-serif;
          margin: 2px 0 24px 0px;

          a {
            color: #333;
            margin: 0 0 0 1px;
            text-decoration: none;
          }
        }

        hr {
          margin: 20px 0 20px 0;
        }

        #benefits {
          dl {
            dt {
              p {
                color: $red;
                display: block;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
              }
            }

            dd {
              color: #333;
              font: 400 14px/20px $sans-serif;
              margin: 0 0 14px 0;

              p {
                margin: 0 0 8px 0;
              }
            }
          }
        }
      }

      #course-info {
        float: left;
        margin: 0 $gutter 0 0;
        padding: 20px 0 32px 0px;
        width: grid-width(8);

        h2 {
          color: #333;
          font: 300 36px/40px $sans-serif;
          margin: 0 0 8px 0;
        }

        p {
          color: #444;
          font: 400 15px/24px $sans-serif;
          margin: 0 0 8px 0;
        }

        ul {
          margin: 12px 0 12px 0;

          li {
            color: #444;
            font: 400 15px/24px $sans-serif;
            list-style: disc;
            margin: 0 0 4px 0;

            ul {
              margin: 6px 0 12px 15px;
            }
          }
        }

        q {
          color: #444;
          display: block;
          font: 400 15px/24px $serif;
          font-style: italic;
          left: -12px;
          margin: 24px 0 0 12px;
          position: relative;

          &:before {
           color: #555;
           content: "\201C";
           font: 300 40px $sans-serif;
           left: -16px;
           position: absolute;
           top: -4px;
          }
        }

        p.source {
          color: #555;
          font: 700 13px $sans-serif;
          margin: 2px 0 24px 0px;

          a {
            color: #333;
            margin: 0 0 0 1px;
            text-decoration: none;
          }
        }

        #faq, #benefits {
          dl {
            dt {
              p {
                color: $red;
                display: block;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
              }
            }

            dd {
              color: #333;
              font: 400 14px/20px $sans-serif;
              margin: 0 0 14px 0;

              p {
                margin: 0 0 8px 0;
              }
            }
          }
        }
      }

      #purchasing-details {
        float: left;
        margin: 0 0 20px 0;
        width: grid-width(4);

        #register {
          padding: 21px 0 10px 0;

          a {
            @include button;
          }

          p.travel {
            text-align: center;
            width: 220px;

            a {
              background: transparent;
              border: 0;
              @include box-shadow(none);
              color: #555;
              display: block;
              font-size: 12px;
              line-height: 16px;
              margin: 8px 0 0 0;
              padding: 0 10px;
              text-shadow: none;
              width: 200px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        h3 {
          color: $red;
          font: 600 13px $sans-serif;
          margin: 20px 0 2px 0;
          text-transform: uppercase;
        }

        p {
          color: #373737;
          font: 400 18px/24px $serif;

          &.cost {
            color: #333;
            font-size: 32px;
            font-weight: 400;
            padding: 0 0 16px 0;

            &.highlight {
              color: $red;
              font-size: 32px;
              margin: 20px 0 5px 0;
              padding: 0;
            }
          }

          &.cost.sold-out {
            text-decoration: line-through;
            margin-bottom: 4px;
          }

          &.notice {
            color: #333;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        a {
          border-bottom: 1px solid $red;
          color: #333;
          text-decoration: none;
        }
      }

      ul.two-column {
        display: inline-block;
        vertical-align: top;
        width: 280px;
        padding-right: 40px;
      }

      section#backbone-js-on-rails-qa-live-chat-full-notes {

        h3 {
          margin-top: 3em;
        }
      }
    }
  }

  #register-below-the-fold {
    padding: 21px 0 20px 0;

    > a {
      @include button;
      width: 800px;
      margin: 0 auto;
      text-decoration: none;
    }

    p {
      margin: 0 auto;
      font-weight: bold;
      width: 800px;
      font-size: 1.2em;
      text-align: center;
      margin-top: 12px;
    }
  }
  
  #additional-information {
    @extend .clearfix;
    background: rgba(228, 228, 228, 0.7) url("/images/shadowing.png") center 0 no-repeat;
    border-top: 1px solid #DCDCDC;
    margin: 14px 0 0 0;
    padding: 40px 0;

    #additional-information-wrapper {
      margin: 0 auto;
      width: 995px;

      h4 {
        color: #222;
        font: 600 20px $sans-serif;
        margin: 0 0 12px 0;
      }

      #main-content {
        float: left;
        margin: 0 25px 0 0;
        width: grid-width(8);
      }


      #notify-me {
        background: #ddd;
        color: #333;
        margin-right: 0;

        input[type="text"] {
          width: 580px;
        }
      }

      #terms {
        float: left;

        h4.terms {
          color: #555;
          font: 600 16px $sans-serif;
        }

        ul {
          margin: 12px 0 0 0;
          list-style: outside;
        }

        li,
        p {
          color: #666;
          font: 400 14px/18px $sans-serif;
          margin: 0 0 6px 0;
        }

        li ul {
          margin-left: 24px;
        }

        dt p {
          font-weight: bold;
          line-height: 18px;
          margin: 0;
        }

        dd {
          margin: 0 0 12px 0;
          line-height: 18px;
        }
      }


      #sidebar {
        float: right;
        width: grid-width(4);

        li {
          @extend .clearfix;
          margin: 0 0 18px 0;
        }

        img {
          float: right;
          margin: 3px 0px 10px 20px;
        }

        h5 {
          color: $red;
          font: 700 16px/20px $sans-serif;
          margin: 0 0 2px 0;
        }

        .bio p {
          font: 400 14px/20px $sans-serif;
          margin: 0 0 6px 0;
        }
      }
    }
  }
}

#additional-information #faq {
  border-bottom: none;
}
