body.products-show,
body.videos-show {
  .text-box-wrapper {
    .text-box {
      padding-top: 20px;
      overflow: auto;
    }

    .video-button-wrapper {
      text-align: center;
    }

    .get-video {
      width: 60%;
    }

    .video-button-wrapper + h3,
    .video-button-wrapper + p {
      margin-top: 30px;
    }
  }

  .download_items, .resources ul {
    padding-bottom: 0;
    list-style-type: none;
  }

  aside > div {
    margin-bottom: 1.25rem;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  @include body-mobile {
    .assets-wrapper {
      .assets {
        .button-mini {
          @include span-columns(12);
        }
      }
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
   .video-headline {
     text-align: left;
    }
  }

  @include body-mobile {
    .text-box-wrapper .get-video {
      width: 80% !important;
    }

    .assets-wrapper .assets .button-mini {
      @include span-columns(12);
      margin-top: 20px;
    }
  }
}
