body.purchases {
  .workshop-sign-in, .github-signin {
    background: rgba(228, 228, 228, 0.7) center 0 no-repeat;
    border: 1px solid gainsboro;
    font-size: 16px;
    margin: 30px 0 0 0;
    padding: 6px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  textarea,
  input[type="email"],
  input[type="select"] {
    background-color: $lightwarmgray;
    border: 1px solid white;
  }

  fieldset {
    legend {
      color: $darkwarmgray;
      font: 700 26px/25px $sans-serif;
      padding: 24px 0 12px 0;
    }

    #purchase_comments {
      height: 100px;
    }

    li {
      &.payment-errors {
        color: $learnred;
        font-style: bold;
      }

      &#purchase_submit_action {
        margin-left: 0;
        margin-top: 40px;
        width: 100%;

        input {
          width: 100%;
        }
      }

      &#purchase_city_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(6);
      }

      &#purchase_state_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(3);
      }

      &#purchase_zip_code_input {
        float: left;
        width: flex-grid(3);
      }

      &#purchase_payment_method_input {
        * {
          vertical-align: middle;
        }
        label, input {
          display: inline-block;

          img {
            display: inline-block;
            margin-right: 3px;
          }
        }
      }
    }
  }

  #billing-information {
    ol {
      width: 100%;

      li {
        &.overflow {
          @extend .clearfix;
        }

        &#purchase_expiration_input {
          float: left;
          margin-right: flex-gutter();
          width: flex-grid(8);

          select {
            border: 1px solid $darkwarmgray;
            @include box-shadow(none);
            @include box-sizing(border-box);
            font: 14px $sans-serif;
            margin: 3px 0 0 0;
            padding: .5em;
            -webkit-appearance: none;
            width: flex-grid(6);

            &:first-child {
              margin-right: flex-gutter();
            }

            &:focus {
              border: 1px solid $learnred;
              outline-color: none;
              outline: none;
            }
          }
        }

        &#purchase_cvc_input {
          float: left;
          width: flex-grid(4);
        }

        &#purchase_country_input {
          clear: left;
        }

        &#purchase_cc_existing {
          input, label {
            display: inline-block;
          }
        }
      }
    }
  }

  @media screen and (max-width: 910px) {
    fieldset ol {
      li#purchase_city_input {
        float: left;
        width: flex-grid(12);
      }

      li#purchase_zip_code_input,
      li#purchase_state_input {
        float: left;
        width: flex-grid(6);
      }
      li#purchase_country_input {
        float: left;
        width: flex-grid(12);
      }
    }
  }
}

body {
  &.purchases-show,
  &.videos {
    section.content {
      section.receipt {
        margin-top: 50px;
        @include outer-container;

        strong {
          font-weight: bold;
        }

        .billing-address {
          @include nth-omega(2n);
          @include span-columns(6);
          margin-bottom: 10px;
          margin-top: 20px;
        }

        .item {
          margin-top: 20px;
        }

        .purchase-pricing {
          @include span-columns(12);
          margin-bottom: 20px;
          margin-top: 20px;

          tbody {
            @include outer-container;
          }

          tr {
            @include span-columns(10);
          }

          td {
            color: $darkwarmgray;
            font: normal 17px $serif;
            margin-bottom: 6px;
            text-align: left;
            @include span-columns(6);

            &.amount {
              text-align: right;
              @include span-columns(4);
            }
          }
        }
      }

      .text-box-wrapper {
        .video-button-wrapper {
          text-align: center;
        }

        .get-video {
          text-align: center;
          text-transform: uppercase;
          width: 60%;
        }

        .video-button-wrapper + h3,
        .video-button-wrapper + p {
          margin-top: 30px;
        }
      }
    }

    .video-headline {
      text-align: center;
      margin-bottom: 10px;
      padding-top: 0px;
    }

    #videos {
      @include outer-container;
      max-width: 760px;

      .unavailable {
        opacity: 0.5;
      }
    }

    .videos {
      text-align: left;
    }

    .videoinfo {
      color: $darkwarmgray;
      display: inline-block;
      font: italic 17px $serif;
      vertical-align: middle;
    }

    p.chat {
      font: italic 17px $serif;
      margin-top: 0;
    }

    .assets-wrapper {
      margin: 20px 0;

      .assets {
        @include outer-container;

        .button-mini {
          @include span-columns(4);

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
      .assets-wrapper {
        .assets {
          .button-mini {
            @include span-columns(12);
          }
        }
      }
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
   .video-headline {
     text-align: left;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    section.receipt .billing-address,
    section.receipt .purchase-pricing {
      @include span-columns(12);

      tr {
        @include span-columns(12);
      }

      td {
        @include span-columns(8);

        &.amount {
          @include span-columns(4);
        }
      }
    }

    .text-box-wrapper .get-video {
      width: 80% !important;
    }

    .purchase-return-link {
      display: block;
      float: left;
      margin-top: 0;
    }

    .assets-wrapper .assets .button-mini {
      @include span-columns(12);
      margin-top: 20px;
    }
  }
}
