body.purchases-new, body.purchases-create {
  h2 em.totalprice {
    color: $red;
  }

  section#subscription-banner {
    margin: 2em 0 0 0;
    padding: 0;

    a {
      background: lighten($warmgray, 6%);
      border-radius: 3px;
      display: block;
      margin: 0;
      padding: 1em 0;
      text-align: center;
      @include transition(.1s);
      width: 100%;

      .fakebutton {
        background: $learnred;
        border-bottom: 3px solid #660000;
        border-radius: 3px;
        box-sizing: border-box;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        line-height: 0;
        padding: .8em 1.5em .5em 1.5em;
        position: relative;
        text-transform: uppercase;
        top: -3px;
      }

      &:hover {
        background: lighten($warmgray, 10%);;
        padding: .9em 0 1.1em 0;
      }

      &:active {
        background: $warmgray;
        @include transition(0s);
      }

      h3 {
        color: $learnred;
        line-height: 1.4em;
        margin: 0;
      }
    }
  }

  fieldset {
    #purchase_comments {
      height: 100px;
    }

    li {
      margin-right: 0;

      &#purchase_city_input,
      &#purchase_state_input,
      &#purchase_zip_code_input,
      &#purchase_country_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(3);
      }

      &#purchase_country_input {
        margin-right: 0;
      }

      &#purchase_submit_action {
        margin-top: 40px;
        width: 100%;
      }

      &#purchase_payment_method_input {
        * {
          vertical-align: middle;
        }

        label, input {
          display: inline-block;

          img {
            display: inline-block;
            margin-right: 3px;
          }
        }
      }
    }
  }

  #total {
    display: inline-block;
  }

  .sign-in-prompt {
    display: inline-block;
    margin: 0 0 0 .6em;
  }

  @media screen and (max-width: 910px) {
    fieldset ol {
      li#purchase_city_input {
        float: left;
        width: flex-grid(12);
      }

      li#purchase_zip_code_input,
      li#purchase_state_input {
        float: left;
        width: flex-grid(6);
      }

      li#purchase_country_input {
        float: left;
        width: flex-grid(12);
      }
    }
  }
}
