body.purchases-new, body.purchases-create {
  h2 em.totalprice {
    color: $red;
  }

  .coupon-note a {
    background: #f0f0f0;
    border-radius: 3px;
    display: block;
    padding: .5rem 1rem;
  }

  .coupon {
    form {
      margin-bottom: 1em;
      position: relative;
    }

    label {
      display: none;
    }

    input[type='submit'] {
      border-bottom: 0;
      height: 41px;
      @include position(absolute, 7px 3px 0px 0);
    }
  }

  section#subscription-banner {
    margin: 2em 0 0 0;
    padding: 0;

    a {
      background: lighten($warmgray, 6%);
      border-radius: 3px;
      display: block;
      margin: 0;
      padding: 1em 0;
      text-align: center;
      @include transition(.1s);
      width: 100%;

      &:hover {
        background: lighten($warmgray, 10%);;
      }

      &:active {
        background: $warmgray;
        @include transition(0s);
      }

      h3 {
        color: $learnred;
        line-height: 1.4em;
        margin: 0;
      }
    }
  }

  .subscriber_purchase {
    margin-bottom: 0;

    input[type="submit"] {
      @include prime-button;
      padding: .75rem 1rem;
      width: 100%;
    }
  }

  fieldset {
    #purchase_comments {
      height: 100px;
    }

    li {
      margin-right: 0;

      &#purchase_city_input,
      &#purchase_state_input,
      &#purchase_zip_code_input,
      &#purchase_country_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(3);
      }

      &#purchase_country_input {
        margin-right: 0;
      }

      &#purchase_submit_action {
        margin-top: 40px;
        width: 100%;
      }

      &#purchase_payment_method_input {
        * {
          vertical-align: middle;
        }

        label, input {
          display: inline-block;

          img {
            display: inline-block;
            margin-right: 3px;
          }
        }
      }
    }
  }

  aside.terms {
    ul {
      list-style-type: none;
    }
  }

  @media screen and (max-width: 910px) {
    fieldset ol {
      li#purchase_city_input {
        float: left;
        width: flex-grid(12);
      }

      li#purchase_zip_code_input,
      li#purchase_state_input {
        float: left;
        width: flex-grid(6);
      }

      li#purchase_country_input {
        float: left;
        width: flex-grid(12);
      }
    }
  }
}
