body.purchases {

  fieldset {
    #purchase_comments {
      height: 100px;
    }

    li {
      margin-right: 0;

      &#purchase_city_input,
      &#purchase_state_input,
      &#purchase_zip_code_input,
      &#purchase_country_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(3);
      }

      &#purchase_country_input {
        margin-right: 0;
      }

      &#purchase_submit_action {
        margin-top: 40px;
        width: 100%;
      }

      &#purchase_payment_method_input {
        * {
          vertical-align: middle;
        }

        label, input {
          display: inline-block;

          img {
            display: inline-block;
            margin-right: 3px;
          }
        }
      }
    }
  }

  #total {
    display: inline-block;
  }

  .sign-in-prompt {
    background: none;
    display: inline-block;
    margin: 0 0 0 .6em;
    padding: 0;
    text-align: left;

    a {
      font-family: $serif;
    }
  }

  #billing-information {
    ol {
      width: 100%;

      li {
        &.overflow {
          @extend .clearfix;
        }

        &#purchase_expiration_input {
          float: left;
          margin-right: flex-gutter();
          width: flex-grid(8);

          select {
            border: 1px solid $darkwarmgray;
            @include box-shadow(none);
            @include box-sizing(border-box);
            float: left;
            font: 14px $sans-serif;
            height: 47px;
            margin: 5px 0 0 0;
            padding: .5em;
            -webkit-appearance: none;
            width: flex-grid(6);

            &.card-expiry-month {
              margin-right: flex-gutter();
            }

            &:focus {
              border: 1px solid $learnred;
              outline: none;
              outline-color: none;
            }
          }
        }

        &#purchase_cvc_input {
          float: left;
          width: flex-grid(4);
        }

        &#purchase_country_input {
          clear: left;
        }

        &#purchase_cc_existing {
          input, label {
            display: inline-block;
          }
        }
      }
    }
  }

  @media screen and (max-width: 910px) {
    fieldset ol {
      li#purchase_city_input {
        float: left;
        width: flex-grid(12);
      }

      li#purchase_zip_code_input,
      li#purchase_state_input {
        float: left;
        width: flex-grid(6);
      }

      li#purchase_country_input {
        float: left;
        width: flex-grid(12);
      }
    }
  }
}

body {
  &.purchases-show,
  &.videos {
    section.content {
      h2 {
        color: $darkwarmgray;
      }

      section.receipt {
        @include outer-container;
        margin-top: 50px;

        .billing-address {
          @include nth-omega(2n);
          @include span-columns(6);
          margin-bottom: 10px;
          margin-top: 20px;
        }

        .item {
          margin-top: 20px;
        }

        .purchase-pricing {
          @include span-columns(12);
          margin-bottom: 20px;
          margin-top: 20px;

          tbody {
            @include outer-container;
          }

          tr {
            @include span-columns(10);
          }

          td {
            margin-bottom: 6px;
            text-align: left;
            @include span-columns(6);

            &.amount {
              text-align: right;
              @include span-columns(4);
            }
          }
        }
      }

      .text-box-wrapper {
        .text-box {
          overflow: auto;
        }

        .video-button-wrapper {
          text-align: center;
        }

        .get-video {
          width: 60%;
        }

        .video-button-wrapper + h3,
        .video-button-wrapper + p {
          margin-top: 30px;
        }
      }

      .download_items {
        padding-bottom: 0;
      }
    }

    .video-headline {
      margin-bottom: 10px;
      padding-top: 0px;
      text-align: center;
    }

    #videos {
      @include outer-container;
      .unavailable {
        opacity: 0.5;
      }
    }

    .videos {
      text-align: left;
    }

    .videoinfo {
      display: inline-block;
      vertical-align: middle;
    }

    figure.book-cover {
      margin: 2.5em 0;
      text-align: center;

      img {
        display: inline-block;
        margin-right: 2.5em;
        width: 300px;

        @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
          margin: 0;
        }
      }

      figcaption {
        display: inline-block;
        margin: 0;
        max-width: 300px;
        text-align: left;
        vertical-align: top;

        @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
          margin-top: 2em;
        }

        h3 {
          color: #000;
          font-weight: 800;
          margin: 0 0 1em 0;
        }

        p {
          margin: 0 0 1em 0;

          a {
            color: inherit;
            display: block;
            font-family: $sans-serif;
            font-weight: 600;
            overflow: auto;
          }

          .title, .date {
            font-weight: 100;
          }
        }

        p:nth-child(3) {
          opacity: .7;
        }

        p:nth-child(4) {
          opacity: .4;
        }

        .allupdates {
          margin-top: 1em;
          color: $learnred;
        }
      }
    }

    .start-reading {
      margin-bottom: 1em;

      .button {
        margin-bottom: 1em;
      }

      .readmill {
        background: #58852c;
        border-color: darken(#58852c, 20%);

        &:hover {
          background: lighten(#58852c, 5%);
          border-color: darken(#58852c, 15%);
        }

        &:active {
          background: darken(#58852c, 5%);
          border-color: darken(#58852c, 25%);
        }
      }
    }

    .assets-wrapper {
      margin: 20px 0;

      .assets {
        @include outer-container;

        .button-mini {
          @include span-columns(4);

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }

    @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
      .assets-wrapper {
        .assets {
          .button-mini {
            @include span-columns(12);
          }
        }
      }
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
   .video-headline {
     text-align: left;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    section.receipt .billing-address,
    section.receipt .purchase-pricing {
      @include span-columns(12);

      tr {
        @include span-columns(12);
      }

      td {
        @include span-columns(8);

        &.amount {
          @include span-columns(4);
        }
      }
    }

    .text-box-wrapper .get-video {
      width: 80% !important;
    }

    .purchase-return-link {
      display: block;
      float: left;
      margin-top: 0;
    }

    .assets-wrapper .assets .button-mini {
      @include span-columns(12);
      margin-top: 20px;
    }
  }
}
