#head-wrapper {
  #homepage-top {

#purchase-products {
  width: flex-grid(12);

   .purchase-product {
      float: left;
      margin-left: 0;
      margin-bottom: 1.2em;
      margin-right: flex-gutter();
      width: flex-grid(4);
      
      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        clear: both;
      }

      a {
        display: block;
        padding: .5em 0 .5em 0;
        text-decoration: none;
      }

      h3 {
        font-weight: 600;
        line-height: 1.2em;    
        }

      p {
        font-size: 14px;
        color: #555;
        font-family: $sans-serif;
        line-height: 20px;
      }
    }
  }
}
}