#head-wrapper {
  #homepage-top {
    #purchase-products {
      width: flex-grid(12);

     .purchase-product {
        float: left;
        margin-left: 0;
        margin-bottom: 1.2em;
        margin-right: flex-gutter();
        width: flex-grid(4);

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(4n) {
          clear: both;
        }

        a {
          display: block;
          padding: .5em 0 .5em 0;
          text-decoration: none;
        }

        h3 {
          font-weight: 600;
          line-height: 1.2em;    
          }

        p {
          font-size: 14px;
          color: #555;
          font-family: $sans-serif;
          line-height: 20px;
        }
      }
    }
  }
}

body.purchases-show {
  h4 {
    @include border-radius(5px);
    background-color: #AD141E;
    padding: 20px;
    width: 200px;
    margin: 20px auto;
    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

body.purchases {
  p.chat {
    font-weight: bold;
  }
}

body.purchases-watch {
  p.chat {
    margin-bottom: 50px;
    margin-top: -50px;
  }
}
