.questions,
.quizzes,
.results {
  #header-wrapper {
    margin: 0 auto;

    @include body-mobile {
      nav {
        display: none;
      }
    }
  }
}

.questions-show {
  .hidden {
    display: none;
  }

  .confidence {
    margin-top: 30px;
  }

  .confidence-prompt {
    margin-bottom: 25px;
  }

  .confidence form {
    display: inline;
  }

  .low-rating {
    margin-top: 25px;
  }
}
