body.sessions,
body.users,
body.clearance-users {
  form {
    fieldset {
      ol {
        li {
          margin-bottom: flex-gutter();


        }
      }
    }
  }

//is this scss ever used or can it be removed?
  #form-sidebar {
    float: left;
    padding: 205px 0 0 0;
    width: 100%;

    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      margin: 0;
      margin-bottom: 12px;
      text-rendering: optimizeLegibility;
    }

    p {
      color: #666;
      margin: 0 0 6px 0;
    }

    ul {
      color: #666;
    }

    li {
      color: #666;
      list-style: outside;
      margin: 0 0 4px 15px;
    }
  }
}

body.purchases,
body.users-edit {
  #form-column {
    float: left;
    width: 100%;
  }
}
