#flash {
  #flash_failure {
    background: #f8bcba;
    margin: 0 0 15px 0;
    padding: 15px;
  }
}

body.registrations,
body.purchases, 
body.sessions,
body.users {
  #container {
    background: url("/images/shadowing.png") center top no-repeat;
    padding: 72px 0 0 0;
  }

  #form-container {
    @extend .clearfix;
  }
  
  h1.course-title {
    text-rendering: optimizeLegibility;
    color: #666;
    font-family: $sans-serif;
    font-size: 36px;
    font-weight: 200;
    line-height: 36px;
    margin-bottom: 12px;

    span {
      color: #000;
      font-weight: 700;
    }
  }

  .workshop-sign-in {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    padding: 6px;
    background: rgba(228, 228, 228, 0.7) center 0 no-repeat;
    border: 1px solid gainsboro;
    
    a {
    text-decoration: none;    
    }
  }

  #total {
    overflow: hidden;
    margin-bottom: 12px;

    p.price {
      display: block;
      float: left;
      font: 700 36px/36px $sans-serif;
    }

    p.coupon-note {
      display: block;
      float: left;

      a {
        color: $red;
        display: block;
        font: 400 16px/16px $sans-serif;
        line-height: 2.25em;
        margin-left: .5em;
        text-decoration: none;
      }
    }
  }

  div.coupon {
    margin: 12px 0;
  }

  form {
    fieldset {
      ol {
        li {
          margin-bottom: flex-gutter();

          &.payment-errors {
            color: $red;
          }

          &#purchase_payment_method_input {
            * {
              vertical-align: middle;
            }
            label, input {
              display: inline-block;

              img {
                display: inline-block;
                margin-right: 3px;
              }
            }
          }
          
          &#user_first_name_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(6);
          }
          
          &#user_last_name_input {
            float: left;
            width: flex-grid(6);
            margin-top: 19px;
          }
          
          &#user_email_input {
            clear: both;
          }

          &#registration_first_name_input,
          &#registration_city_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(6);
          }

          &#registration_last_name_input {
            float: left;
            width: flex-grid(6);
          }

          #registration_comments {
            height: 100px;
          }

          &#purchase_city_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(6);
          }

          &#registration_state_input,
          &#purchase_state_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(3);
          }

          &#registration_zip_code_input,
          &#purchase_zip_code_input {
            float: left;
            width: flex-grid(3);
          }

        }
      }
    }

    #billing-information {
      ol {
        border: 1px solid #999;
        @include border-radius(8px);
        @include box-shadow(1px 1px 3px rgba(0,0,0,.2));
        @include box-sizing(border-box);
        height: 210px;
        margin-bottom: flex-gutter();
        padding: 1.5em;
        width: 386px;

        li {
          &#purchase_expiration_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(8);

            input {
              width: flex-grid(6);
            }

            input:first-child {
              margin-right: flex-gutter();
            }
          }

          &#purchase_cvc_input {
            float: left;
            width: flex-grid(4);
          }

          &#purchase_country_input {
            clear: left;
          }
        }
      }
    }
  }

  #form-sidebar {
    float: left;
    padding: 205px 0 0 0;
    width: flex-grid(4);

    h4 {
      text-rendering: optimizeLegibility;
      font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      margin: 0;
      margin-bottom: 12px;
    }

    p {
      color: #666;
      margin: 0 0 6px 0;
    }

    ul {
      color: #666;
    }

    li {
      color: #666;
      list-style: outside;
      margin: 0 0 4px 15px;
    }
  }
  
  #account-sidebar {
    float: left;
    padding: 21px 0 0 0;
    width: flex-grid(4);
    
    h2 {
      text-rendering: optimizeLegibility;
      font-size: 24px;
      font-weight: 600;
    }
    
    h3 {
      text-rendering: optimizeLegibility;
      margin-top: 18px;
      margin-left: 10px;
    }
    
    .first-purchase {
      margin-top: 3px;
    }
    
    li {
      padding: 10px;
      width: 100%;
      background-color: #efefef;
      margin-bottom: 2px;
      font-size: 16px;

      span {
        font-size: 16px;
        float: right;
        padding-right: 10px;
        color: #999;
        font-style: normal;
      }
    }
    
    a {
      text-decoration: none;
    }
    
    span {
      color: #999;
    }
  }

  section.receipt {
    margin-top: 25px;
    strong {
      font-weight: bold;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .item {
      margin-top: 20px;
    }
    table {
      width: 200px;
      margin-top: 20px;

      td {
        text-align: right;
      }
    }
  }
}

body.registrations,
body.purchases,
body.users-edit {
  #form-column {
    float: left;
    margin: 0 flex-gutter() 0 0;
    width: flex-grid(8);
  }
}

body.sessions-new,
body.users-new {
  #form-container {
    @extend .clearfix;
    float: left;
    width: flex-grid(4);
    margin-left: flex-grid(4);

    form {
      margin-bottom: 18px;
    }

    li {
      margin-top: 18px;
    }

    input[type="submit"] {
      width: 355px;
      margin-top: 28px;
    }

    .signup-forgot > li {
      display: inline;
      margin-right: 20px;
    }
  }
}
