#flash {
  #flash_failure {
    background: #f8bcba;
    margin: 0 0 15px 0;
    padding: 15px;
  }
}

body.clearance-passwords {
  margin: 0 auto;
}

body.registrations,
body.purchases,
body.sessions,
body.users,
body.clearance-passwords,
body.clearance-users {
  #container {
    background: url("/images/shadowing.png") center top no-repeat;
    padding: 72px 0 0 0;
  }

  #form-container {
    @extend .clearfix;
  }

  .workshop-sign-in, .github-signin {
    background: rgba(228, 228, 228, 0.7) center 0 no-repeat;
    border: 1px solid gainsboro;
    font-size: 16px;
    margin: 30px 0 0 0;
    padding: 6px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  h5 {
    text-align: center;
    font-size: 16px;
  }

  #total {
    margin-bottom: 0;
    overflow: hidden;

    p.price {
      display: block;
      float: left;
      font: 700 36px/36px $sans-serif;
    }

    p.coupon-note {
      display: block;
      float: left;

      a {
        color: $red;
        display: block;
        line-height: 2.25em;
        text-decoration: none;
      }
    }
  }

  div.coupon {
    margin: 12px 0;
  }

  form {
    fieldset {
      ol {
        li {
          margin-bottom: flex-gutter();

          &.payment-errors {
            color: $red;
          }

          &#purchase_payment_method_input {
            * {
              vertical-align: middle;
            }
            label, input {
              display: inline-block;

              img {
                display: inline-block;
                margin-right: 3px;
              }
            }
          }

          &#user_first_name_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(6);
          }

          &#user_last_name_input {
            float: left;
            width: flex-grid(6);
            margin-top: 19px;
          }

          &#user_email_input, &#password_submit_action {
            clear: both;
          }

          &#password_email {
            clear: both;
          }

          &#registration_first_name_input,
          &#registration_city_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(6);
          }

          &#registration_last_name_input {
            float: left;
            width: flex-grid(6);
          }

          #registration_comments {
            height: 100px;
          }

          &#purchase_city_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(6);
          }

          &#registration_state_input,
          &#purchase_state_input,
          &#password_email_input {
            float: left;
            margin-right: flex-gutter();
            width: flex-grid(3);
          }

          &#password_email_input {
            margin-top: 12px;
          }

          &#registration_zip_code_input,
          &#purchase_zip_code_input {
            float: left;
            width: flex-grid(3);
          }
        }
      }
    }
  }

  #form-sidebar {
    float: left;
    padding: 205px 0 0 0;
    width: 100%;

    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1em;
      margin: 0;
      margin-bottom: 12px;
      text-rendering: optimizeLegibility;
    }

    p {
      color: #666;
      margin: 0 0 6px 0;
    }

    ul {
      color: #666;
    }

    li {
      color: #666;
      list-style: outside;
      margin: 0 0 4px 15px;
    }
  }

  #account-sidebar {
    float: left;
    padding: 21px 0 0 0;
    width: flex-grid(4);

    h2 {
      font-size: 24px;
      font-weight: 600;
      text-rendering: optimizeLegibility;
    }

    h3 {
      margin-left: 10px;
      margin-top: 18px;
      text-rendering: optimizeLegibility;
    }

    .first-purchase {
      margin-top: 3px;
    }

    li {
      background-color: #efefef;
      font-size: 16px;
      margin-bottom: 2px;
      padding: 10px;
      width: 100%;

      span {
        color: #999;
        float: right;
        font-size: 16px;
        font-style: normal;
        padding-right: 10px;
      }
    }

    a {
      text-decoration: none;
    }

    span {
      color: #999;
    }

    p.chat {
      margin-top: 20px;
    }
  }
}

body.registrations,
body.purchases,
body.users-edit {
  #form-column {
    float: left;
    width: 100%;
  }
}

body.sessions,
body.users-new,
body.clearance-users-create {
  #form-container {
    width: flex-grid(12);
    margin-left: 143px;

    .github-signin {
      background: rgba(228, 228, 228, 0.9) center 20px no-repeat url('blacktocat.png');
      float: left;
      margin: 21px flex-gutter() 0 0;
      padding: 160px 0 15px 0;
      width: flex-grid(4);

      a {
        color: #4183C4;
      }
    }

    .or-signin {
      color: #ccc;
      float: left;
      font: 400 22px $serif;
      font-style: italic;
      margin-top: 105px;
      text-align: center;
      text-rendering: optimizeLegibility;
      width: flex-grid(1);
    }

    .thoughtbot-signin {
      display: inline-block;
      float: left;
      margin-left: flex-gutter();
      width: flex-grid(4);
    }

    form {
      float: left;
      margin-bottom: 12px;
    }

    li {
      margin-top: 18px;
    }

    input[type="submit"] {
      margin-top: 28px;
      width: 355px;
    }

    .signup-forgot > li {
      display: inline;
      margin-right: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}
