.teams-edit .text-box {
  table {
    min-width: 80%;
    margin: 0;
  }

  table th {
    padding: 1rem 0;
  }

  #invitation_email_input {
    display: inline-block;
  }

  #invitation_email {
    width: 250px;
  }
}
