body.teams-edit {
  .members, .invitations {
    margin: 0;
    padding: 0;

    li {
      border: 1px solid $warmgray;
      border-radius: 3px;
      display: block;
      list-style-type: none;
      margin: 0 0 .5rem;
      padding: .5rem 1rem;
      position: relative;

      &.owner {
        &:after {
          content: '(Owner) ';
        }
      }

      a {
        padding: 0.5rem 1rem;
        @include position(absolute, 0px 0px 0 0);
      }
    }
  }

  .invitations li {
    background: #eee;
    border-style: dashed;
  }

  .invite-members {
    margin-top: 2rem;

    > p {
      text-align: center;
      font-weight: bold;
    }

    form {
      margin: 0;
    }

    li.email, input[type=submit] {
      display: inline-block;
      vertical-align: bottom;
    }

    li.email {
      width: 50%;
    }

    input[type=email] {
      margin: 0;
    }
  }
}
