.tiles ul,
.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
  width: 100%;

  .tile {
    border-radius: 0 0 3px 3px;
    border-top: 10px solid $gray-5;
    box-shadow: 0 0 0 1px $gray-4;
    flex-basis: 22em;
    flex-grow: 1;
    flex-shrink: 1;
    height: 280px;
    margin: 0 1em 2em;
    overflow: hidden;
    padding: 40px;
    position: relative;
    text-align: center;

    @include dashboard-small-only {
      width: 100%;
      margin-bottom: 1em;
    }

    h1 {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: em(8);
      margin-left: 24px;
      position: relative;

      &:before {
        content: image-url('play.svg');
        left: -25px;
        position: absolute;
        top: 3px;
      }

      a {
        color: $darkwarmgray;
        font-size: 20px;
      }
    }

    h2 {
      color: $gray-3;
      font-size: em(12);
      font-weight: 700;
      letter-spacing: .5px;
      line-height: em(30);
      text-transform: uppercase;
    }

    h3 {
      color: $darkwarmgray;
      font-size: em(16);
      text-align: left;
      margin: 1.2em 0;

      .title {
        font-weight: 400;
      }
    }

    h1, h2, p {
      text-align: left;
    }

    .cta {
      @extend %secondary-button;
      bottom: 20px;
      margin-left: -90px;
      position: absolute;
      width: 180px;
    }
  }
}

.resources-index .tiles-container .tile {
  height: 280px;

  h1 {
    color: $darkwarmgray;
  }
}
