.timeline {
  position: relative;
  overflow: auto;

  .user-image {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    float: left;
  }

  .user-info {
    float: left;
    margin: 3px 20px;
    @include span-columns(6);

    h3 {
      float: left;
      margin-bottom: 0px;
    }

    h4 {
      clear: left;
      margin: 0 0 10px;
    }

    p {
      clear: left;
      margin: 5px 0;
      font-style: italic;
    }
  }

  .long-term-goals {
    @include span-columns(5);
    clear: left;
    margin-top: 20px;

    h4 {
      padding-bottom: 4px;
      margin: 0 0 6px 12px;
    }

    li {
      margin: 0;
    }
  }

  .profile {
    @include outer-container;
    background: $lightwarmgray;
    overflow: auto;

    &:after {
      content: '';
      background: $journey-line-color;
      display: block;
      width: 10px;
      height: 100%;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: -1;
    }
  }

  .progress-tracker {
    float: right;
    height: 100%;
    width: 46%;
    position: relative;

    ol {
      list-style-type: none;
      margin: 0;
    }

    h4 {
      margin: 20px 0;
    }

    .week {
      border-bottom: 1px solid $journey-line-color;
    }

    input {
      margin-bottom: 20px;
    }

    .week-past {
      h4, li {
        color: lighten($darkwarmgray, 25);
      }
    }
  }

  .notes {
    margin-top: 40px;
    height: 150px;
  }
}
