.timeline {
  position: relative;
  overflow: auto;

  p.title {
    font-weight: bold;
  }

  .user-image {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    float: left;
  }

  .user-info {
    float: left;
    margin: 3px 20px;
    @include span-columns(6);

    h3 {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    h4 {
      margin-bottom: 15px;
    }

    p {
      font-style: italic;
    }
  }

  .long-term-goals {
    clear: left;
    margin-top: 20px;

    ul {
      margin-left: 1.2em;
    }

    h4 {
      padding-bottom: 4px;
      margin: 0 0 6px 12px;
    }

    li {
      margin: 0;
    }
  }

  .profile {
    @include span-columns(5);

    &:after {
      content: '';
      background: $journey-line-color;
      display: block;
      width: 10px;
      height: 100%;
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: -1;
    }
  }

  .progress-tracker {
    float: right;
    width: 49%;

    .title {
      margin: 15px 0 20px 0;
    }

    .week {
      background-color: white;
      border-bottom: 2px solid #d9d4cc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px white, 0 0px 3px #d9d4cc;
      margin-bottom: 1em;
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 10px 30px;
      border-bottom: 1px solid $journey-line-color;
    }

    .week-past {
      display: none;

      h4, li {
        color: lighten($darkwarmgray, 25);
      }
    }

    .goal {
      cursor: pointer;

      &:hover .goal-bullet {
        background-color: darken($journey-line-color, 10%);
      }

      &:active .goal-bullet {
        @include transition(0s);
      }

      &.complete .goal-bullet {
        @extend %trail-bullet-complete;
      }

      &.add .goal-bullet {
        @extend %goal-bullet-add;
        margin-top: 5px;
      }

      span {
        padding-left: 2em;
        display: block;
      }

      input[type="text"] {
        border: 0;
        width: 90%;
        margin: 0 0 0 2em;
        padding: 0 .5em;
        height: 34px;
        line-height: 1.2em;
        display: block;
        border-bottom: 1px dashed $warmgray;
        box-sizing: border-box;
        font: normal 1em/1.5em skolar-1, skolar-2, serif;
        -webkit-font-smoothing: antialiased;

        @include placeholder {
        }

        &:focus {
          border: none;
        }
      }
    }

    .goal-bullet-container {
      width: 3em;
      position: absolute;
    }

    .goal-bullet {
      position: absolute;
      @extend %trail-bullet;
    }

    input[type="checkbox"] {
      display: none;
    }
  }
}
