body.timelines {
  nav .timeline {
    display: none;
  }
}

.timeline {
  margin: 4rem auto 0;
  max-width: 1600px;
  overflow: auto;
  position: relative;

  // the line of the timeline
  &:after {
    content: '';
    @include linear-gradient(transparent 0px, $warmgray 800px);
    margin-left: -2px;
    @include position(absolute, 0px 0 0px 60%);
    width: 4px;
    z-index: -1;
  }

  .profile {
    overflow: auto;
    padding: 0 3% 0 24%;
    width:  60%;

    .user-image {
      border-radius: 50%;
      display: block;
      height: 110px;
      margin: 0 0 0 -55px;
      @include position(absolute, 0 0 0 60%);
      width: 110px;
    }

    .user-info {
      padding: 0 3rem 0 1rem;

      p {
        color: $darkwarmgray;
        font: 600 1rem/1.5 $sans-serif;
      }

      a {
        font-weight: normal;
      }

      strong {
        color: darken($darkwarmgray, 15%);
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}

.instructions {
  @include clearfix;
  margin: 4rem 0;
  padding: 0 3% 0 24%;
  width:  60%;

  p {
    font-style: italic;
    padding: 0 3rem 0 1rem;
  }

  strong {
    background: rgba(255, 255, 0, .2);
    font-style: normal;
  }
}

.week {
  @include clearfix;
  margin: 8rem 0;
}

.week-of {
  background: $lightwarmgray;
  font: 700 1.2rem/1.5 $sans-serif;
  left: 60%;
  margin: 0 0 4rem -150px;
  padding: .5rem 0;
  position: relative;
  text-align: center;
  width: 300px;
}

.progress {
  float: right;
  left: -12px;
  padding: 0 12% 0 0;
  position: relative;
  width: 40%;

  .instructions {
    margin-left: 3rem;
  }

  li, a {
    font-family: $sans-serif;
  }

  .goals {
    list-style-type: none;
    margin: 0;
    overflow: auto;
  }

  .goal {
    cursor: default;
    margin: 0 0 1.5rem 0;

    span {
      color: darken($darkwarmgray, 15%);
      display: block;
      line-height: 1.4rem;
      padding-left: 3em;
    }
  }

  .goal-bullet-container {
    width: 3em;
    position: absolute;
  }

  .goal-bullet {
    @extend %trail-bullet-complete;
    @extend %trail-bullet;
    background-color: $warmgray;
  }


  .trails-link {
    display: block;
    padding-left: 3rem;

    a {
      color: darken($darkwarmgray, 15%);
      font-weight: bold;
    }
  }
}

.timeline-notes {
  float: left;
  padding: 0 3% 0 12%;
  position: relative;
  width: 60%;

  .instructions {
    padding: 0 1rem;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .note {
    display: block;
    margin: 0 0 4rem;
    padding: 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .user-image {
      border-radius: 100%;
      height: 40px;
      margin: 2rem 0 0 -75px;
      position: absolute;
      width: 40px;
    }

    .time {
      display: block;
      font-style: italic;
      margin-left: -125px;
      position: absolute;
      text-align: right;
      width: 90px;
    }

    h1, h2, h3, h4 {
      color: $darkwarmgray;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: .8rem;
    }

    code {
      font-size: .8rem;
      margin: 0 .25rem;
      outline: 1px solid #ccc;
      padding: 0 .25rem;
    }

    pre code {
      margin: 1rem 0;
      outline: none;
      padding: 0;
    }

    ul, ol {
      margin: 0;
    }

    li {
      margin-bottom: 0;
    }
  }
}

.note-form {
  margin: 0 0 4rem 0;

  fieldset {
    line-height: 0;
    position: relative;
  }

  textarea {
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    color: $darkwarmgray;
    font: normal 1rem/1.4 $sans-serif;
    height: 9rem;
    padding: 1rem 1rem 44px;
    resize: vertical;
    width: 100%;

    &:focus {
      border-color: lightblue;
      box-shadow: 0 1px 6px rgba(255, 0, 0, .3);
      outline: none;
    }
  }

  input[type=submit] {
    background: #fff;
    border: none;
    color: $learnred;
    font: normal 1rem/1.4 $sans-serif;
    line-height: 1;
    padding: .3rem 0 .3rem;
    @include position(absolute, 0 1rem 5px 1rem);
    text-transform: none;
    @include user-select(none);

    &:focus, &:hover {
      text-decoration: underline;
    }
  }
}
