.topic-label {
  border-radius: 3px;
  font-size: $font-size-smallest;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: .8em;
  text-transform: uppercase;

  a & {
    float: left;
    padding: 5px 10px;
  }
}
