body.topics-index {
  section#promo-wrapper {
    @include outer-container;
    margin: 0 auto;
    padding: 0 1em 3em 1em;
    text-align: center;

    .promo-container {
      @include span-columns(4);

      .promo-detail {
        background-color: white;
        border: 13px solid $warmgray;
        border-radius: 300px;
        height:300px;
        margin: 0 auto;
        padding: 2.5em 1.5em 1em 1.5em;
        position: relative;
        width: 300px;

        h3 {
          height: 50px;
          margin: auto;
          vertical-align: middle;
          width: 161px;
        }

        p {
          border-top: 7px solid $learnred;
          margin: 10px 0 10px 0;
          padding-top:10px;
        }

        a {
          @include clearfix;
          bottom: 33px;
          display: block;
          margin-right: 25%;
          position: absolute;
          right: 0;
          width: 140px;

          .button {
            display: block;
          }
        }
      }
    }
  }

  #all-products {
    @include outer-container;

    .button {
      @include span-columns(4);
      @include shift(4);
      padding: auto 6px 0 6px;
    }
  }

  @media screen and (max-width: 910px) {
    section#promo-wrapper .promo-container .promo-detail {
      height: 270px;
      width: 270px;

      h3 {
        font: 700 20px/20px $sans-serif;
      }

      p {
        font-size: 15px;
        margin-top: 0;
      }

      a {
        margin-right: 22%;

        .button {
          height:36px;
          padding-top: 9px;
          width: 140px;

          &:active {
            height: 32px;
          }
        }
      }
    }

    #all-products .button {
      @include span-columns(6);
      @include shift(3);
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
    section#promo-wrapper .promo-container {
      margin: 0;
      width: 50%;

      &:last-child {
        display: block;
        margin-top:-20px;
        width: 100%;
      }
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    section#promo-wrapper .promo-container {
      display: block;
      margin-top: 16px !important;
      width: 100%;
    }

    section#promo-wrapper .promo-container .promo-detail p {
      line-height: 19px;
    }

    #all-products .button {
      @include span-columns(10);
      @include shift(1);
    }
  }
}

.articles, .episodes, .topics, .error-page, .high_voltage-pages {
  section#topics-list {
    @include outer-container;
    max-width: 760px;
    padding: 2em;

    hr {
      margin-bottom: 2em;
    }

    h2 {
      margin-bottom: 0;
      padding-bottom: 6px;
    }

    ul {
      margin-top: 12px;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 4px;
      margin-top: 8px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  section.content {
    .text-box a {
      display: block;
    }

    .results-date {
      display: inline-block;
      font: 700 14px $sans-serif;
      margin-bottom: 2px;
    }

    .view-all-articles {
      font: italic 16px $serif;
      margin-top: 20px;
      text-align: center;
    }

    aside {
      h3:first-child {
        margin-top: 0;
      }

      h3 {
        margin-top: 40px;
      }

      hgroup {
        margin-left: 48px;

        h5 {
          background-color: none;
          display: block;
          margin-top: 18px;
          padding: 0;
          position: relative;
          text-align: left;
        }
      }

      li {
        margin: 4px 0 8px 0;

        a {
          color: $darkwarmgray;
          font-style: italic;
        }
      }

      .related-topics {
        @include outer-container;

        li {
          display: inline-block;
          @include span-columns (6);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      .related-products {
        .view-all a {
          color: $learndarkred;
          display: inline-block;
          margin-top: 20px;
        }

        li {
          .icon {
            background: $learnred;
            border-radius: 34px;
            box-shadow: inset 0 -1px 0 $learndarkred, 0 1px 0 $learndarkred;
            color: white;
            display: block;
            float: left;
            font-family: "entypo";
            font-size: 38px;
            font-style: normal;
            height: 34px;
            line-height: 0.9em;
            text-align: center;
            @include transition;
            width: 34px;
          }

          &.workshop .icon::after {
            content: "\2692";
            font-size: 38px;
            position: relative;
            top: 1px;
          }

          &.video .icon::after {
            content: "\25B6";
            font-size: 43px;
            left: 11px;
            position: absolute;
            top: 1px;
          }

          &.book .icon::after {
            content: "\1F4D5";
            font-size: 36px;
          }
        }
      }
    }
  }

  .contribute {
    overflow: auto;

    img {
      float: right;
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
    .products-container h2 {
      font: 800 25px/25px $sans-serif !important;
    }

    section#topics-list {
      width: 93%;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    h1 {
      line-height: 56px;
    }

    section#topics-list li {
      display: block;
      width: 100%;
    }
  }
}
