$lightwarmgray: #F5F5F0;
$warmgray: #D9D4CC;
$darkwarmgray: #6C6A66;
$learnred: #B22115;
$learndarkred: #660000;

.articles-index, .courses-show, .episodes, .products-index, .topics-index, .topics-show, .products-show, .purchases, .registrations {
  background-color: $lightwarmgray;
  border-top: none;
  margin: 0 auto;

  header {
    display: none;
  }

   h1 {
    color: white;
    font: 800 72px $sans-serif;
    text-rendering: optimizeLegibility;

    a {
      color: white;
    }
  }

  h3 {
    color: $darkwarmgray;
    font: 700 26px/25px $sans-serif;
    text-rendering: optimizeLegibility;
  }

  h2 {
    color: $learnred;
    font: 800 36px/40px $sans-serif;
    text-rendering: optimizeLegibility;
  }

  h4 {
    color: #94918C;
    font: 600 13px $sans-serif;
    text-shadow: 0 2px 0 white;
  }

  h5 {
    color: #94918C;
    font: 600 13px $sans-serif;
    text-shadow: 0 2px 0 white;
    background-color: $lightwarmgray;
    display: inline-block;
    margin-top: -8px;
    padding: 0 10px 0 10px;
    position: absolute;
    text-align: center;
  }

  p, aside li {
    color: $darkwarmgray;
    font: italic 17px $serif;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
    margin-bottom: 12px;
  }

  .learnred {
    color: $learnred;
  }

  a {
    text-decoration: none;
  }

  hr {
    border: 0;
    height: 2px;
    color: $warmgray;
    border-bottom: 1px solid white;
    border-top: 1px solid $warmgray;
  }

  .learn-text-box {
    background-color: white;
    border-bottom: 2px solid $warmgray;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 20px;

    a:hover h3 {
      color: $learnred;
    }

    a:hover h2 {
      color: #C42107;
    }
  }

  .button, input[type="submit"] {
    @include border-radius(3px);
    background-color: $learnred;
    border-bottom: 4px solid $learndarkred;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font: 700 13px $sans-serif;
    height: 44px;
    margin: 0 auto;
    padding-top: 13px;
    text-align:center;

    a {
      color: white;
      display: block;
      height:100%;
      padding-top: 15px;
      width: 100%;
    }
  }

  // FORMS

    input[type="text"],
    input[type="password"],
    input[type="tel"],
    textarea,
    input[type="email"],
    input[type="select"] {
      background-color: $lightwarmgray;
      border: 1px solid white;
      @include border-radius(4px);
      @include box-sizing(border-box);
      @include box-shadow(none);
      font-size: 14px;
      margin: 5px 5px 5px 0;
      padding: 1em;
      width: 100%;

      &:focus {
        border: 1px solid $learnred;
        outline-color: none;
        outline: none;
      }
    }

  .button:active, input[type="submit"]:active {
    border-bottom: none;
    height: 40px;
    position: relative;
    top: 4px;
    margin-bottom: 4px;
  }

  input[type="submit"] {
    border-top-color: none;
    border-top-style: none;
    border-top-width: none;
    border-right-color: none;
    border-right-style: none;
    border-right-width: none;
    border-bottom-width: none;
    border-left-color: none;
    border-left-style: none;
    border-left-width: none;
    border-image: initial;
    cursor: pointer;
    padding: 0 30px 0 30px;
  }

  .button:hover {
    background-color: #C42107;
  }

  #form-column {
    width: 100%;

    form {
      margin-bottom: 0;
    }

    li {
      margin-left: 0;
    }
  }

  fieldset {
    legend {
      color: $darkwarmgray;
      font: 700 26px/25px $sans-serif;
      padding: 24px 0 12px 0;
    }

    .label {
      -webkit-font-smoothing: antialiased;
      color: $darkwarmgray;
      font: normal 17px $serif;
    }

    li#purchase_submit_action,
    #registration_submit_action {
      margin-left: 0;
      margin-top: 40px;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  #billing-information {
    ol {
      width: 100%;

      li {
        &.overflow {
          @extend .clearfix;
        }

        &#purchase_expiration_input {
          float: left;
          margin-right: flex-gutter();
          width: flex-grid(8);

          select {
            border: 1px solid $darkwarmgray;
            @include box-shadow(none);
            @include box-sizing(border-box);
            font: 14px $sans-serif;
            margin: 3px 0 0 0;
            padding: .5em;
            -webkit-appearance: none;
            width: flex-grid(6);

            &:first-child {
              margin-right: flex-gutter();
            }

            &:focus {
              border: 1px solid $learnred;
              outline-color: none;
              outline: none;
            }
          }
        }

        &#purchase_cvc_input {
          float: left;
          width: flex-grid(4);
        }

        &#purchase_country_input {
          clear: left;
        }

        &#purchase_cc_existing {
          input, label {
            display: inline-block;
          }
        }
      }
    }
  }


//  end forms

  .gray {
    background-color: $warmgray;
  }

  section#learn-header-wrapper {
    background: $warmgray url("learn/learn-arrows.png") repeat-x left bottom;
    margin: 0 auto;
    width: 100%;

    .learn-header-container {
      @include outer-container;
      max-width: 1100px;
      padding: 2em;

      .learn-logo, .learn-intro {
        -webkit-font-smoothing: antialiased;
        color: $darkwarmgray;
        font: italic 300 20px $serif;
        padding: 1em;
      }

      .learn-intro {
        margin: 0 auto;
        text-align: center;
        width: 65%;
      }

      .learn-logo {
        text-align: center;
      }

      .learn-logo img {
        vertical-align: -20px;
      }

      .learn-detail-logo {
        @include outer-container;
        float: left;
        width: 100%;

        img {
          vertical-align: -15px;
        }

        h1 {
          @include span-columns(10);
          font-size: 55px;
          line-height: 40px;
          padding-left: 240px;
          text-align: left;
          text-indent: -240px;
        }

        .myaccount {
          @include span-columns(2);
          float: right;
          text-transform: uppercase;
          margin-top: 9px;

          .button {
            background-color: $lightwarmgray;
            border-bottom: none;
            color: $warmgray;
            padding-top: 15px;
            width: 100%;

            &:hover {
              background-color: white;
              color: $darkwarmgray;
            }
          }
        }
      }
    }
  }

  section#learn-detail-nav {
    @include outer-container;
    max-width: 1100px;
    padding: 18px 0 30px 2em;

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 4px;
      margin-top: 8px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  section#promo-wrapper {
    @include outer-container;
    margin: 0 auto;
    padding: 4em 1em 3em 1em;
    text-align: center;

    .promo-container {
      @include span-columns(4);

      .promo-detail {
        background-color: white;
        border: 13px solid $warmgray;
        border-radius: 300px;
        height:300px;
        margin: 0 auto;
        padding: 2.5em 1.8em 1em 1.8em;
        position: relative;
        width: 300px;

        h3 {
          height: 50px;
          margin: auto;
          vertical-align: middle;
          width: 155px;
        }

        p {
          border-top: 7px solid $learnred;
          margin: 10px 0 10px 0;
          padding-top:10px;
        }

        a {
          @include clearfix;
          bottom: 33px;
          display: block;
          margin-right: 25%;
          position: absolute;
          right: 0;
          width: 140px;

          .button {
            display: block;
          }
        }
      }
    }

    .products-container {
      @include span-columns(4);
      text-align: left;

      h2:hover {
        color: $learnred;
      }

      p {
        font-style: normal;
      }

      ul {
        margin-top: 30px;

        li {
          margin-bottom: 30px;
        }

        li p {
          margin-top: 6px;
        }
      }
    }
  }

  #all-products {
    @include outer-container;

    .button {
      @include span-columns(4);
      @include shift(4);
      padding: auto 6px 0 6px;
    }
  }

  section#learn-topics-list {
    @include outer-container;
    max-width: 760px;
    padding: 2em;

    hr {
      margin-bottom: 2em;
    }

    h2 {
      padding-bottom: 6px;
      text-transform: capitalize;
    }

    ul {
      margin-top: 12px;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 4px;
      margin-top: 8px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .video-headline {
    margin-bottom: 10px;
  }

  .videos {
    text-align: left;
  }

  .videoinfo {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }

  .videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    margin: 30px 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .assets-wrapper {
    margin: 20px 0;

    .assets {
      @include outer-container;

      .button {
        @include span-columns(4);
        margin-bottom:20px;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }

        p.chat {
        margin-top: 0;
        text-align: center;
        padding: 0 20px;
      }

  section.learn-detail-content {
    @include outer-container;
    max-width: 1100px;
    padding: 3em 2em;

    .learn-topic-summary, .credits {
      @include span-columns (9);
      clear: both;
      display: block;
      float: left;
      text-align: left;

      p {
        font-style: italic;
        margin: -10px 0 24px 25px;

      }
    }

    .credits {
      margin-top: 30px;
    }

    .videowrapper {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 0px;
      height: 0;
      margin: 30px 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    #table-of-contents {
      margin-top: 40px;
    }

    .learn-text-box-wrapper {
      @include span-columns (9);

      .video-button-wrapper {
        text-align: center;
      }

      .get-video {
        text-align: center;
        text-transform: uppercase;
        width: 60%;
      }

      .video-button-wrapper + h3,
      .video-button-wrapper + p {
          margin-top: 30px;
        }
    }

    h2:first-child {
      padding-top: 0;
    }

    h2 {
      padding: 26px 0 10px 0;
    }

    ul {
      padding: 4px 0 30px 0;
    }

    p, li {
      -webkit-font-smoothing: antialiased;
      color: $darkwarmgray;
      font: normal 17px $serif;
    }

    li {
      margin-top: 14px;
    }

    .learn-text-box li {
      list-style-type: none;
      margin: 10px 0 0 20px;
    }

    .results-date {
      color: $warmgray;
      display: inline-block;
      font: 700 14px $sans-serif;
      margin-bottom: 2px;
    }

    .view-all-articles {
      font: italic 16px $serif;
      margin-top: 20px;
      text-align: center;
    }

    .what-you-learn {
      @include outer-container;
      background-color: $lightwarmgray;
      border-radius: 3px;
      margin: 28px 0 28px 0;
      padding: 2em;

      h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 17px;
      }

      ul {
        margin-top: 12px;
      }

      li {
        @include span-columns (6);
        margin-left: 0;
        margin-top: 6px;
        padding: 4px;
        display: inline;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    .course-box {

      h2 {
        margin-bottom: 16px;
        color: $darkwarmgray;
      }

      h3 {
        margin-bottom: 10px;
      }

      q {
        display: block;
        width: 80%;
        margin: 30px 18% 0 4%;
        font-style: italic;
      }

      .source {
        margin-left: 12%;
      }

      ol {
        margin-bottom: 20px;
      }
    }

    #faq {
        margin-top: 30px;

      dt {
        margin-top: 16px;
      }

      dt p {
        font-weight: 600;
        margin-bottom: 4px;
        }
    }

    .teachers {
      margin-top: 30px;
      padding-bottom: 0;
      position: relative;

      li {
        margin-left: 0;
      }

      img {
        border-radius: 3px;
        float: left;
        margin: 0 20px 20px 0;
        vertical-align: text-top;
      }

      h2 {
        font-size: auto;
        line-height: 28px;
        margin: 12px 0 12px 0;
        padding: 0;

        span {
          color: $warmgray;
          display: block;
          font-size: 18px;
        }
      }

      .bio {
        margin-left: 114px;
      }
    }

    aside {
      @include span-columns (3);
      float: right;
      display: inline-block;

      h3:first-child {
        margin-top: 0;
      }

      h3 {
        color: $warmgray;
        text-shadow: 0 1px 0 #fff;
        margin-top: 40px;
      }

      h5 {
        background-color: none;
        display: block;
        text-align: left;
        margin-top: 18px;
        padding: 0;
        position: relative;
      }

      li {
        margin: 4px 0 8px 0;

        a {
        color: $darkwarmgray;
        font-style: italic;
        }
      }

      .button {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 12px;
        width: 100%;

        &:active {
          margin-bottom: 24px;
        }
      }

      .related-topics {
        @include outer-container;

        li {
          display: inline-block;
          @include span-columns (6);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      .section-location, #license {

        h2 span {
              font: 300 36px $sans-serif;
        }

        div {
          margin-top: 20px;
        }

        .address a {
          color: $darkwarmgray;
        }

        .license {
          margin-top: 0;

          p {
            font-size: 14px;
            margin-top: -14px;
            text-align: center;
          }
        }

        .license-button {
          text-transform: uppercase;
        }

        .when {
          margin-top: 0;
        }
      }

      .section-location:nth-child(2n) {
        margin-top: 30px;
      }


      .bio {
        height: 45px;
        overflow: hidden;
      }

      #terms {
        margin-top: 10px;

        dt p {
          font-style: italic;
        }
      }

      .travel {
        font-size: 16px;
        font-style: italic;
        margin-top: 20px;
      }
    }
  }

  #additional-information {
    background: $warmgray url("learn/learn-arrows-top.png") repeat-x left top;
    background-color: $warmgray;

    #additional-information-wrapper {
      @include outer-container;
      padding: 3em 0 3em 0;

      #main-content {
        @include span-columns(12);
        padding: 0 2em;
      }

      form {
        padding-top: 2em;
      }

      input[type="text"] {
          border: none;
          @include border-radius(4px);
          @include box-sizing(border-box);
          font-size: 14px;
          margin: 0 0 12px 0;
          padding: 18px 30px;
          width: 50%;
          vertical-align: top;
        }

      input[type="submit"] {
        margin-left: 14px;
        padding: 18px 40px 31px 40px;
        text-transform: uppercase;
      }

      h4 {
        text-shadow: none;
        margin-bottom: 10px;
      }

      p {
        font-family: $sans-serif;
        font-style: normal;
        font-size: 14px;
      }

      ul li {
        color: $darkwarmgray;
      }
    }
  }

  section.receipt {
    margin-top: 50px;
    @include outer-container;

    strong {
      font-weight: bold;
    }

    .billing-address {
      @include span-columns(6);
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .item {
      margin-top: 20px;
    }

    .purchase-pricing {
      @include span-columns(6);
      margin-top: 20px;

      tr {
        width: 300px;
      }

      td {
        color: $darkwarmgray;
        font: normal 17px $serif;
        margin-bottom: 12px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(255,255,255,.3);
        width: 50%;
      }
    }
  }

  #main-footer {
    max-width: 704px;
    padding: 2em;
    width: 93%;

    section {
      width: 30%;
     }
  }

  @media screen and (max-width: 910px) {

    #learn-divider {
      width: 95%;
    }

    .learn-logo {
      text-align: center;
    }

    section#promo-wrapper .promo-container .promo-detail {
      height: 270px;
      width: 270px;

      h3 {
        font: 700 20px/20px $sans-serif;
      }

      p {
        font-size: 15px;
        margin-top: 0;
      }

      a {
        margin-right: 22%;

        .button {
          height:36px;
          padding-top: 9px;
          width: 140px;

          &:active {
            height: 32px;
          }
        }
      }
    }

    #all-products .button {
      @include span-columns(6);
      @include shift(3);
    }

    #form-column fieldset ol li#purchase_city_input,
    #form-column fieldset ol li#registration_city_input, {
      float: left;
      width: flex-grid(12);
    }

    #form-column fieldset ol li#purchase_zip_code_input,
    #form-column fieldset ol li#purchase_state_input,
    #form-column fieldset ol li#registration_zip_code_input,
    #form-column fieldset ol li#registration_state_input {
      float: left;
      width: flex-grid(6);
    }
    #form-column fieldset ol li#purchase_country_input {
      float: left;
      width: flex-grid(12);
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {

   .learn-logo img, .learn-detail-logo img {
      display: block;
      margin: 0 auto 10px auto;
    }

    .learn-detail-logo {
      float: none !important;
      text-align: center;

      h1 {
        line-height: 56px !important;
        width: 100% !important;
        text-align: center !important;
        text-indent: 0 !important;
        padding-left: 0 !important;
      }

      .myaccount {
        right: 2em !important;
        margin-top: -33px !important;
        position: absolute;
        width: 100px !important;
      }
    }

    .products-container h2 {
      font: 800 25px/25px $sans-serif !important;
    }

    section#learn-header-wrapper .learn-header-container .learn-intro {
      padding-top: 0;
    }

    section#learn-header-wrapper .learn-header-container .learn-detail-logo h1 {
      text-indent: 0;
      padding-left: 0;
    }

    section#promo-wrapper .promo-container {
      margin: 0;
      width: 50%;

      &:last-child {
        display: block;
        margin-top:-20px;
        width: 100%;
      }
    }

    section#learn-topics-list {
      width: 93%;
    }

   .video-headline {
     text-align: left;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {

    h1 {
      line-height: 56px;
    }

    section#learn-header-wrapper .learn-header-container .learn-intro {
      font-size: 18px;
      width: 95%;
    }

    section#promo-wrapper .promo-container {
      display: block;
      margin-top: 16px !important;
      width: 100%;
    }

    section#promo-wrapper .promo-container .promo-detail p {
      line-height: 19px;
    }

    section#learn-topics-list li {
      display: block;
      width: 100%;
    }

    section.learn-detail-content .learn-text-box-wrapper {
      width: 100%;
    }

    section.learn-detail-content .learn-topic-summary, section.learn-detail-content .credits {
      @include span-columns(12);
    }

    .learn-detail-logo {
      float: auto;
    }

    aside {
      display: block !important;
      width: 100% !important;
      margin-top: 2em;
    }

    .products-container {
      width: 100% !important;
    }

    #all-products .button {
      @include span-columns(10);
      @include shift(1);
    }

    #main-footer section {
      float: none;
      width: 100%
    }

    footer#main-footer nav section#current-workshops-footer {
      width: 100%
    }

    #additional-information {

      input[type="text"] {
        display: block;
        width: 100% !important;
      }

      input[type="submit"] {
        margin-left:  0 !important;
        width: 100%;
      }

    }

    .products-container {
      width: 100% !important;
    }

    section.receipt .billing-address,
    section.receipt .purchase-pricing {
      @include span-columns(12);
    }

    .learn-text-box-wrapper .get-video {
      width: 80% !important;
    }

    .purchase-return-link {
      display: block;
      float: left;
      margin-top: 0;
    }

    .assets-wrapper .assets .button {
      @include span-columns(12);
      margin-top: 20px;
    }
  }

  @media all and (-webkit-min-device-pixel-ratio: 1.5) {

    section#learn-header-wrapper {
      background: $warmgray url("learn/learn-arrows@2x.png") repeat-x left bottom;
      background-size: 44px 8px;
    }
  }

}
