.topic-label {
  border-radius: 3px;
  font-size: $font-size-smallest;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: .8em;
  text-transform: uppercase;

  @each $topic-name, $topic-color in $topic-colors {
    &.#{$topic-name} {
      background: map-get($topic-backgrounds, $topic-name);
      color: $topic-color;
    }
  }

  a & {
    float: left;
    padding: 5px 10px;
  }
}
