.topics-explore {
  margin-bottom: 2em;

  .divider {
    margin-bottom: 0;
  }

  .topics-list {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    display: flex;
  }

  .topic-link {
    @include transition (all 0.3s ease-in-out);
    margin: 0;
    padding: 30px 0;
    position: relative;
    width: 50%;

    @include dashboard-small-only {
      width: 100%;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 1em;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $gray-4;
      content: "";

      @include dashboard-small-only {
        right: 0;
      }
    }
  }

  .topic-link:nth-child(even) {
    padding-left: 30px;

    @include dashboard-small-only {
      padding-left: 0;
    }

    &:before {
      position: absolute;
      top: 1em;
      right: 0.5em;
      bottom: 1em;
      left: 0;
      border-left: 1px solid $gray-4;
      content: "";

      @include dashboard-small-only {
        border-left: 0;
      }
    }

    &:after {
      left: 1em;
      right: 0;

      @include dashboard-small-only {
        left: 0;
      }
    }
  }

  .topic-link:nth-child(odd):last-child:after {
    border: 0;
  }

  .topic-tile {
    @include flex-direction(row);
    display: flex;
    margin: 0;

    ul {
      width: 50%;
      margin: 50px 0 0 50px;
    }

    ul li {
      width: 100%;
      margin: 0;
      color: $darkwarmgray;

      &.topic-title {
        margin-bottom: .5em;
        font-weight: 700;
        font-size: em(22);
      }
    }

    .topic-num {
      font-weight: 700;
    }
  }
}
