.trail-category {
  margin: 4rem 0;
  position: relative;

  > a {
    display: block;
    height: 100%;
    overflow: auto;
    @include transition(.07s);

    &:hover {
      background: lighten($warmgray, 10%);
      box-shadow: 0 0 0 1.5rem lighten($warmgray, 10%);
    }

    &:hover .steps-complete {
      top: 0% !important;

      .dots {
        height: 0;
        top: 50%;
      }

      .journey-bullet {
        background: darken($journey-line-color, 10%);
        margin-top: - ($bullet-size / 3) / 2 !important;
      }

      .journey-bullet.complete {
        background: lighten($darkwarmgray, 15%);
      }
    }
  }

  .trail-info {
    float: left;
    width: 300px;

    h2 {
      color: $learnred;
      display: inline-block;
      margin-bottom: .5rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .steps-complete {
    height: 100%;
    @include position(absolute, 0 0px 0 310px);
    @include transition(.4s $ease-in-quart);

    .text-complete {
      color: darken($darkwarmgray, 5%);
      font-weight: 600;
      position: absolute;
      z-index: 2;
    }

    .dots {
      height: 100%;
      left: 0%;
      margin-top: 0;
      position: relative;
      @include transition(.4s $ease-in-quart);
    }

    .journey-bullet {
      background: transparent;
      border: 2px solid darken($journey-line-color, 10%);
      height: $bullet-size / 3;
      left: 0;
      top: 0;
      @include transition(.4s $ease-in-quart);
      width: $bullet-size / 3;
      z-index: 1;
    }

    .journey-bullet.complete {
      background: darken($journey-line-color, 10%);
      border-color: transparent;
      margin-top: - ($bullet-size / 3) / 2;
      top: 50%;
    }
  }
}

.trail-map-steps {
  h2:first-of-type {
    margin-top: 0;
  }

  ul, ol, li {
    padding: 0;
    list-style-type: none;
  }

  .contribute {
    overflow: auto;

    img {
      float: right;
    }
  }
}

.related-topics {
  @include outer-container;

  li {
    display: inline-block;
    @include span-columns (6);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.related-products {
  .view-all a {
    color: $learndarkred;
    display: inline-block;
    margin-top: 20px;
  }

  li {
    &.prime h4 {
      color: $darkwarmgray;
      font-family: $sans-serif;
      font-style: normal;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;
    }

    .icon {
      background: $learnred;
      border-radius: 34px;
      @include box-shadow(inset 0 -1px 0 $learndarkred, 0 1px 0 $learndarkred);
      color: white;
      display: block;
      float: left;
      font-family: "entypo";
      font-size: 38px;
      font-style: normal;
      height: 34px;
      line-height: 0.9em;
      text-align: center;
      @include transition;
      width: 34px;
    }

    &.prime .icon {
      background: #fff;
      @include box-shadow(inset 0 -1px 0 #ccc, 0 1px 0 #ccc);
      color: $learnred;
      font-size: 28px;
      line-height: 38px;
    }

    &.workshop .icon::after {
      content: "\2692";
      font-size: 38px;
      position: relative;
      top: 1px;
    }

    &.video .icon::after {
      content: "\25B6";
      font-size: 43px;
      left: 11px;
      position: absolute;
      top: 1px;
    }

    &.book .icon::after {
      content: "\1F4D5";
      font-size: 36px;
    }
  }
}

.articles, .episodes, .topics, .error-page, .high_voltage-pages {
  section.content {
    .results-date {
      color: $warmgray;
      display: inline-block;
      font: 700 14px $sans-serif;
      margin-bottom: 2px;
    }

    .view-all-articles {
      font: italic 16px $serif;
      margin-top: 20px;
      text-align: center;
    }

    aside {
      h3:first-child {
        margin-top: 0;
      }

      h3 {
        margin-top: 40px;
      }

      hgroup {
        margin-left: 48px;

        h5, h4 {
          font-style: normal;
        }

        h5 {
          background-color: none;
          display: block;
          margin-top: 18px;
          padding: 0;
          position: relative;
        }
      }

      li {
        list-style-type: none;
        margin: 4px 0 8px 0;

        a {
          color: $darkwarmgray;
          font-style: italic;
        }
      }
    }
  }

  .related-reading {
    ul, ol {
      list-style-type: none;
      margin: 0;
    }

    h2:first-of-type {
      margin-top: .5rem;
    }

    h3 {
      color: $learnred;
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
    .products-container h2 {
      font: 800 25px/25px $sans-serif !important;
    }

    section#topics-list {
      width: 93%;
    }
  }

  @include body-mobile {
    h1 {
      line-height: 56px;
    }

    section#topics-list {
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        display: block;
        width: 100%;
      }
    }
  }
}
