@media screen and (min-width: 1300px) {
  body.topics-index .content {
    max-width: 1800px;
  }
}

body.topics-show {
  .content {
    position: relative;
  }

  .steps-complete {
    clear: both;
    display: block;
    height: 120px;
    left: 0;
    margin-bottom: 2rem;
    position: relative;
    top: -1rem;

    @include body-mobile {
      display: none;
    }

    .text-complete {
      display: none;
    }
  }

  aside .related {
    display: none;
  }
}

.contribute {
  border: 2px solid $upcase-red;
  border-radius: 3px;
  display: block;
  margin: 0 auto 1rem;
  padding: .25rem .5rem;
  text-align: center;
  width: 175px;
}

.related-topics {
  margin: 0 0 2.5rem;
  text-align: center;

  span:after {
    content: ', ';
  }

  span:last-of-type:after {
    content: '';
  }
}

.trails-save-progress {
  clear: both;
  font: 700 2rem/1 $sans-serif;
  margin-bottom: 1.5em;
  text-align: center;
  width: 100%;
  z-index: 2;

  @include body-mobile {
    position: static;
    font-size: 1.3rem;
  }

  a {
    border-bottom: 2px solid $upcase-red;
    font-family: $sans-serif;
  }
}

.all-trail-map-steps {
  border-bottom: 1px solid darken($lightwarmgray, 10%);
  clear: both;
  @include clearfix;
  margin-bottom: 4%;

  @include body-mobile {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .gutter-sizer {
    width: 4%;
  }
}

.trail-map-steps {
  @extend %main-content-box;
  background: white;
  border-radius: 4px;
  float: left;
  margin-bottom: 4%;
  padding: 0;
  width: 48%;

  @include body-mobile {
    width: 100%;
    float: none;
  }

  h2, h3 {
    font: 700 1.25rem/1.4em $sans-serif;
    padding: .75rem 1rem .75rem 3rem;
  }

  h2 {
    background: $upcase-red;
    color: #fff;

    &.ongoing {
      background: lighten($darkwarmgray, 15%);
    }
  }

  h3 {
    color: darken($darkwarmgray, 15%);
    font-size: 1.25rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    border-bottom: 1px solid rgb(233, 233, 233);
    display: block;
    margin: 0;
    padding: .75rem 1rem .75rem 3rem;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }

    &.validation.complete {
      background: lighten($journey-line-color, 14%);
      color: darken($journey-line-color, 30%);

      a {
        color: darken($journey-line-color, 30%);
      }

      .trail-bullet {
        @extend %trail-bullet-complete;
      }
    }
  }

  .trail-bullet-hit-area {
    cursor: pointer;
    @include position(absolute, 0px 0 0px 0px);
    width: 3rem;

    &:hover .trail-bullet {
      background-color: darken($journey-line-color, 10%);
    }

    &:active .trail-bullet {
      @include transition(0s);
    }
  }

  .trail-bullet {
    @extend %trail-bullet;
    @include position(absolute, .75rem 0 0 .75rem);
    @include transition(.1s ease);
    @include user-select(none);
  }

  input[type="checkbox"] {
    display: none;
  }
}

.related-reading {
  padding-top: 3.25rem;
  float: left;
  width: 48%;

  @include body-mobile {
    float: none;
    padding-top: 1.75rem;
    width: 100%;
  }
}

body.topics-show aside {
  float: right;
  width: 48%;

  @include body-mobile {
    float: none;
    margin: 2rem 0 0 0;
    padding: 0;
    width: 100%;
  }

  h3 {
    color: darken($darkwarmgray, 10%);
    font: 700 1.25rem/1.4em $sans-serif;
    padding: 0 0 1.5rem 0;
  }

  hr {
    display: none;
  }

  .related-products li {
    float: left;
    margin-top: 0;
    width: 48%;

    h5 {
      margin-top: 0;
    }

    &:nth-child(odd) {
      margin-right: 4%;
    }
  }
}

.related-products li, .trail-map-steps .upcase li {
  &.upcase h4 {
    color: $darkwarmgray;
    font-family: $sans-serif;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
  }

  &.upcase .icon {
    background: #fff;
    box-shadow: inset 0 -1px 0 #ccc, 0 1px 0 #ccc;
    color: $upcase-red;
    font-size: 28px;
    line-height: 38px;
  }

  &.video_tutorial .icon::after {
    content: "\2692";
    font-size: 38px;
    position: relative;
    top: 1px;
  }

  &.screencast .icon::after {
    content: "\25B6";
    font-size: 43px;
    left: 11px;
    position: absolute;
    top: 1px;
  }

  &.book .icon::after {
    content: "\1F4D5";
    font-size: 36px;
  }

  .icon {
    background: $upcase-red;
    border-radius: 34px;
    box-shadow: inset 0 -1px 0 $upcase-darkred, 0 1px 0 $upcase-darkred;
    color: white;
    display: block;
    float: left;
    font-family: "entypo";
    font-size: 38px;
    font-style: normal;
    height: 34px;
    line-height: 0.9em;
    text-align: center;
    @include transition;
    width: 34px;
  }
}

.trail-map-steps .upcase li {
  &.screencast .icon::after {
    left: 4px;
  }

  .icon {
    background: none;
    box-shadow: none;
    color: $upcase-red;
    height: 1.5rem;
    line-height: 1.5rem;
    @include position(absolute, .75rem 0 0 .75rem);
    width: 1.5rem;
  }
}
