.articles, .episodes, .topics, .error-page, .high_voltage-pages {
  section#topics-list {
    @include outer-container;
    max-width: 760px;
    padding: 2em;

    .text-box {
      border-top: 0;
    }

    hr {
      margin-bottom: 2em;
    }

    h2 {
      margin-bottom: 0;
      padding-bottom: 6px;
      color: $learnred;
    }

    ul {
      margin-top: 12px;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 4px;
      margin-top: 8px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  section.content {
    .results-date {
      display: inline-block;
      font: 700 14px $sans-serif;
      margin-bottom: 2px;
    }

    .view-all-articles {
      font: italic 16px $serif;
      margin-top: 20px;
      text-align: center;
    }

    aside {
      h3:first-child {
        margin-top: 0;
      }

      h3 {
        margin-top: 40px;
      }

      hgroup {
        margin-left: 48px;

        h5 {
          background-color: none;
          display: block;
          margin-top: 18px;
          padding: 0;
          position: relative;
        }
      }

      li {
        margin: 4px 0 8px 0;

        a {
          color: $darkwarmgray;
          font-style: italic;
        }
      }

      .related-topics {
        @include outer-container;

        li {
          display: inline-block;
          @include span-columns (6);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      .related-products {
        .view-all a {
          color: $learndarkred;
          display: inline-block;
          margin-top: 20px;
        }

        li {

          &.prime h4 {
            color: $darkwarmgray;
            font-family: $sans-serif;
            font-style: normal;
            font-weight: bold;
            text-shadow: 0 1px 0 #fff;
          }

          .icon {
            background: $learnred;
            border-radius: 34px;
            @include box-shadow(inset 0 -1px 0 $learndarkred, 0 1px 0 $learndarkred);
            color: white;
            display: block;
            float: left;
            font-family: "entypo";
            font-size: 38px;
            font-style: normal;
            height: 34px;
            line-height: 0.9em;
            text-align: center;
            @include transition;
            width: 34px;
          }

          &.prime .icon {
            background: #fff;
            @include box-shadow(inset 0 -1px 0 #ccc, 0 1px 0 #ccc);
            color: $learnred;
            font-size: 28px;
            line-height: 38px;
          }

          &.workshop .icon::after {
            content: "\2692";
            font-size: 38px;
            position: relative;
            top: 1px;
          }

          &.video .icon::after {
            content: "\25B6";
            font-size: 43px;
            left: 11px;
            position: absolute;
            top: 1px;
          }

          &.book .icon::after {
            content: "\1F4D5";
            font-size: 36px;
          }
        }
      }
    }
  }

  .contribute {
    overflow: auto;

    img {
      float: right;
    }
  }

  @media screen and (max-device-width: 800px), screen and (max-width: 800px) {
    .products-container h2 {
      font: 800 25px/25px $sans-serif !important;
    }

    section#topics-list {
      width: 93%;
    }
  }

  @media screen and (max-device-width: 620px), screen and (max-width: 620px) {
    h1 {
      line-height: 56px;
    }

    section#topics-list {
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        display: block;
        width: 100%;
      }
    }
  }
}
