.trails-show {
  .breadcrumbs {
    color: $gray-3;

    a {
      color: $upcase-blue;
      font-size: .9em;
      padding: 0 10px;

      &:last-child {
        color: $gray-2;
        font-weight: 400;
        pointer-events: none;
      }
    }
  }

  header {
    display: flex;
    margin-top: 3.2em;

    @include dashboard-small-only {
      display: block;
      text-align: center;
    }

    .topic-image {
      flex: none;
      margin-right: 2em;

      @include dashboard-small-only {
        display: block;
        margin: 0 auto;
      }
    }

    .topic-title {
      margin-top: 1em;
    }

    .trail-topic-name {
      @include clearfix;
    }
  }

  .trails-progress {
    margin-bottom: 5em;
  }

  .exercises-container {
    .divider {
      margin-bottom: 1rem;
    }

    .exercise {
      border-bottom: 1px solid $base-border-color-1;
      display: block;
      float: left;
      margin: 0;
      padding: 3em 0;
      width: 100%;
    }

    .exercise a {
      display: inline-block;
      margin-left: 100px;
    }
  }
}

.exercise .dot {
  @include size($dot-size);
  background: $not-started-dot-color;
  border-radius: $dot-size;
  margin: $dot-margin;
  position: absolute;

  &:before {
    border-radius: $dot-size;
    content: "";
    margin-left: -2px;
    margin-top: -2px;
    position: absolute;
    @include size($dot-size);
    z-index: 0;
  }
}

.in-progress-exercise .dot {
  background: $gold-trail;

  &:before {
    border: 2px solid $gold-trail;
    @extend %animation-radiate;
  }
}

.complete-exercise .dot {
  background: $upcase-green;
}

.next-up-exercise .dot {
  background: $blue-trail;

  &:before {
    border: 2px solid $blue-trail;
    @extend %animation-radiate;
  }
}
