$dot-size: 13px;
$dot-margin: 14px;
$arrow-size: 20px;
$not-started-dot-color: #D8D8D8;

@mixin trail-line {
  &:before {
    background: hsla(0, 0%, 0%, 0.1);
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    right: 0;
    top: 48%;
    width: 100%;
  }
}

.trails-progress {
  display: block;
  position: relative;
  z-index: 1;

  & > footer {
    clear: left;
    text-align: center;
  }

  .separator {
    border-top: 1px solid $gray-4;
    margin-bottom: 50px;
    text-align: center;
  }

  & > div {
    margin-bottom: 5em;
  }

  .trail {
    width: 100%;

    header {
      @include clearfix;
      margin-bottom: 25px;

      h1 {
        clear: left;
        float: left;
        font-size: 1.5rem;
        font-weight: 600;

        a {
          color: $darkwarmgray;
          font-family: $sans-serif;
          font-size: 1em;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .trail-description {
      float: left;
      margin-left: 6px;

      .help-icon {
        @include size(20px);
        background: $gray-3;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        line-height: 1;
        margin: 4px;
        opacity: .6;
        padding: 3px 6px;
      }

      .help-tooltip {
        @include transition(all 0.2s $ease-out-quad);
        @include transform(translate(-46%, 0));
        display: none;
        margin-top: 3px;
        position: absolute;
        z-index: 3;

        &:before, &:after {
          @include calc(left, "50% - #{$arrow-size / 2}");
          @include triangle($arrow-size 8px, $base-border-color-1, up);
          content: "";
          position: absolute;
          top: -$arrow-size * 0.5 + 3px;
          z-index: 1;
        }

        &:before {
          @include transform(scale(1.15));
          @include transform-origin(center bottom);
        }

        &:after {
          @include triangle($arrow-size 8px, #fff, up);
        }

        .card {
          height: auto;
          width: $product-card-width * 1.5;

          &:hover {
            transform: none;
          }
        }
      }

      .help-icon:hover + .help-tooltip {
        display: block;
      }
    }

    .numerical-progress {
      color: $gray-3;
      float: right;
      font-size: 0.92rem;
      font-weight: 500;
      margin-top: 8px;
    }

    .just-finished-mask {
      overflow: hidden;

      .tooltip {
        display: none;
      }
    }

    .progress {
      @include align-items(center);
      @include background-image(linear-gradient(#FBFBFB, #F3F3F3));
      @include display(flex);
      @include justify-content(space-around);
      border: 1px solid $not-started-dot-color;
      border-radius: 60px;
      height: 58px;
      padding: 0 10px;

      &.just-finished {
        @include transform(translateX(-60%));
      }

      .numerical-progress {
        margin: 0 30px 0 0;
      }
    }

    a.start-trail {
      @extend %button;
    }

    .step {
      position: relative;
      @include flex(1);
      @include display(flex);
      @include justify-content(center);

      &:last-of-type {
        &.complete-exercise .dot {
          @include size(36);
          background: image-url('trail-complete-check.svg') center /36px no-repeat;
        }
      }

      .dot {
        background: $not-started-dot-color;
        border-radius: $dot-size;
        margin: $dot-margin;
        position: relative;
        @include size($dot-size);

        &:before {
          border-radius: $dot-size;
          content: "";
          margin-left: -2px;
          margin-top: -2px;
          position: absolute;
          @include size($dot-size);
          z-index: 0;
        }
      }

      &:hover .tooltip {
        opacity: 1;
        @include transform(translate(-50%, 0));
      }

      &.in-progress-exercise .dot {
        background: $gold-trail;

        &:before {
          border: 2px solid $gold-trail;
          @extend %animation-radiate;
        }
      }

      &.unstarted-exercise {
        cursor: w-resize;
      }

      &.complete-exercise, &.next-up-exercise {
        @include trail-line;
      }

      // Show line
      &:first-of-type {
        &.complete-exercise:before {
          display: block;
        }
      }

      // Hide line
      &:first-of-type,
      &:last-of-type,
      &.next-up-exercise {
        &:before {
          display: none;
        }
      }

      &.complete-exercise .dot {
        background: $upcase-green;
      }

      &.next-up-exercise .dot {
        background: $blue-trail;

        &:before {
          border: 2px solid $blue-trail;
          @extend %animation-radiate;
        }
      }
    }
  }

  .started {
    p.description, a.start-trail {
      display: none;
    }
  }

  // Unstarted Trail
  ///////////////////////////////////////////////////////////////////////////
  .unstarted {
    @include clearfix;

    header {
      float: left;
      margin-bottom: 0;
      margin-right: 4em;
      width: 50%;
    }

    .numerical-progress, .help-icon, .help-tooltip {
      display: none;
    }

    .step {
      &.unstarted-exercise {
        @include trail-line;
        cursor: auto;
      }

      // Hide line instructions override
      &:last-of-type,
      &.next-up-exercise {
        &:before {
          display: block;
        }
      }

      &:last-of-type {
        &:before {
          @include linear-gradient(to right, hsla(0, 0%, 0%, 0.05), white);
        }
      }
    }

    .trail {
      header h1 {
        float: none;
      }

      .progress {
        background: none;
        border: 0;
        margin-bottom: 0;
        padding-left: 0;
      }

      .step {
        @include justify-content(flex-start);

        .dot {
          margin: 0;
          background: $not-started-dot-color;

          &:before {
            @include animation(none);
            display: none;
          }
        }

        &:before {
          left: 0;
        }
      }

      .tooltip {
        left: 6px;
        top: 22px;
      }
    }
  }

  // Complete Trail
  ///////////////////////////////////////////////////////////////////////////
  .trails-complete {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
  }

  .complete {
    width: 47%;
    border: 10px solid $gray-5;
    height: $card-height;
    margin: 30px 0 0;
    padding: $card-padding;
    position: relative;

    .trail {
      padding: 0;
    }

    header, p {
      text-align: center;
    }

    .trail header h1 {
      float: none;
    }

    header p {
      color: $gray-2;
      font-family: $serif;
      font-size: 1.5em;
      font-style: italic;
      margin-top: 25px;
    }

    ul {
      left: 10px;
      list-style-type: none;
      margin-left: 0;
      position: absolute;
      top: 165px;
    }

    .step {
      @include trail-line;
      display: inline-block;

      &:before {
        height: 3px;
        background: $gray-5;
      }

      // Hide line
      &:first-of-type {
        &:before {
          display: block;
        }

        // Show line before first dot
        &:after {
          display: block;
          background: $gray-5;
          content: "";
          height: 3px;
          position: absolute;
          right: 50%;
          top: 48%;
          width: 100%;
          z-index: -1;
        }
      }
    }

    .trail .step .dot {
      @include size($dot-size);
      background: $upcase-green;
      border-radius: $dot-size;
      margin: $dot-margin;
      position: relative;
    }

    li.step:last-of-type {
      @extend %trail-bullet-complete;
      @include size(30px);
      background-color: $upcase-green;
      border-radius: 50%;
      bottom: 6px;
      left: 15px;

      .dot {
        display: none;
      }
    }

    .revisit-trail {
      bottom: $card-padding;
      border: 2px solid $lightwarmgray;
      border-radius: 2px;
      color: $darkwarmgray;
      font-family: $sans-serif;
      font-size: 1.2em;
      left: 50%;
      margin-left: -78px;
      padding: 12px 0;
      position: absolute;
      text-align: center;
      width: 156px;
    }
  }

  // Just Finished Trail
  ///////////////////////////////////////////////////////////////////////////
  .just-finished {
    position: relative;
    z-index: -1;

    h1 {
      width: 100%;
    }

    .just-finished-subhead {
      color: $gray-3;
      clear: left;
      float: left;
      font-family: $serif;
      font-style: italic;
      margin-bottom: .2em;
    }

    p {
      color: darken($upcase-green, 10);
      font-size: 21px;
      font-style: italic;
      left: 45%;
      position: absolute;
      top: 65%;
    }
  }
}
