.trail-titles {
  margin-bottom: 3rem;

  li {
    border-left: 10px solid $gray-5;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 0 1px $gray-4;
    display: inline-block;
    font-family: $sans-serif;
    font-size: em(20);
    margin: 10px;

    &.clean-code {
      border-color: $clean-code;
    }

    &.design {
      border-color: $design;
    }

    &.foundations {
      border-color: $foundations;
    }

    &.haskell {
      border-color: $haskell;
    }

    &.ios {
      border-color: $ios;
    }

    &.javascript {
      border-color: $javascript;
    }

    &.rails {
      border-color: $rails;
    }

    &.test-driven-development {
      border-color: $test-driven-development;
    }

    &.vim {
      border-color: $vim;
    }

    &.workflow {
      border-color: $workflow;
    }
  }

  a {
    color: $gray-2;
    display: block;
    padding: 10px 20px;
  }
}
