h1 {
  color: white;
  font: 800 72px $sans-serif;
  text-rendering: optimizeLegibility;

  a {
    color: white;
  }
}

h2 {
  color: $learnred;
  font: 800 36px/40px $sans-serif;
  text-rendering: optimizeLegibility;
}

.product-title {
  h2 {
    margin-bottom: 0;
  }
}

.text-box {
  h2 {
    color: $darkwarmgray;
  }

  &.related-reading a h3 {
    color: $learnred;
  }
}

code {
}

pre code {
  @extend .gray-box;
  display: block;
  font-size: 15px;
  font-family: monaco;
  color: $darkwarmgray;
}

section#promo-wrapper {
  .products-container h2 {
    color: $learnred;
    text-transform: uppercase;
  }

  .promo-container .promo-detail h3 {
    color: $darkwarmgray;
  }
}

section.content {
  .text-box {
    h2 {
      color: $darkwarmgray;
    }

    p {
      color: $darkwarmgray;
      font: normal 17px $serif;
    }

    a {
      h2 {
        color: $learnred;
      }
    }
  }

  .results-date {
    color: $warmgray;
  }
}

h3 {
  color: lighten($darkwarmgray, 15%);
  font: 700 26px/1.0em $sans-serif;
  text-rendering: optimizeLegibility;
  margin-bottom: 10px;
}

.workshop-type {
  color: $learnred;
  font-size: 17px;
  margin-bottom: 30px !important;
}

h4 {
  color: #94918C;
  font: 600 13px $sans-serif;
  text-shadow: 0 2px 0 white;

  &.discount-title {
    color: $darkwarmgray;
    font-size: 18px;
    margin: 12px 0 24px;
    text-align: center;
  }
}

h5 { //used for small header in "teachers" class
  color: $warmgray;
  display: block;
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h6 { //used for small header in topics, related reading
  color: $warmgray;
  display: inline-block;
  font: 700 14px $sans-serif;
  margin-bottom: 2px;
}

h1, h2, h3, h4, h5 {
  em {
    color: $learnred;
  }
}

p {
  color: $darkwarmgray;
  font: normal 17px $serif;
  margin-bottom: 12px;
  text-shadow: 0 1px 1px rgba(255,255,255,.3);
  -webkit-font-smoothing: antialiased;

  em {
    font-style: italic;
  }
}

.summary p {
  font: italic 17px $serif;
}

blockquote {
  @extend p;
  padding-left: 20px;
  font-style: italic;
  border-left: 4px solid $warmgray;
}

q {
  display: block;
  font-style: italic;
  margin: 30px 18% 0 4%;
  width: 80%;
}

li {
  -webkit-font-smoothing: antialiased;
  color: $darkwarmgray;
  font: normal 17px $serif;
}

strong {
  font-weight: bold;
}

hr {
  border: 0;
  border-bottom: 1px solid white;
  border-top: 1px solid $warmgray;
  color: $warmgray;
  height: 2px;
}

td {
  color: $darkwarmgray;
  font: normal 17px $serif;
}

a {
  color: $red;
  font-family: $serif;
  text-decoration: none;
}

.workshop-alert, .purchase-return-link {
  a {
  font-family: $sans-serif;
  }
}

.address a {
  color: $darkwarmgray;
}

// SIDEPANEL
//************************************************************************//

aside {
  a {
    display: block;
    font: italic 17px $serif;
    margin-top: 0;
  }

  h2 span {
    font: 300 36px $sans-serif;

    &.original-price {
      color: lighten($darkwarmgray, 22%);
      font-size: 24px;
      margin-left: 10px;
      margin-top: 7px;
      position: absolute;
      -webkit-font-smoothing: antialiased;

      &::after {
        background-image: image_url("icons/brush.png");
        content: "";
        height: 33px;
        left: -3px;
        position: absolute;
        top: -3px;
        width: 60px;
      }
    }
  }

  h3 {
    color: lighten($darkwarmgray, 15%);
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
  }

  hgroup h4 {
    color: $darkwarmgray;
    font: italic 17px $serif italic;
  }

  h5 {
    background-color: $lightwarmgray;
    color: #94918C;
    display: inline-block;
    font: 600 13px $sans-serif;
    margin-top: -8px;
    padding: 0  0px 0 0px;
    text-align: left;
    text-transform: uppercase;
  }

  li {
    color: $darkwarmgray;
    font: normal 17px $serif;
    margin-bottom: 12px;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
    -webkit-font-smoothing: antialiased;

    em {
      font: italic 17px $serif;
    }
  }
  dt p { //this is used for 'what if i am not happy'. should be made into li instead of dt
    font-style: italic;
  }
}

// HEADER
//************************************************************************//

.header-container {
  .subject {
    color: $learnred;
  }

  .logo, .intro {
    -webkit-font-smoothing: antialiased;
    color: $darkwarmgray;
    font: italic 300 20px $serif;
  }
}

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {
  .detail-logo {
    h1 {
      line-height: 56px !important;
    }
  }
}

// TERMS
//************************************************************************//

#additional-information {
  li {
    font-family: $sans-serif;
  }
  h4 {
    text-shadow: none;
  }
  p {
    font-family: $sans-serif;
    font-size: 14px;
    font-style: normal;
  }
}

// FOOTER
//************************************************************************//

footer {
  h3 {
    color: #545454;
    font-size: 24px;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
  }

  a {
    color: #7a7a7a;
    text-decoration: none;

    &:link {
      color: #7a7a7a;
    }

    &:hover {
      color: $red;
    }
  }
  ul {
    a {
      font-size: 16px;
      line-height: 24px;
    }
  }
  p#copyright {
    color: #7a7a7a;
    font: italic 16px $serif;
    line-height: $lh;
    text-rendering: optimizeSpeed;

    em {
      font-style: italic;
    }
  }
}



@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  section.content {
    .text-box-wrapper {
      width: 100%;
    }

    section.content .summary {
      @include span-columns(12);
    }

    aside {
      display: block !important;
      margin-top: 2em;
      width: 100% !important;
    }

    form input[type="submit"] {
      width: 100%;
    }
    .text-box-in-text-box {
      .thumbnail {
        float: none;
        margin-right: 0;
      }
      .thumbnail-text {
        margin-left: 0;
      }
    }
  }
}

.videowrapper, .mapwrapper {
  height: 0;
  margin: 30px 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 0px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
