body.users-edit {
  form {
    margin: 0;
  }

  legend {
    padding: 0;
    margin-bottom: 1em;
    font-size: 1em;
  }

  #account-sidebar ol {
    list-style-type: none;
    margin: 1em 0 0 0;

    li {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        font-size: 16px;
        font-style: normal;
      }
    }

    .subscription a {
      background: #eee;
      display: block;
      margin-top: .5rem;
      padding: .5rem;

      &:first-of-type {
        margin-top: 1.5rem;
      }
    }
  }
}
