body.users-edit {
  form {
    margin: 0;

    legend {
      padding: 0;
      margin-bottom: 1em;
      font-size: 1em;
    }

    li {
      &#user_first_name_input {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(6);
      }

      &#user_last_name_input {
        float: left;
        margin-top: 24px;
        width: flex-grid(6);
      }
    }
  }

  #account-sidebar {
    h2 {
      font-size: 24px;
      font-weight: 600;
      text-rendering: optimizeLegibility;
    }

    h3 {
      margin-left: 10px;
      margin-top: 18px;
      text-rendering: optimizeLegibility;
    }

    ol {
      list-style-type: none;
      margin: 1em 0 0 0;

      li {
        background-color: #efefef;
        font-size: 16px;
        margin-bottom: 2px;
        padding: 10px;
        width: 100%;

        a {
          font-size: 16px;
          font-style: normal;
        }

        &.subscription {
          a.invoices, a.cancel {
            display: block;
          }

          a.invoices {
            margin-top: 16px;
          }

          a.cancel {
            text-align: right;
          }
        }
      }

      a {
        text-decoration: none;
      }
    }

    span {
      color: #999;
    }

    p.chat {
      margin-top: 20px;
    }
  }
}
