/* variables */
$sans-serif: "proxima-nova-1", "proxima-nova-2", "museo-sans-1", "museo-sans-2", helvetica neue, sans-serif;
$serif: skolar-1, skolar-2, serif;

$red: #ad141e;
$gray: #eee;
$lightwarmgray: #F5F5F0;
$warmgray: #D9D4CC;
$darkwarmgray: #6C6A66;
$learnred: #B22115;
$learndarkred: #660000;

$lh: 24px; /*line-height of all the type on the site*/
$unit: 60px; /*one grid column*/
$gutter: 25px; /*size of one gutter*/
$fg-column: $unit;
$fg-gutter: $gutter;
$fg-max-columns: 12;
$max-width: 1100px; // ensuring alignment between footer and content

$list-style: circle;