.videowrapper, .mapwrapper {
  height: 0;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 0px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.purchase-return-link {

  a {
    text-decoration: none;
  }
}

.wistia-holder {
  width: auto;
  background-color: #333;
  border: 1px solid #111;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

  .wistia_embed {
    margin: 0 auto;
    max-height: 392px;
  }
}

.assets-wrapper {

  margin: 480px 0 40px 0;

  .assets {
    .asset-download {
      float: left;
      margin: 0 20px 0 0;
    }
    .asset {
      width: 20%;
      float: left;
      margin: 4px 4px 0 0;
      background-color: #efefef;
      padding: 10px;
    }

    a {
      text-decoration: none;
    }
  }
}

.text-chat {
  margin-bottom: 20px;
}

.video-chat {
  li:first-child {
    margin-bottom: 8px;
    margin-top: 22px;
  }
  li {
    margin-top: 0;
    margin-bottom: 20px;

  }
}

.thumbnail {
  float: left;
  margin-right: 12px;
}
.thumbnail-text {
  margin-left: 112px;
  h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
