/*
 * Wistia requires a parent element that does NOT calculate its with based on
 * the width of its children.
 *
 * http://wistia.com/doc/video-foam
 */
.wistia-wrapper {
  width: 100%;
}

.assets-wrapper {
  margin-bottom: 1rem;

  .assets {
    .asset-download {
      float: left;
      margin: 0 20px 0 0;
    }

    .asset {
      background-color: #efefef;
      float: left;
      margin: 4px 4px 0 0;
      padding: 10px;
      width: 20%;
    }

    a {
      padding-right: 10px;
      text-decoration: none;
    }
  }
}

.text-box {
  clear: left;
  margin-top: 1em;
}

.video-chat {
  li:first-child {
    margin-bottom: 8px;
  }

  li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.video-notes {
  h3 {
    margin-top: 0;
  }
}

#videos .video {
  border-bottom: 1px solid $base-border-color-1;
  display: block;
  float: left;
  margin: 0;
  padding: 3em 0;
  width: 100%;

  &:first-of-type {
    padding-top: 1em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:only-of-type {
    border: 0;
  }

  .video-text:before {
    content: image-url('play.svg');
    float: left;
    margin: 3px 10px 0 0;
  }

  .video-text h2,
  .video-text h3 {
    margin: 0;
    padding: 0;
  }
}
