.videowrapper, .mapwrapper {
  height: 0;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 0px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.purchase-return-link a {
  text-decoration: none;
}

.wistia-holder {
  width: auto;
  background-color: #333;
  border: 1px solid #111;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;

  .wistia_embed {
    margin: 0 auto;
    max-height: 392px;
  }
}

.assets-wrapper {
  .assets {
    .asset-download {
      float: left;
      margin: 0 20px 0 0;
    }

    .asset {
      background-color: #efefef;
      float: left;
      margin: 4px 4px 0 0;
      padding: 10px;
      width: 20%;
    }

    a {
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
    }
  }
}

.video-chat {
  li:first-child {
    margin-bottom: 8px;
  }

  li {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

#videos .video {
  border-top: 1px dashed #ccc;
  margin: 2.2em 0;
  overflow: visible;
  padding-top: 1.5em;

  .thumbnail {
    float: left;
    margin-right: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  }

  .thumbnail-text {
    margin-left: 120px;

    h2, h3 {
      margin: 0;
      padding: 0;
    }
  }
}
