.welcome-page {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;

  .welcome-page-title {
    margin-bottom: $base-spacing;
  }

  .welcome-page-intro {
    margin-bottom: $base-spacing;
  }

  .welcome-page-topic-title {
    margin-bottom: $base-spacing;
  }

  .welcome-page-topics {
    @include clearfix;
  }

  .welcome-page-topic {
    border-radius: $base-border-radius;
    display: block;
    float: left;
    font-size: 1.2em;
    margin-bottom: $base-spacing;
    padding: ($base-spacing * 2) $base-spacing;
    width: calc(50% - (#{$base-spacing} / 2));

    &:nth-child(odd) {
      margin-right: $base-spacing;
    }
  }

  .welcome-page-topic-rails {
    background-color: map-get($topic-backgrounds, rails);
    color: map-get($topic-colors, rails);
  }

  .welcome-page-topic-vim {
    background-color: map-get($topic-backgrounds, vim);
    color: map-get($topic-colors, vim);
  }

  .welcome-page-topic-testing {
    background-color: map-get($topic-backgrounds, testing);
    color: map-get($topic-colors, testing);
  }

  .welcome-page-topic-workflow {
    background-color: map-get($topic-backgrounds, workflow);
    color: map-get($topic-colors, workflow);
  }

  .welcome-page-help {
    border-top: 1px solid $base-border-color-1;
    color: tint($base-font-color, 20%);
    padding-top: $base-spacing * 2;
  }
}
