@import "reset";
@import "bourbon";
@import "mixins";
@import "flashes";
@import "header";
@import "home";
@import "section";
@import "pages";
@import "registrations";
@import "footer";
@import "backbone-checkout";
@import "forms";

body {
  background: #fcfcfc;
  border-top: 4px solid #AD141E;
  font-family: $sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: $red;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font: 400 $sans-serif;
  line-height: 150%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 14px;
}

#container {
  margin: 0 auto 100px;
  width: 995px;
}

footer {
  border-top: 1px solid #ddd;
  padding: 8px 0 0 0;

  p {
    color: #666;
    display: inline;
    font: 400 14px $sans-serif;
    float: left;

    &.footer-links {
      float: right;
    }

    a {
      text-decoration: none;
    }

    &.admin {
      clear: both;
      margin: 12px 0 0 0;
    }
  }
}

body.high_voltage-pages footer {
  p.footer-links {
    float: left;
  }
}
