@import "reset";
@import "bourbon";
@import "neat/neat";
@import "mixins";
@import "base-animations";
@import "flashes";
@import "header";

@import "clearance";
@import "registrations";
@import "footer";
@import "backbone-checkout";
@import "forms";
@import 'purchases';
@import 'video';
@import 'topics';
@import "episodes";
@import "users";
@import "products";

body {
  background-color: $lightwarmgray;
  border-top: none;
  font-family: $sans-serif;
  line-height: 20px;
  margin: 0 auto;
}

a {
  color: $red;
  text-decoration: none;
}

h1 {
  color: white;
  font: 800 72px $sans-serif;
  text-rendering: optimizeLegibility;

  a {
    color: white;
  }
}

h3 {
  color: $darkwarmgray;
  font: 700 26px/25px $sans-serif;
  text-rendering: optimizeLegibility;
}

h2 {
  color: $learnred;
  font: 800 36px/40px $sans-serif;
  text-rendering: optimizeLegibility;
}

h4 {
  color: #94918C;
  font: 600 13px $sans-serif;
  text-shadow: 0 2px 0 white;
}

h5 {
  color: #94918C;
  font: 600 13px $sans-serif;
  text-shadow: 0 2px 0 white;
  background-color: $lightwarmgray;
  display: inline-block;
  margin-top: -8px;
  padding: 0 10px 0 10px;
  position: absolute;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  em {
    color: $learnred;
  }
}

p, aside li {
  color: $darkwarmgray;
  font: italic 17px $serif;
  text-shadow: 0 1px 1px rgba(255,255,255,.3);
  margin-bottom: 12px;
}

strong {
  font-weight: bold;
}

hr {
  border: 0;
  height: 2px;
  color: $warmgray;
  border-bottom: 1px solid white;
  border-top: 1px solid $warmgray;
}

section.content {
  @include outer-container;
  max-width: $max-width;
  padding: 3em 2em;

  .text-box {
    h2 {
      margin-bottom: 16px;
      color: $darkwarmgray;
    }

    h3 {
      margin-bottom: 10px;
    }

    q {
      display: block;
      width: 80%;
      margin: 30px 18% 0 4%;
      font-style: italic;
    }

    .source {
      margin-left: 12%;
    }

    ol {
      margin-bottom: 20px;
    }

    li {
      margin: 10px 0 0 20px;
    }

    form {
      li {
        margin-left: 0;
      }
    }
  }

  h2 {
    &:first-child {
      padding-top: 0;
    }

    padding: 10px 0 10px 0;
  }

  ul {
    padding: 4px 0 30px 0;
  }

  p, li {
    -webkit-font-smoothing: antialiased;
    color: $darkwarmgray;
    font: normal 17px $serif;
  }

  li {
    margin-top: 14px;

    &:first-child {
      margin-top: 0;
    }
  }

  .text-box-wrapper {
    @include span-columns (9);
  }

  .text-box {
    background-color: white;
    border-bottom: 2px solid $warmgray;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 20px;

    a:hover h3 {
      color: $learnred;
    }

    a:hover h2 {
      color: #C42107;
    }
  }

  .summary {
    @include span-columns(9);
    clear: both;
    display: block;
    float: left;
    text-align: left;

    p {
      font-style: italic;
      margin: -10px 0 24px 25px;
    }
  }

  aside {
    @include span-columns (3);
    float: right;
    display: inline-block;
  }
}

@media screen and (max-device-width: 620px), screen and (max-width: 620px) {
  section.content {
    .text-box-wrapper {
      width: 100%;
    }

    section.content .summary {
      @include span-columns(12);
    }

    aside {
      display: block !important;
      width: 100% !important;
      margin-top: 2em;
    }

    form input[type="submit"] {
      width: 100%;
    }
  }
}

.videowrapper, .mapwrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  margin: 30px 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
