<aside>
  <%= link_to 'Take the workshop', design_for_developers_url, class: 'button' %>
  <div class="resource-links">
    <h3>Resource Links</h3>
    <hr>
    <ul>
      <li><a href="/design-for-developers-resources/#design-fundementals">Design Fundamentals</a></li>
      <li><a href="/design-for-developers-resources/#grid-systems">Grid Systems</a></li>
      <li><a href="/design-for-developers-resources/#typography">Typography</a></li>
      <li><a href="/design-for-developers-resources/#color-texture">Color &amp; Texture</a></li>
      <li><a href="/design-for-developers-resources/#icons">Icons</a></li>
      <li><a href="/design-for-developers-resources/#html-css">HTML, CSS &amp; Sass</a></li>
      <li><a href="/design-for-developers-resources/#ux">UX &amp; Design Thinking</a></li>
      <li><a href="/design-for-developers-resources/#inspritation">Design Inspiration</a></li>
    </ul>
  </div>
  <div class="cheat-sheets">
    <h3>Cheat sheets</h3>
    <hr>
    <ul>
      <li><a href="/design-for-developers-resources/brief">Brief</a></li>
      <li><a href="/design-for-developers-resources/principles">Principles</a></li>
      <li><a href="/design-for-developers-resources/grid"</a>Grid</li>
      <li><a href="/design-for-developers-resources/typography"</a>Typography</li>
      <li><a href="/design-for-developers-resources/color">Color</a></li>
    </ul>
  </div>
</aside>
