<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="text-box">
    <hgroup class="product-title">
      <h2>Design Brief</h2>
    </hgroup>
    <p>What should go into your design brief:</p>
    <ol>
      <li><strong>A brief summary of the business / site goals.</strong> What problems are you trying to solve? What is the purpose of the app? (2-3 sentences)</li>
      <li><strong>The key users.</strong> Describe behaviors, expectation, knowledge, or other characteristics. (One sentence each)</li>
      <li><strong>Scenarios in which your app or site will be used.</strong> These should be short narratives of the above users with your app / site. (One sentence each)</li>
      <li><strong>Design style guidelines to follow.</strong> These are a list of qualities or characteristics (usually adjectives) you&rswuo;d like the design to follow. The more specific you are with these the easier it will be for you to create a compelling design (e.g. don't use &ldwuo;Clean&rdquo;). (2-3 words)</li>
    </ol>
    <p>Feel free to copy and paste these to start your own.</p>
    <p>You can also check out the <a href="http://forum.thoughtbot.com/t/sample-design-brief-for-the-design-for-developers-workshop/289">sample brief that Kyle wrote</a> to get a better idea of what to write.</p>
  </div>
</div>

<%= render 'sidebar' %>
