<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="color text-box">
    <h2>Color Cheat Sheet</h2>

    <section>
      <div>
        <img src="images/color/hue.png" alt="" />
      </div>
      <article>
        <h3>Hue:</h3>
        <p>A color or shade that is discernible by red, green, etc.</p>
      </article>
    </section>

    <section>
      <div>
        <img src="images/color/value.png" alt="" />
      </div>
      <article>
        <h3>Value, Shade:</h3>
        <p>The amount of black in the color.</p>
      </article>
    </section>

    <section>
      <div>
        <img src="images/color/tone.png" alt="" />
      </div>
      <article>
        <h3>Tint, Tone: </h3>
        <p>The amount of white in the color.</p>
      </article>
    </section>

    <section>
      <section>
        <img src="images/color/primary.png" alt="" />

        <h3>Primary Colors:</h3>
        <p>Red, Yellow and Blue</p>
      </section>
      <section>
        <img src="images/color/secondary.png" alt="" />
        <h3>Secondary Colors: </h3>
        <p>Green, Orange and Purple</p>
      </section>
    </section>

    <section>
      <div>
        <img src="images/color/complementary.png" alt="" />
      </div>
      <article>
        <h3>Complementary Colors: </h3>
        <p>Colors that are across from each other on the color wheel.</p>
      </article>
    </section>

    <section>
      <div>
        <img src="images/color/analagous.png" alt="" />
      </div>
      <article>
        <h3>Analagous Colors: </h3>
        <p>Colors that are next to each other on the color wheel.</p>
      </article>
    </section>
  </div>
</div>

<%= render 'sidebar' %>
