<% content_for :subject, "Design for Developers" %>

<% content_for :body_class, "week" %>
<div class="text-box-wrapper">
  <div class="text-box">

<section class="content-container">
  <h1>Design Critique</h1>
  <p>Each week you should be prepared to give and get critique on your work.</p>
  <p><strong>Checklist for getting critique:</strong></p>
  <ol>
    <li>Have <a href="#breif">design brief</a> ready.</li>
    <li>Have screenshot or link to site ready.</li>
    <li>Remember that this is meant to help. Its not meant as a personal attack.</li>
    <li>Interpret all critique as problems your design has not yet solved.</li>
    <li>Take notes on those problems and solve them <em>after</em> the critique is over.</li>
  </ol>

  <p><strong>Checklist for giving critique:</strong></p>
  <ol>
    <li>Ask a lot questions.</li>
    <li>Think in terms of problems not solutions. Let the designer figure out the solutions. </li>
    <li>Review design brief and use to enforce your opinions.</li>
    <li>Keep in mind visual principles and use the design language that you are learning to enforce your opinions.</li>
  </ol>

  <h2><a id="breif">What should go into your design brief:</a></h2>
  <ol>
    <li><strong>A brief summary of the business / site goals.</strong> What problems are you trying to solve? What is the purpose of the app? (2-3 sentences)</li>
    <li><strong>The key users.</strong> Describe behaviors, expectation, knowledge, or other characteristics. (One sentence each)</li>
    <li><strong>Scenarios in which your app or site will be used.</strong> These should be short narratives of the above users with your app / site. (One sentence each)</li>
    <li><strong>Design principles to follow.</strong> These are style guidelines for the  qualities or characteristics you'd like the design to follow (2-3 words)</li>
  </ol>
</section>

  </div>
</div>

<%= render 'sidebar' %>
