<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="text-box">
    <h2>Design for Developers Resources</h2>
    <ol class="content-container">
      <li>
        <h3><a name="design-fundementals">Design Fundamentals</a></h3>
        <ul>
          <li class="learn">
            <a href="https://learn.thoughtbot.com/design">
              <strong>Design on Learn</strong>
              <p>Directed Design learning tools with validation steps</p>
            </a>
          </li>

          <li class="learn">
            <a href="https://learn.thoughtbot.com/visual-principles">
              <strong>Design Principles at Learn</strong>
              <p>Directed Visual Principles learning tools with validation steps</p>
            </a>
          </li>

          <li class="star">
            <a class="book" href="http://www.amazon.com/Visual-Display-Quantitative-Information-2nd/dp/0961392142">
              <strong>The Visual Display of Quantitative Information</strong>
              <p>The quintessential information design book.</p>
            </a>
          </li>

          <li>
            <a class="book" href="http://fivesimplesteps.com/books/practical-guide-designing-for-the-web">
              <strong> A Practical Guide to Designing for the Web</strong>
              <p>Great book for learning some fundamental design principles and how they apply to the web</p>
            </a>
          </li>

          <!-- <li><a class="book" href="http://www.amazon.com/gp/product/1568987021">Graphic Design: The New Basics</a></li> -->
        </ul>
      </li>

      <li>
        <h3><a name="grid-systems">Grid Systems</a></h3>

        <ul>
          <li class="learn">
            <a href="https://learn.thoughtbot.com/grids">
              <strong>Grid Systems on Learn</strong>
              <p>Directed Grid learning tools with validation steps</p>
            </a>
          </li>

          <li class="star">
            <a class="site" href="http://modulargrid.org/">
              <strong>Modulator Grid Pattern</strong>
              <p>Helps generate custom grid patterns to throw in th background of your site while building.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://gridulator.com/">
              <strong>Gridulator</strong>
              <p>Grid calculator for columns and gutter</p>
            </a>
          </li>

          <li>
            <a href="http://goldengridsystem.com/">
              <strong>Golden Grid System</strong>
              <p>A responsive grid framework based on the golden ratio.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.getskeleton.com/">
              <strong>Skeleton CSS Grid</strong>
              <p>Adaptive 16 column grid framework and base styles.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.badlydrawntoy.com/2010/09/21/grid960-bookmarklet-now-with-24-columns/">
              <strong>Grid overlay bookmarklet</strong>
              <p>Overlays grid on top of your site. Helpful when building out your grid on the web.</p>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <h3><a name="typography">Typography</a></h3>
        <ul>
          <li class="learn">
            <a href="https://learn.thoughtbot.com/typography">
              <strong>Typography on Learn</strong>
              <p>Directed Typography learning tools with validation steps</p>
            </a>
          </li>

          <li>
            <a href="http://sachagreif.com/google-webfonts-that-dont-suck/">
              <strong>Google Webfonts that don&rswuo;t suck</strong>
              <p>A nice list of Google web fonts that, well, are better than the rest.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://modularscale.com/">
              <strong>Modular Scale</strong>
              <p>Calculator to help build a modular scale within your type.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://webtypography.net/">
              <strong> The Elements of Typographic Style Applied to the Web</strong>
              <p>The greatest book on type as applied to websites.</p>
            </a>
          </li>

          <li>
            <a class="video" href="https://vimeo.com/34178417">
              <strong>Jason Santa Maria - On Web Typography</strong>
              <p>Video about executing typography on the web.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.awayback.com/revised-font-stack/">
              <strong>Revised Font Stack</strong>
              <p>Reference list for good font stacks.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.typekit.com">
              <strong>Typekit</strong>
              <p>One of the few sites to find high quality typeface that can be embedded on the web.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.fontsquirrel.com">
              <strong>fontsquirrel</strong>
              <p>Downloadable fonts that have varying quality and licences to add to your site.</p>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <h3><a name="color-texture">Color &amp; Texture</a></h3>
        <ul>
          <li>
            <a class="site" href="http://color.method.ac/">
              <strong>Color: a color matching game</strong>
              <p>Game that helps you match color and get good at color pairing.</p>
            </a>
          </li>
          <li>
            <a class="site" href="http://dribbble.com/shots/166246-My-Secret-for-Color-Schemes">
              <strong>My Secret for Color Schemes</strong>
              <p>Trick in Photoshop to help color matching.</p>
            </a>
          </li>
          <li>
            <a class="app" href="http://mattpatenaude.com/">
              <strong>Colors App</strong>
              <p>Mac color picker app.</p>
            </a>
          </li>

          <li>
            <a href="color.hailpixel.com">
              <strong>Swatch you doing?</strong>
              <p>A nice little color chooser in the browser.</p>
            </a>
          </li>
          <li>
            <a class="site" href="http://subtlepatterns.com/">
              <strong>Subtle patterns</strong>
              <p>Slight patterns for background noise.</p>
            </a>
          </li>
          <li>
            <a class="article" href="http://robots.thoughtbot.com/post/12974565313/controlling-color-with-sass-color-functions">
              <strong>Sass Color Functions</strong>
              <p>Article about color about how to purposefully use color functions in Sass.</p>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <h3><a name="icons">Icons</a></h3>
        <ul>
          <li class="star">
            <a class="site" href="http://www.iconsguide.com/">
              <strong>Icons Guide</strong>
              <p>Site for finding premium icons.</p>
            </a>
          </li>

          <li>
            <a href="#">
              <strong>Fontello</strong>
              <p>Gives you the ability to pick icons from a selection of open-source icons and combine them into a font.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://thenounproject.com/">
              <strong>NounProject</strong>
              <p>Open source icon project.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.iconsweets2.com/">
              <strong>Icon Sweets</strong>
              <p>Free minimal icons for Photoshop.</p>
            </a>
          </li>

          <li>
            <a class="site" href="http://iconmonstr.com/">
              <strong>Icon Monstr</strong>
            </a>
          </li>

          <li>
            <a class="site" href="http://www.thetoolbox.cc/">
              <strong>The Toolbox</strong>
              <p>A bunch of design resources.</p>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <h3><a name="html-css">HTML,  CSS &amp; Sass</a></h3>
        <ul>
          <li class="learn">
            <a href="https://learn.thoughtbot.com/html-css">
              <strong>HTML &amp; CSS on Learn</strong>
              <p>Directed CSS learning tools with validation steps</p>
            </a>
          </li>

          <li class="learn">
            <a href="https://learn.thoughtbot.com/sass">
              <strong>Sass on Learn</strong>
              <p>Directed Sass learning tools with validation steps</p>
            </a>
          </li>

          <li class="star"><a class="code" href="http://thoughtbot.com/bourbon/">Bourbon</a>
            <p>thoughtbot&rsquo;s open source Sass library</p>
          </li>

          <li><a class="book" href="http://books.alistapart.com/products/css3-for-web-designers">CSS3 for web designers</a>
            <p>Another book from A Book Apart. It covers all the new CSS3 styles and selectors.</p>
          </li>

          <li>
            <a class="site" href="http://diveintohtml5.info/">Dive Into HTML5</a>
            <p>A plain language explanation and reference for all of the HTML5 elements.</p>
          </li>

          <li class="star"><a class="book" href="http://www.abookapart.com/products/responsive-web-design">Responsive Web Design</a>
            <p>THE book on responsive design. At this point it&rsquo;s a must read for any designer on the web.</p>
          </li>

          <li>
            <a class="site" href="http://leaverou.me/ft2010/#intro">CSS3: A Practical Introduction</a>
            <p>Presentation for CSS3</p>
          </li>

          <li>
            <a class="site" href="http://net.tutsplus.com/tutorials/html-css-techniques/the-30-css-selectors-you-must-memorize/">The 30 CSS Selectors you Must Memorize</a>
            <p>Simply a list of CSS selectors that are very helpful.</p>
          </li>

          <li>
            <a class="site" href="http://caniuse.com/">When can I use...</a>
            <p>Reference for which browsers support which CSS &amp; HTML features.</p>
          </li>

          <li class="star">
            <a class="code" href="http://necolas.github.com/normalize.css/">Normalize</a>
            <p>The default reset right now for CSS developers.</p>
          </li>

          <li><a class="code" href="http://daneden.me/animate/">Animate CSS</a>
            <p>Good library for simple CSS animations.</p>
          </li>

          <li><a class="video" href="https://vimeo.com/17091905">Dan Cederholm - Handcrafted CSS</a>
            <p>Good video to watch about crafting your CSS.</p>
          </li>
        </ul>
      </li>

      <li>
        <h3><a name="ux">UX &amp; Design thinking</a></h3>
        <ul>
          <li class="star"><a class="book" href="http://www.amazon.com/gp/product/0321344758">Don&rsquo;t Make Me Think</a>
            <p>The classic book on usability on the web.</p>
          </li>

          <li class="star"><a class="site" href="http://www.alistapart.com/">A List Apart</a>
            <p>A periodical for web designers. A must read every month.</p>
          </li>

          <li><a class="site" href="http://contrast.ie/blog/wireframing-for-web-apps">Wireframing for web apps</a>
            <p>Article on wireframing and sketching for web apps</p>
          </li>

          <li><a class="site" href="http://feltpresence.com/articles/9-what-happens-to-user-experience-in-a-minimum-viable-product">What happens to user experience in a minimum viable product?</a>
          </li>

          <li><a class="site" href="http://www.designstaff.org/">Design Staff</a>
            <p>Google Ventures design blog.</p>
          </li>

          <li><a class="site" href="www.uie.com/events/virtual_seminars/">UIE Virtual Seminars</a>
            <p>Seminars from the premiere usability experts on current web design topics</p>
          </li>

          <li><a class="book" href="http://www.abookapart.com/products/designing-for-emotion">Designing With Emotion</a>
          </li>

          <li><a class="video" href="https://vimeo.com/creativemornings">Creative Morning&rsquo;s Talks</a>
            <p>Collection of talks from Creative Mornings, a free lecture series around the world. They are great for motivation, inspiration and deign thinking.</p>
          </li>

          <li>
            <a class="video" href="https://vimeo.com/34017777">Wilson Miner - When We Build</a>
            <p>Video about our thinking as designers and what we do when we put things into the world.</p>
          </li>

          <li><a class="video" href="https://vimeo.com/17084347">Frank Chimero - The Shape of Design</a>
            <p></p>
          </li>
        </ul>
      </li>

      <li>
        <h3><a name="inspiration">Design Inspiration</a></h3>
        <ul>
          <li><a class="site" href="http://siteinspire.net/">siteinspire</a>
            <p>A gallery of websites.</p>
          </li>

          <li><a class="site" href="http://www.uiparade.com/">ui parade</a>
            <p>UI design inspiration</p>
          </li>

          <li><a class="site" href="http://ffffound.com/">ffffound</a>
            <p>An assortment of design and art related images. Not always SFW.</p>
          </li>

          <li><a class="site" href="http://dribbble.com/">Dribbble</a>
            <p>A design community of 400x300 pixel shots.</p>
          </li>

          <li><a class="site" href="http://patterntap.com/">Patterntap</a>
            <p>A catalog of specific UI elements</p>
          </li>

          <li><a class="site" href="http://gimmebar.com/">Gimmebar</a> &amp; <a class="site" href="http://zootool.com/">Zootool</a>
            <p>Visual bookmarking tools that can be used as an inspiration collection tool.</p>
          </li>

          <li><a class="site" href="http://www.realmacsoftware.com/littlesnapper/">Littlesnapper</a>
            <p>A Mac app that collects all types of inspiration and helps you categorize them.</p>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>

<%= render 'sidebar' %>
