<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="text-box">
    <hgroup class="product-title">
      <h2>Design for Developers Resources</h2>
    </hgroup>

    <h3 id="design-fundamentals">Design Fundamentals</h3>
    <ul>
      <li class="subscription">
        <a href="https://upcase.com/design">
          <span>Design on Upcase</span>
          <p>Directed Design learning tools with validation steps</p>
        </a>
      </li>

      <li class="subscription">
        <a href="https://github.com/thoughtbot/trail-map/blob/master/visual-principles.md">
          <span>Design Principles</span>
          <p>Directed Visual Principles learning tools with validation steps</p>
        </a>
      </li>

      <li class="star">
        <a class="book" href="http://www.amazon.com/Visual-Display-Quantitative-Information-2nd/dp/0961392142">
          <span>The Visual Display of Quantitative Information</span>
          <p>The quintessential information design book.</p>
        </a>
      </li>

      <li>
        <a class="book" href="http://fivesimplesteps.com/books/practical-guide-designing-for-the-web">
          <span>A Practical Guide to Designing for the Web</span>
          <p>Great book for learning some fundamental design principles and how they apply to the web</p>
        </a>
      </li>
      <!-- <li><a class="book" href="http://www.amazon.com/gp/product/1568987021">Graphic Design: The New Basics</a></li> -->
    </ul>

    <h3 id="grid-systems">Grid Systems</h3>
    <ul>
      <li class="subscription">
        <a href="https://github.com/thoughtbot/trail-map/blob/master/grids.md">
          <span>Grid Systems</span>
          <p>Directed Grid learning tools with validation steps</p>
        </a>
      </li>

      <li class="star">
        <a class="site" href="http://modulargrid.org/">
          <span>Modulator Grid Pattern</span>
          <p>Helps generate custom grid patterns to throw in th background of your site while building.</p>
        </a>
      </li>

      <li class="star">
        <a class="site" href="http://neat.bourbon.io">
          <span>Bourbon Neat</span>
          <p>Who says I can&rsquo;t do a little self promotion?</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://gridulator.com/">
          <span>Gridulator</span>
          <p>Grid calculator for columns and gutter</p>
        </a>
      </li>

      <li>
        <a href="http://goldengridsystem.com/">
          <span>Golden Grid System</span>
          <p>A responsive grid framework based on the golden ratio.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.getskeleton.com/">
          <span>Skeleton CSS Grid</span>
          <p>Adaptive 16 column grid framework and base styles.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.sprymedia.co.uk/article/Grid">
          <span>Grid overlay bookmarklet</span>
          <p>Overlays grid on top of your site. Helpful when building out your grid on the web.</p>
        </a>
      </li>
    </ul>

    <h3 id="typography">Typography</h3>
    <ul>
      <li class="subscription">
        <a href="https://github.com/thoughtbot/trail-map/blob/master/typography.md">
          <span>Typography</span>
          <p>Directed Typography learning tools with validation steps</p>
        </a>
      </li>

      <li>
        <a href="http://v3.sachagreif.com/google-webfonts-that-dont-suck/"><span>Google Webfonts that don&rsquo;t suck</span></a> &amp; <a href="http://hellohappy.org/beautiful-web-type/">Beautiful Web Type</a>
          <p>Two lists of Google web fonts that, well, are better than the rest.</p>
      </li>
      <li>
        <a class="site" href="http://modularscale.com/">
          <span>Modular Scale</span>
          <p>Calculator to help build a modular scale within your type.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://webtypography.net/">
          <span>The Elements of Typographic Style Applied to the Web</span>
          <p>The greatest book on type as applied to websites.</p>
        </a>
      </li>

      <li>
        <a href="http://quotesandaccents.com/">
          <span>Quotes and accents</span>
          <p>A nice reference for the proper use of quotes, accents and dashes with keyboard shortcuts.</p>
        </a>
      </li>

      <li>
        <a class="video" href="https://vimeo.com/34178417">
          <span>Jason Santa Maria - On Web Typography</span>
          <p>Video about executing typography on the web.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.awayback.com/index.php/2010/02/03/revised-font-stack/">
          <span>Revised Font Stack</span>
          <p>Reference list for good font stacks.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.typekit.com">
          <span>Typekit</span>
          <p>One of the few sites to find high quality typeface that can be embedded on the web.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.fontsquirrel.com">
          <span>fontsquirrel</span>
          <p>Downloadable fonts that have varying quality and licences to add to your site.</p>
        </a>
      </li>
    </ul>

    <h3 id="color-texture">Color &amp; Texture</h3>
    <ul>
      <li>
        <a class="site" href="http://color.method.ac/">
          <span>Color: a color matching game</span>
          <p>Game that helps you match color and get good at color pairing.</p>
        </a>
      </li>
      <li>
        <a class="site" href="http://dribbble.com/shots/166246-My-Secret-for-Color-Schemes">
          <span>My Secret for Color Schemes</span>
          <p>Trick in Photoshop to help color matching.</p>
        </a>
      </li>
      <li>
        <a class="app" href="http://mattpatenaude.com/">
          <span>Colors App</span>
          <p>Mac color picker app.</p>
        </a>
      </li>

      <li>
        <a href="http://color.hailpixel.com">
          <span>Swatch you doing?</span>
          <p>A nice little color chooser in the browser.</p>
        </a>
      </li>
      <li>
        <a href="http://sassme.arc90.com/">
          <span>Sass Me</span>
          <p>Visualize SASS color functions in real-time without compiling.</p>
        </a>
      </li>
      <li>
        <a class="site" href="http://subtlepatterns.com/">
          <span>Subtle patterns</span>
          <p>Slight patterns for background noise.</p>
        </a>
      </li>
      <li>
        <a class="article" href="https://thoughtbot.com/blog/controlling-color-with-sass-color-functions">
          <span>Sass Color Functions</span>
          <p>Article about color about how to purposefully use color functions in Sass.</p>
        </a>
      </li>
    </ul>

    <h3 id="icons">Icons</h3>
    <ul>
      <li class="star">
        <a class="site" href="http://www.iconsguide.com/">
          <span>Icons Guide</span>
          <p>Site for finding premium icons.</p>
        </a>
      </li>
      <li>
        <a href="http://copypastecharacter.com/">
          <span>Copy paste character</span>
          <p>A nice showcase of HTML entities. Whats better than an HTML entity for an icon?</p>
        </a>
      </li>

      <li>
        <a href="http://fontello.com">
          <span>Fontello</span>
          <p>Gives you the ability to pick icons from a selection of open-source icons and combine them into a font.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://thenounproject.com/">
          <span>NounProject</span>
          <p>Open source icon project.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.iconsweets2.com/">
          <span>Icon Sweets</span>
          <p>Free minimal icons for Photoshop.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://iconmonstr.com/">
          <span>Icon Monstr</span>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.thetoolbox.cc/">
          <span>The Toolbox</span>
          <p>A bunch of design resources.</p>
        </a>
      </li>
    </ul>

    <h3 id="html-css">HTML,  CSS &amp; Sass</h3>
    <ul>
      <li class="subscription">
        <a href="https://github.com/thoughtbot/trail-map/blob/master/html-css.md">
          <span>HTML &amp; CSS</span>
          <p>Directed CSS learning tools with validation steps</p>
        </a>
      </li>

      <li class="subscription">
        <a href="https://upcase.com/sass-fundamentals">
          <span>Sass Fundamentals Trail on Upcase</span>
          <p>Directed Sass learning tools with validation steps</p>
        </a>
      </li>

      <li class="star">
        <a class="code" href="http://thoughtbot.com/bourbon/">
          <span>Bourbon</span>
          <p>thoughtbot&rsquo;s open source Sass library</p>
        </a>
      </li>

      <li>
        <a class="book" href="http://books.alistapart.com/products/css3-for-web-designers">
          <span>CSS3 for web designers</span>
          <p>Another book from A Book Apart. It covers all the new CSS3 styles and selectors.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://diveintohtml5.info/">
          <span>Dive Into HTML5</span>
          <p>A plain language explanation and reference for all of the HTML5 elements.</p>
        </a>
      </li>

      <li>
        <a href="http://learnlayout.com/">
          <span>Learn Layout</span>
          <p>A nice walk though and explanation of CSS layout techniques.</p>
        </a>
      </li>

      <li class="star">
        <a class="book" href="http://www.abookapart.com/products/responsive-web-design">
          <span>Responsive Web Design</span>
          <p>THE book on responsive design. At this point it&rsquo;s a must read for any designer on the web.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://leaverou.me/ft2010/#intro">
          <span>CSS3: A Practical Introduction</span>
          <p>Presentation for CSS3</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://net.tutsplus.com/tutorials/html-css-techniques/the-30-css-selectors-you-must-memorize/">
          <span>The 30 CSS Selectors you Must Memorize</span>
          <p>Simply a list of CSS selectors that are very helpful.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://caniuse.com/">
          <span>When can I use...</span>
          <p>Reference for which browsers support which CSS &amp; HTML features.</p>
        </a>
      </li>

      <li class="star">
        <a class="code" href="http://necolas.github.com/normalize.css/">
          <span>Normalize</span>
          <p>The default reset right now for CSS developers.</p>
        </a>
      </li>

      <li>
        <a class="code" href="http://daneden.me/animate/">
          <span>Animate CSS</span>
          <p>Good library for simple CSS animations.</p>
        </a>
      </li>

      <li>
        <a class="video" href="https://vimeo.com/17091905">
          <span>Dan Cederholm - Handcrafted CSS</span>
          <p>Good video to watch about crafting your CSS.</p>
        </a>
      </li>
    </ul>

    <h3 id="ux">UX &amp; Design thinking</h3>
    <ul>
      <li class="star">
        <a class="book" href="http://www.amazon.com/gp/product/0321344758">
          Don&rsquo;t Make Me Think</a>
        <p>The classic book on usability on the web.</p>
      </li>

      <li class="star">
        <a class="site" href="http://www.alistapart.com/">
          <span>A List Apart</span>
          <p>A periodical for web designers. A must read every month.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://contrast.ie/blog/wireframing-for-web-apps">
          <span>Wireframing for web apps</span>
          <p>Article on wireframing and sketching for web apps</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://feltpresence.com/articles/9-what-happens-to-user-experience-in-a-minimum-viable-product">
          <span>What happens to user experience in a minimum viable product?</span>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.designstaff.org/">
          <span>Design Staff</span>
          <p>Google Ventures design blog.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.uie.com/events/virtual_seminars/">
          <span>UIE Virtual Seminars</span>
          <p>Seminars from the premiere usability experts on current web design topics</p>
        </a>
      </li>

      <li>
        <a class="book" href="http://www.abookapart.com/products/designing-for-emotion"><span>Designing With Emotion</span></a>
      </li>

      <li>
        <a class="video" href="https://vimeo.com/creativemornings">
          <span>Creative Morning&rsquo;s Talks</span>
          <p>Collection of talks from Creative Mornings, a free lecture series around the world. They are great for motivation, inspiration and deign thinking.</p>
        </a>
      </li>

      <li>
        <a class="video" href="https://vimeo.com/34017777">
          <span>Wilson Miner - When We Build</span>
          <p>Video about our thinking as designers and what we do when we put things into the world.</p>
        </a>
      </li>

      <li><a class="video" href="https://vimeo.com/17084347"><span>Frank Chimero - The Shape of Design</span></a></li>
    </ul>

    <h3 id="inspiration">Design Inspiration</h3>
    <ul>
      <li>
        <a class="site" href="http://siteinspire.net/">
          <span>siteinspire</span>
          <p>A gallery of websites.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://www.uiparade.com/">
          <span>ui parade</span>
          <p>UI design inspiration</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://ffffound.com/">
          <span>ffffound</span>
          <p>An assortment of design and art related images. Not always SFW.</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://dribbble.com/">
          <span>Dribbble</span>
          <p>A design community of 400x300 pixel shots.</p>
        </a>
      </li>

      <li>
        <a class="site" href="https://patterntap.com/patterntap">
          <span>Patterntap</span>
          <p>A catalog of specific UI elements</p>
        </a>
      </li>

      <li>
        <a class="site" href="http://gimmebar.com/">Gimmebar</a> &amp; <a class="site" href="http://zootool.com/">Zootool</a>
        <p>Visual bookmarking tools that can be used as an inspiration collection tool.</p>
      </li>

      <li>
        <a class="site" href="http://www.realmacsoftware.com/littlesnapper/">
          <span>Littlesnapper</span>
          <p>A Mac app that collects all types of inspiration and helps you categorize them.</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= render 'sidebar' %>
