<section class="content-container">
  <h1>Visual Design Principles Cheat Sheet</h1>
  <ul>
    <li class="alignment block">
      <section>
        <img src="images/principles/alignment.png" alt="Alignment" />
        <h2>Alignment</h2>
      </section>
    </li>
    <li class="emphasis block">
      <section>
        <img src="images/principles/emphasis.png" alt="Emphasis" />
        <h2>Emphasis</h2>
      </section>
    </li>
    <li class="hierarchy block">
      <section>
        <img src="images/principles/hierarchy.png" alt="Hierarchy" />
        <h2>Hierarchy</h2>
      </section>
    </li>
    <li class="consistency block">
      <section>
        <img src="images/principles/consistancy.png" alt="Consistancy" />
        <h2>Consistency</h2>
      </section>
    </li>
    <li class="white-space block">
      <section>
        <img src="images/principles/white-space.png" alt="White Space" />
        <h2>White space</h2>
      </section>
    </li>
    <li class="balance block">
      <section>
        <img src="images/principles/balance.png" alt="Balance" />
        <h2>Balance</h2>
      </section>
    </li>
    <li class="unity block">
      <section>
        <img src="images/principles/unity.png" alt="Unity" />
        <h2>Unity</h2>
      </section>
    </li>
  </ul>
</section>
