<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="text-box principles">
    <hgroup class="product-title">
      <h2>Visual Design Principles Cheat Sheet</h2>
    </hgroup>
    <ul>
      <li class="alignment block">
        <section>
          <img src="images/principles/alignment.png" alt="Alignment" />
          <h3>Alignment</h3>
        </section>
      </li>
      <li class="emphasis block">
        <section>
          <img src="images/principles/emphasis.png" alt="Emphasis" />
          <h3>Emphasis</h3>
        </section>
      </li>
      <li class="hierarchy block">
        <section>
          <img src="images/principles/hierarchy.png" alt="Hierarchy" />
          <h3>Hierarchy</h3>
        </section>
      </li>
      <li class="consistency block">
        <section>
          <img src="images/principles/consistancy.png" alt="Consistancy" />
          <h3>Consistency</h3>
        </section>
      </li>
      <li class="white-space block">
        <section>
          <img src="images/principles/white-space.png" alt="White Space" />
          <h3>White space</h3>
        </section>
      </li>
      <li class="balance block">
        <section>
          <img src="images/principles/balance.png" alt="Balance" />
          <h3>Balance</h3>
        </section>
      </li>
      <li class="unity block">
        <section>
          <img src="images/principles/unity.png" alt="Unity" />
          <h3>Unity</h3>
        </section>
      </li>
    </ul>
  </div>
</div>

<%= render 'sidebar' %>
