<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="text-box">

<section class="content-container">
  <h1>Schedule</h1>
  <ol>
    <li>
      <h2> Week 1: Visual Principles </h2>
      <p>Visual Principles Video Released</p>
      <p>Office Hours for Visual Principles</p>
    </li>
    <li>
      <h2>Week 2: Grid Systems</h2>
      <p>Grids video Released </p>
      <p>Office Hours for Grid Systems</p>
    </li>
    <li>
      <h2>Week 3: Typography</h2>
      <p>Typography Video Released</p>
      <p>Office Hours for Type</p>
    </li>
    <li>
      <h2>Week 4: Color</h2>
      <p>Color Video Released</p>
      <p>Office hours for Color</p>
    </li>
    <li>
      <h2>Week 5: Tips, tricks & Trends</h2>
      <p>Tips tricks and trends video released</p>
      <p>Final Office hours and critique</p>
    </li>
  </ol>

  <h1>Guidelines</h1>
  <ul>
    <li>
      <h2>Project</h2>
      <blockquote>
        <p>Pick a project — This can be anything from your personal site, to a side project, to something you're working on at your job. As you work through the lessons, Kyle will help you apply the principles learned in the workshop to this real world project.</p>
      </blockquote>
      <h4>A couple things that could help you make your decision:</h4>
      <p>It can be a web application, static site or mobile app. When people are having a I tell them to pick the one that they are most passionate about. </p>
      <p>For the in-person workshop I have I tell people to focus on one page in the app / site. I also tell students to not do any programming during the workshop. These are both because of the time constraint which you won&rsquo;t have but it might still be good to put that constraint on yourself.</p>
    </li>

    <li>
      <h2>Office Hours</h2>
      <p> Each one of the videos will end with me critiquing other design work. This is usually done as a group at our in person workshops. It reinforces the design vocabulary you just learned and helps better visualize them. I&rsquo;d like to do some of this during the Office Hours every week but if you&rsquo;d like to do some on your own let me know and I can send a you a list of sites. Feel free to use the <a href="http://learn.thoughtbot.com/design-for-developers-resources/principles.html">cheatsheet</a> in the resources to do this.</p>

      <p><a href="/design-for-developers-resources/design-critique.html">See the guidelines for design critique</a></p>

      <p>We will also be doing group critique during the office hours. During these critiques we should be using the terms that were learned during the videos. Be prepared to give and receive critique on your work. <a href="http://www.alistapart.com/articles/design-criticism-creative-process/">Design Criticism and the Creative Process</a> on A List Apart is a great article to read before we dive into that. </p>

      <p>Every week feel free to ask any questions that I didn't answer in the video session. If there was something that I missed or something that I might have gone to fast on now is the chance to ask and for me to answer.</p>
    </li>

    <li>
      <h2>Videos</h2>
      <p>Each week the video will act as the theme for the week. It will dictate what you will be doing in the workshop and what we will talk about in the office hours.</p>
    </li>

    <li>
      <h2>Workshops</h2>
      <p>The workshop for each week will be discussed at the end of the video and will be sent to you in advance of the week.</p>
    </li>

  </ul>
</section>
  </div>
</div>

<%= render 'sidebar' %>

