<% content_for :subject, "Design for Developers" %>

<div class="text-box-wrapper">
  <div class="typography text-box">

    <h2>Typography Cheat Sheet</h2>

    <section class="define-type">
      <article>
        <h3>Typeface</h3>
        <p>A typeface is a set of characters that share stylistic unity. It is comprised of an alphabet of letters, numbers, punctuation and diacritical marks.</p>
      </article>

      <article>
        <h3>Font</h3>
        <p>A complete character set of a particular typeface in one size. <br> Also, an electronic file that renders a typeface in all sizes.</p>
      </article>
    </section>

    <section class="anatomy wide">
      <img src="images/type/type.png" alt="" />
    </section>

    <section class="terms">
      <article>
        <h3>Line-height</h3>
        <p>The distance between baselines.</p>
      </article>

      <article>
        <h3>Line Length</h3>
        <p>The maximum length of a single line of text.</p>
      </article>

      <article>
        <h3>Letter-spacing</h3>
        <p>Amount of space between a group of letters.</p>
      </article>
    </section>

    <section class="type-classification">
      <img src="images/type/serif.png" alt=""/>
      <img src="images/type/sans.png" alt=""/>
    </section>

  </div>
</div>

<%= render 'sidebar' %>
