.button {
  background-color: $base-button-background-color;
  border-radius: $base-border-radius;
  border: 0;
  box-shadow: $base-button-shadow;
  color: $base-button-color;
  display: inline-block;
  font-family: $strong-font-family;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: ($small-spacing * 1.25) $large-spacing ($small-spacing * 1.5);
  text-align: center;
  text-decoration: none;
  transition: transform $base-duration, color ($base-duration * 4);

  &:hover {
    color: rgba($white, 0.75);
    cursor: pointer;
    transform: translateY(-2px);
  }
}

.button--on-dark {
  box-shadow: $dark-button-shadow;
}
