.page-content {
  margin: 0 auto;
  max-width: $large-screen;
  padding: $large-spacing $base-spacing;

  + .page-content {
    margin-top: -($large-spacing);
    padding-top: 0;
  }
}

.page-content--centered {
  @media (min-width: $small-screen) {
    align-items: stretch;
    display: flex;
    justify-content: center;
  }
}

.page-content--reading {
  @include padding(null $medium-spacing);
  max-width: $reading-width;

  @media (min-width: $medium-screen) {
    @include padding(null null);
  }
}

.page-content__heading {
  font-family: $strong-font-family;
  margin-bottom: $base-spacing;
  text-align: center;
}

.page-content__intro {
  color: $light-font-color;
  margin: 0 auto $medium-spacing;
  max-width: $reading-width;
  text-align: center;
}
