.table-of-contents-toggle {
  &::after {
    @include transition;
    content: $unicode-down-triangle;
    display: inline-block;
    margin-left: 6px;
    position: relative;
  }

  &.is-open {
    background: rgba($black, 0.12);
    border-radius: 3px;

    &::after {
      @include transform(rotate(180deg));
      top: 2px;
    }
  }
}
