.table-of-contents-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: $large-spacing;
}

.table-of-contents-list__unit {
  margin-bottom: 3em;
  padding-left: 4em;
  position: relative;
  width: calc(#{100%} - #{$base-spacing});

  @include marketing-small {
    width: calc(#{50%} - #{$base-spacing});
  }

  @include marketing-fullsize {
    width: calc(#{33%} - #{$base-spacing});
  }

  li {
    display: block;
    margin-bottom: 0.4em;
  }

  li:last-of-type a {
    font-style: italic;
    font-weight: 500;
  }

  img {
    @include position(absolute, -0.5em null null 0);
    @include size(3em);
  }
}

.table-of-contents-list__unit-title {
  a {
    color: $darkwarmgray;
  }
}
