<% content_for :subject_block do %>
  <h1><%= @show.name %></h1>
  <h2 class="tagline">
    Watch or download episodes.
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <section id="videos">
      <%= render @show.published_videos.recently_published_first %>
    </section>
  </div>
</div>

<%= render 'watchables/aside', watchable: @show %>
