<% content_for :subject_block do %>
  <h1><%= @purchaseable.name %></h1>
  <h2 class="tagline">
    Watch or download episodes.
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <section id="videos">
      <%= render @purchaseable.published_videos.recently_published_first,
        purchase: @purchase %>
    </section>
  </div>
</div>

<%= render 'shows/aside', purchaseable: @purchaseable, purchase: @purchase %>
