<div class="access-callout subscription-required" data-role="subscribe_cta">
  <p><%= description %></p>

  <%= link_to professional_checkout_path, class: "pull-right cta-button subscribe-cta light-bg" do %>
    <span><%= button_text %></span>
  <% end %>
</div>
