<hgroup>
  <%= link_to test_driven_rails_url do %>
    <h1>Test-Driven Rails</h1>
  <% end %>

  <%= link_to test_driven_rails_resources_path do %>
    <h2>Resources</h2>
  <% end %>
</hgroup>

<ul>
  <li>
    <%= link_to 'Take the Workshop', test_driven_rails_url, class: 'cta' %>
  </li>
</ul>
