<div class="figure-container">
  <figure class="book product-card">
    <%= image_tag cover_image(book), alt: "#{book.name} cover" %>
    <span class="notification">New commits</span>
  </figure>
  <%= link_to 'Read now', book %>
</div>
