<%= link_to book do %>
  <figure class="book product-card">
    <%= image_tag cover_image(book), alt: "#{book.name} cover" %>
  </figure>
  <h3 class="book-title">Read <%= book.name %></h3>
<% end %>
