<div class="figure-container">
  <figure class="book product-card">
    <%= image_tag cover_image(book), alt: "#{book.name} cover" %>
  </figure>
  <%= link_to 'Learn More', book, class: 'learn-more' %>
</div>
