<h2 <% if current_user_has_active_subscription? %>class="active-subscription"<% end %>>
  <% unless current_user_has_active_subscription? %>
    Single
  <% end %>
  <%= render 'price', product: product, price: product.individual_price, original_price: product.original_individual_price %>
</h2>

<div class="license">
  <%= link_to new_product_purchase_path(product, variant: :individual),
    class: 'license-button button',
    id: "#{product.sku}-purchase-individual" do %>
      <%= purchase_button_text(product) %>
  <% end %>
</div>
