<div class="product-card-locked">
  <span class="icon">
    <%= image_tag("icons/lock.svg", size: "11x15") %>
  </span>
  <%= link_to 'Get access by upgrading',
              edit_subscription_path,
              class: 'upgrade-link' %>
</div>
