<section class="root-resources">
  <div class="content">
    <section class="video_tutorials disabled">
      <div class="disabled-text">
        <h2>
          <%= t('products.locked_features.why_they_are_locked') %>

          <%= link_to t("products.locked_features.subscribe_link"), new_subscription_path %> to start leveling up.
        </h2>
      </div>
    </section>
  </div>
</section>
