<% if current_user_has_active_subscription? %>
  <section class="mentor">
    <%= image_tag("learn/face-#{current_user.mentor.first_name.downcase}.png") %>
    <hgroup>
      <h3>Your Mentor</h3>
      <h2><%= current_user.mentor.name %></h2>
      <p><%= link_to "Email #{current_user.mentor.first_name}", "mailto:#{current_user.mentor.email}", title: "Email #{current_user.mentor.first_name}" %></p>
      <p><%= link_to "What's a mentor?", 'http://robots.thoughtbot.com/post/55803306972/one-on-one-mentors-now-included-in-thoughtbots-learn', class: 'mentor-help', title: 'Learn about mentors', target: '_blank' %></p>
    </hgroup>
  </section>
<% end %>
