<% if current_user_has_active_subscription? %>
  <figure class="mentor product-card">
    <h4>Your Mentor</h4>
    <%= image_tag("learn/face-#{current_user.mentor.first_name.downcase}.png") %>
    <h5><%= current_user.mentor.name %></h5>
    <section class="actions">
      <%= mail_to current_user.mentor.email, "Email #{current_user.mentor.first_name}", class: 'main' %>
    </section>
  </figure>
<% end %>
