<% content_for :page_title, product.title %>
<% content_for :meta_description, product.short_description %>
<% content_for :subject_block do %>
  <h1><%= product.name %></h1>
  <h2 class="tagline"><%= product.tagline %></h2>
<% end %>
<% content_for :meta_keywords, product.meta_keywords %>
