<% if subscription_product %>
  <%= link_to product_path(subscription_product), class: "prime-main-cta #{position}" do %>
    <h2><%= t('shared.subscription_call_to_action') %></h2>
    <h3>with Learn <%= subscription_product.name %></h3>
  <% end %>
<% end %>
