<% if subscription_product %>
  <% if viewable_subscription.should_display_subscription_cta?(request.fullpath) %>
    <h2>Access this and all our other products by subscribing to <%= subscription_product.name %></h2>

    <div class="license">
      <%= link_to product_path(subscription_product),
        class: 'license-button button' do %>
          Get unlimited access
      <% end %>
    </div>
  <% end %>
<% end %>
