<% unless current_user.has_active_subscription? %>
  <div class="subscription-cta">
    <h2><%= t("#{offering.offering_type}.preview_cta") %></h2>
    <div class="license">
      <%= link_to new_subscription_path, class: 'license-button button subscription-button' do %>
        Subscribe to <%= t('shared.subscription.name') %>
      <% end %>
    </div>
  </div>
<% end %>
