<section id="terms">
  <ul>
    <% if product.subscription? %>
      <dd><p>Your subscription includes support for any technical questions you have, direct from the thoughtbot team and the rest of the <%= subscription_product.name %> community in our forum and chat room.</p></dd>
    <% end %>
    <% if !product.external? %>
      <dt><p>What if I'm not happy?</p></dt>
      <dd><p>If you&rsquo;re not happy, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
    <% end %>
    <%== product.questions %>
  </ul>
</section>
