<figure class="trails product-card">
  <a href="/trails" title="Self assess with Trails">
    <h3>Check off your skills on our Trail Maps to discover which workshops are right for you</h3>
  </a>
</figure>
