<figure class="screencast product-card">
  <%= link_to product_path(video), class: 'main' do %>
    <figure>
      <%= image_tag('workshop_thumbs/playbook.png') %>
      <span><%= video.tagline %></span>
    </figure>
    <h5>Screencast</h5>
    <h4><%= video.name %></h4>
    <span class="notification">New workshop</span>
  <% end %>
</figure>
