<% if workshop.online? %>
  <figure class="workshop-online product-card">
<% else %>
  <figure class="workshop-inperson product-card">
<% end %>
  <h4><%= workshop.name %></h4>
  <% if workshop.online? %>
    <%= image_tag('workshop_thumbs/playbook.png') %>
    <h5>Online Workshop</h5>
  <% else %>
    <div class="inperson-date">
      <span class="month">Jan</span>
      <span class="day">3rd</span>
    </div>
    <h5>In-Person Workshop</h5>
  <% end %>
  <p><%= workshop.short_description %></p>
  <section class="actions">
    <%= link_to 'Learn More', workshop, 'data-role' => workshop_data_role(workshop), class: 'main' %>
    <% if current_user && current_user.has_active_subscription? %>
      <a href="#">View Forum</a>
    <% end %>
  </section>
  <span class="notification">New workshop</span>
</figure>
