<section class="subject">
  <h1>Video Tutorials</h1>
  <% if !current_user_has_active_subscription? %>
    <div class="subscription">
      <%= link_to "Subscribe to #{t('shared.subscription.name')}",
        new_subscription_path,
        class: 'button' %> to access all of these products.
    </div>
  <% end %>
</section>

<section class="resources-container tiles-container">
  <%= render(
    partial: "products/video_tutorials/video_tutorial",
    collection: @catalog.video_tutorials
  ) %>
</section>
