<% if !current_user_has_active_subscription? %>
  <section class="subscription">
    <%= link_to "Subscribe to #{t('shared.subscription.name')} to access all of these products", new_subscription_path, class: 'button' %>
  </section>
<% end %>

<h2>Every video tutorial</h2>
<section class="resources">
  <%= render(
    partial: "products/video_tutorials/video_tutorial",
    collection: @catalog.video_tutorials
  ) %>
</section>

<h2>Every show</h2>
<section class="resources">
  <%= render(
    partial: "products/shows/show",
    collection: @catalog.shows
  ) %>
</section>

<h2>Every exercise</h2>
<section class="resources">
  <%= render(
    partial: "products/exercises/exercise",
    collection: @catalog.exercises
  ) %>
</section>
