<%= render 'offerings/details', offering: @offering %>

<aside>
  <%= render 'license', product: @offering %>
  <%= render 'terms', product: @offering %>
</aside>

<% content_for :outside do %>
  <div id="flash"></div>
<% end %>
