<%= render 'offerings/details', offering: @offering %>

<aside>
  <%= render(
    'license',
    product: @offering,
    viewable_subscription: @viewable_subscription
  ) %>

  <%= render 'terms', product: @offering %>
</aside>

<% content_for :outside do %>
  <div id="flash"></div>
<% end %>
