<%= render "offerings/details", offering: @offering %>

<aside>
  <%= render "products/license", offering: @offering %>
  <%= render "products/terms", offering: @offering %>
</aside>

<% content_for :outside do %>
  <div id="flash"></div>
<% end %>
