<figure>
  <%= image_tag('product_images/book/geocoding-cover-large.png') %>
  <%= image_tag('product_images/book/backbone-cover-large.png') %>
  <%= image_tag('product_images/book/rubyscience-cover-large.png') %>
</figure>

<article>
  <p>We've published four successful books: Backbone.js on Rails, Ruby Science, and Geocoding on Rails.</p>
  <p><a href="/products/1-backbone-js-on-rails">Backbone.js on Rails</a> teaches the best practices we've learned for building rich, client-side web apps. <a href="/products/13-ruby-science">Ruby Science</a> focuses on refining large codebases, and creating apps with great performance, clarity, and efficiency. <a href="/books/22-geocoding-on-rails">Geocoding on Rails</a> covers building mapping applications from start to finish.</p>
  <p>These books are only available on Learn, and we offer them in Kindle, PDF, and EPub formats. We also integrate with Readmill, and add you to each book's GitHub repo in case we make any changes.</p>
</article>

