<figure>
  <%= image_tag('learn/exercises.jpg') %>
</figure>

<article>
  <p>Hone your development skills and learn new techniques by completing short exercises, custom crafted by thoughtbot. Submit your exercise solution to be reviewed by thoughtbot and other subscribers.</p>
  <p>You complete these exercises on your own computer, using the editor and tools you already know. Our Git-based system gives you your own clone to work in and push your solution to.</p>
  <p>Once you submit your solution you can review other subscribers' solutions and have your solution reviewed by others. We've built a custom interface for collaborative solution review.</p>
</article>
