<section class="features">
  <h4>Includes</h4>
  <ul>
    <% if plan.includes_mentor? %>
      <li class="mentor">1-1 Mentoring</li>
    <% end %>
    <% if plan.includes_workshops? %>
      <li class="workshops">Workshops</li>
    <% end %>
    <li>Learn Forum</li>
    <li>Screencasts</li>
    <li>Books</li>
    <li>Prime Bytes</li>
  </ul>
</section>
