<section class="features">
  <h4>Includes</h4>
  <ul>
    <% if plan.includes_mentor? %>
      <li class="mentor"><%= t 'individual_plans.mentoring' %></li>
    <% end %>
    <% if plan.includes_workshops? %>
      <li class="workshops"><%= t 'individual_plans.workshops' %></li>
    <% end %>
    <li><%= t 'individual_plans.forum' %></li>
    <li>Screencasts</li>
    <li>Books</li>
    <li>Prime Bytes</li>
  </ul>
</section>
