<figure>
  <%= image_tag('learn/forum-2.png') %>
  <%= image_tag('learn/forum-1.png') %>
</figure>

<article>
  <p>Don’t develop alone, communicate with thoughtbotters and other subscribers. We use <a href="http://www.discourse.org/">Discourse</a> to discuss questions about workshops, books, personal projects, and interesting development topics. Thoughtbotters browse and use the forum regularly, and new content is posted every day — we've even organized programming exercises and group challenges through the forum.</p>
  <p>A great way to deeply learn a topic is to try to it to another person. So, subscribers also often answer each others' questions.</p>
</article>
