<figure>
  <%= image_tag('learn/learn-github-preview.jpg') %>
  <%= image_tag('learn/learn-github-preview-2.jpg') %>
</figure>

<article>
  <p>It can be really helpful to see what a real-world, complex, fully tested production application looks like. So, as a subscriber, you have access to the source code of Learn, this application. Clone it, read it, and follow code reviews.</p>
  <p>We've been working full-time on Learn for more than a year, and we think it's a good example of a large app with great code. Learn has extensive test coverage, a full implementation of SaaS billing with Stripe, and serves as an OAuth endpoint for our Discourse forum, among other things. You can even make changes and participate in pull request discussions if you like.</p>
</article>

