<article>
  <p><strong>This is <%= mentor.first_name %></strong>. If you choose this plan, <%= mentor.first_name %> will be your mentor. <%= mentor.bio %></p>
  <p>Don't worry! If it turns out that <%= mentor.first_name %> isn't a good fit for you, we'll happily swap you to someone else.</p>
</article>

