<article>
  <p><strong>This is <%= mentor.first_name %></strong>, your first mentor if you choose this plan. <%= mentor.first_name %> will coach you one-on-one for 30 mins a month in a video chat, focusing on whatever you like: getting that first Rails position, salary negotiation, a specific problem in a side-project, etc. <%= mentor.bio %></p>
</article>

