<article>
  <p><strong>This is <%= mentor.first_name %></strong>. If you choose this plan, they'll be your mentor — <%= mentor.first_name %> will coach you one-on-one for 30 mins a month, focusing on whatever you like: getting that first Rails position, salary negotiation, a specific problem in a side-project, etc. <%= mentor.bio %></p>
  <p>Don't worry! If it turns out that <%= mentor.first_name %> isn't a good fit for you, we'll happily swap you to someone else.</p>
</article>

