<section class="testimonials">
  <div class="supporting-quotes">
    <div class="supporting-quote">
      <figure>
        <%= image_tag "upcase/testimonial_thumbs/jacqueline-homan.jpg",
          alt: "Jacqueline" %>
        <p class="quotee">
          Jacqueline Homan<strong>Professional</strong>
        </p>
      </figure>

      <blockquote>
        <p>
          <strong>Upcase gave me wings – I feel like I'm learning to
          fly.</strong> I never thought I could aspire to a career in
          Programming. I expected it to be difficult, and didn't even own a
          computer until a couple of years ago. Upcase provided the foundation
          for my future.
        </p>
      </blockquote>
    </div>

    <div class="supporting-quote">
      <figure>
        <%= image_tag "upcase/testimonial_thumbs/matt-sumner.jpg", alt: "Matt" %>
        <p class="quotee">
          Matt Sumner
        </p>
      </figure>

      <blockquote>
        <p>
          <strong>I was an Upcase subscriber – now I work at
          thoughtbot.</strong> My experience with Upcase was amazing. I had a
          mentor who was aware of my proficiency and gave expert advice on how
          to move forward building my skills.  Without doubt, Upcase was vital
          to my professional growth and led to an apprenticeship at thoughtbot.
        </p>
      </blockquote>
    </div>

    <div class="supporting-quote">
      <figure>
        <%= image_tag "upcase/testimonial_thumbs/ben-goldhaber.jpg", alt: "Ben" %>
        <p class="quotee">
          Ben Goldhaber<strong>The Weekly Iteration</strong>
        </p>
      </figure>

      <blockquote>
        <p>
          <strong>Upcase is very useful</strong> – in particular the material
          I've been using to improve my testing (…and, you know, actually use
          TDD) has been excellent.
        </p>
      </blockquote>
    </div>
  </div>
</section>
