<section class="subscriptions">
  <%= render "plans/pricing", plans: catalog.individual_plans %>
  <%= render "subscriptions/testimonials" %>
  <%= render "plans/plan_features", catalog: catalog %>
</section>
