<figure>
  <%= wistia_video_embed('nuhokhnb7s', 563, 317) %>
</figure>

<article>
  <p>We produced over 30 screencasts in the last year with quick, useful tips on Vim, testing, Rails performance, business best practices, refactoring, development tools, tmux, and more. These are typically under an hour and show a lot of code.</p>
</article>
