<figure>
  <%= wistia_video_embed('ol6e0miehm', 563, 317) %>
</figure>

<article>
  <p>The Weekly Iteration is a video show hosted by Ben Orenstein, released every Friday.</p>
  <p>In each episode, Ben invites an awesome thoughtbot developer to discuss topics chosen to make you a better programmer.</p>
  <p>The show covers topics like powerful refactoring techniques, improving your development environment, and mastering the finer points of TDD. And, importantly, it does so in less than 30 minutes.</p>
  <p>Learning to be a better developer doesn’t have to take a huge amount of time. A consistent effort applied toward the correct topics will quickly pay off, and the concepts learned are very likely to stick. The Weekly Iteration makes sure you’re focused on the right topics, and its short format makes it easy to stay caught up.</p>
</article>
