<figure>
  <%= wistia_video_embed('im3s3en4yu', 563, 317) %>
</figure>

<article>
  <p>The best way to learn is to do. In each workshop, a thoughtbot subject-matter expert takes you deep within a topic during several hours of detailed videos. You follow along by coding the related exercises on your own time, from the comfort of home. Your instructor answers all your questions in a chat room each week.</p>

  <p>Currently, we offer the following full-length workshops, and additional workshops are added regularly:</p>
  <ul>
    <li>Intro to Ruby on Rails</li>
    <li>Intermediate Ruby on Rails</li>
    <li>Test-Driven Rails</li>
    <li>Design for Developers</li>
    <li>Hands-on Backbone.js on Rails</li>
  </ul>
</article>
