<figure class='exercise thumbnail product-card'>
  <%= exercise_link exercise.url, title: exercise.title do %>
    <figure>
      <p class='console-illustration'></p>
    </figure>
    <h5>Exercise</h5>
    <h4><%= exercise.title %></h4>
    <p><%= exercise.summary %></p>
  <% end %>
</figure>
