<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Coupons", admin_coupons_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to @coupon.code, edit_admin_coupon_path(@coupon) %></li>
  </ul>
<% end -%>

<%= semantic_form_for [:admin, @coupon] do |form| %>
  <%= render form %>
<% end %>
