<article id="coding_exercises">
  <header>
    <h3>Coding Exercises</h3>

    <div class="included-in">
      <% 2.times do %>
        <div class="true">
          <%= image_tag("pricing-check.svg") %>
        </div>
      <% end %>

      <% 2.times do %>
        <div class="false">
          <%= image_tag("pricing-x.svg") %>
        </div>
      <% end %>
    </div>
  </header>
  <h4>The ultimate way to sharpen your development skills, custom crafted by thoughtbot.</h4>
  <p>Submit your exercise solutions to be reviewed by thoughtbot and other subscribers.</p>

  <p>You complete these exercises on your own computer, using the editor and
  tools you already know. Our Git-based system gives you your own clone to work
  in and push your solution to.</p>

  <p>Once you submit your solution you can review other subscribers' solutions
  and have your solution reviewed by others. We've built a custom interface for
  collaborative solution review.</p>
</article>
