<article id="community_forum">
  <header>
    <h3>Community Forum</h3>

    <div class="included-in">
      <% 3.times do %>
        <div class="true">
          <%= image_tag("pricing-check.svg") %>
        </div>
      <% end %>

      <div class="false">
        <%= image_tag("pricing-x.svg") %>
      </div>
    </div>
  </header>
  <h4>Don’t develop alone, post questions to thoughtbotters and other subscribers.</h4>
  <p>Get in depth answers to questions you have about unfamiliar development topics, your personal projects, and our video tutorials and books.</p>
  <p>Or deeply learn a topic by teaching it to another person on the forum. Subscribers often answer each others' questions.</p>
  <p>Thoughtbotters browse and use the forum regularly, and new content is posted every day &mdash; we've even organized programming exercises and group challenges through the forum.</p>
</article>
