<article id="personal_coach">
  <header>
    <h3>Personal Coach</h3>

    <div class="included-in">
      <div class="true">
        <%= image_tag("pricing-check.svg") %>
      </div>

      <% 3.times do %>
        <div class="false">
          <%= image_tag("pricing-x.svg") %>
        </div>
      <% end %>
    </div>
  </header>

  <h4>Get unadulturated access to one-on-one communication with a thoughtbot developer.</h4>
  <p>You will be assigned an experienced thoughtbot developer, your personal coach, who will coach you one-on-one for 30 mins each month in a video chat.</p>
  <p>Dicussion topics are up to you, focusing on whatever you like: getting that first Rails position, salary negotiation, a specific problem in a side-project, etc.</p>
</article>
