<article id="app_source_code">
  <header>
    <h3>App Source Code</h3>

    <div class="included-in">
      <% 2.times do %>
        <div class="true">
          <%= image_tag("pricing-check.svg") %>
        </div>
      <% end %>

      <% 2.times do %>
        <div class="false">
          <%= image_tag("pricing-x.svg") %>
        </div>
      <% end %>
    </div>
  </header>
  <h4>See what a real-world, complex, fully tested production application looks like.</h4>
  <p>As a subscriber, you have access to the source code of Upcase, this application. Clone it, disect it, and follow code reviews.</p>

  <p>We've been working full-time on Upcase for more than a year, and we think it's a good example of a large app with great code. Upcase has extensive test coverage, a full implementation of SaaS billing with Stripe, and serves as an OAuth endpoint for our Discourse forum, among other things. We encourage you to make changes and participate in pull request discussions.</p>
</article>
