<article id="video_tutorials">
  <header>
    <h3>Video Tutorials</h3>

    <div class="included-in">
      <% 3.times do %>
        <div class="true">
          <%= image_tag("pricing-check.svg") %>
        </div>
      <% end %>

      <div class="false">
        <%= image_tag("pricing-x.svg") %>
      </div>
    </div>
  </header>
  <h4>The best way to learn is to do.</h4>
  <p>In each video tutorial, a thoughtbot subject-matter expert takes you deep within a topic during several hours of detailed videos. You follow along by coding the related exercises on your own time.</p>

  <p>We offer the following full-length video tutorials, and additional videos are added regularly:</p>

  <ul>
    <% catalog.video_tutorials.each do |video_tutorial| %>
      <li><%= link_to video_tutorial.name, video_tutorial %></li>
    <% end %>
  </ul>
</article>
