<article id="weekly_iteration">
  <header>
    <h3>Weekly Iteration</h3>

    <div class="included-in">
      <% 4.times do %>
        <div class="true">
          <%= image_tag("pricing-check.svg") %>
        </div>
      <% end %>
    </div>
  </header>
  <h4>The Weekly Iteration is a video show hosted by Ben Orenstein, released every Friday.</h4>
  <p>In each episode, Ben invites a thoughtbot developer to discuss topics chosen to make you a better programmer.</p>

  <p>The show covers topics like powerful refactoring techniques, improving your development environment, and mastering the finer points of TDD. And, importantly, it does so within 30 minutes.</p>

  <p>The short format of The Weekly Iteration focuses on the right topics that will quickly pay off with consistent effort. The concepts taught are very likely to stick.</p>
</article>
