<aside>
  <%= render 'licenses/downloads_info', offering: offering %>

  <% if offering.resources.present? %>
    <div class="resources">
      <h3>Resources</h3>
      <hr>
      <%= format_markdown offering.resources  %>
    </div>
  <% end %>

  <%= render 'shared/sidebar_forum', offering: offering %>
</aside>
