<% if video_tutorial.questions.any? -%>
  <section id="faq">
    <dl>
      <% video_tutorial.questions.each do |question| %>
        <dt><%=raw textilize question.question %></dt>
        <dd><%=raw textilize question.answer %></dd>
      <% end %>
    </dl>
  </section>
<% end -%>
