<figure class="screencast thumbnail card">
  <%= link_to screencast_path(screencast), title: screencast.name do %>
    <h5>Screencast</h5>
    <%= image_tag(screencast.image_url) %>
    <h4><%= screencast.name %></h4>
    <p><%= screencast.short_description %></p>
  <% end %>
</figure>
