<figure class="video_tutorial tile">
  <%= link_to video_tutorial, title: "The #{video_tutorial.name} online video tutorial details" do %>
    <h5>Video Tutorial</h5>
    <h4><%= video_tutorial.name %></h4>
    <p><%= video_tutorial.tagline %></p>
  <% end %>
</figure>
