<section class="topic">
  <header>
    <p class="topic-headline"><%= show.name %></p>
  </header>

  <%= render partial: "products/videos/video", collection: show.latest_videos %>

  <figure class="see-more">
    <%= link_to show do %>
      <h4><%= pluralize show.videos.count, "more episode" %></h4>
      <p>View All</p>
    <% end %>
  </figure>
</section>
