<%= link_to topic_resources_path(topic), class: "topic-link #{topic.slug}" do %>
  <li class="topic-tile">
    <%= image_tag topic.image.url %>
    <ul>
      <li class="topic-title"><%= topic.name %></li>
      <li><span class='topic-num'><%= topic.count %></span> resources</li>
    </ul>
  </li>
<% end %>
