<%= render "mentor_info" %>
<% content_for :page_title, "Explore" %>

<% if locked_features.any? %>
  <%= render "products/locked_features" %>
<% end %>

<section class="root-library">
  <div class="content">
    <header class="section-title">
      <h1>Explore</h1>
      <h2>Upcase's exclusive video tutorials and resources on intermediate and advanced topics such as Vim mastery, TDD, and object-oriented design.</h2>
    </header>

    <section class="trail-titles">
      <span class="divider">
        <h4 class="text">All Trails</h4>
      </span>
      <ul>
        <li class="haskell"><a href="">Haskell Fundamentals</a></li>
        <li class="clean-code"><a href="">Refactoring</a></li>
        <li class="testing"><a href="">Testing Fundamentals</a></li>
        <li class="vim"><a href="">Vim Fundamentals</a></li>
        <li class="javascript"><a href="">Javascript Fundamentals</a></li>
        <li class="clojure"><a href="">Clojure Fundamentals</a></li>
        <li class="ruby-on-rails"><a href="">Ruby Fundamentals</a></li>
        <li class="workflow"><a href="">Workflow Fundamentals</a></li>
        <li class="analytics"><a href="">Analytics Fundamentals</a></li>
      </ul>
    </section>

    <section class="topics">
      <span class="divider">
        <h4 class="text">Topics</h4>
      </span>
      <ul>
        <li class="topic-link ruby-on-rails">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link vim">
          <ul>
            <li class="topic-title"><a href=""><a href="">Vim</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link design">
          <ul>
            <li class="topic-title"><a href="">Design</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link javascript">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link haskell">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link clojure">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link analytics">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link workflow">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</> trails</a> </li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link testing">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</span> trails </a></li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link ios">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</> trails</a> </li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
        <li class="topic-link clean-code">
          <ul>
            <li class="topic-title"><a href="">Ruby on Rails</a></li>
            <li><a href=""><span class="number">3</> trails</a> </li>
            <li><a href=""><span class="number">12</span> videos</a></li>
          </ul>
      </ul>
    </section>

    <section class="tiles">
      <span class="divider">
        <h4 class="text">Videos</h4>
      </span>
      <ul>
        <li class="latest-weekly-iteration tile">
            <h2>The Weekly Iteration</h2>
            <h1><a href="">Swift First Impressions</a></h1>
            <p class="description">A method of improving code quality...</p>
            <a class="cta" href="">View All Episodes</a>
        </li>
        <li class="video-tutorial tile">
          <h2>Video Tutorial</h2>
          <h1><a href="">Hands on Backbone.js</a></h1>
          <p class="description">A method of improving code quality...</p>
          <a class="cta" href="">View All Videos</a>
        </li>
    </section>

    <%= render partial: "show", collection: @explore.shows %>
    <%= render partial: "topic", collection: @explore.topics %>
  </div>
</section>
