<%= render "mentor_info" %>
<% content_for :page_title, "Explore" %>

<% if locked_features.any? %>
  <%= render "products/locked_features" %>
<% end %>

<section class="root-library">
  <div class="content">
    <header class="dashboard-section-title">
      <h1>Library</h1>
      <h2>Upcase's exclusive video tutorials and resources on intermediate and advanced topics such as Vim mastery, TDD, and object-oriented design.</h2>
    </header>

    <%= render partial: "show", collection: @explore.shows %>
    <%= render partial: "topic", collection: @explore.topics %>
  </div>
</section>
