---
name: Lint with StandardRB

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@v4
      - name: StandardRB Linter
        uses: standardrb/standard-ruby-action@v1.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
