<header class="site-header">
  <nav class="site-nav">
    <div class="site-nav__action">
      <%= link_to root_path do %>
        <%= inline_svg_tag "upcase/upcase-header-logo-small.svg",
          alt: t("layouts.app_name") %>
      <% end %>
      <span class="site-nav__thoughtbot">
        by thoughtbot
      </span>

      <a class="site-nav__menu-trigger js-toggle-menu-trigger">
        Menu
      </a>
    </div>

      <%= render "layouts/header_application_links" %>
  </nav>
</header>
