<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="" />
    <meta http-equiv="Keywords" name="Keywords" content="" />
    <title>Design for Developers Resources &amp; Recommended Reading</title>
    <script type="text/javascript" src="//use.typekit.net/goi6gvo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/assets/design-for-developers.css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : params[:id] %>">
    <header class="title">
      <hgroup>
        <a href="https://learn.thoughtbot.com/products/11-design-for-developers">
          <h1>Design for Developers</h1>
        </a>

        <a href="/design-for-developers-resources">
          <h2>Resources</h2>
        </a>
      </hgroup>

      <ul>
        <li>
          <h3>Cheatsheets:</h3>
          <ul>
            <li><a href="/design-for-developers-resources/principles">Principles</a></li>
            <li><a href="/design-for-developers-resources/grid"</a>Grid</li>
            <li><a href="/design-for-developers-resources/typography"</a>Typography</li>
            <li><a href="/design-for-developers-resources/color">Color</a></li>
          </ul>
        </li>

        <li>
          <a href="https://learn.thoughtbot.com/products/11-design-for-developers" class="cta">Take the Workshop</a>
        </li>
      </ul>
    </header>

    <section class="container">
      <%= yield %>
    </section>

    <footer>
     <hgroup>
        <a href="https://learn.thoughtbot.com/products/11-design-for-developers">
          <h1>Design for Developers</h1>
        </a>

        <a href="/design-for-developers-resources">
          <h2>Resources</h2>
        </a>
      </hgroup>

      <ul>
        <li>
          <h3>Cheatsheets:</h3>
          <ul>
            <li><a href="/design-for-developers-resources/principles">Principles</a></li>
            <li><a href="/design-for-developers-resources/grid"</a>Grid</li>
            <li><a href="/design-for-developers-resources/typography"</a>Typography</li>
            <li><a href="/design-for-developers-resources/color">Color</a></li>
          </ul>
        </li>

        <li>
          <a href="https://learn.thoughtbot.com/products/11-design-for-developers" class="cta">Take the Workshop</a>
        </li>
      </ul>
    </footer>
    <% if Rails.env.staging? || Rails.env.production? %>
      <%= render 'javascript_olark' %>
    <% end %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
